*.pyc
*.csv
node_modules/
censusreporter/config/dev/local.py
.idea/
censusreporter/api/data/votes_municipal_2011.sql
censusreporter/api/data/votesummary_municipal_2011.sql
censusreporter/embed/01/data/profiles/*