{% extends '_base.html' %}

{% block content %}
{% comment %}
<section class="clearfix" id="query-table-picker">
    <h2>Find table</h2>
    <div class="typeahead-container">
        <form>
            <input name="table_select" id="table-select" type="text" placeholder="Search by table or column name..." autocomplete="off"/>
            <input type="submit" value="Search"/>
        </form>
    </div>
</section>
{% endcomment %}
<section class="clearfix big-action" id="query-geo-picker">
    <h1 class="article-header">Find place profiles across Detroit and Michigan!</h1>
    <div class="typeahead-container input-wrapper with-submit">
        <form>
            <input name="g" id="geography-select" class="geography-select" type="text" value="{{ g }}" placeholder="Search for Michigan places or zip codes..." autocomplete="off">
            <input type="submit" value="Search"/>
        </form>
    </div>
</section>

{% if tables %}
<article id="table-results">
    <h2>Tables</h1>
    <table>
        <thead class="left-align">
            <tr>
                <th>Table ID</th>
                <th>Table Name</th>
                <th>Universe</th>
                <th>Column ID</th>
                <th>Column Name</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="nowrap">{{ table.release }} <a href="?table={{ table.table_id }}&release={{ table.release }}">{{ table.table_id }}</a></td>
                <td>{{ table.table_title }}</td>
                <td>{{ table.universe }}</td>
                <td>{{ table.column_id }}</td>
                <td>{{ table.column_title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
{% endif %}

{% if geos %}
<article id="table-results">
    <h2>Geographies</h1>
    <table>
        <thead class="left-align">
            <tr>
                <th>Geo ID</th>
                <th>Name</th>
                <th>2013 Population Estimate</th>
            </tr>
        </thead>
        <tbody>
            {% for geo in geos %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="nowrap"><a href="/profiles/{{geo.full_geoid}}/">{{ geo.full_geoid }}</a></td>
                <td>{{ geo.display_name }}</td>
                <td>{{ geo.population }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
{% endif %}

{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script type="text/javascript">
    var queryString;
    var topicSelectEngine = new Bloodhound({
        datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.full_name); },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 1500,
        remote: {
            url: CR_API_URL + '1.0/table/suggest',
            replace: function (url, query) {
                queryString = query;
                return url + '?q=' + query;
            },
            filter: function(response) {
                // inject results for D3 tables here is query term matches a string
                var re = new RegExp(queryString, 'g');
                // births
                var births = 'totalbirthsnonhispanicwhiteblackotherinadequateprenatalcarelowbirthweightteenmothersfertilityracehealthcare';
                var match_births = births.match(re);
                console.log(match_births);
                if (match_births) {
                    // get all births tables and 
                    var d3Response = d3BirthsTable();
                    // insert response into the reponse
                    response.unshift(d3Response);
                }

                // Math
                var math = 'educationtestingelamaththird3rdgradeproficientexpectationsexceednotmeetadvancedstudentschildrenschoolmath';
                var match_elamath = math.match(re);
                if (match_elamath) {
                    var d3Response = d3MathTable();
                    // insert response into the reponse
                    response.unshift(d3Response);
                }

                // ELA
                var ela = 'educationtestingelamaththird3rdgradeproficientexpectationsexceednotmeetadvancedstudentschildrenschoolelaenglishlanguagearts';
                var match_elamath = ela.match(re);
                if (match_elamath) {
                    var d3Response = d3ELATable();
                    // insert response into the reponse
                    response.unshift(d3Response);
                }

                // graduation rates
                var grad = 'educationstudentschildrenschoolgraduationrateshighschoolcollegeattainmentstatisticsgradedropout';
                var match_elamath = grad.match(re);
                if (match_elamath) {
                    var d3Response = d3GradTable();
                    // insert response into the reponse
                    response.unshift(d3Response);
                }     


                var results = response.results;
                var resultNumber = results.length;
                if (resultNumber === 0) {
                    results.push({
                        simple_table_title: 'Sorry, no matches found. Try changing your search.'
                    });
                }
                _.map(results, function(item) {
                    if (!!item['topics']) {
                        item['topic_string'] = item['topics'].join(', ');
                    }
                });
                return results;
            }
        }
    });
    topicSelectEngine.initialize();

    var d3BirthsTable = function() {
        // state table
        var response = {
            'id': "D3-Births",
            'simple_table_name': "Births by Race and Ethnicity and Characteristic",
            'table_id': "D3-Births",
            'table_name': "Births by Race and Ethnicity and Characteristic",
            'topic_string': "fertility, race, health care",
            'topics': ['fertility','race', 'health care'],
            'type': "table",
            'unique_key': "D3-Births",
            'universe': "Total births"
        }

        return response;

    }

    var d3MathTable = function() {
        // state table
        var response = {
            'id': "D3-Math-Proficiency",
            'simple_table_name': "Third Grade Proficiency in Math",
            'table_id': "D3-Math-Proficiency",
            'table_name': "Third Grade Proficiency in Math",
            'topic_string': "education, children",
            'topics': ['education','children'],
            'type': "table",
            'unique_key': "D3-Math-Proficiency",
            'universe': "Total students taking Math Assessment"
        }
    
        return response;
    
    }
    
    var d3ELATable = function() {
        // state table
        var response = {
            'id': "D3-ELA-Proficiency",
            'simple_table_name': "Third Grade Proficiency in English Language Arts",
            'table_id': "D3-ELA-Proficiency",
            'table_name': "Third Grade Proficiency in English Language Arts",
            'topic_string': "education, children",
            'topics': ['education','children'],
            'type': "table",
            'unique_key': "D3-Math-Proficiency",
            'universe': "Total students taking ELA Assessment"
        }
    
        return response;
    
    }

    var d3GradTable = function() {
        // state table
        var response = {
            'id': "D3-Graduation-Rates",
            'simple_table_name': "High School Graduation Rate",
            'table_id': "D3-Graduation-Rates",
            'table_name': "High School Graduation Rate",
            'topic_string': "education, children",
            'topics': ['education','children'],
            'type': "table",
            'unique_key': "D3-Graduation-Rates",
            'universe': "High School Graduation Rate"
        }
    
        return response;
    
    }
        

    function makeElasticSearchTopicSelectWidget(element) {
        element.typeahead('destroy');
        element.typeahead({
            autoselect: true,
            highlight: false,
            hint: false,
            minLength: 2
        }, {
            name: 'topics',
            displayKey: 'table_id',
            source: topicSelectEngine.ttAdapter(),
            templates: {
                suggestion: Handlebars.compile(
                    [
                        {% verbatim %}
                        '<p class="result-name">{{table_title}}{{#if column_title}}&nbsp;&mdash;&nbsp;{{column_title}}{{/if}}</p>',
                        {% endverbatim %}
                    ].join('')
                )
            }
        });
    }

    var geoSelectEngine = new Bloodhound({
        datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.full_name); },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 1500,
        remote: {
            url: CR_API_URL + '/1.0/geo/suggest',
            replace: function (url, query) {
                return url + '?q=' + query;
            },
            filter: function(response) {
                var data = response.results;
                var resultNumber = data.length;
                if (resultNumber === 0) {
                    data.push({
                        table_name: 'Sorry, no matches found. Try changing your search.'
                    });
                }
                return data;
            }
        }
    });
    geoSelectEngine.initialize();

    function makeElasticSearchGeoSelectWidget(element) {
        element.typeahead('destroy');
        element.typeahead({
            autoselect: true,
            highlight: false,
            hint: false,
            minLength: 2
        }, {
            name: 'geo',
            displayKey: 'geoid',
            source: geoSelectEngine.ttAdapter(),
            templates: {
                suggestion: Handlebars.compile(
                    [
                        {% verbatim %}
                        '<p class="result-name">{{name}}</p>',
                        {% endverbatim %}
                    ].join('')
                )
            }
        });
    }
</script>
{% endblock %}