{% load humanize madlibs %}
<div class="stat-wrapper{% if wrapper_class %} {{ wrapper_class }}{% endif %}">
    <div class="stat {{ stat_type }}">
        <span class="{% if stat_class %}{{ stat_class }}{% else %}primary{% endif %}">
            <span class="value">
                {% if not stat.values.this %}
                    N/A
                {% else %}
                    {% if stat_type == 'dollar' %}${% endif %}{{ stat.values.this|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}{% if stat_suffix %} <span class="stat-suffix">{{ stat_suffix }}</span>{% endif %}
                {% endif %}
            </span>
            <span class="name">{{ stat.name }}</span>
            {% if stat.acs_release != geography.census_release %}
            <span class="small">* {{ stat.acs_release }} data</span>
            {% endif %}
        </span>

        {% if not stat_class == 'secondary' %}
        {% if stat.values.state or stat.values.nation %}
        <ul class="context-phrases">
            {% if stat.values.county %}
            <li>
                {% if stat.values.county_index %}
                {{ stat.values.county_index|comparison_index_phrase }} the {{ stat_type|stat_type_to_number_noun }} countywide ({% if stat_type == 'dollar' %}${% endif %}{{ stat.values.county|intcomma }}{% if stat_type == 'percentage' %}%{% endif %})
                {% else %}
                Countywide: {% if stat_type == 'dollar' %}${% endif %}{{ stat.values.county|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}
                {% endif %}
                {% comment %}
                <span class="name" title="{% if stat_type == 'dollar' %}${% endif %}{{ stat.values.county|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}">{% if stat.values.county_index %}{{ stat.values.county_index }}<span class="smaller">%</span> of {% endif %}County</span>
                <span class="value">
                    {% if stat_type == 'dollar' %}${% endif %}{{ stat.values.county|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}
                </span>
                {% endcomment %}
            </li>
            {% endif %}
            {% if stat.values.state %}
            <li>
                {% if stat.values.state_index %}
                {{ stat.values.state_index|comparison_index_phrase }} the {{ stat_type|stat_type_to_number_noun }} statewide ({% if stat_type == 'dollar' %}${% endif %}{{ stat.values.state|intcomma }}{% if stat_type == 'percentage' %}%{% endif %})
                {% else %}
                Statewide: {% if stat_type == 'dollar' %}${% endif %}{{ stat.values.state|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}
                {% endif %}
                {% comment %}
                <span class="name" title="{% if stat_type == 'dollar' %}${% endif %}{{ stat.values.state|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}">{% if stat.values.state_index %}{{ stat.values.state_index }}<span class="smaller">%</span> of {% endif %}State</span>
                <span class="value">
                    {% if stat_type == 'dollar' %}${% endif %}{{ stat.values.state|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}
                </span>
                {% endcomment %}
            </li>
            {% endif %}
            {% if stat.values.nation %}
            <li>
                {% if stat.values.nation_index %}
                {{ stat.values.nation_index|comparison_index_phrase }} the {{ stat_type|stat_type_to_number_noun }} nationwide ({% if stat_type == 'dollar' %}${% endif %}{{ stat.values.nation|intcomma }}{% if stat_type == 'percentage' %}%{% endif %})
                {% else %}
                Nationwide: {% if stat_type == 'dollar' %}${% endif %}{{ stat.values.nation|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}
                {% endif %}
                {% comment %}
                <span class="name" title="{% if stat_type == 'dollar' %}${% endif %}{{ stat.values.nation|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}">{% if stat.values.nation_index %}{{ stat.values.nation_index }}<span class="smaller">%</span> of {% endif %}Nation</span>
                <span class="value">
                    {% if stat_type == 'dollar' %}${% endif %}{{ stat.values.nation|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}
                </span>
                {% endcomment %}
            </li>
            {% endif %}
        </ul>
        {% endif %}
        {% endif %}
    </div>
</div>
