{% extends '_base.html' %}

{% block head_css_extra %}
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
<link href='{{STATIC_URL}}css/vendor/leaflet.label.css' rel='stylesheet' />
{% endblock %}

{% block head_javascript_extra %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
{% endblock %}

{% block body_id %}locate{% endblock %}

{% block content %}
<div id="map-controls" class="clearfix">
    <header class="box-header">
        <a class="title" href="{% url 'homepage' %}">
            <img src="{{ STATIC_URL }}img/logo.png"> Census Reporter
        </a>
    </header>
    <div id="address-search-content" class="box-content">
        <div class="tool-set header-tool-set clearfix">
            <a id="use-location" class="action-button"><i class="fa fa-location-arrow"></i> Use your current location</a>
            <span class="no-map-hide">or double-click to place the marker</span>
        </div>
        <section class="clearfix header-container" id="address-search-wrapper">
            <h1>Search for an address</h1>
            <input type="text" id="address-search" placeholder="Search for an address">
            <h2 id="address-search-message" class="hidden bottom"></h2>
            <aside id="data-display" class="clearfix"></aside>
        </section>
    </div>
</div>
<div id="slippy-map"></div>
<script id="place-result-template" type="text/template">
    <li data-geoid="<%= full_geoid %>">
        <a href="/profiles/<%= full_geoid %>">
            <i class="zoom-to-layer fa fa-arrows-alt" title="Zoom map to fit this shape"></i>
            <span class="glossary-term identifier"><%= SUMLEVELS[sumlevel].name %></span>
            <%= full_name %>
        </a>
    </li>
</script>
{% endblock %}

{% block body_javascript_extra %}
<script src='{{STATIC_URL}}js/vendor/leaflet.label.js'></script>
<script src="{{STATIC_URL}}js/address.search.js"></script>
<script>
Glossary.init("{% url 'glossary' %}",".glossary-term");
</script>
{% endblock %}
