{% extends 'data/_base_data.html' %}{% load humanize %}

{% block head_title %}Map View: {{ block.super }}{% endblock %}

{% block head_css_extra %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.2/dist/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/leaflet.label.css" />
{% endblock %}

{% block head_javascript_extra %}
<script src="https://unpkg.com/leaflet@0.7.2/dist/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/vendor/leaflet.label.js"></script>
{% endblock %}

{% block body_class %}{{ block.super }} full-screen{% endblock %}

{% block body %}


<div id="map-controls" class="clearfix">
    <header class="box-header">
        <a class="title" href="{% url 'homepage' %}">
            <!-- <img src="{{ STATIC_URL }}img/logo.png"> --> Housing Information Portal
        </a>
    </header>
    <div class="box-content">
        <section class="clearfix">
            {% include 'data/_blocks/_toggle_menu.html' %}
            {% include 'data/_blocks/_topic_select_input.html' %}
        </section>

        <section id="data-display" class="clearfix">
            <div id="header-container"></div>
        </section>
        <aside></aside>
    </div>
</div>

<div id="slippy-map"></div>
{% endblock %}

{% block page_specific_javascript %}

<footer>
    <div class="l-flex-space-between">
      <ul id=footer-nav>
        <li><a href="">Home</a></li>
        <li><a href="">Map</a></li>
        <li><a href="">Case<br />Studies</a></li>
        <li><a href="">Information<br />Action Briefs</a></li>
        <li><a href="">Blog</a></li>
      </ul>
        <div class="details">
          <h2 class="subhead">INTERESTED IN ADDING DATA TO THE PORTAL?</h2>
            <p class="body-text">We are happy to explore additional partnerships to make this data portal more comprehensive.</p>
            <p class="body-text">Please reach out to us at <a href="mailto:info@datadrivendetroit.org" target="_top"> info@datadrivendetroit.org</a> to talk more!</p>
        </div>
        <ul id="footer-logos">
          <li>
            <a href="http://datadrivendetroit.org/">
                <img class="company-logo" src="{{ STATIC_URL }}img/DataDrivenDetroit-LogoColor.svg" />
            </a>
          </li>
          <li>
            <a href="http://datadrivendetroit.org/">
                <img class="company-logo" src="{{ STATIC_URL }}img/ask-d3-logo.png" />
            </a>
          </li>
        </ul>
    </div>
</footer>
{% endblock %}
