{% load humanize %}
<div class="stat-wrapper{% if wrapper_class %} {{ wrapper_class }}{% endif %}">
    <div class="stat {{ stat_type }}">
        <span class="{% if stat_class %}{{ stat_class }}{% else %}primary{% endif %}">
            <span class="value">
                {% if not stat.values.this %}
                    N/A
                {% else %}
                    {% if stat_type == 'dollar' %}${% endif %}{{ stat.values.this|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}{% if stat_suffix %} <span class="stat-suffix">{{ stat_suffix }}</span>{% endif %}
                {% endif %}
            </span>
            <span class="name">{{ stat.name }}</span>
        </span>
        {% comment %}
        {% if stat_type in "dollar|percentage|time|ratio" %}
        <ul class="context">
            {% if stat.values.county %}
            <li{% if stat.values.county_index > 120 or stat.values.county_index < 80 %} class="highlight"{% endif %}>
                <span class="name" title="{% if stat_type == 'dollar' %}${% endif %}{{ stat.values.county|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}">County index</span>
                <span class="value">
                    {{ stat.values.county_index }}
                </span>
            </li>
            {% endif %}
            {% if stat.values.state %}
            <li{% if stat.values.state_index > 120 or stat.values.state_index < 80 %} class="highlight"{% endif %}>
                <span class="name" title="{% if stat_type == 'dollar' %}${% endif %}{{ stat.values.state|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}">State index</span>
                <span class="value">
                    {{ stat.values.state_index }}
                </span>
            </li>
            {% endif %}
            {% if stat.values.nation %}
            <li{% if stat.values.nation_index > 120 or stat.values.nation_index < 80 %} class="highlight"{% endif %}>
                <span class="name" title="{% if stat_type == 'dollar' %}${% endif %}{{ stat.values.nation|intcomma }}{% if stat_type == 'percentage' %}%{% endif %}">National index</span>
                <span class="value">
                    {{ stat.values.nation_index }}
                </span>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        {% endcomment %}
    </div>
</div>
