<section class="stat-package clearfix">
    {# Housing units #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=housing.housing_units.number_housing_units stat_type='number' %}
    </div>
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=housing.housing_units.percent_multi_unit stat_type='percentage' %}
    </div>
    {# Tenure #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=housing.tenure.rate_homeownership stat_type='percentage' %}
    </div>
    {# Value #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=housing.value.median_value stat_type='dollar' %}
    </div>
    {# Mobility #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=housing.mobility.percent_same_house stat_type='percentage' %}
    </div>
</section>

<section class="data-package clearfix">
    <div class="">
        <div class="placeholder">Visualize a visualization</div>
    </div>
</section>
