<section class="stat-package clearfix">
    {# Place of birth #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=sociocultural.place_of_birth.percent_foreign_born stat_type='percentage' %}
    </div>
    {# Language #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=sociocultural.language.percent_non_english_at_home stat_type='percentage' %}
    </div>
</section>

<section class="data-package clearfix">
    <div class="">
        <div class="placeholder">Visualize a visualization</div>
    </div>
</section>
