<section class="clearfix">
    <h2>Income</h2>
    <aside>
    </aside>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=economics.income.per_capita_income_in_the_last_12_months stat_type='dollar' %}
    </div>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=economics.income.median_household_income stat_type='dollar' %}
    </div>
    <div class="column-half" id="chart-histogram-economics-income-household_distribution" data-chart-title="Household income distribution" data-stat-type="percentage" data-initial-sort="-value"></div>
</section>
