<section class="stat-package clearfix">
    {# Gender #}
    <div class="stat-display-group stat-display-group-paired">
        {% include '_profile/_stat_list.html' with stat=demographics.gender.percent_male stat_type='percentage' %}
        {% include '_profile/_stat_list.html' with stat=demographics.gender.percent_female stat_type='percentage' %}
    </div>
    {# Age #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=demographics.age.percent_under_18 stat_type='percentage' %}
    </div>
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=demographics.age.percent_65_over stat_type='percentage' %}
    </div>
</section>

<section class="data-package clearfix">
    <div class="">
        <div class="placeholder">Visualize a visualization</div>
    </div>
</section>

<section class="stat-package clearfix">
    {# Race #}
    <div class="stat-display-group stat-display-group-small">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_white stat_type='percentage' %}
    </div>
    <div class="stat-display-group stat-display-group-small">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_black stat_type='percentage' %}
    </div>
    <div class="stat-display-group stat-display-group-small">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_american_indian stat_type='percentage' %}
    </div>
    <div class="stat-display-group stat-display-group-small">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_asian stat_type='percentage' %}
    </div>
    <div class="stat-display-group stat-display-group-small">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_islander stat_type='percentage' %}
    </div>
    <div class="stat-display-group stat-display-group-small">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_other stat_type='percentage' %}
    </div>
    <div class="stat-display-group stat-display-group-small">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_two_or_more stat_type='percentage' %}
    </div>
    {# Ethnicity #}
    <div class="stat-display-group stat-display-group-small">
        {% include '_profile/_stat_list.html' with stat=demographics.ethnicity.percent_hispanic stat_type='percentage' %}
    </div>
</section>

