<section class="clearfix">
    <h2>Educational attainment</h2>
    <aside>
    </aside>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=social.educational_attainment.percent_high_school_grad_or_higher stat_type='percentage' %}
    </div>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=social.educational_attainment.percent_bachelor_degree_or_higher stat_type='percentage' %}
    </div>
    <div class="column-half" id="chart-histogram-social-educational_attainment_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by minimum level of education"></div>
</section>
