<section class="clearfix">
    <h2>Housing Units</h2>
    <aside>
        <p>This is some explanatory text describing the stat grouping to the right.</p>
    </aside>
    <div class="column-third">
        {% include '_profile/_stat_list.html' with stat=housing.units.number_of_housing_units stat_type='number' %}
    </div>
    <div class="column-third">
        {% include '_profile/_stat_list.html' with stat=housing.units.percent_units_in_multi_unit_structure stat_type='percentage' %}
    </div>
</section>
