<section class="clearfix stat-row">
    <h2>Birth rate</h2>
    <aside></aside>
    {% comment %}
    <div class="column-third">
        <h2 class="column-header">Children by family type they live with</h2>
        <div id="chart-pie-families-family_types-children" data-stat-type="percentage" data-initial-sort="-value"></div>
    </div>{% endcomment %}
    <div class="column-third">
        {% include '_profile/_stat_list.html' with stat=families.birth_rate.total stat_type='number' %}
    </div>
    <div class="column-two-thirds">
        <div id="chart-column-families-birth_rate-by_age" data-stat-type="number" data-chart-title="Birth rate by age, per 1,000 women"></div>
    </div>
</section>
