<section class="clearfix stat-row">
    <h2>Units &amp; Occupancy</h2>
    <aside>
    </aside>
    <div class="column-third">
        {% include '_profile/_stat_list.html' with stat=housing.units.number stat_type='number' %}
    </div>
    <div class="column-third" id="chart-pie-housing-units-occupancy_distribution" data-stat-type="percentage" data-chart-title="Occupied vs. Vacant"></div>
    <div class="column-third" id="chart-pie-housing-units-structure_distribution" data-stat-type="percentage" data-chart-title="Types of structure"></div>
</section>

<section class="clearfix stat-row">
    <aside>
    </aside>
    <div class="column-third" id="chart-pie-housing-ownership-distribution" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Ownership of occupied units"></div>
    <div class="column-two-thirds" id="chart-histogram-housing-length_of_tenure" data-stat-type="scaled-percentage" data-chart-title="Year moved in, by percentage of population"></div>
</section>
