<section class="stat-package clearfix">
    {# Per capita income #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=economics.income.per_capita_income stat_type='dollar' %}
    </div>
    {# Median household income #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=economics.income.median_household_income stat_type='dollar' %}
    </div>
    {# Poverty #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=economics.poverty.percent_poverty stat_type='percentage' %}
    </div>
</section>

<section class="data-package clearfix">
    <div class="">
        <div class="placeholder">Visualize a visualization</div>
    </div>
</section>
