<section class="clearfix">
    <h2>Gender</h2>
    <aside>
        <p>This is some explanatory text about the stat.</p>
    </aside>
    <div class="column-third">
        {% include '_profile/_stat_list.html' with stat=demographics.gender.percent_male stat_type='percentage' %}
    </div>
    <div class="column-third">
        {% include '_profile/_stat_list.html' with stat=demographics.gender.percent_female stat_type='percentage' %}
    </div>
</section>

<section class="clearfix">
    <h2>Chart tests</h2>
    <div class="column-third" id="demographics-gender-viz">
        <h3>Labeled</h3>
        {% include '_widgets/_chart_pie_chart_labeled.html' with data=demographics.gender.items table=demographics.gender.percent_male.table_id container_id='#demographics-gender-viz' stat_type='percentage' %}
    </div>
    <div class="column-third" id="demographics-gender-viz-3">
        <h3>Legend</h3>
        {% include '_widgets/_chart_pie_chart_legend.html' with data=demographics.gender.items table=demographics.gender.percent_male.table_id container_id='#demographics-gender-viz-3' stat_type='percentage' %}
    </div>
    <div class="column-third" id="demographics-gender-viz-2">
        <h3>Hover</h3>
        {% include '_widgets/_chart_pie_chart_hover.html' with data=demographics.gender.items table=demographics.gender.percent_male.table_id container_id='#demographics-gender-viz-2' stat_type='percentage' %}
    </div>
</section>

