<section class="clearfix">
    <h2>Race</h2>
    <aside>
        <p>This is some explanatory text describing the stat grouping to the right.</p>
    </aside>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_white stat_type='percentage' %}
    </div>
    <div class="column-three-quarters" id="race-column-chart">
        
    </div>

    {% comment %}
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_black stat_type='percentage' %}
    </div>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_american_indian stat_type='percentage' %}
    </div>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_asian stat_type='percentage' %}
    </div>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_islander stat_type='percentage' %}
    </div>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_other stat_type='percentage' %}
    </div>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=demographics.race.percent_two_or_more stat_type='percentage' %}
    </div>{% endcomment %}
</section>
