<section class="stat-package clearfix">
    {# Number of households #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=families.households.number_households stat_type='number' %}
    </div>
    {# Persons per household #}
    <div class="stat-display-group">
        {% include '_profile/_stat_list.html' with stat=families.households.persons_per_household stat_type='number' %}
    </div>
</section>

<section class="data-package clearfix">
    <div class="">
        <div class="placeholder">Visualize a visualization</div>
    </div>
</section>
