<section class="clearfix">
    <h2>Households</h2>
    <aside>
    </aside>
    <div class="column-third">
        {% include '_profile/_stat_list.html' with stat=families.households.number_of_households stat_type='number' %}
    </div>
    <div class="column-third">
        {% include '_profile/_stat_list.html' with stat=families.households.persons_per_household stat_type='number' %}
    </div>
    <div class="column-third" id="chart-pie-families-households-distribution" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Population by household type"></div>
</section>
