<section class="clearfix stat-row">
    <h2>Veteran status</h2>
    <aside>
    </aside>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=social.veterans.percentage stat_type='percentage' %}
    </div>
    <div class="column-half" id="chart-column-social-veterans-wartime_service" data-stat-type="number" data-chart-title="Veterans by wartime service"></div>
    <div class="column-quarter">
        {% include '_profile/_stat_list.html' with stat=social.veterans.number stat_type='number' stat_class='secondary' %}
        {% include '_profile/_stat_list.html' with stat=social.veterans.sex.male stat_type='number' stat_class='secondary' %}
        {% include '_profile/_stat_list.html' with stat=social.veterans.sex.female stat_type='number' stat_class='secondary' %}
    </div>
</section>
