<section id="query-builder-bar" class="clearfix">
    <div id="query-topic" class="query-chosen">
        <div class="hover-hide">
            <h3 class="leader">Topic</h3>
            Table {{ table.table_id }}
        </div>
        <div class="hover-only">
            <h3 class="leader">Change Table</h3>
        </div>
    </div>
    <section class="clearfix" id="query-topic-picker">
        <div class="column-quarter filter-groups">
            <h2>Filter by topic</h2>
            {% include "_compare/_compare_builder_topic_filter_list.html" with filter_list=topic_demographic_filters filter_list_name="Demographics" %}
            {% include "_compare/_compare_builder_topic_filter_list.html" with filter_list=topic_economic_filters filter_list_name="Economic" %}
            {% include "_compare/_compare_builder_topic_filter_list.html" with filter_list=topic_family_filters filter_list_name="Families" %}
            {% include "_compare/_compare_builder_topic_filter_list.html" with filter_list=topic_housing_filters filter_list_name="Housing" %}
            {% include "_compare/_compare_builder_topic_filter_list.html" with filter_list=topic_social_filters filter_list_name="Social" %}
        </div>

        <div class="column-three-quarters autocomplete-widget">
            <h2 id="topic-result-number">Search data tables</h2>
            <input name="topic_select" id="topic-select" type="text" placeholder="Search for data..." autocomplete="off">
        </div>
    </section>
    
    <div id="query-geographies" class="query-chosen">
        <div class="hover-hide">
            <h3 class="leader">Geographies</h3>
            All {{ comparison_metadata.child_geography_name_plural }} in {{ comparison_metadata.parent_name }}
        </div>
        <div class="hover-only">
            <h3 class="leader">Change Geographies</h3>
        </div>
    </div>
    <section class="clearfix" id="query-geography-picker">
        <div class="column-quarter filter-groups">
            <h2>Compare geographies</h2>
            <div class="select-wrapper">
                <i class="icon-chevron-sign-down"></i>
                <select id="sumlev-select-options" class="wide-picker" name="sumlev_select">
                    <option value="">Choose a comparison level...</option>
                    {% for group, values in sumlev_choices.items %}
                    <optgroup label="{{ group }}">
                        {% for sumlev in values %}
                        <option id="sumlev-select-{{ sumlev.summary_level }}" value="{{ sumlev.summary_level }}" data-plural-name="{{ sumlev.plural_name }}" data-ancestor-list="{{ sumlev.ancestor_sumlev_list }}" data-ancestor-names="{{ sumlev.ancestor_options }}">{{ sumlev.plural_name|capfirst }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="column-three-quarters autocomplete-widget">
            <h2>Within a place</h2>
            <input name="parent_select" id="parent-select" type="text" placeholder="... then search for a place" autocomplete="off">
        </div>
    </section>
    
    <div id="query-release" class="query-chosen">
        <div class="hover-hide">
            <h3 class="leader">Release</h3>
            {{ table.census_release }}
        </div>
        <div class="hover-only">
            <h3 class="leader">Change Release</h3>
        </div>
    </div>
    <section id="query-release-picker" class="clearfix">
        <div class="release-option column-third">
            <h3>ACS 2011 1-year</h3>
            <p>
                Data for areas with populations of 65,000+<br>
                Most current, but smallest sample size
            </p>
            <a data-release-slug="acs2011_1yr" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev format %}?release=acs2011_1yr&table={{ table.table_id }}">Show results</a>
        </div>
        <div class="release-option column-third">
            <h3>ACS 2011 3-year</h3>
            <p>
                Data for areas with populations of 20,000+<br>
                Larger sample than 1-year, smaller than 5-year
            </p>
            <a data-release-slug="acs2011_3yr" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev format %}?release=acs2011_3yr&table={{ table.table_id }}">Show results</a>
        </div>
        <div class="release-option column-third">
            <h3>ACS 2011 5-year</h3>
            <p>
                Data for all areas<br>
                Least current, but most reliable
            </p>
            <a data-release-slug="acs2011_5yr" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev format %}?release=acs2011_5yr&table={{ table.table_id }}">Show results</a>
        </div>
    </section>
</section>
