{% extends '_base.html' %}

{% block head_title %}{% if topic.title %}{{ topic.title }}{% else %}Topics{% endif %} - {{ block.super }}{% endblock %}

{% block content_container %}
<div class="content-container wrapper clearfix">    
    <article id="topics{% if topic.slug %}-{{ topic.slug }}{% endif %}" class="topic">
        <header>
            {% if topic.slug %}<p class="display-type"><a href="{% url 'topic_list' %}">&larr; Topics</a></p>{% endif %}
            <h1>{{ topic.title }}</h1>
            <p>{{ topic.description }}</p>
        </header>

        {% block content %}{% endblock %}
    </article>
</div>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script>
jQuery(document).ready(function($) {
    $(document.body).on('click', '.lightbox', function(e) {
        e.preventDefault();
        var lightbox = '<div id="lightbox"><div class="hovercard-wrapper"><div class="hovercard"><small class="close"><i class="fa fa-times-circle"></i> Close</small><img src="' + $(this).attr("href") +'" /></div></div></div>';
        $('body').append(lightbox);
    });
    // handle dismissals of lightbox
    $(document.body).on('keydown', function(e) {
        if (e.which == 27) {
            $('#lightbox').remove();
        }
    });
    $(document.body).on('click', '#lightbox', function(e) {
        $('#lightbox').remove();
    });

    Glossary.init("{% url 'glossary' %}",".glossary-term");
});
</script>
{% endblock %}