{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
    <p>Early childhoood programs include:</p>
    <ol>
        <li><strong>Child Care and Preschool Centers:</strong> A licensed center-based setting usually with multiple classrooms, including child care, preschool, Early Head Start, Head Start and Great Start Readiness Programs.</li>
        <li><strong>Family Child Care Homes:</strong> A registered home-based setting for up to 6 children.</li>
        <li><strong>Group Child Care Homes:</strong> A licensed home-based setting for up to 12 children.</li>
    </ol>

    <p>The five categories used to measure quality include:</p>
    <ol>
        <li><strong>Staff Qualifications and Professional Development:</strong> The training and any education or degrees completed by providers and their staff.</li>
        <li><strong>Family and Community Partnerships:</strong> How programs offer support, and interact with, the families they serve and within the community.</li>
        <li><strong>Administration and Management:</strong> How a program’s policies guide the way they run their program.</li>
        <li><strong>Environment:</strong> The safety of a program and how they support the health and wellness of the children.</li>
        <li><strong>Curriculum and Instruction:</strong> The tools a program uses to teach, accommodate needs and track development of the children in their care.</li>
    </ol>
    <p>These categories, and their corresponding program quality indicators, are how programs and providers are rated when they complete their Self-Assessment Survey. Each star rating achieved by a program demonstrates a different level of quality.</p>
    <p>All licensed programs and providers in Michigan have a program profile on Great Start to Quality, where they appear as an Empty Star.  If they choose to participate in the Great Start to Quality rating process, they will be rated on a scale of one- to five-stars. </p>
    {% include "topics/_question_aside.html" %}
    <h2>Child Care Data Tables</h2>
    <p>Child Care data in the State of the Detroit Child are split across three tables, descriptions of which follow.</p>
    <p>The table <a href="/tables/D3-Child-Care-Centers/">D3-Child-Care-Centers</a> houses data on the following columns:</p>

    <table>
        <thead>
            <tr>
                <th>Columns</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Centers</td>
                <td>Number of licensed child care facilities.</td>
            </tr>
            <tr>
                <td>GrpHmeCnt</td>
                <td>Number of group homes.</td>
            </tr>
            <tr>
                <td>FamHmeCnt</td>
                <td>Number of family homes.</td>
            </tr>
            <tr>
                <td>LicCenCnt</td>
                <td>Number of licensed child care centers.</td>
            </tr>
        </tbody>
    </table>

    <p>The table <a href="/tables/D3-Child-Care-Programs/">D3-Child-Care-Programs</a> houses data on the following columns:</p>

    <table>
        <thead>
            <tr>
                <th>Columns</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>LicCenCnt</td>
                <td>Number of licensed child care centers.</td>
            </tr>
            <tr>
                <td>EarlyHSCnt</td>
                <td>Number of early Head Start programs.</td>
            </tr>
            <tr>
                <td>GSRPCnt</td>
                <td>Number of GSRP programs.</td>
            </tr>
            <tr>
                <td>HSCnt</td>
                <td>Number of Head Start programs.</td>
            </tr>
        </tbody>
    </table>

    <p>The table <a href="/tables/D3-Child-Care-Capacity/">D3-Child-Care-Capacity</a> houses data on the following columns:</p>

    <table>
        <thead>
            <tr>
                <th>Columns</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Capacity</td>
                <td>Total capacity of licensed child care facilities.</td>
            </tr>
            <tr>
                <td>CapEarlyHS</td>
                <td>Capacity of early head start programs.</td>
            </tr>
            <tr>
                <td>CapGSRP</td>
                <td>Capacity of GSRP programs.</td>
            </tr>
            <tr>
                <td>CapHS</td>
                <td>Capacity of Head Start programs.</td>
            </tr>
        </tbody>
    </table>

</section>

{% endblock %}


