{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
    {% include "topics/_question_aside.html" %}    
    <p>The table <a href="/tables/D3-College-Enrollment/">D3-College-Enrollment</a> houses data on the following columns:</p>

    <table>
        <thead>
            <tr>
                <th>Columns</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TotGradCalc</td>
                <td>Number of public high school graduates who received a diploma during the high school graduation year.</td>
            </tr>
            <tr>
                <td>TotEnrlCalc</td>
                <td>Number of public high school graduates who have enrolled in college.</td>
            </tr>
            <tr>
                <td>PctEnrl</td>
                <td>Percent of public high school graduates who have enrolled in college.</td>
            </tr>
        </tbody>
    </table>

</section>

{% endblock %}


