{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
    {% include "topics/_question_aside.html" %}  
    <h2>Michigan Third Grade English Language Arts Proficiency</h2>
    <p>The table <a href="/tables/D3-ELA-Proficiency/">D3-ELA-Proficiency</a> houses data on the following columns:</p>

    <table>
        <thead>
            <tr>
                <th>Columns</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ELANumAssessed_Calc</td>
                <td>Total students taking ELA Assessment</td>
            </tr>
            <tr>
                <td>ELAProf</td>
                <td>Number of students who were proficient in ELA</td>
            </tr>
            <tr>
                <td>ELAPartProf</td>
                <td>Number of students who were partially proficient in ELA</td>
            </tr>
            <tr>
                <td>ELANotProf</td>
                <td>Number of students who were not proficient in ELA</td>
            </tr>
            <tr>
                <td>ELATotalMet_Calc</td>
                <td>Number of students who met or exceeded expectations in ELA</td>
            </tr>
            <tr>
                <td>ELANotMet</td>
                <td>Number of students who did not meet expectations in ELA</td>
            </tr>
            <tr>
                <td>ELAAdv</td>
                <td>Number of students who were advanced in ELA</td>
            </tr>
        </tbody>
    </table>


    <h2>Michigan Third Grade Math Proficiency</h2>
    <p>The table <a href="/tables/D3-Math-Proficiency/">D3-Math-Proficiency</a> houses data on the following columns:</p>

    <table>
        <thead>
            <tr>
                <th>Columns</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MATHNumAssessed_Calc</td>
                <td>Total students taking Math Assessment</td>
            </tr>
            <tr>
                <td>MATHProf</td>
                <td>Number of students who were proficient in Math</td>
            </tr>
            <tr>
                <td>MATHPartProf</td>
                <td>Number of students who were partially proficient in Math</td>
            </tr>
            <tr>
                <td>MATHNotProf</td>
                <td>Number of students who were not proficient in Math</td>
            </tr>
            <tr>
                <td>MATHTotalMet_Calc</td>
                <td>Number of students who met or exceeded expectations in Math</td>
            </tr>
            <tr>
                <td>MATHNotMet</td>
                <td>Number of students who did not meet expectations in Math</td>
            </tr>
            <tr>
                <td>MATHAdv</td>
                <td>Number of students who were advanced in Math</td>
            </tr>
        </tbody>
    </table>

    <h2>Michigan High School Graduation Rate Table</h2>
    <p>The table <a href="/tables/D3-Graduation-Rates/">D3-Graduation-Rates</a> houses data on the following columns:</p>

    <table>
        <thead>
            <tr>
                <th>Columns</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CohortCount</td>
                <td>Total number of students with the potential to graduate in the current shcool year</td>
            </tr>
            <tr>
                <td>GradCnt</td>
                <td>Number of graduates in the current school year</td>
            </tr>
            <tr>
                <td>GradRate</td>
                <td>Percentage of potential graduates to graduate in the current year</td>
            </tr>
        </tbody>
    </table>

</section>

{% endblock %}


