{% extends '_base.html' %}

{% block head_css_extra %}
<link href='http://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
<link href='{{STATIC_URL}}css/vendor/leaflet.label.css' rel='stylesheet' />
{% endblock %}

{% block head_javascript_extra %}
<script src='http://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
{% endblock %}


{% block content %}
<div id="map-controls" class="clearfix">
    <header class="box-header">
        <a class="title" href="{% url 'homepage' %}">
            <img src="{{ STATIC_URL }}img/logo.png"> Census Reporter
        </a>
        <a id="use-location" class="action-button"><span class="fa fa-location-arrow"></span> Use my current location</a>
    </header>
    <div class="box-content">
        <section id="address-search-wrapper" class="clearfix">
            <input type="text" id="address-search" placeholder="Search for an address"><a class="action-button" id="address-search-trigger">Search</a>
            <p id="address-search-message"></p>

        </section>
        <section id="data-display" class="clearfix">
        </section>
    </div>
</div>
<div id="slippy-map"></div>
<script id="place-result-template" type="text/template">
    <li data-geoid="<%= full_geoid %>">
        <a href="/profiles/<%= full_geoid %>" class="">
            <span class="identifier glossary-term"><%= SUMLEVELS[sumlevel].name %></span>
            <%= full_name %>
        </a>
    </li>
</script>
{% endblock %}

{% block body_javascript_extra %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src='{{STATIC_URL}}js/vendor/leaflet.label.js'></script>
<script src="{{STATIC_URL}}js/address.search.js"></script>
<script>
Glossary.init("{% url 'glossary' %}",".glossary-term");
$('a.card').click(function(e){
    if ($(e.target).hasClass('glossary-term')) {
        Glossary.popup(e.target);
        return false;
    }
});

</script>
{% endblock %}