description "censusreporter"

start on (filesystem)
stop on runlevel [016]

respawn
console log
setuid %(user)s
setgid %(user)s
chdir %(project-dir)s

env NEW_RELIC_CONFIG_FILE=%(project-dir)s/conf/newrelic.ini

exec %(ve-dir)s/bin/newrelic-admin run-program %(ve-dir)s/bin/gunicorn -w 4 -b %(host)s:%(port)s --error-logfile %(err-log)s --access-logfile %(log)s config.prod.wsgi:application
