/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

* {box-sizing: border-box; -moz-box-sizing: border-box;}
html,
body {
    margin: 0;
    padding: 0;
    background-color: #f7f8f3;
    line-height: 1.5;
    font-size: 14px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #667faf;
    text-shadow: none;
}

::selection {
    background: #667faf;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* BASIC ELEMENTS */
a {
    color: #c33b11;
}
p, .serif {
    font-family: "Merriweather", Georgia, serif;
    margin: 0 0 1em;
}
.caption {
    margin-top: .5em;
    font-size: .85em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
}
h1, h2, h3 {
    margin-bottom: .25em;
}
h1.title {
    font-size: 3em;
}

.ul-icon-list {
    list-style: none;
    padding: 0;
}
.ul-icon-list i {
    margin-right: .33em;
}
.ul-icon-list [class^="icon-"] {
    width: 16px;
    display: inline-block;
    text-align: center;
}
.ul-icon-list a,
footer ul a {
    text-decoration: none;
}
.ul-icon-list a:hover,
footer ul a:hover {
    text-decoration: underline;
}
img.screenshot {
    border: 1px solid #cad0b5;
    width: 100%;
}

/* LAYOUT */
#page-header {
    border-top: 5px solid #014948;
}
#page-header .wrapper {
    margin: 1em auto 2em;
}
#page-header-title a {
    color: #222;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
}
#page-header-title img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: -5px;
    height: 24px;
}
#page-header article {
    margin-bottom: 0;
}
    
#page-footer {
    background-color: #eff1e9;
    border-top: 1px solid #cad0b5;
    margin-top: 1.5em;
    padding: 1.5em 0 4.5em;
}
#page-footer ul {
    margin: 0;
}

article {
    margin-bottom: 4em;
}
header.section-contents {
    float: left;
    width: 13em;
}
header.section-contents h1 {
    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
    padding: .6em 0 .55em .75em;
    background-color: #eff1e9;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
article .section-container {
    background-color: #fff;
    margin-left: 13em;
    padding: .6em 1.2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
}
header.section-contents h1,
article .section-container {
    border-top: 1px solid #e8eadf;
    border-bottom: 1px solid #cad0b5;
}
.explain {
    font-size: .85em;
    padding: 0 1em;
}
section {
    margin-bottom: 2em;
}
.section-container section {
    margin-bottom: 3em;
}
.section-container section:last-child {
    margin-bottom: 0;
}
header.contents h1,
section h2 {
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1em;
}
.section-container h2 {
    margin-top: 2px;
}
section aside {
    float: left;
    margin-left: -14.4em;
    width: 13em;
    padding: .25em .67em .67em 1.1em;
}
section aside h3 {
    font-size: .9em;
}
section aside p,
section aside ul {
    font-size: .85em;
}

.wrapper {
    width: auto;
    margin: 0 1em;
}
.full-width {
    clear: both;
    width: 100%;
    margin: 0;
}
.column-half {
    width: 47%;
}
.column-third {
    width: 30%;
}
.column-two-thirds {
    width: 64%;
}
.column-quarter {
    width: 22%;
}
.column-three-quarters {
    width: 72%;
}
.column-golden-wide {
    width: 57%;
}
.column-golden-narrow {
    width: 37%;
}
.column-half,
.column-third,
.column-two-thirds,
.column-quarter,
.column-three-quarters,
.column-golden-wide,
.column-golden-narrow {
    float: left;
    margin-right: 3%;
}

/* HOMEPAGE */
#twitter-widget {
  float: right;
  width: 300px;
  margin-left: 10px;
}

/* STATS */
.stat-wrapper {
    width: 100%;
}
.stat {
    margin: 0 0 1em 0;
    padding: 0;
}
.stat .context {
    list-style: none;
    display: inline-block;
    font-size: .85em;
    padding: 0;
    margin: .5em -6px 0;
    font-weight: 500;
    color: #777;
}
.stat .context .value {
    position: absolute;
    right: 6px;
}
.stat .context .highlight {
    background-color: #e5e5e5;
    color: #222;
}
.stat .context li {
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 62px 1px 6px;
    margin-bottom: 1px;
}
.stat .primary .name {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3;
}
.stat.small .primary .name {
    font-size: 1em;
}
.stat .primary .value {
    display: block;
    font-size: 2.5em;
    line-height: 1;
    margin: 0 0 .1825em;
    font-weight: 700;
}
.stat .secondary {
    display: block;
    line-height: 2;
}
.stat .secondary .value {
    font-size: 1.2em;
    font-weight: 700;
    margin-right: .1em;
}
.stat-side-wrapper {
    padding-right: 1em;
}
.stat-side-wrapper .primary .value {
    float: right;
}
.stat.small .primary .value {
    font-size: 2em;
}
.stat-suffix {
    font-size: .5em;
}

/* SVG MAPS */
.svg-map {
    position: relative;
}
.svg-map .outline {
    fill: #e8eadf;
    stroke: #cad0b5;
    stroke-width: 1.5px;
}
.svg-map .feature,
.svg-map .point {
    stroke: #001b1b;
    fill: #008081;
}
.svg-map .mesh {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
}
.svg-map .geographies {
    fill: #e5e5e5;
    stroke: #fff;
    stroke-linejoin: round;
}
.svg-map .label {
    position: absolute;
    text-align: center;
    padding: .33em .67em;
    font-size: .8em;
    background: #fff;
    border: solid 1px #777;
    border-radius: 4px;
    pointer-events: none;
}
.svg-map .label .label-title,
.svg-map .label .name,
.svg-map .label .value {
    display: block;
}
.svg-map .label .label-title,
.svg-map .label .name {
    font-weight: bold;
}
.svg-map .label .label-title {
    margin-bottom: .5em;
}

.q0 { fill:#d9ddca; }
.q1 { fill:#bbc2a1; }
.q2 { fill:#9ea877 }
.q3 { fill:#7b8656 }
.q4 { fill:#555c3b }


/* CHARTS */
.chart {
    font-size: 0.75em;
    position: relative;
    font-weight: 500;
}
.column-chart-rect {
    fill: #008081;
}
.column-chart .column-chart-column {
    position: absolute;
    bottom: 0;
    background-color: #008081;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis line,
.x.axis path,
.y.axis path {
    display: none;
}
svg text {
    font-size: .9em;
}
.x.axis text,
.y.axis text {
    font-weight: bold;
}
.y.axis text {
    fill: #d5d5d5;
}
.y.axis line {
    stroke: #f5f5f5;
}


/* TABLES */
table {
    margin: 0 0 2em 0;
    font-size: .8em;
}
thead {
    border-bottom: 1px solid #d9ddca;
}
th {
    background-color: #eff1e9;
}
thead.left-align th {
    text-align: left;
}
th:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}
th:last-child {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
th, td {
    vertical-align: top;
    padding: .25em .75em;
}
table .name {
    text-align: left;
    font-weight: 700;
    white-space: nowrap;
}
table .value {
    text-align: right;
}
tr.even td {
    background-color: #f7f8f3;
}
table .percentage, table .raw-number {
    display: block
}
.indent-1 {
    text-indent: 1em;
}
.indent-2 {
    text-indent: 2em;
}
.indent-3 {
    text-indent: 3em;
}
.indent-4 {
    text-indent: 4em;
}
.indent-5 {
    text-indent: 5em;
}


form {
    margin: 0 0 2em;
}
form label {
    font-weight: bold;
}
form input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cad0b5;
    padding: .4em .33em .2em;
}
form select {
    padding: .15em 0;
    font-size: .85em;
}
form.inline-form input,
form.inline-form select,
form.inline-form .select2-container {
    margin: 0 .5em;
}
.sentence-fragment-group {
    display: inline-block;
}
.sentence-fragment {
    display: inline-block;
    vertical-align: top;
    margin-right: .75em;
}
.sentence-fragment .select2-container {
}
.help-text {
    font-size: .85em;
    display: block;
    margin: .25em .75em;
}
.filter-checkbox-list {
    list-style: none;
    padding: 0;
    margin: .25em 0;
}
.filter-checkbox-list li {
    font-size: .85em;
    display: inline-block;
    width: 30%;
    margin: 0 1%;
}
.topic-result {
    margin: .5em 0;
}
.topic-type {
    display: block;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: bold;
    color: #aaa;
}
.select2-result:hover .topic-type {
    color: #eee;
}

textarea#results {
    width: 100%;
    height: 450px;
    padding: .5em;
}
.spinner {
    margin:;
}

.tool-set {
    float: right;
    overflow: hidden;
    padding-top: .1em;
    margin-top: -.1em;
}
.tool-group {
    float: left;
    margin-right: 2em;
    font-size: .8em;
}
.tool-group:last-child {
    margin-right: 0;
}
.tool-group ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.tool-group li {
    display: inline-block;
    margin: 0 0 0 .33em;
}
.tool-group a {
    cursor: pointer;
    text-decoration: underline;
}
.tool-group input,
.tool-group select {
    display: inline;
    vertical-align: middle;
    height: 1em;
    padding: .1em 0;
    margin-left: .25em;
}


ul.toggle-set {
    margin-top: .5em;
    display: block;
    font-size: 12px;
}
ul.toggle-set li {
    margin: 0;
    float: left;
    width: 100px;
    text-align: center;
    background-color: #eff1e9;
    border-top: 1px solid #e8eadf;
    border-bottom: 1px solid #cad0b5;
}
ul.toggle-set li:first-child,
ul.toggle-set li:first-child a {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
ul.toggle-set li:last-child,
ul.toggle-set li:last-child a {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 0;
}
ul.toggle-set a {
    padding: .25em 0 .33em;
    display: block;
    text-decoration: none;
    color: #888;
    border-right: 1px solid #f9f9f9;
}
ul.toggle-set a.active,
ul.toggle-set a:hover {
    background-color: #d9ddca;
    color: #111;
}
ul.toggle-set a:hover {
    background-color: #cad0b5;
}

/* CHARTS */

.coal-chart-container {
    padding: 3em 0 2em;
    margin-bottom: 1em;
}
.coal-chart-container h2 {
    width: 80px;
    float: left;
    text-align: right;
}
.coal-chart {
    list-style: none;
    position: relative;
    height: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 30px 0 100px;
}
.coal-chart li {
    display: inline;
    position: absolute;
    bottom: -6px;
    margin-left: -5px;
}
.coal-chart li a {
    display: block;
    cursor: pointer;
    position: relative;
    height: 11px;
    width: 11px;
    color: #222;
    background-color: #eff1e9;
    border: 1px solid #acb58c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.coal-chart li a:hover,
.coal-chart li a.hovered {
    background-color: #42472e;
    border-color: #42472e;
    z-index: 3;
}
.coal-chart li a.selected {
    background-color: #027b7a;
    border-color: #027b7a;
    z-index: 2;
}
.coal-chart li a.selected.hovered {
    z-index: 4;
}
.coal-chart li a span {
    position: absolute;
    width: 15em;
    top: -3em;
    right: -7.5em;
    font-size: .85em;
    line-height: 1.2;
    text-align: center;
    display: none;
    white-space: nowrap;
    padding: 0 .5em;
}
.coal-chart li a:hover span,
.coal-chart li a.hovered span,
.coal-chart li a.selected span {
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 0 -.5em .5em .5em #fff;
    box-shadow: 0 -.5em .5em .5em #fff;
}
.coal-chart li.tick-mark {
    height: 26px;
    bottom: -13px;
    margin-left: 0;
    border-left: 1px solid #d5d5d5;
}
.coal-chart li.tick-mark.tick-mark-min {
    left: 0;
}
.coal-chart li.tick-mark.tick-mark-max {
    left: 100%;
}
.coal-chart li.tick-mark span {
    position: relative;
    font-size: .75em;
    display: block;
    color: #606060;
    padding: 0;
    margin-top: 26px;
    margin-left: -50%;
    white-space: nowrap;
}
.coal-chart li.tick-mark-min span {
    margin-left: -1px;
}
.coal-chart li.tick-mark-max span {
    margin-left: -99%;
}





.placeholder {
    background-color: #f5f5f5;
    color: #777;
    text-align: center;
    height: 200px;
    padding-top: 75px;
    border: 1px solid #777;
}


#homepage-search {
    margin: 5em 0 3em;
}
#homepage-search .search-wrapper {
    padding-left: 127px;
}
#homepage-search img.logo {
    float: left;
    width: 106px;
    margin-right: 1.5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#homepage-search .wide-picker {
    width: 99%;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1139px) {
    #page-header .wrapper {
        margin: 1em 1em 2em;
    }
    #homepage-search {
        margin: 4em 0 2em;
    }
}
@media only screen and (max-width: 768px) {
    article {
        margin-bottom: 2em;
    }
    #homepage-search {
        margin: 3em 0 1em;
    }
    header.section-contents {
        float: none;
        width: auto;
        margin: 0;
    }
    header.section-contents h1 {
        padding-left: 1.2em;
        margin-bottom: 0;
        border-bottom: none;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        border-top-right-radius: 4px;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
    }
    article .section-container {
        margin-top: 0;
        margin-left: 0;
        border-top: none;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
        border-top-right-radius: 0;
    }
    section aside {
        float: none;
        margin-left: 0;
        width: auto;
        padding: 0;
    }
    .column-half,
    .column-golden-wide,
    .column-golden-narrow {
        float: none;
        width: auto;
        margin-right: 0;
    }
    .column-half .column-half {
        float: left;
        width: 47%;
        margin-right: 3%;
    }
}
@media only screen and (max-width: 640px) {
    .tool-set {
        float: none;
        margin: .5em 0 1em;
    }
    .column-two-thirds,
    .column-three-quarters {
        float: none;
        width: auto;
        margin-right: 0;
    }
    .column-third,
    .column-quarter {
        float: left;
        width: 47%;
        margin-right: 3%;
    }
    #homepage-search .search-wrapper {
        padding: 0;
    }
    #homepage-search img.logo {
        width: 54px;
        margin-right: 1em;
    }
    #homepage-search .wide-picker {
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .column-half,
    .column-half .column-half,
    .column-third,
    .column-two-thirds,
    .column-quarter,
    .column-three-quarters {
        float: none;
        width: auto;
        margin-right: 0;
    }
    #homepage-search {
        margin: 2em 0 0;
    }
    h1.title {
        font-size: 2em;
    }
    #homepage-search img.logo {
        width: 36px;
        margin-right: .67em;
    }
}


/* HELPERS */

.small {
    font-size: .75em;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
