/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

* {box-sizing: border-box; -moz-box-sizing: border-box;}
html,
body {
    margin: 0;
    padding: 0;
    /*background-color: #f7f8f3;*/
    background-color: #fff;
}

body {
    line-height: 1.5;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #667faf;
    text-shadow: none;
}

::selection {
    background: #667faf;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* BASIC ELEMENTS */
a {
    color: #014948;
}
p {
    font-family: Georgia, serif;
    margin: 0 0 1em;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.2;
}
h1, h2, h3 {
    margin-bottom: .25em;
}




/* LAYOUT HELPERS */
.wrapper {
    width: 90%;
    margin: 0 5%;
}
.section-one-third {
    float: left;
    width: 30%;
    margin-right: 3%;
}
.section-two-thirds {
    float: left;
    width: 64%;
    margin-right: 3%;
}
.full-width {
    width: auto;
    margin: 0;
}





article {
    margin-bottom: 4em;
}
article header {
    margin-bottom: 1em;
}
article section {
    margin-bottom: 3em;
}





section {
    width: auto;
}
section h2 {
    font-size: 1em;
}

.data-package {}
.data-package aside {
    float: left;
    width: 22%;
    margin-right: 3%;
}
.data-package aside p {
    font-size: 1em;
}
.data-package aside .source {
    cursor: pointer;
    color: #a5af82;
    border-bottom: 1px dotted;
}
.data-package aside .source:before {
    content:"\A";
    white-space: pre;
}
.data-presentation {
    float: left;
    width: 75%;
}




/* WIDGETS */
ul.bar-chart {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #d5d5d5;
}
ul.bar-chart li {
    padding: 6px 12px;
    position: relative;
    display: block;
    border-bottom: 1px solid #e5e5e5;
}
ul.bar-chart .name {
    position: relative;
    display: block;
    padding-right: .5em;
    z-index: 2;
}
ul.bar-chart .primary {
    font-weight: bold;
}
ul.bar-chart .context {
    font-size: 12px;
    color: #888;
    padding: 8px 12px;
}
ul.bar-chart .number {
    font-weight: normal;
    position: absolute;
    display: block;
    right: 12px;
    top: 6px;
    text-align: right;
}
ul.bar-chart .context .number {
    top: 9px;
}
ul.bar-chart .index {
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f5f5f5;
}

aside .aside-group {
    margin-bottom: 1.5em;
}
aside .bar-chart {
    /*border-top: 1px solid #e8eadf;*/
    border-top: none;
}
aside .bar-chart li {
    font-size: 12px;
    padding: 2px 0;
    /*border-bottom: 1px solid #e8eadf;*/
    border-bottom: none;
}
aside .bar-chart .number {
    font-weight: bold;
    right: 2px;
    top: 2px;
}


/* TABLES */
table {
    width: 100%;
    margin: 0 0 2em 0;
    font-size: 13px;
}
thead {
    border-bottom: 1px solid #d9ddca;
}
th {
    background-color: #eff1e9;
}
th:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}
th:last-child {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
th, td {
    padding: .25em .75em;
}
table .name {
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
}
table .value {
    text-align: right;
}
tr.even {
    background-color: #f7f8f3;
}
table .percentage, table .raw-number {
    display: block
}

.tool-set {
    float: right;
    overflow: hidden;
    padding-top: .75em;
}
.tool-group {
    float: left;
    margin-right: 2em;
    font-size: .8em;
}
.tool-group:last-child {
    margin-right: 0;
}
.tool-group ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.tool-group li {
    display: inline-block;
    margin: 0 0 0 .33em;
}
.tool-group a {
    cursor: pointer;
    text-decoration: underline;
}
.tool-group input,
.tool-group select {
    display: inline;
    vertical-align: middle;
    height: 1em;
    padding: .1em 0;
    margin-left: .25em;
}

ul.toggle-set {
    font-size: 12px;
}
ul.toggle-set li {
    margin: 0;
    float: left;
    width: 100px;
    text-align: center;
    background-color: #e2e2e2;
    border-bottom: 2px solid #999;
}
ul.toggle-set li:first-child,
ul.toggle-set li:first-child a {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
ul.toggle-set li:last-child,
ul.toggle-set li:last-child a {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 0;
}
ul.toggle-set a {
    padding: .33em 0;
    display: block;
    text-decoration: none;
    color: #888;
    border-right: 1px solid #f9f9f9;
}
ul.toggle-set a.active,
ul.toggle-set a:hover {
    background-color: #f2f2f2;
    color: #111;
}
ul.toggle-set a:hover {
    background-color: #e9e9e9;
}

/* CHARTS */

.coal-chart-container {
    padding: 3em 0 2em;
    margin-bottom: 1em;
}
.coal-chart-container h2 {
    width: 80px;
    float: left;
    text-align: right;
}
.coal-chart {
    list-style: none;
    position: relative;
    height: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 30px 0 100px;
}
.coal-chart li {
    display: inline;
    position: absolute;
    bottom: -6px;
    margin-left: -5px;
}
.coal-chart li a {
    display: block;
    cursor: pointer;
    position: relative;
    height: 11px;
    width: 11px;
    background-color: #eff1e9;
    border: 1px solid #acb58c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.coal-chart li a:hover,
.coal-chart li a.hovered {
    background-color: #42472e;
    border-color: #42472e;
    z-index: 3;
}
.coal-chart li a.selected {
    background-color: #027b7a;
    border-color: #027b7a;
    z-index: 2;
}
.coal-chart li a.selected.hovered {
    z-index: 4;
}
.coal-chart li a span {
    position: absolute;
    top: -3em;
    left: -3.5em;
    font-size: .85em;
    line-height: 1.2;
    text-align: center;
    display: none;
    white-space: nowrap;
    padding: 0 .5em;
}
.coal-chart li a:hover span,
.coal-chart li a.hovered span,
.coal-chart li a.selected span {
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 0 -.5em .5em .5em #fff;
    box-shadow: 0 -.5em .5em .5em #fff;
}
.coal-chart li.tick-mark {
    height: 26px;
    bottom: -13px;
    margin-left: 0;
    border-left: 1px solid #d5d5d5;
}
.coal-chart li.tick-mark.tick-mark-min {
    left: 0;
}
.coal-chart li.tick-mark.tick-mark-max {
    left: 100%;
}
.coal-chart li.tick-mark span {
    position: relative;
    font-size: .75em;
    display: block;
    color: #606060;
    padding: 0;
    margin-top: 26px;
    margin-left: -50%;
    white-space: nowrap;
}
.coal-chart li.tick-mark-min span {
    margin-left: -1px;
}
.coal-chart li.tick-mark-max span {
    margin-left: -99%;
}





.placeholder {
    background-color: #f5f5f5;
    color: #777;
    text-align: center;
    height: 200px;
    padding-top: 75px;
    border: 1px solid #777;
}


#header-bar {
    padding: .5em 0;
    border-top: 5px solid #014948;
    background-color: #f2f2f2;
    margin-bottom: 2em;
}
.header-container {
    margin-bottom: 2em;
}
.title {
    font-size: 2.5em;
    margin: 0 0 0.67em 0;
}

.footer-container {
    background: #eff1e9;
    margin-top: 5em;
    padding: 1em 0 2em 0;
    border-top: 2px solid #fff;
}
.footer-container footer {
    padding: 20px 0;
}
footer h1,
footer h2 {
    font-size: 1.2em;
    margin-bottom: .33em;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer li {
    font-size: .9em;
    line-height: 1.5;
    display: block;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* HELPERS */

.small {font-size: .75em;}
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
