/*
greens: #02aeab; #027b7a; #014948;
tans: #f7f8f3; #eff1e9; #e0e4d4; #cad0b5;
map quintiles: #d9ddca; #bbc2a1; #9ea877; #7b8656; #555c3b;
*/

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
    
html,
body {
    margin: 0;
    padding: 0;
    background-color: #f7f8f3;
    line-height: 1.5;
    font-size: 14px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,
button,
input,
select,
textarea {
    color: #222;
}
input:focus {
    border: 1px solid #02aeab;
    -webkit-box-shadow: 0px 0px 2px rgba(1, 73, 72, 0.5);
    -moz-box-shadow:    0px 0px 2px rgba(1, 73, 72, 0.5);
    box-shadow:         0px 0px 2px rgba(1, 73, 72, 0.5);
}

::-moz-selection {
    background: #667faf;
    text-shadow: none;
}

::selection {
    background: #667faf;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* BASIC ELEMENTS */
a {
    color: #014948;
}
a.permalink {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #02aeab;
}
a.permalink span {
    display: none;
}
a.permalink:hover {
    color: inherit;
}
a.permalink:hover span {
    display: inherit;
}
p, .serif {
    font-family: "Merriweather", Georgia, serif;
    margin: 0 0 1em;
}
.caption {
    margin-top: .25em;
    padding-top: .25em;
    font-size: .83em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.caption-group {
    margin-right: 1em;
}

.display-type,
.leader {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.leader {
    font-weight: bold;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
}
h1, h2, h3 {
    margin-bottom: .25em;
}
h1.title {
    font-size: 2.5em;
}

.ul-icon-list {
    list-style: none;
    padding: 0;
}
.ul-icon-list i {
    margin-right: .33em;
}
.ul-icon-list [class^="icon-"] {
    width: 16px;
    display: inline-block;
    text-align: center;
}
.ul-icon-list a,
footer ul a {
    text-decoration: none;
}
.ul-icon-list a:hover,
footer ul a:hover {
    text-decoration: underline;
}
img.screenshot {
    border: 1px solid #cad0b5;
    width: 100%;
}

/* LAYOUT */
#page-header {
    background-color: #014948;
}
#page-header .wrapper {
    margin: 0 auto;
    padding: .5em 0;
}
#page-header-title a {
    color: #f7f8f3;
    text-decoration: none;
}
#page-header-title a.title {
    font-size: 21px;
}
#page-header-title a.button {
    display: block;
    margin-top: 0;
    padding: .2em .5em 0;
    height: 2em;
    border: 1px solid #027b7a;
    background-color: #001716;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#page-header input {
    border: 1px solid #001716;
    margin-left: 0;
}
#page-header-title a.button:hover {
    background-color: #000606;
    border-color: #000;
}
#page-header-title img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: -5px;
    height: 24px;
}
#page-header .tool-set {
    margin: .2em 0 0;
    padding: 0;
}

#page-footer {
    background-color: #d1d7bf;
    border-top: 1px solid #cad0b5;
    padding: 1.5em 0 4.5em;
}
#page-footer ul {
    margin: 0;
}

.content-container {
    padding: 1em 0;
}

article,
article.column-full {
    margin-bottom: 4em;
}
header.section-contents {
    float: left;
    width: 13em;
}
header.section-contents h1 {
    font-size: 1em;
    margin: 0;
    padding: .6em 0 .55em .75em;
    background-color: #eff1e9;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
article .section-container {
    background-color: #fff;
    margin-left: 13em;
    padding: .6em 1.2em 1.2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
}
header.section-contents h1,
article .section-container {
    border-top: 1px solid #e8eadf;
    border-bottom: 1px solid #cad0b5;
}
.explain {
    font-size: .83em;
    padding: 0 1em;
}
section {
    margin-bottom: 2em;
}
.wide-content {
    overflow-x: auto;
}
.section-container section,
.stat-row [class^="column-"] {
    margin-bottom: 3em;
}
.section-container section:last-child {
    margin-bottom: 0;
}
header.section-contents h1,
section h2 {
    font-size: 1em;
    line-height: 1.3;
    margin-bottom: 1em;
}
.section-container h2 {
    margin-top: 2px;
}
section aside {
    float: left;
    margin-left: -14.4em;
    width: 13em;
    padding: .25em .67em .67em 1.1em;
}
section aside h3 {
    font-size: .9em;
}
section aside p,
section aside ul {
    font-size: .83em;
}

.wrapper {
    width: auto;
    margin: 0 1em;
}
.full-width {
    clear: both;
    width: 100%;
    margin: 0;
}

#cover-map {
    position: relative;
    height: 35em;
    margin-bottom: 2em;
}
#slippy-map {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#cover-profile {
    position: relative;
    z-index: 999;
}
#cover-profile article {
    margin-top: 3em;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #02aeab;
    padding: .67em 1em;
}

.column-full,
.column-half,
.column-third,
.column-two-thirds,
.column-quarter,
.column-three-quarters,
.column-golden-wide,
.column-golden-narrow {
    float: left;
    margin: 0 2% 0 0;
}
.column-header {
    margin: 0 2% 1em 0;
}
.column-full {
    width: 98%;
}
.column-half {
    width: 48%;
}
.column-third {
    width: 31%;
}
.column-two-thirds {
    width: 65%;
}
.column-quarter {
    width: 23%;
}
.column-three-quarters {
    width: 73%;
}
.column-golden-wide {
    width: 58%;
}
.column-golden-narrow {
    width: 38%;
}

/* HOMEPAGE */
#homepage .content-container {
    padding: 2.5em 0;
}
.white-stripe {
    background-color: #fff;
}
.tan-stripe {
    background-color: #eff1e9;
}
#homepage h1.article-header {
    font-size: 3em;
    margin-bottom: .25em;
}
#homepage #profile h1 {
    float: left;
    width: 285px;
}
#homepage #geography-select {
    font-size: 1.6em;
    padding: .25em .5em 0;
}
#homepage #geography-select-wrapper {
    padding-top: .25em;
    padding-left: 300px;
}
#homepage #profile p.explain {
    margin-top: .83em;
    font-style: italic;
}
#homepage #query-builder-bar {
    margin-bottom: 1.5em;
}

.callout {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0;
}
.callout.with-icon {
    padding-left: 36px;
}
.callout h3 {
    font-size: 24px;
}
.callout i[class^="icon-"] {
    display: block;
    float: left;
    text-align: center;
    width: 28px;
    height: 28px;
    font-size: 14px;
    padding-top: 7px;
    color: #fff;
    background-color: #014948;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: -36px;
}
.callout p:last-child {
    margin-bottom: 0;
}
.tag {
    text-transform: uppercase;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    vertical-align: text-top;
    color: #fff;
    font-size: .8em;
    padding: .15em .33em;
    background-color: #555c3b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/* STATS */
.stat-wrapper {
    width: 100%;
}
.stat {
    margin: 0;
    padding: 0;
}
.stat .context {
    list-style: none;
    display: inline-block;
    font-size: .83em;
    padding: 0;
    margin: 0 -6px;
    font-weight: 500;
    color: #777;
}
.stat .context .value {
    position: absolute;
    right: 6px;
}
.stat .context .highlight {
    background-color: #e5e5e5;
    color: #222;
}
.stat .context li {
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 62px 1px 6px;
    margin-bottom: 1px;
}
.stat .primary {
    display: block;
    margin-bottom: 1em;
}
.stat .primary .name {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3;
}
.stat.small .primary .name {
    font-size: 1em;
}
.stat .primary .value {
    display: block;
    font-size: 2.2em;
    line-height: 1;
    margin: 0 0 .1825em;
    font-weight: 700;
}
.stat .secondary {
    display: block;
}
.stat .secondary .value {
    font-size: 1.2em;
    font-weight: 700;
    margin-right: .1em;
}
.secondary.stacked .name {
    display: block;
}
.stat-side-wrapper {
    padding-right: 1em;
}
.stat-side-wrapper .primary .value {
    float: right;
}
.stat.small .primary .value {
    font-size: 2em;
}
.stat-suffix {
    font-size: .5em;
}
.stat-row select {
    max-width: 100px;
    font-size: .8em;
}

/* SVG MAPS */
.svg-map {
    position: relative;
}
.svg-map .outline {
    fill: #f7f8f3;
    stroke: #cad0b5;
    stroke-width: 1.5px;
}
.svg-map .feature,
.svg-map .point {
    stroke: #001b1b;
    fill: #014948;
}
.svg-map .mesh {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
}
.svg-map .geographies {
    fill: #e5e5e5;
    stroke: #fff;
    stroke-linejoin: round;
}
.svg-map .label {
    position: absolute;
    text-align: center;
    padding: .33em .67em;
    font-size: .8em;
    background: #fff;
    border: solid 1px #777;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    pointer-events: none;
}
.svg-map .label .label-title,
.svg-map .label .name,
.svg-map .label .value {
    display: block;
}
.svg-map .label .label-title,
.svg-map .label .name {
    font-weight: bold;
}
.svg-map .label .label-title {
    margin-bottom: .5em;
}

.q0 { background-color: #d9ece8; fill: #d9ece8; }
.q1 { background-color: #a1cfc6; fill: #a1cfc6; }
.q2 { background-color: #68b3a3; fill: #68b3a3; }
.q3 { background-color: #428476; fill: #428476; }
.q4 { background-color: #264b44; fill: #264b44; }

#map-legend,
#map-select {
    width: 50%;
    margin-right: 0;
}
#map-legend {
    padding-right: 1.5em;
    font-size: 11px;
    height: 4em;
    float: right;
}
ul.quantile-legend {
    list-style: none;
    margin: 0;
    position: relative;
}
.tool-group ul.quantile-legend {
    padding-bottom: 2em;
}
ul.quantile-legend li {
    height: 2.5em;
    width: 16.5%;
    position: relative;
    margin: 0;
}
ul.quantile-legend span.quantile-label {
    position: absolute;
    bottom: -1.75em;
    width: 100%;
    left: 50%;
    text-align: center;
}

/* CHARTS */
.column-chart {
    font-size: 0.75em;
    position: relative;
    font-weight: 500;
}
.column-group {
    position: relative;
}
.column {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    background-color: #014948;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
}
.column:hover {
    opacity: 1;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis line,
.x.axis path,
.y.axis path {
    display: none;
}
svg text,
svg .legend {
    font-size: .9em;
}
.svg-chart .legend-item {
    cursor: pointer;
    fill: #888;
}
.svg-chart .legend-item rect {
}
.svg-chart .legend-item:hover,
.svg-chart .legend-item.hovered {
    opacity: 1;
    fill: #111;
}


.x.axis text,
.y.axis text {
    font-weight: bold;
}
.y.axis text {
    fill: #c5c5c5;
}
.y.axis line {
    stroke: #f5f5f5;
}
.arc,
.arc-group path {
    stroke: #fff;
    cursor: pointer;
    opacity: 1;
}
.arc.hovered {
    opacity: 1;
}
.label-group text {
    font-size: .75em;
}
.label-group .label-name {
    font-weight: bold;
}
.center-group .label-name {
    font-size: .8em;
}
.center-group .label-value {
    font-weight: bold;
    font-size: 1.2em;
}
.chart-title {
    font-size: 13px;
    font-weight: bold;
}

/* TABLES */
table {
    margin: 0 0 2em 0;
    font-size: .8em;
}
thead {
    border-bottom: 1px solid #d9ddca;
}
th {
    background-color: #eff1e9;
    min-width: 7em;
    vertical-align: bottom;
}
thead.left-align th {
    text-align: left;
}
th:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}
th:last-child {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
th, td {
    padding: .25em .75em;
}
td {
    vertical-align: top;
}
table .name {
    text-align: left;
    font-weight: 700;
    white-space: nowrap;
}
table .value {
    text-align: right;
}
tr.even td {
    background-color: #eff1e9;
}
tr.highlight td {
    background: #b4bc96;
}
tr:hover td,
tr.even:hover td {
    background: #d1d7bf;
}
table .percentage, table .raw-number {
    display: block
}
table .alt-number {
    display: none;
}
.indent-0 {
    text-indent: 0;
}
.indent-1 {
    text-indent: 1em;
}
.indent-2 {
    text-indent: 2em;
}
.indent-3 {
    text-indent: 3em;
}
.indent-4 {
    text-indent: 4em;
}
.indent-5 {
    text-indent: 5em;
}


form {
    margin: 0 0 2em;
}
form label {
    font-weight: bold;
}
input[type="text"],
select,
.select-wrapper,
.filter-group,
.item-chosen {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cad0b5;
    height: 2.2em;
    line-height: 1em;
    padding: .5em;
}
form input[type="text"],
form select {
}
form select {
    padding: .5em .33em;
}

.select-wrapper select {
    width: 100%;
    background-color: transparent;
    background-color: rgba(0,0,0,0);
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    cursor: pointer;
}
.select-wrapper select:focus {
    outline: 0;
}
.select-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.select-wrapper i[class^="icon-"],
.filter-group i[class^="icon-"], 
.item-chosen i[class^="icon-"] {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5em .5em .25em;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.select-wrapper i[class^="icon-"]:before,
.select-wrapper i[class*=" icon-"]:before,
.filter-group i[class^="icon-"]:before,
.filter-group i[class*=" icon-"]:before, 
.item-chosen i[class^="icon-"]:before,
.item-chosen i[class*=" icon-"]:before{
    cursor: pointer;
}

form.inline-form input,
form.inline-form select,
form.inline-form .select2-container {
    margin: 0 .5em;
}
.sentence-fragment-group {
    display: inline-block;
}
.sentence-fragment {
    display: inline-block;
    vertical-align: top;
    margin-right: .75em;
}
.sentence-fragment .select2-container {
}
.help-text {
    font-size: .83em;
    display: block;
    margin: .25em .75em;
}

.filter-group {
    font-size: 1em;
    cursor: pointer;
    position: relative;
    margin-bottom: .5em;
}
.filter-group.open {
    height: auto;
}
h3.filter-group-title,
h3.item-chosen-title {
    line-height: 1;
    font-size: 1em;
    margin-bottom: 0;
    padding-right: 1.5em;
}
.filter-group .filter-list {
    display: none;
    margin: .33em 0 0;
}
.filter-group.open .filter-list {
    display: block;
}
.filter-list a {
    text-decoration: none;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.filter-list a.option-selected {
    color: #fff;
    background-color: #014948;
}
.filter-list {
    list-style: none;
    padding: 0;
    margin: 0 0 .75em;
}
.filter-list .label {
    font-size: .83em;
    color: #aaa;
    font-weight: bold;
}
.filter-list a,
.filter-list .label {
    padding: .1em .33em;
    margin-left: -.33em;
}
.filter-list ul {
    list-style: none;
    padding-left: .5em;
    margin: 0 0 .75em;
    line-height: 1.1;
}
.filter-list li {
    margin: .33em 0;
}
.filter-list label {
    font-weight: normal;
    padding-left: .25em;
}
.filter-list .group-label {
    font-weight: bold;
}
.topic-result {
    margin: .5em 0;
}
.topic-type {
    display: block;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: bold;
    color: #aaa;
}
.select2-result:hover .topic-type {
    color: #eee;
}

textarea#results {
    width: 100%;
    height: 450px;
    padding: .5em;
}

.tool-set {
    float: right;
    padding-top: .1em;
    margin: -.1em 0 .5em 1.5em;
}
.tool-set.caption-tool-set {
    margin-top: .1em;
}
.tool-set .tool-group {
    float: left;
}
.tool-group {
    position: relative;
    margin-right: 2em;
    font-size: .83em;
}
.tool-group:last-child {
    margin-right: 0;
}
.tool-group ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.tool-group li {
    display: inline-block;
    margin: 0 0 0 .33em;
}
.tool-group .filter-list li {
    display: block;
    margin: .33em 0;
}
.tool-group a {
    cursor: pointer;
    text-decoration: underline;
}
.tool-group .filter-list a {
    text-decoration: none;
}
.tool-group input,
.tool-group select {
    display: inline;
    height: 2em;
    padding: .4em .33em;
    margin-left: .25em;
}
.tool-group.data-selector select {
    margin-left: 0;
    min-width: 150px;
    max-width: 450px;
}
.tool-group.data-selector .item-chosen {
    margin-left: 0;
    width: 100%;
    height: auto;
    position: absolute;
}
.tool-group .label {
    font-size: 1em;
    color: #aaa;
    font-weight: bold;
}

.item-chosen {
    cursor: pointer;
}
.item-chosen,
.item-choices {
    position: relative;
    background-color: #fff;
}
.item-choices {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 1em;
    display: none;
    cursor: default;
}
.item-chosen.open {
    height: auto;
    z-index: 999;
}
.item-chosen.open .item-choices {
    display: block;
}
/* handle hidden scrollbars in OS 10.7+ */
.item-choices::-webkit-scrollbar {
    -webkit-appearance: none;
}

.item-choices::-webkit-scrollbar:vertical {
    width: 11px;
}

.item-choices::-webkit-scrollbar:horizontal {
    height: 11px;
}

.item-choices::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

ul.toggle-set {
    margin-top: .5em;
    display: block;
    font-size: 12px;
}
ul.toggle-set li {
    margin: 0;
    float: left;
    width: 100px;
    text-align: center;
    position: relative;
}
ul.toggle-set a {
    background-color: #eff1e9;
    border-top: 1px solid #e8eadf;
    border-bottom: 1px solid #cad0b5;
    padding: .25em 0 .33em;
    display: block;
    text-decoration: none;
    color: #888;
    border-right: 1px solid #f9f9f9;
}
ul.toggle-set li:first-child a {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
ul.toggle-set li:last-child a {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 0;
}
ul.toggle-set a.active,
ul.toggle-set a:hover {
    background-color: #d9ddca;
    color: #111;
}
ul.toggle-set a.hovered,
ul.toggle-set a:hover {
    background-color: #cad0b5;
}
ul.toggle-set .toggle-sub-group a:hover {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
ul.sub-group {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}
ul.sub-group,
ul.sub-group li,
ul.toggle-set li:first-child li,
ul.toggle-set li:last-child li,
ul.toggle-set li:first-child li a,
ul.toggle-set li:last-child li a,
ul.sub-group a {
    z-index: 99;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
ul.sub-group li a {
    border-top: 0;
    border-bottom: 1px solid #e8eadf;
}

/* CHARTS */

section.coal-chart-container {
    padding: 2em 0 4em;
    margin-bottom: 0;
}
section.chart-divider {
    margin: 1em 0 0;
    padding: 0.6em 0.75em;
    background-color: #f7f8f3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-top: 1px solid #e8eadf;
    border-bottom: 1px solid #cad0b5;
}
section.chart-divider h2 {
    margin: 0;
    line-height: 1;
}
.coal-chart-container h2 {}
.coal-chart {
    list-style: none;
    position: relative;
    height: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 1.5em;
}
.coal-chart li {
    display: inline;
    position: absolute;
    bottom: -6px;
    margin-left: -5px;
}
.coal-chart li a {
    display: block;
    cursor: pointer;
    position: relative;
    height: 11px;
    width: 11px;
    color: #222;
    background-color: #eff1e9;
    border: 1px solid #acb58c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.coal-chart li a:hover,
.coal-chart li a.hovered {
    background-color: #42472e;
    border-color: #42472e;
    z-index: 3;
}
.coal-chart li a.selected {
    background-color: #027b7a;
    border-color: #027b7a;
    z-index: 2;
}
.coal-chart li a.selected.hovered {
    z-index: 4;
}
.coal-chart li a span {
    position: absolute;
    width: 15em;
    bottom: 1.5em;
    right: -7.5em;
    font-size: .83em;
    line-height: 1.2;
    text-align: center;
    display: none;
    padding: .5em;
    border: 1px solid #e0e0e0;
}
.coal-chart li a:hover span,
.coal-chart li a.hovered span,
.coal-chart li a.selected span {
    display: block;
    background-color: #fff;
}
.coal-chart li.tick-mark {
    height: 26px;
    bottom: -13px;
    margin-left: 0;
    border-left: 1px solid #d5d5d5;
}
.coal-chart li.tick-mark.tick-mark-min {
    left: 0;
}
.coal-chart li.tick-mark.tick-mark-max {
    left: 100%;
}
.coal-chart li.tick-mark span {
    position: relative;
    font-size: .75em;
    display: block;
    color: #606060;
    padding: 0;
    margin-top: 26px;
    margin-left: -50%;
    white-space: nowrap;
}
.coal-chart li.tick-mark-min span {
    margin-left: -1px;
}
.coal-chart li.tick-mark-max span {
    margin-left: -99%;
}

.placeholder {
    background-color: #f5f5f5;
    color: #777;
    text-align: center;
    height: 200px;
    padding-top: 75px;
    border: 1px solid #777;
}

.wide-picker {
    width: 99%;
}

.chosen {
    padding: .6em .83em;
}
.chosen,
.chosen .change-choice {
    position: relative;
    background-color: #fff;
    border: 1px solid #cad0b5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.chosen .change-choice {
    line-height: 1;
    position: absolute;
    top: .6em;
    right: .6em;
    margin: 0;
    text-align: center;
    padding: .6em .75em;
    background-color: #d9ddca;
    text-decoration: none;
    font-size: .75em;
    font-weight: bold;
}
.chosen p {
    margin: 0;
    padding-right: 5em;
}
.step-explainer .chosen {
    margin-right: 1%;
}
.step-explainer .chosen p {
    margin: 0;
}

.chosen .change-choice:hover {
    background-color: #e8eadf;
}

.step-explainer {
    margin-bottom: 2em;
}
.step-explainer p,
.step-explainer div {
    margin: .5em 70px;
}
.step-explainer .step-number {
    float: left;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 1;
    padding-top: 11px;
    font-size: 30px;
    color: #fff;
    background-color: #d9ddca;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#query-builder-bar {
    position: relative;
    width: 100%;
    margin-bottom: 2em;
}
#query-builder-bar .leader {
    float: left;
    padding: .5em 0;
}
#query-builder-bar h2 {
    font-size: 1em;
    line-height: 1.3;
    margin-bottom: 1em;
}
#query-builder-bar h4 {
    color: #aaa;
    margin-bottom: .5em;
}

#query-builder-bar #query-topic,
#query-builder-bar #query-geographies,
#query-builder-bar #query-release {
    float: left;
    width: 23%;
    margin-right: 4%;
    font-size: .83em;
}
#query-builder-bar #query-geographies {
    width: 46%;
}
#query-builder-bar #query-release {
    margin-right: 0;
}
#query-builder-bar .query-chosen {
    margin-left: 5em;
    text-align: center;
    height: 31px;
    padding: .5em 0 0;
    background-color: #fff;
    border: 1px solid #cad0b5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}
#query-builder-bar #query-topic .query-chosen {
    margin-left: 4.5em;
}
#query-builder-bar #query-geographies .query-chosen {
    margin-left: 5.5em;
}
#query-builder-bar #query-release .query-chosen {
    margin-left: 6em;
}

#query-builder-bar .query-chosen.tabbed.open,
#query-builder-bar .query-chosen.hovered {
    border-color: #014948;
    background-color: #014948;
    color: #fff;
}
#query-builder-bar .query-chosen.tabbed {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#query-builder-bar .hover-only {
    text-transform: uppercase;
    font-weight: bold;
    display: none;
}
#query-builder-bar .query-chosen.hovered .hover-only {
    display: block;
}
#query-builder-bar .query-chosen.hovered .hover-hide {
    display: none;
}


#query-builder-bar section[id$="-picker"] {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    z-index: 99;
    padding: 2% 0 2% 2%;
    border: 1px solid #001716;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.release-option {
    text-align: center;
    font-size: .83em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.release-option p {
    margin: 0 0 1em;
}
.release-option a {
    text-decoration: none;
    padding: .33em 1em;
    background-color: #eff1e9;
    border-top: 1px solid #e8eadf;
    border-bottom: 1px solid #cad0b5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.release-option a:hover,
.release-option a.active {
    background-color: #d9ddca;
    color: #111;
}
.release-option a.disabled {
    cursor: default;
    background-color: #f0f0f0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #e0e0e0;
    color: #999;
}


/* AUTOCOMPLETE */
.tt-hint {
    visibility: hidden;
}

.tt-dropdown-menu {
    min-width: 160px;
    width: 100%;
    margin-top: 2px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}

.tt-suggestion {
  display: block;
  padding: 1.25em .83em .83em;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #027b7a;
}

.tt-suggestion h5,
.tt-suggestion p {
    line-height: 1.5;
    margin: 0 0 .5em;
    font-size: 1em;
}

.twitter-typeahead,
.twitter-typeahead .tt-query, 
.twitter-typeahead .tt-hint {
    width: 100%;
}
#page-header input,
#page-header .tt-dropdown-menu {
    width: 240px;
}

.result-name .result-type {
    float: right;
    margin: .17em .33em 0 1em;
    font-size: .83em;
    font-style: italic;
}

.autocomplete-widget .tt-dropdown-menu {
    height: 290px;
    overflow-y: auto;
}

/* !importants make me a little sad, but they're better than monkey-patching third-party code */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    background-color: #fff !important;
    margin-bottom: 0;
}
.autocomplete-widget .tt-dropdown-menu {
    position: relative !important;
    display: block !important;
}
#page-header-title .tt-dropdown-menu {
    z-index: 999 !important;
}
.autocomplete-widget input[disabled] {
    background-color: #eee !important;
}

#body-spinner {
    position: fixed;
    top: 0;
    left: 0;
    margin: 65px 20px;
    height: 20px;
    width: 20px;
}

/* HELPERS */
.centered {
    text-align: center;
}
.small {
    font-size: .75em;
}
.hidden {
    display: none;
}
.invisible {
    display: none !important;
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1120px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1139px) {
    #page-header .wrapper {
        margin: 0 1em;
    }
    .chosen {
        margin: 0 0 1em;
    }
    
}
@media only screen and (max-width: 768px) {
    article,
    article.column-full {
        margin-bottom: 2em;
    }
    header.section-contents {
        float: none;
        width: auto;
        margin: 0;
    }
    header.section-contents h1 {
        padding-left: 1.2em;
        margin-bottom: 0;
        border-bottom: none;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        border-top-right-radius: 4px;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
    }
    article .section-container {
        margin-top: 0;
        margin-left: 0;
        border-top: none;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
        border-top-right-radius: 0;
    }
    section aside {
        float: none;
        margin-left: 0;
        width: auto;
        padding: 0;
    }
    .column-full,
    .column-golden-wide,
    .column-golden-narrow {
        float: none;
        clear: both;
        width: auto;
        margin-right: 0;
    }
    .column-half .column-half {
        float: left;
        width: 47%;
        margin-right: 3%;
    }
    .centered {
        text-align: left;
    }
}
@media only screen and (max-width: 640px) {
    .tool-set {
        float: none;
        margin: .5em 0 1em;
    }
    #page-header .tool-set {
        margin: .5em 0;
    }
    #page-header .tool-group input {
        margin-left: 0;
    }
    
    .column-half,
    .column-third,
    .column-two-thirds,
    .column-three-quarters {
        float: none;
        clear: both;
        width: auto;
        margin-right: 0;
    }
    .column-third,
    .column-quarter {
        float: left;
        width: 47%;
        margin-right: 3%;
    }
    .wide-picker {
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .column-half,
    .column-half .column-half,
    .column-quarter,
    .column-three-quarters {
        float: none;
        clear: both;
        width: auto;
        margin-right: 0;
    }
    h1.title {
        font-size: 2em;
    }
}

