.glossary-term {
      border-bottom: 1px dashed #999;
}

#glossarypopup {
  background: #dddddd;
  border-radius: 0px 20px 20px 20px;
  width: 400px;
  position: absolute;
  padding: 5px;
  margin-top: 5px;
  }
  
#glossarypopup dt { font-weight: bold; }


#glossarypopup {
    z-index: 1000;
}
