{% extends '_base.html' %}

{% block head_title %}Profile data - {{ block.super }}{% endblock %}

{% block sticky_buttons %}
<!-- Add sticky buttons for time series vers one year views -->
{% comment %} <div class="sticky-time-series-buttons">
    <a id="one-year" class='action-button active' href="#">One year</a>
    <a id="over-time" class='action-button' href="#">Over time</a>
</div> {% endcomment %}
{% endblock %}


{% comment %}
At some point, we may end up needing to branch the profile page template
in order to support data available for different releases. And we may end up
with a special template for subtopic pages within a profile. This page provides
a profile-specific base suitable for applying things across that entire
family of pages.
{% endcomment %}

