{% extends 'profile/_base_profile.html' %}{% load humanize madlibs %}

{% block head_title %}{% firstof geography.this.full_name geography.this.short_name %} - {{ block.super }}{% endblock %}
{% block head_meta_description %}Census data for {{ geography.this.full_name }} (pop. {{ geography.this.total_population|intcomma }}), including age, race, sex, income, poverty, marital status, education and more.{% endblock %}

{% block head_facebook_tags %}
        <meta property="og:title" content="Census profile: {% firstof geography.this.full_name geography.this.short_name %}" />
        <meta property="og:site_name" content="State of the Detroit Child" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:description" content="Census data for {{ geography.this.full_name }} (pop. {{ geography.this.total_population|intcomma }}), including age, race, sex, income, poverty, marital status, education and more." />
        <meta property="og:type" content="article" />
        {#}<meta property="og:image" content="" />{#}
{% endblock %}

{% block head_twitter_tags %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@d3detroit">
        <meta name="twitter:creator" content="@d3detroit">
        <meta name="twitter:title" content="Census profile: {% firstof geography.this.full_name geography.this.short_name %}">
        <meta name="twitter:description" content="Census data for {{ geography.this.full_name }} (pop. {{ geography.this.total_population|intcomma }}), including age, race, sex, income, poverty, marital status, education and more.">
        {#}<meta name="twitter:image" content="">{#}
{% endblock %}

{% block head_css_extra %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.2/dist/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/leaflet.label.css" />
{% endblock %}

{% block head_javascript_extra %}
<script src="https://unpkg.com/leaflet@0.7.2/dist/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/vendor/leaflet.label.js"></script>
{% endblock %}

{% block body_id %}profile{% endblock %}

{% block header_content %}
<div id="cover-map" class="clearfix">
    <div id="slippy-map"></div>
    <div id="cover-profile" class="wrapper">
        <article class="clearfix column-half">
            <header id="header-box" class="column-full">
                <h1 class="title">{% firstof geography.this.full_name geography.this.short_name %}</h1>
                {% if geography.this.sumlevel != '010' and geography.this.sumlevel != '040' %}
                <p class="caption"></p>
                {% endif %}
            </header>
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">{{ geography.this.total_population|intcomma }}</span>
                        <span class="name">Population</span>
                    </span>
                </div>
            </div>
            {% if geo_metadata.square_miles or geo_metadata.population_density %}
            <div class="column-half">
                <div class="stat">
                    <span class="secondary">
                        <span class="value">{% if geo_metadata.square_miles < .1 %}{{ geo_metadata.square_miles|floatformat:"3" }}{% else %}{{ geo_metadata.square_miles|floatformat|intcomma }}{% endif %}</span>
                        <span class="name"> square miles</span>
                    </span>
                    <span class="secondary">
                        <span class="value">{{ geo_metadata.population_density|floatformat|intcomma }}</span>
                        <span class="name"> people per square mile</span>
                    </span>
                </div>
            </div>
            {% endif %}

            {% if geography.this.show_extra_links %}
                {% include "profile/_blocks/_header_extra_links.html" %}
            {% endif %}

            <div class="column-full">
                <p class="caption"><strong>Census data:</strong> {{ geography.census_release }} unless noted</p>
            </div>
        </article>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="clearfix" id="query-topic-picker">
    <h2>Jump to a section: </h2>
    <div class="typeahead-container">
        <select name="select_section" onchange="location = this.value;" style="width: 100%;">
            {% comment %} <option value="#">Jump to a section: </option> {% endcomment %}
            <optgroup label="Youth &amp; family demographics">
                <option value="#youth-population">Youth &amp; family demographics</option>
                <option value="#youth-population">Youth population, sex &amp; age</option>
                <option value="#children-age-race">Youth age, race &amp; ethnicity</option>
                <option value="#young-men">Boys &amp; young male population, age, race &amp; ethnicity</option>
                <option value="#households">Households</option>
                <option value="#families-with-children">Families with children</option>
                <option value="#marital-status">Marital status</option>
                <option value="#births">Births</option>
                <option value="#language">Language</option>
            </optgroup>
            <optgroup label="Education">
                <option value="#ela-proficiency">Education</option>
                <option value="#ela-proficiency">Third grade english language arts (ELA) proficiency</option>
                <option value="#math-proficiency">Third grade math proficiency</option>
                <option value="#school-enrollment">School enrollment</option>
                <option value="#graduation-rate">High school graduation</option>
                <option value="#educational-attainment">Educational attainment</option>
            </optgroup>
            <optgroup label="Family &amp; economic security">
                <option value="#income">Family &amp; economic security</option>
                <option value="#income">Income</option>
                <option value="#child-poverty">Child poverty</option>
                <option value="#poverty">Poverty</option>
                <option value="#food-assistance">Food assistance program participation</option>
                <option value="#employment">Employment</option>
                <option value="#commute">Transportation to work</option>
                <option value="#vehicle-availability">Vehicle availability</option>
            </optgroup>
            <optgroup label="Housing Section">
                <option value="#housing-occupancy">Housing</option>
                <option value="#housing-occupancy">Units &amp; occupancy</option>
                <option value="#housing-costs">Housing costs</option>
                <option value="#housing-value">Housing value</option>
                <option value="#geographical-mobility">Geographical mobility</option>
            </optgroup> 
            <optgroup label="Health &amp; safety">
                <option value="#health-insurance">Health &amp; safety</option>
                <option value="#infant-mortality">Infant mortality</option>
                <option value="#health-insurance">Health insurance</option>
            </optgroup>
            <optgroup label="Other demographics">
                <option value="#place-of-birth">Other demographics</option>
                <option value="#place-of-birth">Place of birth</option>
                <option value="#veteran-status">Veteran status</option>
            </optgroup>
        </select>
    </div>
</section>
<section class="clearfix" id="query-topic-picker">
    <h2>Find data for this place</h2>
    <div class="typeahead-container">
        <input name="topic_select" id="topic-select" type="text" placeholder="Search by table or column name..." autocomplete="off">
    </div>
</section>

<p class="explain">Interact with charts and statistics for <span class="glossary-term" data-keyword="margin-of-error">margins of error</span> and additional information.</p>


<article id="youth-demographics" class="clearfix">
    <header class="section-contents">
        <h1>Youth &amp; family demographics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#youth-population" id="youth-population" title="Permalink">Youth population, sex &amp; age <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside></aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.child_pop.total stat_type='number' %}
            </div>
            <div class="column-third">
                <div id="chart-pie-demographics-child_sex" data-chart-title="Distribution of youth by sex" data-stat-type="percentage" data-initial-sort="-value" data-qualifier="Universe: {{ demographics.child_sex.metadata.universe }}"></div>
            </div>        
            <div class="column-third">
                <div id="chart-pie-demographics-child_age-distribution_by_category" data-stat-type="scaled-percentage" data-chart-title="Distribution of youth by age" data-initial-sort="-value" data-qualifier="Universe: {{ demographics.child_age.distribution_by_category.metadata.universe }}"></div>
            </div> 
        </section>

        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#children-age-race" id="children-age-race" title="Permalink">Youth age, race &amp; ethnicity <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside></aside>
            <div class="column-half" id="chart-grouped_column-demographics-child_race_grouped_under_9" data-stat-type="scaled-percentage" data-chart-title="Child population by age, race and ethnicity, 0 - 9 years" data-qualifier="Universe: {{ demographics.child_race_grouped_under_9.metadata.universe }}; Hispanic includes respondents of any race. Other categories are non-Hispanic."></div>
            <div class="column-half" id="chart-grouped_column-demographics-child_race_grouped_10_to_17" data-stat-type="scaled-percentage" data-chart-title="Child population by age, race and ethnicity, 10 - 17 years" data-qualifier="Universe: {{ demographics.child_race_grouped_10_to_17.metadata.universe }}; Hispanic includes respondents of any race. Other categories are non-Hispanic."></div>
        </section>

        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#young-men" id="young-men" title="Permalink">Boys &amp; young male population, age, race &amp; ethnicity <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside></aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.male_child_pop.total stat_type='number' %}
            </div>
            <div class="column-third">
                <div id="chart-pie-demographics-male_child_age_total_distribution" data-chart-title="Distribution of male youth by age" data-stat-type="percentage" data-initial-sort="-value" data-qualifier="Universe: {{ demographics.male_child_age_total_distribution.metadata.universe }}"></div>
            </div>        
            <div class="column-third">
                <div id="chart-pie-demographics-male_child_age_race_distribution" data-stat-type="scaled-percentage" data-chart-title="Distribution of male youth by race" data-initial-sort="-value" data-qualifier="Universe: {{ demographics.male_child_age_race_distribution.metadata.universe }}; Hispanic includes respondents of any race. Other categories are non-Hispanic."></div>
            </div> 
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#households" id="households" title="Permalink">Households <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=families.households.number_of_households stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=families.households.persons_per_household stat_type='number' %}
            </div>
            <div class="column-third" id="chart-pie-families-households-distribution" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Population by household type" data-qualifier="Universe: {{ families.households.distribution.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#families-with-children" id="families-with-children" title="Permalink">Families with children <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=families.families_with_children.percent_familes_with_children stat_type='percentage' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=families.households_with_children.percent_households_with_children stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-families-family_types-children" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Own Children Under 18 Years by Family Type" data-qualifier="Universe: {{ families.family_types.children.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#marital-status" id="marital-status" title="Permalink">Marital status <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third" id="chart-pie-families-marital_status" data-stat-type="percentage" data-qualifier="Universe: {{ families.marital_status.metadata.universe }}"></div>
            <div class="column-two-thirds" id="chart-grouped_column-families-marital_status_grouped" data-stat-type="scaled-percentage" data-chart-title="Marital status, by sex" data-qualifier="Universe: {{ families.marital_status_grouped.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#births" id="births" title="Permalink">Births <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside></aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=families.births.total stat_type='number' %}
            </div>
            <div class="column-third">
                <div id="chart-pie-families-births-race_distribution" data-chart-title="Distribution of births race and ethnicity" data-stat-type="percentage" data-initial-sort="-value" data-qualifier="Universe: {{ families.births.race_distribution.metadata.universe }}; Hispanic includes respondents of any race. Other categories are non-Hispanic."></div>
            </div> 
            <div class="column-third">
                <div id="chart-column-families-births-by_characteristic" data-stat-type="scaled-percentage" data-chart-title="Distribution of births by select characteristic" data-qualifier="Universe: {{ families.births.by_characteristic.metadata.universe }}"></div>
            </div> 
        </section>
        <section class="clearfix stat-row grouped-row">
            <aside></aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=families.fertility.total stat_type='percentage' %}
            </div>
            <div class="column-two-thirds">
                <div id="chart-column-families-fertility-by_age" data-stat-type="scaled-percentage" data-chart-title="Women who gave birth during past year, by age group" data-qualifier="Universe: {{ families.fertility.by_age.metadata.universe }}"></div>
            </div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#language" id="language" title="Permalink">Language <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.language.percent_non_english_at_home stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-social-language-children" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Language at home, children 5-17" data-qualifier="Universe: {{ social.language.children.metadata.universe }}"></div>
            <div class="column-third" id="chart-pie-social-language-adults" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Language at home, adults 18+" data-qualifier="Universe: {{ social.language.adults.metadata.universe }}"></div>
        </section>

    </div>
</article>



<article id="education" class="clearfix">
    <header class="section-contents">
        <h1>Education</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#ela-proficiency" id="ela-proficiency" title="Permalink">Third grade english language arts (ELA) proficiency <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-half">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.ela_math.percent_met_expectaions_in_ela stat_type='percentage' %}
            </div>
            <div class="column-half" id="chart-pie-social-ela_distribution" data-stat-type="percentage" data-qualifier="Universe: {{ social.ela_distribution.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#math-proficiency" id="math-proficiency" title="Permalink">Third grade math proficiency <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-half">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.ela_math.percent_met_expectaions_in_math stat_type='percentage' %}
            </div>
            <div class="column-half" id="chart-pie-social-math_distribution" data-stat-type="percentage" data-qualifier="Universe: {{ social.math_distribution.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#school-enrollment" id="school-enrollment" title="Permalink">School enrollment  <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-half">
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.enrollment.enrolled stat_type='number' %}
                </div>
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.enrollment.not_enrolled stat_type='number' %}
                </div>
            </div>
            <div class="column-half" id="chart-grouped_column-social-enrollment-youth_school_enrollment_grouped" data-stat-type="scaled-percentage" data-chart-title="School enrollment for 5 to 9 year olds by school type and sex" data-qualifier="Universe: {{ social.enrollment.youth_school_enrollment_grouped.metadata.universe }}"></div>            
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#graduation-rate" id="graduation-rate" title="Permalink">High school graduation <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-half">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.graduation.graduation_rate stat_type='percentage' %}
            </div>
            <div class="column-half" id="chart-pie-social-graduation_chart_data" data-stat-type="percentage" data-qualifier="Universe: {{ social.graduation_chart_data.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#educational-attainment" id="educational-attainment" title="Permalink">Educational attainment <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-half">
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.educational_attainment.percent_high_school_grad_or_higher stat_type='percentage' %}
                </div>
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.educational_attainment.percent_bachelor_degree_or_higher stat_type='percentage' %}
                </div>
            </div>
            <div class="column-half" id="chart-histogram-social-educational_attainment_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by minimum level of education" data-qualifier="Universe: {{ social.educational_attainment_distribution.metadata.universe }}"></div>
        </section>

    </div>
</article>


<article id="economics" class="clearfix">
    <header class="section-contents">
        <h1>Family &amp; Economic Security</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#income" id="income" title="Permalink">Income <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.income.per_capita_income_in_the_last_12_months stat_type='dollar' %}
            </div>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.income.median_household_income stat_type='dollar' %}
            </div>
            <div class="column-half" id="chart-histogram-economics-income-household_distribution" data-chart-title="Household income" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ economics.income.household_distribution.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#child-poverty" id="child-poverty" title="Permalink">Child poverty <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.poverty.children.Below stat_type='percentage' %}
            </div>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.poverty.percent_receiving_public_assistance stat_type='percentage' %}
            </div>
            <div class="column-half" id="chart-histogram-economics-poverty-children_distribution_by_age" data-chart-title="Children living below the poverty line by age" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ economics.poverty.children_distribution_by_age.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#poverty" id="poverty" title="Permalink">Poverty <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.poverty.percent_below_poverty_line stat_type='percentage' %}
            </div>
            <div class="column-three-quarters" id="chart-grouped_column-economics-poverty-poverty_family_educational_attainment" data-stat-type="scaled-percentage" data-chart-title="Family poverty rate by educational attainment of householder" data-qualifier="Universe: {{ economics.poverty.poverty_family_educational_attainment.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#food-assistance" id="food-assistance" title="Permalink">Food assistance program participation <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.poverty.percent_receiving_food_assistance stat_type='percentage' %}
            </div>
            <div class="column-three-quarters" id="chart-grouped_column-economics-poverty-food_assistance_household_type" data-stat-type="scaled-percentage" data-chart-title="Household food/SNAP assistance participation in the past 12 months by household type" data-qualifier="Universe: {{ economics.poverty.food_assistance_household_type.metadata.universe }}"></div>
        </section>


        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#employment" id="employment" title="Permalink">Employment <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.employment.unemployment_rate stat_type='percentage' %}
            </div>
            {% comment %} <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.employment.nowork_rate stat_type='percentage' %}
            </div> {% endcomment %}
            <div class="column-three-quarters" id="chart-grouped_column-economics-employment-youth_school_employment_grouped" data-stat-type="scaled-percentage" data-chart-title="School enrollment and labor force (LF) participation for 16 - 19 year olds by sex" data-qualifier="Universe: {{ economics.employment.youth_school_employment_grouped.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#commute" id="commute" title="Permalink">Transportation to work <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.employment.mean_travel_time stat_type='time' stat_suffix='minutes' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-economics-employment-transportation_distribution" data-chart-title="Means of transportation to work" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ economics.employment.transportation_distribution.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#vehicle-availability" id="vehicle-availability" title="Permalink">Vehicle availabilty <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.employment.mean_number_of_vehicles stat_type='number' stat_suffix='vehicles' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-economics-employment-distribution_vehicle_availabilty" data-chart-title="Vehicle available to workers, 16 years and over" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ economics.employment.distribution_vehicle_availabilty.metadata.universe }}"></div>
        </section>

    </div>
</article>


<article id="housing" class="clearfix">
    <header class="section-contents">
        <h1>Housing</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#housing-occupancy" id="housing-occupancy" title="Permalink">Units &amp; occupancy <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=housing.units.number stat_type='count' %}
            </div>
            <div class="column-third" id="chart-pie-housing-units-occupancy_distribution" data-stat-type="percentage" data-chart-title="Occupied vs. Vacant" data-initial-sort="-value" data-qualifier="Universe: {{ housing.units.occupancy_distribution.metadata.universe }}"></div>
            <div class="column-third" id="chart-pie-housing-ownership-distribution" data-stat-type="percentage" data-chart-title="Ownership of occupied units" data-initial-sort="-value" data-qualifier="Universe: {{ housing.ownership.distribution.metadata.universe }}"></div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <aside>
            </aside>
            <div class="column-third" id="chart-pie-housing-units-structure_distribution" data-stat-type="percentage" data-chart-title="Types of structure" data-initial-sort="-value" data-qualifier="Universe: {{ housing.units.structure_distribution.metadata.universe }}"></div>
            <div class="column-two-thirds" id="chart-histogram-housing-length_of_tenure" data-stat-type="scaled-percentage" data-chart-title="Year moved in, by percentage of population" data-qualifier="Universe: {{ housing.length_of_tenure.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#housing-costs" id="housing-costs" title="Permalink">Housing costs <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=housing.costs.median_costs stat_type='dollar' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-housing-costs-housing_costs_distribution" data-chart-title="Percent of households spending 30% or more of household income on housing by household income" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ housing.costs.housing_costs_distribution.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#housing-value" id="housing-value" title="Permalink">Housing value <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=housing.ownership.median_value stat_type='dollar' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-housing-ownership-value_distribution" data-chart-title="Value of owner-occupied housing units" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ housing.ownership.value_distribution.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#geographical-mobility" id="geographical-mobility" title="Permalink">Geographical mobility <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=housing.migration.moved_since_previous_year stat_type='percentage' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-housing-migration_distribution" data-stat-type="scaled-percentage" data-chart-title="Population migration since previous year" data-qualifier="Universe: {{ housing.migration_distribution.metadata.universe }}"></div>
        </section>

    </div>
</article>


<article id="social" class="clearfix">
    <header class="section-contents">
        <h1>Health &amp; safety</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#infant-mortality" id="infant-mortality" title="Permalink">Infant mortality <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-half">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.infant_mortality.infant_mortality stat_type='number' %}
            </div>
            <div class="column-half" id="chart-pie-social-infant_mortality_chart_data" data-stat-type="percentage" data-qualifier="Universe: {{ social.infant_mortality_chart_data.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#health-insurance" id="health-insurance" title="Permalink">Health insurance <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.health_insurance.uninsured stat_type='percentage' %}
            </div>
            <div class="column-three-quarters" id="chart-grouped_column-social-health_insurance-coverage_distribution" data-stat-type="scaled-percentage" data-chart-title="Percent uninsured by age group" data-qualifier="Universe: {{ social.health_insurance.coverage_distribution.metadata.universe }}"></div>
        </section>

    </div>

</article>

<article id="social" class="clearfix">
    <header class="section-contents">
        <h1>Other Demographics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#place-of-birth" id="place-of-birth" title="Permalink">Place of birth <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside></aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.place_of_birth.percent_foreign_born stat_type='percentage' %}
            </div>
            <div class="column-three-quarters" id="chart-column-social-place_of_birth-distribution" data-chart-title="Place of birth for foreign-born population" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ social.place_of_birth.distribution.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#veteran-status" id="veteran-status" title="Permalink">Veteran status <i class="fa fa-link"></i></a> <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.veterans.percentage stat_type='percentage' %}
            </div>
            <div class="column-half" id="chart-column-social-veterans-wartime_service" data-stat-type="number" data-chart-title="Veterans by wartime service" data-qualifier="Universe: {{ social.veterans.wartime_service.metadata.universe }}; Civilian veterans who served during wartime only"></div>
            <div class="column-quarter">
                <a class="stat number">
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.veterans.number stat_type='number' stat_class='secondary' stat_wrapper="false" %}
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.veterans.sex.male stat_type='number' stat_class='secondary' stat_wrapper="false" %}
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.veterans.sex.female stat_type='number' stat_class='secondary' stat_wrapper="false" %}
                </a>
            </div>
        </section>
        <p class="">Interact with charts and statistics for <span class="glossary-term" data-keyword="margin-of-error">margins of error</span> and additional information.</p>
    </div>

</article>

{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script src="{{ STATIC_URL }}js/charts.js"></script>
<!--[if gt IE 9]><!-->
<script src="{{ STATIC_URL }}js/cr-leaflet.js"></script>
<!--<![endif]-->
<script type="text/javascript">
// Allow Ajax POST requests to bypass Django's CSRF check
// https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
var csrftoken = '{{ csrf_token }}';
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

// Make the header map
d3.json(CR_API_URL + '/1.0/geo/tiger2016/{{ geography.this.full_geoid }}?geom=true', function(error, json) {
    if (error) return console.warn(error);
    var allowMapDrag = (browserWidth > 480) ? true : false;

    // draw a geom
    var map = L.map('slippy-map', {
        scrollWheelZoom: false,
        zoomControl: false,
        doubleClickZoom: false,
        boxZoom: false,
        keyboard: false,
        dragging: allowMapDrag,
        touchZoom: allowMapDrag
    });

    // set a tile layer
    var tiles = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.png', { attribution: 'Map tiles by <a href=\"http://stamen.com\">Stamen Design</a>, under <a href=\"https://creativecommons.org/licenses/by/3.0/\" target=\"_blank\">CC BY 3.0</a>. Data by <a href=\"http://www.openstreetmap.org/\" target=\"_blank\">OpenStreetMap</a>, under ODbL.'
    });

    // add these tiles to our map
    map.addLayer(tiles);

    if (allowMapDrag) {
        map.addControl(new L.Control.Zoom({
            position: 'topright'
        }));
    }

    if (CensusReporter.SummaryLevelLayer && thisSumlev !== "010") {
        var defaultStyle = {
                "clickable": true,
                "color": "#76AFF2",
                "fillColor": "#f1f1f2",
                "weight": 1,
                "opacity": 0.5,
                "fillOpacity": 0.3,
            },
        geojsonTileLayer = new CensusReporter.SummaryLevelLayer(thisSumlev, {},
            {
            style: defaultStyle,
            onEachFeature: function(feature, layer) {
                if (feature.properties.geoid == thisGeoID)
                    return;

                // filter out non-Michingan results
                if (feature.properties.name.search(', MI') != -1 || feature.properties.geoid.search('86000US48') != -1 || feature.properties.geoid.search('86000US49') != -1) {
                    layer.bindLabel(feature.properties.name, {direction: 'auto'});
                    layer.on('mouseover', function() {
                        layer.setStyle({
                            "weight": 2,
                            "fillOpacity": 0.4,
                            "fillColor": "#76AFF2",
                        });
                    });
                    layer.on('mouseout', function() {
                        layer.setStyle(defaultStyle);
                    });
                    layer.on('click', function() {
                        // add spinner to page load 
                        var spinnerTarget = document.getElementById("body-spinner");
                        if (!spinnerTarget) {
                            $('body').append('<div id="body-spinner"></div>');
                            spinnerTarget = document.getElementById('body-spinner');
                        } 
                        spinner.spin(spinnerTarget);
                        window.location.href = '/profiles/' + feature.properties.geoid + '-' + slugify(feature.properties.name);
                    });
                } else {
                    var invisibleStyle = {
                        "clickable": false,
                        "color": "#fff",
                        "fillColor": "#fff",
                        "weight": 0,
                        "opacity": 0,
                        "fillOpacity": 0,
                    }
                    layer.setStyle(invisibleStyle);
                }

            }
        });
        map.addLayer(geojsonTileLayer);
    }

    var featureLayer = L.geoJson(json, {
        style: {
            "fillColor": "#A975D7",
            "fillOpacity": 0.5,
            "color": "#686867",
            "weight": 2,
            "clickable": false
        }
    });
    map.addLayer(featureLayer);
    var objBounds = featureLayer.getBounds();

    if (thisSumlev === "010") {
        objBounds = L.latLngBounds(L.latLng(24.396, -124.849), L.latLng(49.384, -66.885));
    }

    if (browserWidth > 768) {
        var z;
        for(z = 16; z > 2; z--) {
            var swPix = map.project(objBounds.getSouthWest(), z),
                nePix = map.project(objBounds.getNorthEast(), z),
                pixWidth = Math.abs(nePix.x - swPix.x),
                pixHeight = Math.abs(nePix.y - swPix.y);
            if (pixWidth <  500 && pixHeight < 400) {
                break;
            }
        }

        map.setView(objBounds.getCenter(), z);
        map.panBy([-270, 0], {animate: false});
    } else {
        map.fitBounds(objBounds);
    }
})

// Create all the charts
var Charts = {},
    chartContainers = $('[id^=chart-]'),
    defaultDataRelease = '{{ geography.census_release }}',
    releases = [defaultDataRelease],
    profileData = {{ profile_data_json }};

var gracefulType = function(chartType) {
    // convert certain chart types to more readable versions at narrow widths
    if (browserWidth <= 640) {
        if (chartType == 'column' || chartType == 'histogram') {
            return 'bar'
        } else if (chartType == 'grouped_column') {
            return 'grouped_bar'
        }
    }
    return chartType
}

var makeCharts = function() {
    $.each(chartContainers, function(i, obj) {
        $(obj).empty();
        var chartID = $(this).prop('id'),
            chartDataKey = chartID.replace('chart-','').replace('alt-',''),
            chartDataID = chartDataKey.split('-'),
            chartType = gracefulType(chartDataID[0]),
            chartData = profileData[chartDataID[1]],
            chartChartTitle = $(this).data('chart-title'),
            chartChartShowYAxis = $(this).data('chart-show-y-axis'),
            chartInitialSort = $(this).data('initial-sort'),
            chartStatType = $(this).data('stat-type'),
            chartQualifier = $(this).data('qualifier') || null,
            geographyData = profileData['geography'];

        // allow arbitrary nesting in API data structure
        var drilldown = chartDataID.length - 1;
        if (drilldown >= 2) {
            for (var n = 2; n <= drilldown; n++) {
                chartData = chartData[chartDataID[n]]
            }
        }

        // determine whether data point is from anything other
        // than the primary ACS release for this page
        for (var key in chartData) if (chartData.hasOwnProperty(key)) break;
        var thisRelease = chartData[key]['acs_release'],
            noteRelease = (thisRelease != defaultDataRelease) ? thisRelease + ' data' : null;

        chartQualifier = Array(chartQualifier, noteRelease)
                .filter(function(n) { return n }).join('; ');

        var chartstuff = {
            chartContainer: chartID,
            chartDataKey: chartDataKey,
            chartType: chartType,
            chartHeight: 160,
            chartData: chartData,
            chartQualifier: chartQualifier,
            chartChartTitle: chartChartTitle,
            chartInitialSort: chartInitialSort,
            chartStatType: chartStatType,
            geographyData: geographyData,
            chartColorScale: 'Kat2',
        }
        try {
            Charts[i] = Chart(chartstuff);
        } catch(e) {
            console.log(e);
            console.log("Error making chart " + chartID)
            console.log(chartstuff);
        }

        // build array of releases used on this page for citations
        if (noteRelease) { releases.push(noteRelease) }
    });
}
makeCharts();

// listen for resize, redraw charts to new dimensions
var lazyRedrawCharts = _.debounce(function() {
    window.browserWidth = document.documentElement.clientWidth;
    window.browserHeight = document.documentElement.clientHeight;
    makeCharts();
}, 50);
$(window).resize(lazyRedrawCharts);

// Add note to rows with flagged MOE
var flaggedMOE = $('.stat-row sup'),
    daggerNote = '<p><sup>&dagger;</sup> Margin of error is at least 10 percent of the total value. Take care with this statistic.</p>';

flaggedMOE.closest('.stat-row').find('aside').html(daggerNote);

// Enable the single-table topic picker
var thisSumlev = '{{ geography.this.sumlevel }}',
    thisGeoShortName = '{{ geography.this.short_name }}',
    thisGeoID = '{{ geography.this.full_geoid }}',
    placeGeoID = '{{ geography.parents.place.full_geoid }}',
    CBSAGeoID = '{{ geography.parents.CBSA.full_geoid }}',
    countyGeoID = '{{ geography.parents.county.full_geoid }}',
    stateGeoID = '{{ geography.parents.state.full_geoid }}',
    nationGeoID = '{{ geography.parents.nation.full_geoid }}';

// Update the header's list of parent geographies
var parentLinkContainer = $('#header-box .caption'),
    parentLinksPrefix = '<span class="glossary-term">{{ geography.this.sumlevel_name|capfirst }}</span> in: ',
    parentGeoAPI = CR_API_URL + '/1.0/geo/tiger2016/' + thisGeoID + '/parents',
    tilesGeoAPI = 'https://embed.censusreporter.org/1.0/geo/tiger2016/tiles/' + thisSumlev + '/{z}/{x}/{y}.geojson';

// for touch devices, still allow context toggle
$('.stat-row').on('click', '.stat', function() {
    $(this).find('.context').toggle();
})

if (!!parentLinkContainer) {
    // set up the listener for trigger to reveal hidden groups
    $('#header-box').on('click', '.link-reveal', function() {
        $(this).hide().next('.hidden').show();
        return false;
    });

    // hit the /parents API endpoint
    $.getJSON(parentGeoAPI)
        .done(function(results) {
            console.log(results);
            // filter out 'this' from the parents
            // filter out any parents further up from state
            var parents = _.reject(results['parents'], function(p) {
                return p.relation === 'this' || p.relation === 'place' || p.relation === 'nation';
            });
            

            // list of unique parent sumlev types, maintaining order
            var parentRelations = _.uniq(_.pluck(parents, 'sumlevel'));
            // collect parents into individual sumlev groups
            var parentGroups = _.groupBy(parents, function(d) {
                return d.sumlevel;
            });
            // for each parent sumlev type ...
            var parentLinkSets = _.map(parentRelations, function(r) {
                // ... compile a set of links to individual profile pages
                var parentLinkSet = _.map(parentGroups[r], function(v, k) {
                    return '<a href="/profiles/' + v.geoid + '-' + slugify(v.display_name) + '/">' + v.display_name + '</a>';
                });
                var numParents = parentLinkSet.length;
                // if more than one of a sumlev type, group behind reveal link
                if (numParents > 1) {
                    return '<a href="#" class="link-reveal">'+numParents+' '+ sumlevMap[r]['plural'] +'</a><span class="hidden">'+parentLinkSet.join(', ')+'</span>';
                } else {
                    // just one of this sumlev type, so add it to list
                    return parentLinkSet;
                }
            })
            // push the whole thing into the header box ... thingy
            parentLinkContainer.html(parentLinksPrefix + parentLinkSets.join(', '));
            $('body').trigger('glossaryUpdate', parentLinkContainer);
        });
}

// add citations for each data release used for page
if (releases.length > 1) {
    var explain = '<p class="explain"><em>This profile displays data from more than one ACS release. Charts not derived from ' + defaultDataRelease + ' data are noted with an *.</em></p>'
    $('.content-container').append(explain);
}

// polyfill for String.prototype.startsWith
if (!String.prototype.startsWith) {
    String.prototype.startsWith = function(searchString, position){
      position = position || 0;
      return this.substr(position, searchString.length) === searchString;
  };
}

var makeCitation = function(year, release) {
	if (release.startsWith('D3 Open Data Portal')) {
		var citation = '<p class="explain"><strong>Citation:</strong> ' +
	    'Data Driven Detroit Open Data Portal (<span id="cite-release-year">' + year + '</span>). ' +
	    'Retrieved from <em>State of the Detroit Child Profile page for {% firstof geography.this.full_name geography.this.short_name %}</em> <a href="{{ request.build_absolute_uri }}">{{ request.build_absolute_uri }}</a></p>';
	} else {
		var citation = '<p class="explain"><strong>Citation:</strong> ' +
	    'U.S. Census Bureau (<span id="cite-release-year">' + year + '</span>). ' +
	    '<em>American Community Survey <span id="cite-release">' + release + '</span> estimates.</em> ' +
	    'Retrieved from <em>State of the Detroit Child Profile page for {% firstof geography.this.full_name geography.this.short_name %}</em> <a href="{{ request.build_absolute_uri }}">{{ request.build_absolute_uri }}</a></p>';
	}


    $('.content-container').append(citation);
}

$.each($.unique(releases), function(i, v) {
    var bits = v.split(" "),
        year = bits[1],
        release = bits[2];

    // handle exception for D3 open data portal
    // TO DO: update releases to add year for D3 content
    if (year == 'Open') {
    	year = '2014';
    	release = 'D3 Open Data Portal'
    }

    makeCitation(year, release);
});

Glossary.init("{% url 'glossary' %}",".glossary-term");

// set up dropdown menu listeners


</script>
<script src="{{ STATIC_URL }}js/profile.topic.picker.js"></script>
{% endblock %}
