{% extends '_base.html' %}{% load humanize partition %}

{% block head_title %}{{ block.super }} | Home{% endblock %}
{% block head_meta_description %}{% endblock %}
{% block body_id %}homepage{% endblock %}

{% block content_container %}
<div class="content-container clearfix tan-stripe">
    <article id="examples" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">State of the Detroit Child</h1>
            <p>
                The goal of the State of the Detroit Child data platform is to provide reliable, timely data to improve the well-being of Detroit's kids by driving informed decision making and advocacy at every level, from policymakers, foundations and nonprofit organizations to individuals and families.
            </p>
            <p>
                The State of the Detroit Child tool provides a comprehensive data view of Detroit children from birth to age 18 that situates this population in the context of the city at large. The information is regularly updated as new data are available, so changes and emerging trends can quickly be identified.
            </p>
        </header>
        <section class="card-container clearfix">
            <h2 class="column-full subhead">Critical Questions</h2>
            <a class="column-third card" href="/data/table/?table=D3-Graduation-Rates&geo_ids=06000US2616322000,05000US26163,04000US26&primary_geo_id=06000US2616322000#valueType|percentage">
                <img src="{{ STATIC_URL }}img/examples/high_school_grad_rates.png">
                <span class="caption">What is the graduation rate for all of Detroit high schools?  <span class="more">More &rarr;</span></span>
            </a>
            <a class="column-third card" href="/data/map/?table=B17006&geo_ids=06000US2616322000,860|06000US2616322000&primary_geo_id=06000US2616322000#column|B17006002,sumlev|860">
                <img src="{{ STATIC_URL }}img/examples/poverty_status_children.png">
                <span class="caption">How many Detroit kids live in poverty? <span class="more">More &rarr;</span></span>
            </a>
            <a class="column-third card" href="/data/map/?table=B01001&geo_ids=06000US2616322000,05000US26163,04000US26,01000US,860|06000US2616322000&primary_geo_id=06000US2616322000#column|B01001027,sumlev|860">
                <img src="{{ STATIC_URL }}img/examples/child_distribution.png">
                <span class="caption">How many children live in Detroit and where in the city do they live? <span class="more">More &rarr;</span></span>
            </a>
            <a class="column-third card" href="/profiles/06000US2616322000-detroit-city-wayne-county-mi/#employment">
                <img src="{{ STATIC_URL }}img/examples/youth_employment.png">
                <span class="caption">How many youth in Detroit are employed? <span class="more">More &rarr;</span></span>
            </a>
            <a class="column-third card" href="/data/table/?table=B07013&geo_ids=06000US2616322000,05000US26163,04000US26&primary_geo_id=06000US2616322000">
                <img src="{{ STATIC_URL }}img/examples/geographic_mobility.png">
                <span class="caption">How many Detroit households have remained in the same house for 1 year or longer? <span class="more">More &rarr;</span></span>
            </a>
            <a class="column-third card" href="/profiles/06000US2616322000-detroit-city-wayne-county-mi/#health-insurance">
                <img src="{{ STATIC_URL }}img/examples/percent_uninsured.png">
                <span class="caption">How many children in Detroit do not have health insurance? <span class="more">More &rarr;</span></span>
            </a>
        </section>
    </article>
</div>


<div class="content-container clearfix">
    <article id="explore" class="clearfix wrapper">
        <header class="column-full">
            <h3 class="article-header">Explore datasets and place profiles across Detroit and Michigan!</h3>
            <br>
        </header>
        {% include "data/_blocks/_data_query_builder.html" %}
    </article>
    <article id="profile" class="clearfix wrapper">
        <section class="column-full clearfix big-action">
            <h1 class="article-header">Profile</h1>
            <div id="geography-select-wrapper" class="input-wrapper">
                <input name="geography_select" class="geography-select" type="text" placeholder="Search for Michigan places or zip codes..." autocomplete="off">
                <div class="geolocate-only">
                    <span class="or">or</span>
                    <a href="{% url 'locate' %}" class="action-button"><i class="fa fa-map-marker"></i> Search by street address</a>
                </div>
            </div>
        </section>
    </article>

</div>

<div class="content-container clearfix tan-stripe">
    <article id="topics" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">Topics</h1>
            <p class="explainer">Here you'll find a starting point to accessing Census data related to the Detroit Child. You can click on "Getting Started" for a broad overview of the American Community Survey or jump right into a topic and start exploring the data.</p>
        </header>
        <section class="clear clearfix">
            {% for row in topics_list|columns:3 %}
            <div class="column-row clearfix">
                {% for topic in row %}
                <div class="column-third">
                    <h2 id="topic-{{ topic.slug }}"><a href="{% url 'topic_detail' topic.slug %}">{{ topic.title }}</a></h2>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </section>
    </article>
</div>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script>
// show 'use my current location' button
if (Modernizr.geolocation) {
    $('.geolocate-only').show();
}
</script>
<script src="{{ STATIC_URL }}js/data.query.builder.js"></script>
{% endblock %}