{% extends '_new_homepage_base.html' %}{% load humanize partition %}

{% block head_title %}{{ block.super }} | Home{% endblock %}
{% block head_meta_description %}{% endblock %}
{% block body_id %}homepage{% endblock %}

{% block content_container %}
    {#    TODO: Figure out why this comment is necessary to display everything below#}
    <!-- -->
    <div class="parent-container">
            <nav class="homepage-nav" id="nav">
                    <div class="container">
                        <ul>
                            <li>
                                <a class='nav-link' href="#our-goal">Our Goal</a>
                            </li>
                            <li>
                                <a class='nav-link' href="#what-we-offer">What We Offer</a>
                            </li>
                            <li>
                                <a id="critical-questions-nav" class='nav-link' href="#tabs">Critical Questions</a>
                            </li>
                            <li>
                                <a id="explore-nav" class='nav-link' href="#tabs">Explore</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a id="topics-nav" class='nav-link' href="#tabs">Topics</a>
                            </li>
                            <li>
                                <a class='nav-link' href="#additional-resources">Additional Resources</a>
                            </li>
                            <li>
                                <a class='nav-link' href="gallery/">Custom Profile Gallery</a>
                            </li>
                        </ul>
                    </div>
                </nav>
        <div class="main-container">
    <div class="c-intro-panel">
        {% comment %} <h1 class="body-text-UC">We're working to add and update datasets at the moment, so please pardon any slow or unexpected behavior. Thank you!</h1> {% endcomment %}
      <div class="c-intro-panel-color">
        <header>
            <h1><span>Welcome To The</span><br />Housing Information Portal</h1>
            <div class="navigation-icon-holder">
                <img class="navigation-icon" src="{{ STATIC_URL }}img/navigation-icon.svg" id="navigationIcon" />
            </div>
        </header>
      </div>
        <main>
            <p class="body-text">Berati occulpa estius dollate eiciet ea sus coria vendae consed ut quiatur audiscid quam fuga. Et magnia con natem fugitio repuditiunt omnitatem estem fuga. Itatium ea sequossunt vendem aut mint. Cus numqui berferc hicaecest, toribusam dolor sit a qui reperibus poreiur mi.</p>
        </main>
        <!--
        <div id="tabs" class="c-tabs-panel">
            <ul>
                <li><a href="#tabs-critical-questions">Critical Questions</a></li>
                <li><a href="#tabs-explore">Explore</a></li>
                <li><a href="#tabs-topics">Topics</a></li>
            </ul>
            <div id="tabs-explore">
                <div class="c-explore-panel" id="explore">
                    {% comment %} <div class="l-flex-center">
                        <img class="section-main-image" src="{{ STATIC_URL }}img/explore.png" />
                    </div> {% endcomment %}
                    <div class="l-flex-center">
                        <h1 class="body-text-large">Explore hundreds of datasets by location across Detroit and Michigan!</h1>
                    </div>
                    <div class="l-flex-center" id="geography-select-wrapper">
                        <input class="geography-select" type="text" placeholder="Search by Michigan places or zip codes…" autocomplete="off" />
                    </div>
                    <div class="l-flex-center">
                        <a href="{% url 'draw' %}">
                            <button>
                                <img src="{{ STATIC_URL }}img/map-pin.svg"/>Search on a Map or Create your own Profile
                            </button>
                        </a>
                    </div>
                    <div class="l-flex-center">
                        <a href="{% url 'gallery' %}">
                            <button>
                                <img src="{{ STATIC_URL }}img/map-pin.svg"/>See what other people have created
                            </button>
                        </a>
                    </div>
                    <div class="l-flex-center">
                        <img class="c-arrow" src="{{ STATIC_URL }}img/section-arrow.svg" />
                    </div>
                </div>
            </div>
            <div id="tabs-topics">
                <div class="c-topics-panel" id="topics">
                    {% comment %} <div class="l-flex-center">
                        <img class="section-main-image" src="{{ STATIC_URL }}img/topics.png" />
                    </div> {% endcomment %}
                    <div class="l-flex-center">
                        <p class="body-text">Here you'll find a starting point to accessing census data related to Detroit children. Click "Getting Started" for
                            a broad overview of the data or jump right into a topic and start exploring.</p>
                    </div>
                    <div class="l-flex-center">
                        <div class="button-group">
                            <a href="{% url 'topic_detail' 'getting-started' %}">
                                <button class="c-topics-button">Getting Started</button>
                            </a>
                            <a href="{% url 'topic_detail' 'table-codes' %}">
                                <button class="c-topics-button">Table Codes</button>
                            </a>
                            <a href="{% url 'glossary' %}">
                                <button class="c-topics-button">Census Terms</button>
                            </a>
                        </div>
                    </div>
                    <div class="l-flex-center" >
                        <div id="topic-select-wrapper">
                            <input id="topic-select" class="c-input-text c-input-text--grey" type="text" placeholder="Search for a topic by keyword…" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="l-flex-space-between">
                        {% for row in topics_list|columns:7 %}
                            <ul class="topics-column">
                                {% for topic in row %}
                                    <li>
                                        <a class="hyperlink-regular" id="topic-{{ topic.slug }}"
                                        href="{% url 'topic_detail' topic.slug %}">{{ topic.title }}</a>
                                    </li>

                                {% endfor %}
                            </ul>

                        {% endfor %}
                    </div>
                    <div class="l-flex-center">
                        <div class="dropdown">
                            <button>Topics &or;</button>
                            <div class="topics-dropdown-content">
                                {% for row in topics_list|columns:7 %}
                                    {% for topic in row %}
                                        <a href="{% url 'topic_detail' topic.slug %}">{{ topic.title }}</a>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="l-flex-center">
                        <img class="c-arrow" src="{{ STATIC_URL }}img/section-arrow.svg" />
                    </div>
                </div>
            </div>
            <div id="tabs-critical-questions">
                <div class="c-critical-questions-panel" id="critical-questions">
                    <div class="l-flex-center">
                        <p class="body-text">The State of the Detroit Child is desinged to give you quick answers to questions you have about the well-being of Detroit's kids. Here are a sample of the critcal questions this tool can help answer.</p>
                    </div>
                    <ul>
                        <li>
                            <a href="/data/map/?table=B01001&geo_ids=06000US2616322000,05000US26163,04000US26,860|06000US2616322000&primary_geo_id=06000US2616322000#column|B01001027,sumlev|860">
                                <div class="image-holder">
                                    <img src="{{ STATIC_URL }}img/DataDrivenDetroit-Illustration1.png"/>
                                </div>
                                <p>Where do children in Detroit live? </p>
                            </a>

                        </li>
                        <li>
                            <a href="/profiles/06000US2616322000-detroit-city-wayne-county-mi/#ela-proficiency">
                                <div class="image-holder">
                                    <img src="{{ STATIC_URL }}img/DataDrivenDetroit-Illustration2.png"/>
                                </div>
                                <p>How many third graders are proficient in English Language Arts? </p>
                            </a>

                        </li>
                        <li>
                            <a href="/data/map/?table=B17006&geo_ids=06000US2616322000,860|06000US2616322000&primary_geo_id=06000US2616322000#column|B17006002,sumlev|860">
                                <div class="image-holder">
                                    <img src="{{ STATIC_URL }}img/DataDrivenDetroit-Illustration3.png"/>
                                </div>
                                <p>How does child poverty differ across the city? </p>
                            </a>

                        </li>
                        <li>
                            <a href="/profiles/06000US2616322000-detroit-city-wayne-county-mi/#graduation-rate">
                                <div class="image-holder">
                                    <img src="{{ STATIC_URL }}img/DataDrivenDetroit-Illustration4.png"/>
                                </div>
                                <p>What’s the high school graduation rate?</p>
                            </a>

                        </li>
                        <li>
                            <a href="/profiles/06000US2616322000-detroit-city-wayne-county-mi/#employment">
                                <div class="image-holder">
                                    <img src="{{ STATIC_URL }}img/DataDrivenDetroit-Illustration5.png"/>
                                </div>
                                <p>How many youth are neither in school nor working?</p>
                            </a>

                        </li>
                        <li>
                            <a href="/profiles/06000US2616322000-detroit-city-wayne-county-mi/#births">
                                <div class="image-holder">
                                    <img src="{{ STATIC_URL }}img/DataDrivenDetroit-Illustration6.png"/>
                                </div>
                                <p>How many mothers in Detroit did not receive adequate prenatal care?</p>
                            </a>
                        </li>
                    </ul>
                    <div class="l-flex-center">
                        <img class="c-arrow" src="{{ STATIC_URL }}img/section-arrow.svg" />
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="l-flex-center">
            <img class="c-arrow" src="{{ STATIC_URL }}img/section-arrow.svg" />
        </div> {% endcomment %}
    </div>
    <div class="c-our-goal-panel" id="our-goal">
        <div class="l-flex-center">
            <img class="section-header-img" src="{{ STATIC_URL }}img/our-goal.png" />
        </div>
    </div>
    -->

    </div>
    <div class="c-map-panel">
      <div class="section">
          <h2 class="subhead">I want to learn about a...</h2>
          <p class="body-text">These tools are designed to provide more data on a location based on geographical area via a map, or by Parcel ID or address.</p>
          <div class="l-flex-space-between l-flex-center">
            <div>
              <a href="">
                <img src="{{ STATIC_URL }}img/geographic-select-placeholder.png" alt="">
                <h3>Geographic Area</h3>
              </a>
            </div>
              <div>
                <a href="">
                  <img src="{{ STATIC_URL }}img/parcel-id-placeholder.png" alt="">
                  <h3>Parcel ID or Address</h3>
                </a>
              </div>
      </div>
    </div>
    <div class="c-IAB-panel">
      <div class="section">
        <h2 class="subhead">Information For Action</h2>
        <p class="body-text">These briefs are written by local policy experts from XYZ to give an idea what kind of actions and strategies can be informed by this data</p>
        <ul>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/housing-market-icon.png" />
              </div>
              <h3>Detroit's Affordable Housing Market</h3>
            </a>
          </li>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/demolition-icon.png" />
              </div>
              <h3>Impact of Detroit's Demolition Practices</h3>
            </a>
          </li>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/michigan-market-icon.png" />
              </div>
              <h3>Southest Michigan's Housing Market</h3>
            </a>
          </li>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/inclusive-growth-icon.png" />
              </div>
              <h3>Toward Inclusive Growth In Detroit</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="c-studies-panel" id="what-we-offer">
        <div class="section">
          <h2 class="subhead">Case Studies</h2>
          <p class="body-text">Learn more about the history of Detroit housing data with these collected case studies written by ABC and published by XYZ.</p>
          <ul>
              <li>
                  <img class="" src="{{ STATIC_URL }}img/case-studies-holder.png" />
                  <h2>Title</h2>
                  <h3>Date Placeholder</h3>
                  <p class="body-text">A comprehensive view of the conditions Detroit children experience</p>
                  <a href="">Read More</a>
              </li>
              <li>
                  <img class="" src="{{ STATIC_URL }}img/case-studies-holder.png" />
                  <h2>Title</h2>
                  <h3>Date Placeholder</h3>
                  <p class="body-text">Data from the granular (census tract and zip code)  to the large-scale (city and congressional district) for anywhere in the state of Michigan</p>
                  <a href="">Read More</a>
              </li>
              <li>
                  <img class="" src="{{ STATIC_URL }}img/case-studies-holder.png" />
                  <h2>Title</h2>
                  <h3>Date Placeholder</h3>
                  <p class="body-text">Information displayed through interactive visualizations that make the data easy to understand</p>
                  <a href="">Read More</a>
              </li>
          </ul>
      </div>
    </div>
    <div class="c-additional-resources-panel" id="additional-resources">
      <div class="section">
        <h2 class="subhead">Other Resources</h2>
        <p class="body-text">Here you’ll find links to other resources like interactive tools, maps, and academic publications.</p>
        <ul>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/map-icon.png" />
              </div>
              <h3>Map</h3>
            </a>
          </li>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/news-icon.png" />
              </div>
              <h3>News</h3>
            </a>
          </li>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/blog-icon.png" />
              </div>
              <h3>Blog</h3>
            </a>
          </li>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/ffiec-icon.png" />
              </div>
              <h3>FFIEC</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <footer>
        <div class="l-flex-space-between">
          <ul id=footer-nav>
            <li><a href="">Home</a></li>
            <li><a href="">Map</a></li>
            <li><a href="">Case<br />Studies</a></li>
            <li><a href="">Information<br />Action Briefs</a></li>
            <li><a href="">Blog</a></li>
          </ul>
            <div class="details">
              <h2 class="subhead">INTERESTED IN ADDING DATA TO THE PORTAL?</h2>
                <p class="body-text">We are happy to explore additional partnerships to make this data portal more comprehensive.</p>
                <p class="body-text">Please reach out to us at <a href="mailto:info@datadrivendetroit.org" target="_top"> info@datadrivendetroit.org</a> to talk more!</p>
<!--
                <div class="divider"></div>
                <div class="c-social-media">
                    <ul>
                        <li class="l-flex-align-center">
                            <a href="https://www.facebook.com/DataDrivenDetroit">
                                <img class="social-icons" src="{{ STATIC_URL }}img/facebook.png"/>
                            </a>
                            <a class="hyperlink-bold-small" href="https://www.facebook.com/DataDrivenDetroit">D3 on Facebook</a>
                        </li>
                        {% comment %} <li class="l-flex-align-center">
                            <a href="https://twitter.com/d3detroit">
                                <img class="social-icons" src="{{ STATIC_URL }}img/twitter.png"/>
                            </a>
                            <a class="hyperlink-bold-small" href="https://twitter.com/d3detroit">D3 on Twitter</a>
                        </li> {% endcomment %}
                        <li class="l-flex-align-center">
                            <a href="https://www.linkedin.com/company/data-driven-detroit">
                                <img class="social-icons" src="{{ STATIC_URL }}img/linkedin.png"/>
                            </a>
                            <a class="hyperlink-bold-small" href="https://www.linkedin.com/company/data-driven-detroit">D3 on LinkedIn</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="l-flex-align-center">
                            <a class="hyperlink-bold-small" href="https://censusreporter.org/">
                                <img class="social-icons" src="{{ STATIC_URL }}img/web.png"/>
                            </a>
                            <a class="hyperlink-bold-small" href="https://censusreporter.org/">Census Reporter on the Web</a>
                        </li>
                        <li class="l-flex-align-center">
                            <a class="hyperlink-bold-small" href="https://github.com/censusreporter/">
                                <img class="social-icons" src="{{ STATIC_URL }}img/github.png"/>
                            </a>
                            <a class="hyperlink-bold-small" href="https://github.com/censusreporter/">Census Reporter on Github</a>
                        </li>
                    </ul>
                </div>
                <div class="divider"> </div>
                <a href="http://www.skillman.org/">
                    <div class="skillman">
                        <div class="l-flex-align-flex-end">
                            <img src="{{ STATIC_URL }}img/SkillmanFoundation-Logo.png" />
                            <p>Supported by The Skillman Foundation</p>
                        </div>
                    </div>
                </a>
                <p class="designed-by">Site built and designed by <a href="http://nijel.org/"><span>NiJeL</span></a>, based on <a href="https://censusreporter.org/"><span>Census Reporter</span></a>. </a> Homepage designed by <a href="http://gooddonedaily.com/"><span>gdd</span></a>.
                </p>
-->
            </div>
            <ul id="footer-logos">
              <li>
                <a href="http://datadrivendetroit.org/">
                    <img class="company-logo" src="{{ STATIC_URL }}img/DataDrivenDetroit-LogoColor.svg" />
                </a>
              </li>
              <li>
                <a href="http://datadrivendetroit.org/">
                    <img class="company-logo" src="{{ STATIC_URL }}img/ask-d3-logo.png" />
                </a>
              </li>
            </ul>
        </div>
    </footer>
    </div>


{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
    <script>
        // show 'use my current location' button
        if (Modernizr.geolocation) {
            $('.geolocate-only').show();
        }
    </script>
    <script src="{{ STATIC_URL }}js/data.query.builder.js"></script>
{% endblock %}
