{% extends '_new_homepage_base.html' %}{% load humanize partition %}

{% block head_title %}{{ block.super }} | Home{% endblock %}
{% block head_meta_description %}{% endblock %}
{% block body_id %}homepage{% endblock %}

{% block content_container %}
    {#    TODO: Figure out why this comment is necessary to display everything below#}
    <!-- -->
    <div class="parent-container">
            <nav class="homepage-nav" id="nav">
                    <div class="container">
                        <ul>
                            <li>
                                <a class='nav-link' href="#our-goal">Our Goal</a>
                            </li>
                            <li>
                                <a class='nav-link' href="#what-we-offer">What We Offer</a>
                            </li>
                            <li>
                                <a id="critical-questions-nav" class='nav-link' href="#tabs">Critical Questions</a>
                            </li>
                            <li>
                                <a id="explore-nav" class='nav-link' href="#tabs">Explore</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a id="topics-nav" class='nav-link' href="#tabs">Topics</a>
                            </li>
                            <li>
                                <a class='nav-link' href="#additional-resources">Additional Resources</a>
                            </li>
                            <li>
                                <a class='nav-link' href="gallery/">Custom Profile Gallery</a>
                            </li>
                        </ul>
                    </div>
                </nav>
        <div class="main-container">
    <div class="c-intro-panel">
        {% comment %} <h1 class="body-text-UC">We're working to add and update datasets at the moment, so please pardon any slow or unexpected behavior. Thank you!</h1> {% endcomment %}
      <div class="c-intro-panel-color">
        <header>
            <h1>Housing Information Portal</h1>
        </header>
      </div>
        <main>
            <p class="body-text">Welcome to D3’s Housing Information Portal! Here, we provide data and resources about housing and property in Detroit, Southeast Michigan, and beyond. Scroll down to learn more about what we have available!</p>
        </main>
    </div>
    <div class="c-map-panel">
      <div class="section">
        <h2 class="subhead">I want to learn about a...</h2>
        <div class="options">
          <div>
            <a href="/draw">
              <img src="{{ STATIC_URL }}img/geographic-select.png" alt="">
                <h3>Geographic Area</h3>
            </a>
            <p class="body-text">Here, you can find data about housing trends for any geography in Michigan (census tracts, zip codes, cities, etc.). Don’t see a geography that works for you? You can also create your own!</p>
          </div>
          <div>
            <a href="https://parceltool.datadrivendetroit.org">
              <img src="{{ STATIC_URL }}img/geographic-select.png" alt="">
                <h3>Parcel ID or Address</h3>
            </a>
            <p class="body-text">Here, you can find up-to-date information about any property in Detroit. Data updates quarterly.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="c-IAB-panel">
      <div class="section">
        <h2 class="subhead">Information For Action</h2>
        <p class="body-text">Looking to dive deeper? These links will take you to summaries of research, best practices, and resources about key topics related to housing in Detroit.</p>
        <ul>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/housing-market-icon.png" />
              </div>
              <h3>How did Detroit’s current housing situation come about?</h3>
            </a>
          </li>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/inclusive-growth-icon.png" />
              </div>
              <h3>Housing Affordability</h3>
            </a>
          </li>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/demolition-icon.png" />
              </div>
              <h3>Demolitions</h3>
            </a>
          </li>
          <li>
            <a>
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/michigan-market-icon.png" />
              </div>
              <h3>Tax Foreclosure and Eviction</h3>
            </a>
          </li>
        </ul>
        <p class="body-text">Would you like to see resources about other subjects?  Send us suggestions at <a href="mailto:info@datadrivendetroit.org?subject=HIP Resource Suggestion">info@datadrivendetroit.org</a>!</p>
      </div>
    </div>
    <div class="c-studies-panel" id="what-we-offer">
        <div class="section">
          <h2 class="subhead">Official Program Reports</h2>
          <p class="body-text">The Federal government, the State of Michigan, and the City of Detroit all regularly release reports about key programs and initiatives.  Find links to those reports here:</p>
          <ul>
              <li>
                  <img class="" src="{{ STATIC_URL }}img/case-studies-holder.png" />
                  <h2>Federal reports</h2>
                  <h3>Date Placeholder</h3>
                  <a href="">Read More</a>
              </li>
              <li>
                  <img class="" src="{{ STATIC_URL }}img/case-studies-holder.png" />
                  <h2>State of Michigan reports</h2>
                  <h3>Date Placeholder</h3>
                  <a href="">Read More</a>
              </li>
              <li>
                  <img class="" src="{{ STATIC_URL }}img/case-studies-holder.png" />
                  <h2>City of Detroit reports</h2>
                  <h3>Date Placeholder</h3>
                  <a href="">Read More</a>
              </li>
          </ul>
      </div>
    </div>
    <div class="c-additional-resources-panel" id="additional-resources">
      <div class="section">
        <h2 class="subhead">Other Resources</h2>
        <p class="body-text">Here, you’ll find links to other resources that D3 has created over the years, including maps, blogs, raw data, and reports.</p>
        <ul>
          <li>
            <a href="https://portal.datadrivendetroit.org/">
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/map-icon.png" />
              </div>
              <h3>Maps</h3>
            </a>
          </li>
          <li>
            <a href="https://datadrivendetroit.org/?s=housing&et_pb_searchform_submit=et_search_proccess&et_pb_search_cat=572%2C571&et_pb_include_posts=yes">
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/news-icon.png" />
              </div>
              <h3>Blogs</h3>
            </a>
          </li>
          <li>
            <a href="https://portal.datadrivendetroit.org/search?q=housing">
              <div class="image-holder">
                <img class="icon" src="{{ STATIC_URL }}img/ffiec-icon.png" />
              </div>
              <h3>Data</h3>
            </a>
          </li>
          <li>
            <a href="https://portal.datadrivendetroit.org/">
              <div class="image-holder">
                  <img class="icon" src="{{ STATIC_URL }}img/blog-icon.png" />
              </div>
              <h3>Reports</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <footer>
        <div class="l-flex-space-between">
          <ul id=footer-nav>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'draw' %}">Map</a></li>
            <li><a href="#">Information<br />Action Briefs</a></li>
            <li><a href="#">Official<br />Program Reports</a></li>
            <li><a href="https://datadrivendetroit.org/?s=housing&et_pb_searchform_submit=et_search_proccess&et_pb_search_cat=572%2C571&et_pb_include_posts=yes">Blog</a></li>
          </ul>
          <div class="details">
            <h2 class="subhead">INTERESTED IN ADDING DATA TO THE PORTAL?</h2>
              <p class="body-text">We’re always looking to explore additional partnerships to make this portal more comprehensive. If you have suggestions, we’d love to hear them as well!</p>
              <p class="body-text">Reach out to us at <a href="mailto:info@datadrivendetroit.org" target="_top"> info@datadrivendetroit.org</a> to talk more!</p>
              <a href="https://kresge.org/">
                <div class="l-flex-align-flex-end skillman">
                  <img src="/static/img/kresge_logo.jpg">
                  <p class="body-text">Supported by The Kresge Foundation</p>
                </div>
              </a>
              <p class="body-text">Site built and designed by <a href="http://nijel.org/">NiJeL</a>, based on <a href="https://censusreporter.org/">Census Reporter</a>, the <a href="http://www.wprdc.org/">Western Pennsylvania Regional Data Center</a>, and <a href="http://www.datadrivendetroit.org">D3</a>.</p>
          </div>
          <div class="footer-logos">
            <ul>
              <li>
                <a href="http://datadrivendetroit.org/">
                    <img class="company-logo" src="{{ STATIC_URL }}img/DataDrivenDetroit-LogoColor.svg" />
                </a>
              </li>
            </ul>
          </div>
        </div>
    </footer>


{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
    <script>
        // show 'use my current location' button
        if (Modernizr.geolocation) {
            $('.geolocate-only').show();
        }
    </script>
    <script src="{{ STATIC_URL }}js/data.query.builder.js"></script>
{% endblock %}
