{% extends '_base.html' %}

{% block head_css_extra %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/leaflet.label.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
{% endblock %}

{% block head_javascript_extra %}
<script src="https://unpkg.com/leaflet@0.7.7/dist/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/vendor/leaflet.label.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
{% endblock %}

{% block body_id %}draw{% endblock %}

{% block content %}
<div id="map-controls" class="clearfix">
    <header class="box-header">
        <a class="title" href="{% url 'homepage' %}">
            <!-- <img src="{{ STATIC_URL }}img/logo.png"> --> Housing Information Portal
        </a>
    </header>
    <div class="box-content">
      <select id="sumlev-picker">
          <option>Select Geographic Building Blocks </option>
      </select>
      <hr>
      <div id="address-search-content">
          <div class="tool-set header-tool-set draw-tools clearfix">
              <a id="use-location" class="use-location action-button"><i class="fa fa-location-arrow"></i> Use your current location</a>
          </div>
          <section class="clearfix header-container" id="address-search-wrapper">
              <input type="text" id="address-search" placeholder="Center map on an address">
              <h2 id="address-search-message" class="hidden bottom"></h2>
              <aside id="data-display" class="clearfix"></aside>
          </section>
      </div>
      <hr>
      <section class="clearfix header-container draw-tools" id="select-on-map">
          <a id="click-on-map" class="action-button disabled column-half">Click to Select</a>
          <a id="draw-on-map" class="action-button disabled column-half">Draw on Map</a>
      </section>
      <section id="map-action-buttons" class="clearfix draw-tools hidden">
          <a id="clear-map" class="action-button column-half">Clear Map</a>
          <a id="make-dashboard" class="action-button column-half">Create Profile</a>
      </section>
    </div>
</div>
<div id="slippy-map"></div>
<script id="place-result-template" type="text/template">
    <li data-geoid="<%= full_geoid %>">
        <a href="/profiles/<%= full_geoid %>">
            <i class="zoom-to-layer fa fa-arrows-alt" title="Zoom map to fit this shape"></i>
            <span class="glossary-term identifier"><%= SUMLEVELS[sumlevel].name %></span>
            <%= full_name %>
        </a>
    </li>
</script>

<!-- Modal for saving name of selected geography -->
<div id="dialog-form" title="Name your custom profile">
    <form>
      <fieldset>
        <label for="dashboard-name">Custom Profile Name</label>
        <input type="text" name="name" id="dashboard-name" class="text ui-widget-content ui-corner-all">
        <label for="dashboard-organization">Your Organization</label>
        <input type="text" name="org" id="dashboard-organization" class="text ui-widget-content ui-corner-all">
        <a id="submit-custom-geo" class="action-button" style="display: inline-block; margin-top: 10px;">Save</a>
      </fieldset>
    </form>
</div>

<!-- Modal on page load -->
<div id="draw-intro">
    <div class="intro-content clearfix">
        <header class="box-header">
            <h2 class="title">Geographic Area Tool</h2>
        </header>
        <div class="box-content">
          <section id="info">
            <p>Explore hundreds of datasets by location across Detroit and Michigan! This tool is designed to provide more data on a location based on geographical area via a map.</p>
          </section>
          <section id="gallery">
            <h2>See what others have created</h2>
            <ul>
                {% for dashboard in dashboards %}
                    <li><a href="/custom-profiles/{{ dashboard.dashboard_slug }}" title="{{ dashboard.dashboard_name }}"><img src="{{ STATIC_URL }}img/modal-placeholder.png" alt="{{ dashboard.dashboard_name }}"></a></li>
                {% endfor %}
            </ul>
          </section>
          <section id="tutorial">
            <h2>How To Use</h2>
            <ul>
              <li><h3>1. Chose Building Block</h3>Pick an option from the "Select Geographic Building Blocks" dropdown</li>
              <li><h3>2. Pick Starting Location</h3>To change the map location, center the map on your current location, type an address in the search box, or drag the map with your cursor</li>
              <li><h3>3. Select Geography</h3>Click on the map to select an area, or use the "Draw on Map" option to select a range of building blocks</li>
            </ul>
          </section>
          {% comment %} <section id="gallery">
            <div class="gallery-content">
                <a href="{% url 'gallery' %}">Check out what others have created</a>
                <br />
                <a href="#0">Tutorial (Coming soon!)</a>
            </div>
          </section> {% endcomment %}
        <button id="button" class="action-button">Close</button>
        </div>
    </div>
</div>





{% endblock %}

{% block body_javascript_extra %}
<!-- <script src='{{STATIC_URL}}js/vendor/leaflet.label.js'></script> -->
<script src="{{STATIC_URL}}js/draw.address.search.js"></script>
<script src="{{ STATIC_URL }}js/cr-leaflet.js"></script>
<script>
$(function() {
    $( "#tabs" ).tabs();
});

Glossary.init("{% url 'glossary' %}",".glossary-term");

// Allow Ajax POST requests to bypass Django's CSRF check
// https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
var csrftoken = '{{ csrf_token }}';
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


window.onload = function () {
    document.getElementById('button').onclick = function () {
        document.getElementById('draw-intro').style.display = "none"
    };
};
</script>
{% endblock %}
