{% extends '_base.html' %}

{% block head_css_extra %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/leaflet.label.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
{% endblock %}

{% block head_javascript_extra %}
<script src="https://unpkg.com/leaflet@0.7.7/dist/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/vendor/leaflet.label.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
{% endblock %}

{% block body_id %}draw{% endblock %}

{% block content %}
<div id="map-controls" class="clearfix">
  <div class="box-content">
    <div id="tabs">
        <ul>
          <li id="locate-tab"><a href="#tabs-1">Select</a></li>
          <li id="draw-tab"><a href="#tabs-2">Draw</a></li>
        </ul>
        <div id="tabs-1">
            <div id="address-search-content">
                <section class="tool-set header-tool-set draw-tools clearfix">
                    <h2>Select a location to view an existing profile</h2>
                    <a id="use-location" class="use-location action-button"><i class="fa fa-location-arrow"></i> Use your current location</a>
                    <span class="no-map-hide">or double-click to place a marker</span>
                </section>
                <section class="clearfix header-container" id="address-search-wrapper">
                    <input type="text" id="address-search" placeholder="Search for an address">
                    <h2 id="address-search-message" class="hidden bottom"></h2>
                    <aside id="data-display" class="clearfix"></aside>
                </section>
            </div>
        </div>
        <div id="tabs-2">
            <section class="clearfix header-container draw-tools">
                <h2>Draw a shape to create a custom profile</h2>
                <select id="sumlev-picker">
                    <option>Select Geographic Building Blocks </option>
                </select>
            </section>
            <section id="map-action-buttons" class="clearfix draw-tools hidden">
                <a id="clear-map" class="action-button">Clear Map</a>
                <a id="make-dashboard" class="action-button">Create Profile</a>
            </section>
        </div>
    </div>

  </div>
  <a id="hide-box"><i class="fa fa-angle-up rotate"></i></a>
</div>
<div id="slippy-map"></div>
<script id="place-result-template" type="text/template">
    <li data-geoid="<%= full_geoid %>">
        <a href="/profiles/<%= full_geoid %>">
            <i class="zoom-to-layer fa fa-arrows-alt" title="Zoom map to fit this shape"></i>
            <span class="glossary-term identifier"><%= SUMLEVELS[sumlevel].name %></span>
            <%= full_name %>
        </a>
    </li>
</script>

<!-- Modal for saving name of selected geography -->
<div id="dialog-form" title="Name your custom profile">
    <form>
      <fieldset>
        <label for="dashboard-name">Custom Profile Name</label>
        <input type="text" name="name" id="dashboard-name" class="text ui-widget-content ui-corner-all">
        <label for="dashboard-organization">Your Organization</label>
        <input type="text" name="org" id="dashboard-organization" class="text ui-widget-content ui-corner-all">
        <a id="submit-custom-geo" class="action-button" style="display: inline-block; margin-top: 10px;">Save</a>
      </fieldset>
    </form>
</div>

<!-- Modal on page load -->
<div id="draw-intro">
    <div class="intro-content clearfix">
        <header class="box-header">
            <h2 class="title">Geographic Area Tool</h2>
        </header>
        <div class="box-content">
        <section id="tutorial">
          <ul>
            <li><h3>1. Chose Building Block</h3>Pick an option from the "Select Geographic Building Blocks" dropdown</li>
            <li><h3>2. Pick Starting Location</h3>To change the map location, center the map on your current location, type an address in the search box, or drag the map with your cursor</li>
            <li><h3>3. Select Geography</h3>Click on the map to select an area, or use the "Draw on Map" option to select a range of building blocks</li>
          </ul>
        </section>
          <section id="gallery">
            <h2>See what others have created</h2>
            <ul>
                <!--{% for dashboard in dashboards %}
                    <li id="generated"><a href="/custom-profiles/{{ dashboard.dashboard_slug }}" title="{{ dashboard.dashboard_name }}"><img src="{{ STATIC_URL }}img/modal-placeholder-short.png" alt="{{ dashboard.dashboard_name }}"><h4 class="f6 f2-ns">Title</h4></a></li>
                {% endfor %}-->
                <li id="generated"><a href="/custom-profiles/" title=""><img src="{{ STATIC_URL }}img/modal-placeholder-short.png" alt=""><h4 class="f6 f2-ns">Corpus Christi Parish</h4></a></li>
                <li id="generated"><a href="/custom-profiles/" title=""><img src="{{ STATIC_URL }}img/modal-placeholder-short.png" alt=""><h4 class="f6 f2-ns">Grandmont-Rosedale</h4></a></li>
                <li id="generated"><a href="/custom-profiles/" title=""><img src="{{ STATIC_URL }}img/modal-placeholder-short.png" alt=""><h4 class="f6 f2-ns">Hope Village</h4></a></li>
                <li id="generated"><a href="/custom-profiles/" title=""><img src="{{ STATIC_URL }}img/modal-placeholder-short.png" alt=""><h4 class="f6 f2-ns">HOPE Village 2</h4></a></li>
                <li id="generated"><a href="/custom-profiles/" title=""><img src="{{ STATIC_URL }}img/modal-placeholder-short.png" alt=""><h4 class="f6 f2-ns">Jefferson East, Inc.</h4></a></li>
                <li id="generated"><a href="/custom-profiles/" title=""><img src="{{ STATIC_URL }}img/modal-placeholder-short.png" alt=""><h4 class="f6 f2-ns">TCC Primary Clients </h4></a></li>
                <li id="generated"><a href="/custom-profiles/" title=""><img src="{{ STATIC_URL }}img/modal-placeholder-short.png" alt=""><h4 class="f6 f2-ns">Title</h4></a></li>
                    <li id="gallery-link"><a href="#"><img src="{{ STATIC_URL }}img/modal-placeholder-short.png" alt=""><h4 class="f6 f2-ns">Gallery</h4></a></li>
            </ul>
          </section>
        <button id="button" class="action-button">Close</button>
      <div id="stop-modal">
        <input type="checkbox" id="modal-check" class="check-modal" name="stop-modal"> <label for="modal-check">Don't show again</label>
      </div>
        </div>
    </div>
</div>





{% endblock %}

{% block body_javascript_extra %}
<!-- <script src='{{STATIC_URL}}js/vendor/leaflet.label.js'></script> -->
<script src="{{STATIC_URL}}js/draw.address.search.js"></script>
<script src="{{ STATIC_URL }}js/cr-leaflet.js"></script>
<script>
$(function() {
    $( "#tabs" ).tabs();
});

Glossary.init("{% url 'glossary' %}",".glossary-term");

// Allow Ajax POST requests to bypass Django's CSRF check
// https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
var csrftoken = '{{ csrf_token }}';
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


window.onload = function () {
    document.getElementById('button').onclick = function () {
        document.getElementById('draw-intro').style.display = "none"
    };
};
</script>
{% endblock %}
