{% extends '_base.html' %}

{% block head_css_extra %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.2/dist/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/leaflet.label.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
{% endblock %}

{% block head_javascript_extra %}
<script src="https://unpkg.com/leaflet@0.7.2/dist/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/vendor/leaflet.label.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
{% endblock %}

{% block body_id %}draw{% endblock %}

{% block content %}
<div id="map-controls" class="clearfix">
    <header class="box-header">
        <a class="title" href="{% url 'homepage' %}">
            <!-- <img src="{{ STATIC_URL }}img/logo.png"> --> State of the Detroit Child
        </a>
    </header>
    <div class="box-content">
        <section class="clearfix header-container draw-tools">
            <h1>Draw a shape to create a custom data dashboard</h1>
            <a id="draw-on-map" class="action-button"><i class="fa fa-pencil-square"></i> Draw on Map</a>
        </section>
        <section id="map-action-buttons" class="clearfix draw-tools hidden">
            <a id="clear-map" class="action-button">Clear Map</a>
        </section>
        <section class="clearfix header-container">
            <aside id="data-display" class="clearfix"></aside>
        </section>
    </div>
</div>
<div id="slippy-map"></div>
<script id="place-result-template" type="text/template">
    <li data-level="<%= level %>">
        <a href="#">
            <i class="zoom-to-layer fa fa-tachometer" title="Create Dashboard"></i>
            <span class="glossary-term identifier"><%= name %></span>
            <%= name %>
        </a>
    </li>
</script>
{% endblock %}

{% block body_javascript_extra %}
<script>
Glossary.init("{% url 'glossary' %}",".glossary-term");

// Allow Ajax POST requests to bypass Django's CSRF check
// https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
var csrftoken = '{{ csrf_token }}';
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

</script>

<!-- <script src='{{STATIC_URL}}js/vendor/leaflet.label.js'></script> -->
<script src="{{ STATIC_URL }}js/cr-leaflet.js"></script>
<script src="{{STATIC_URL}}js/draw-b.address.search.js"></script>
{% endblock %}
