{% extends 'table/_base_table.html' %}

{% block head_title %}Table {{ table.table_id }}: {{ table.simple_table_title }} - {{ block.super }}{% endblock %}

{% block head_facebook_tags %}
        <meta property="og:title" content="Census tabulation detail: {{ table.simple_table_title }}" />
        <meta property="og:site_name" content="Census Reporter" />
        <meta property="og:url" content="http://censusreporter.org{% url 'table_detail' table.table_id %}" />
        <meta property="og:description" content="Description and table metadata for Census tabulation {{ table.table_id }}: {{ table.table_title }}." />
        <meta property="og:type" content="article" />
        {#}<meta property="og:image" content="" />{#}
{% endblock %}

{% block head_twitter_tags %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@CensusReporter">
        <meta name="twitter:creator" content="@CensusReporter">
        <meta name="twitter:title" content="Census tabulation detail: {{ table.simple_table_title }}">
        <meta name="twitter:description" content="Description and table metadata for Census tabulation {{ table.table_id }}: {{ table.table_title }}.">
        {#}<meta name="twitter:image" content="">{#}
{% endblock %}

{% block body_id %}table{% endblock %}
{% block body_class %}data-view{% endblock %}

{% block header_content %}
<div id="header-container" class="wrapper clearfix header-container">
</div>
{% endblock %}

{% block content %}

<article id="one-year-release" class="clearfix">
    <header class="section-contents">
        <h1>Table {{ table.table_id }}</h1>
    </header>
    <div class="section-container">
        <section class="clearfix">
            <h2 class="header-for-columns">{{ table.simple_table_title }}</h2>

            <aside>
                <h5>Other versions of this table</h5>
                <ul>{% for code, option in tabulation.table_versions.items %}
                    {% if code != table.table_id %}<li><a href="{% url 'table_detail' code %}">{{ option.version_name }}</a></li>{% endif %}
                {% endfor %}</ul>
            </aside>

            <div class="column-golden-wide">
                <p class="caption"><strong>Table universe:</strong> {{ table.universe }}</p>
                <table class="full-width expanded-table">
                    <thead>
                        <tr>
                            <th class="name">Columns in Table {{ table.table_id }}</th>
                        </tr>
                    </thead>
                    <tbody>{% for column_id, column_data in table.columns.items %}
                        <tr>
                            <td class="indent-{{ column_data.indent }}">{{ column_data.column_title }}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="column-golden-narrow">
                {% for table, table_values in tabulation.related_tables.preview.items %}
                <p class="caption">The Census also offers a {{ table_values.table_type|lower }} version of this table.</p>

                <table class="full-width expanded-table preview-table">
                    <thead>
                        <tr>
                            <th class="name"><a href="{% url 'table_detail' table %}">Switch to Table {{ table }}</a></th>
                        </tr>
                    </thead>
                    <tbody>{% for column_id, column_data in table_values.columns.items %}
                        <tr>
                            <td class="indent-{{ column_data.indent }}">{{ column_data.column_title }}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>{% endfor %}
                {% comment %}
                <table class="full-width tabulation-grid">
                    <thead>
                        <tr>
                            <th class="name">Table variants</th>
                            <th class="name" colspan="3">Releases available</th>
                        </tr>
                    </thead>
                    <tbody>{% for letter_code, data in tabulation.related_tables.grid.items %}
                        {% for table, values in data.items %}
                        <tr>
                            <td class="name" style="width: 34%;"><a href="{% url 'table_detail' table %}">{{ table }}</a></td>
                            <td style="width: 22%;">{{ values.one_yr }}</td>
                            <td style="width: 22%;">{{ values.three_yr }}</td>
                            <td style="width: 22%;">{{ values.five_yr }}</td>
                        </tr>{% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endcomment %}
            </div>
        </section>
    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script type="text/javascript">
var tableID = '{{ table.table_id }}';
Glossary.init("{% url 'glossary' %}",".glossary-term");
</script>
{#}<script src="{{ STATIC_URL }}js/table.geo.picker.js"></script>{#}
{% endblock %}