{% extends 'table/_base_table.html' %}

{% block head_title %}{{ tabulation.simple_table_title }} - {{ block.super }}{% endblock %}

{% block head_facebook_tags %}
        <meta property="og:title" content="Census tabulation detail: {{ tabulation.simple_table_title }}" />
        <meta property="og:site_name" content="Census Reporter" />
        <meta property="og:url" content="http://censusreporter.org{% url 'table_detail' tabulation.tabulation_code %}" />
        <meta property="og:description" content="Description and table metadata for Census tabulation {{ tabulation.tabulation_code }}: {{ tabulation.table_title }}." />
        <meta property="og:type" content="article" />
        {#}<meta property="og:image" content="" />{#}
{% endblock %}

{% block head_twitter_tags %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@CensusReporter">
        <meta name="twitter:creator" content="@CensusReporter">
        <meta name="twitter:title" content="Census tabulation detail: {{ tabulation.simple_table_title }}">
        <meta name="twitter:description" content="Description and table metadata for Census tabulation {{ tabulation.tabulation_code }}: {{ tabulation.table_title }}.">
        {#}<meta name="twitter:image" content="">{#}
{% endblock %}

{% block body_id %}table{% endblock %}

{% block content %}

<h1>{{ tabulation.simple_table_title }}</h1>

<article id="one-year-release" class="clearfix">
    <header class="section-contents">
        <h1>Tabulation {{ tabulation.tabulation_code }}</h1>
    </header>
    <div class="section-container">
        <section class="clearfix">
            <div class="column-two-thirds">
                {% for letter_code, data in tabulation.tables.items %}
                {% for table, values in data.expanded.items %}
                <div class="expanded-table">
                    <h2 class="header-for-columns">Table {{ values.table_metadata.table_id }}</h2>
                    <p class="caption">
                        <span class="caption-group" id="table-universe"><strong>Table universe:</strong> {{ values.table_metadata.universe }}</span>
                    </p>
                
                    <table class="full-width">
                        <thead>
                            <tr>
                                <th class="name" width="90">Column ID</th>
                                <th class="name">Column Name</th>
                            </tr>
                        </thead>
                        <tbody>{% for column_id, column_data in values.table_metadata.columns.items %}
                            <tr>
                                <td class="name">{{ column_id }}</td>
                                <td class="indent-{{ column_data.indent }}">{{ column_data.column_title }}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                </div>{% endfor %}
                {% endfor %}
            </div>
            
            <div class="column-third">
                {% for letter_code, data in tabulation.tables.items %}
                <table class="full-width tabulation-grid">
                    <thead>
                        <tr>
                            <th class="name">Table variants</th>
                            <th class="name" colspan="3">Releases available</th>
                        </tr>
                    </thead>
                    <tbody>{% for table, values in data.grid.items %}
                        <tr>
                            <td class="name" style="width: 34%;">{{ table }}</td>
                            <td style="width: 22%;">{{ values.one_yr }}</td>
                            <td style="width: 22%;">{{ values.three_yr }}</td>
                            <td style="width: 22%;">{{ values.five_yr }}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </section>
    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script type="text/javascript">
    Glossary.init("{% url 'glossary' %}",".glossary-term");
</script>
{% endblock %}