{% extends '_base.html' %}

{% block head_title %}Profile data - {{ block.super }}{% endblock %}
{% block head_javascript_extra %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.js' async></script>
{% endblock %}

{% comment %}
At some point, we may end up needing to branch the profile page template
in order to support data available for different releases. And we may end up
with a special template for subtopic pages within a profile. This page provides
a profile-specific base suitable for applying things across that entire
family of pages.
{% endcomment %}
