{% extends '_base.html' %}

{% block head_title %}Geography Search - {{ block.super }}{% endblock %}

{% block content %}
<section class="clearfix big-action" id="query-geo-picker">
    <h1 class="article-header">Find a place</h1>
    <div class="typeahead-container input-wrapper with-submit">
        <form>
            <input name="q" id="geography-select" type="text" value="{{ q }}" placeholder="Search by place name..." autocomplete="off">
            <input type="submit" value="Search"/>
        </form>
    </div>
</section>

<article id="geography-results"></article>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
{% verbatim %}
<script id="geography-result-item" type="text/x-handlebars-template">
    <div class="search-result-item">
        <h2><a href="/profiles/{{full_geoid}}-{{{getSlug display_name}}}/">{{display_name}}</a></h2>
        <p class="display-type">{{getSumlevName sumlev}}</p>
    </div>
</script>
{% endverbatim %}

<script type="text/javascript">
Handlebars.registerHelper('getSlug', function(str) {
    return new Handlebars.SafeString(slugify(str));
});
Handlebars.registerHelper('getSumlevName', function(str) {
    var sumlevName = (sumlevMap[str]) ? sumlevMap[str]['name'] : '';
    return new Handlebars.SafeString(capitalize(sumlevName));
});
Handlebars.registerHelper('getCommaFmt', function(str) {
    return new Handlebars.SafeString(commaFmt(str));
});

var results = {{ results }},
    geoItemTemplate = Handlebars.compile($('#geography-result-item').html());

var showResults = function(results) {
    var resultsContainer = $('#geography-results');
    
    $.each(results, function(i, v){
        resultsContainer.append(geoItemTemplate(v));
    });
}
showResults(results);
</script>
{% endblock %}