{% extends 'profile/_base_profile.html' %}{% load humanize staticfiles %}

{% block head_title %}{{ geography.short_name }} - {{ block.super }}{% endblock %}

{% block head_css_extra %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->
<link href='/static/css/vendor/leaflet.label.css' rel='stylesheet' />
{% endblock %}

{% block body_id %}profile{% endblock %}

{% block header_content %}
<div id="cover-map" class="clearfix">
    <div id="cover-profile" class="wrapper">
        <article class="clearfix column-half">
            <header class="column-full">
                <h1 class="title">{{ geography.short_name }}</h1>
                <p class="caption">
                  {{ geography.level|capfirst }}
                  in
                  {% for geo in geography.parents %}
                    <a href="{% with geo_id=geo.level|add:"-"|add:geo.code %}{% url "geography_detail" geography_id=geo_id %}{% endwith %}">{{ geo.name }}</a>,
                  {% endfor %}
                  South Africa
                </p>
            </header>
            {% comment %}
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">???</span>
                        <span class="name">Population</span>
                    </span>
                </div>
            </div>
            {% endcomment %}
            {% if geo_metadata.square_miles %}
            <div class="column-half">
                <div class="stat">
                    <span class="secondary">
                        <span class="value">{{ geo_metadata.square_miles|floatformat|intcomma }}</span>
                        <span class="name"> square miles</span>
                    </span>
                    <span class="secondary">
                        <span class="value">{{ geo_metadata.population_density|floatformat|intcomma }}</span>
                        <span class="name"> people per square mile</span>
                    </span>
                </div>
            </div>
            {% endif %}
        </article>
    </div>

    <div id="slippy-map"></div>
</div>
{% endblock %}

{% block content %}


<p class="explain">Hover over charts and statistics for additional information.</p>

<article id="elections" class="clearfix">
    <header class="section-contents">
        <h1>Elections</h1>
    </header>
    <div class="section-container">

        {% for key, election_data in elections.items %}
        <section class="clearfix stat-row">
            <h2 class="column-header"><a class="permalink" href="#{{ election_data.name }}" id="{{ election_data.name }}">{{ election_data.name.capitalize }} <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=election_data.registered_voters stat_type='number' %}
            </div>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=election_data.average_turnout stat_type='percentage' %}
            </div>
            <div class="column-half" id="chart-histogram-elections-{{ key }}-party_distribution" data-stat-type="scaled-percentage" data-chart-title="Voters by party" data-qualifier="Universe: {{ election_data.party_distribution.metadata.universe }}"></div>
        </section>
        {% endfor %}

    </div>
</article>

<article id="demographics" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2 class="column-header"><a class="permalink" href="#age" id="age">Age <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.median_age stat_type='number' %}
            </div>
            <div class="column-half" id="chart-histogram-demographics-age_group_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by age range"></div>
            <div class="column-quarter" id="chart-pie-demographics-age_category_distribution" data-stat-type="percentage" data-chart-title="Population by age category"></div>
        </section>
        <section class="clearfix stat-row">
            <aside></aside>
            <div class="column-third">
                <h2 class="column-header"><a class="permalink" href="#sex" id="sex">Sex <i class="fa fa-link"></i></a></h2>
                <div id="chart-pie-demographics-sex_ratio" data-stat-type="percentage"></div>
            </div>
            <div class="column-two-thirds">
                <h2 class="column-header"><a class="permalink" href="#pop_group" id="pop_group">Population group <i class="fa fa-link"></i></a></h2>
                <div id="chart-grouped_column-demographics-population_group_distribution" data-stat-type="scaled-percentage"></div>
            </div>
        </section>
    </div>
</article>

<article id="service_delivery" class="clearfix">
    <header class="section-contents">
        <h1>Service delivery</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#water" id="water">Water <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_water_from_service_provider stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-water_source_distribution" data-stat-type="percentage" data-chart-title="Population by water source"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#refuse" id="refuse">Refuse disposal <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_ref_disp_from_service_provider stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-refuse_disposal_distribution" data-chart-title="Population by refuse disposal" data-stat-type="percentage"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#electricity" id="electricity">Electricity <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_electricity_access stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-electricity_access_distribution" data-stat-type="percentage" data-chart-title="Population by electricity usage"></div>
        </section>

    </div>
</article>

<article id="economics" class="clearfix">
    <header class="section-contents">
        <h1>Economics</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#income" id="income">Income <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third" id="chart-pie-economics-employment_status" data-chart-title="Population by employment status" data-stat-type="percentage" data-qualifier="Universe: {{ economics.employment_status.metadata.universe }}"></div>
            <div class="column-two-thirds" id="chart-histogram-economics-individual_income_distribution" data-chart-title="Employees by monthly income" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ economics.individual_income_distribution.metadata.universe }}"></div>
        </section>
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#sector" id="sector">Sector<i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third" id="chart-pie-economics-sector_type_distribution" data-chart-title="Population by type of sector" data-stat-type="percentage"></div>
        </section>
    </div>
</article>

<article id="education" class="clearfix">
    <header class="section-contents">
        <h1>Education</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#highest-educational-level" id="highest-educational-level">Educational level <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-half">
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=education.educational_attainment.percent_get_or_higher stat_type='percentage' %}
                </div>
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=education.educational_attainment.percent_fet_or_higher stat_type='percentage' %}
                </div>
            </div>
            <div class="column-half" id="chart-histogram-education-educational_attainment_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by highest educational level" data-qualifier="Universe: {{ education.educational_attainment_distribution.metadata.universe }}"></div>
        </section>

    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}
{#}<script src="http://d3js.org/d3.v3.min.js"></script>{#}
<script src="{% static 'js/vendor/d3.v3.min.js' %}"></script>
<script src="{% static 'js/vendor/topojson.v1.min.js' %}"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="/static/js/vendor/leaflet.label.js"></script>
<script src="{% static 'js/charts.js' %}"></script>
<script type="text/javascript">

var geo_level = '{{ geography.level }}';
var geo_code = '{{ geography.code }}';

var parent_geo_level = '{{ geography.parent.level }}';
var parent_geo_code = '{{ geography.parent.code }}';

var geo_parents = [{% for geo in geography.parents %} ['{{ geo.level }}', '{{ geo.code }}'] {% if not forloop.last %}, {% endif %} {% endfor %}];

// draw a map
var allowMapDrag = (browserWidth > 480) ? true : false;
var map = L.map('slippy-map', {
    scrollWheelZoom: false,
    zoomControl: false,
    doubleClickZoom: false,
    boxZoom: false,
    keyboard: false,
    dragging: allowMapDrag,
    touchZoom: allowMapDrag
});

if (allowMapDrag) {
    map.addControl(new L.Control.Zoom({
        position: 'topright'
    }));
}

// add imagery
L.tileLayer('http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
	subdomains: 'abcd',
	maxZoom: 13
}).addTo(map);

// add demarcation boundaries
d3.json("http://maps.code4sa.org/political/" + geo_level + "?quantization=5000&filter[" + geo_level + "]=" + geo_code, function(error, topo) {
  var featureLayer = L.geoJson(topojson.feature(topo, topo.objects.demarcation), {
      style: {
          "fillColor": "#66c2a5",
          "color": "#777",
          "weight": 2,
          "clickable": false
      }
  });
  map.addLayer(featureLayer);
  var objBounds = featureLayer.getBounds();

  if (browserWidth > 768) {
      var z;
      for(z = 16; z > 2; z--) {
          var swPix = map.project(objBounds.getSouthWest(), z),
              nePix = map.project(objBounds.getNorthEast(), z),
              pixWidth = Math.abs(nePix.x - swPix.x),
              pixHeight = Math.abs(nePix.y - swPix.y);
          if (pixWidth <  500 && pixHeight < 400) {
              break;
          }
      }

      map.setView(featureLayer.getBounds().getCenter(), z);
      map.panBy([-270, 0], {animate: false});
  } else {
      map.fitBounds(featureLayer.getBounds());
  }
});

// load surrounding map shapes
var levels = [[geo_level, geo_code]].concat(geo_parents);

for (var i = 0; i < levels.length; i++) {
    var level = levels[i][0],
        code  = levels[i][1];

    // For each level, add map shapes for that level, limited to within the
    // parent level (eg. wards within a municipality).

    (function(level, code) {
        if (level == 'province') {
            var url = "province?";
        } else {
            var url = level + "?filter[" + levels[i+1][0] + "]=" + levels[i+1][1];
        }

        d3.json("http://maps.code4sa.org/political/2011/" + url + '&quantization=5000', function(error, topo) {
            if (!topo)
                return;

            var featureLayer = L.geoJson(topojson.feature(topo, topo.objects.demarcation), {
                style: {
                    "clickable": true,
                    "color": "#00d",
                    "fillColor": "#ccc",
                    "weight": 1.0,
                    "opacity": 0.3,
                    "fillOpacity": 0.3,
                },
                filter: function(feature, layer) {
                    // don't include this smaller geo, we already have a shape for that
                    return feature.id != code;
                },
                onEachFeature: function(feature, layer) {
                    var name = feature.properties[level + '_name'] || (level + ' ' + feature.properties[level]);
                    layer.bindLabel(name, {direction: 'auto'});

                    layer.on('mouseover', function() {
                        layer.setStyle({
                            "fillOpacity": 0.5,
                        });
                    });
                    layer.on('mouseout', function() {
                        layer.setStyle({
                            "fillOpacity": 0.3,
                        });
                    });
                    layer.on('click', function() {
                        window.location = '/profiles/' + level + '-' + feature.properties[level];
                    });
                },
            });
            map.addLayer(featureLayer);
        });
    })(level, code);
}

var Charts = {},
    chartContainers = $('[id^=chart-]'),
    defaultDataRelease = '{{ geography.census_release }}',
    profileData = {{ profile_data_json }};

var gracefulType = function(chartType) {
    // convert certain chart types to more readable versions at narrow widths
    if (browserWidth <= 640) {
        if (chartType == 'column' || chartType == 'histogram') {
            return 'bar'
        } else if (chartType == 'grouped_column') {
            return 'grouped_bar'
        }
    }
    return chartType
}

$.each(chartContainers, function(i) {
    var chartID = $(this).prop('id'),
        chartDataID = chartID.replace('chart-','').replace('alt-','').split('-'),
        chartType = gracefulType(chartDataID[0]),
        chartData = profileData[chartDataID[1]],
        chartChartTitle = $(this).data('chart-title'),
        chartChartShowYAxis = $(this).data('chart-show-y-axis'),
        chartInitialSort = $(this).data('initial-sort'),
        chartStatType = $(this).data('stat-type'),
        chartQualifier = $(this).data('qualifier') || null,
        comparisonThisName = '{{ geography.this.short_name }}',
        comparisonProvinceName = '{{ geography.province.short_name }}'

    // allow arbitrary nesting in API data structure
    var drilldown = chartDataID.length - 1;
    if (drilldown >= 2) {
        for (var i = 2; i <= drilldown; i++) {
            chartData = chartData[chartDataID[i]]
        }
    }

    // determine whether data point is from anything other
    // than the primary ACS release for this page
    for (var key in chartData) if (chartData.hasOwnProperty(key)) break;
    var thisRelease = null,
        noteRelease = (thisRelease != defaultDataRelease) ? thisRelease + ' data' : null;

    /*chartQualifier = (chartQualifier && noteRelease) ? Array(chartQualifier, noteRelease)
            .filter(function(n) { return n }).join('; ') : null;*/

    Charts[i] = Chart({
        chartContainer: chartID,
        chartType: chartType,
        chartHeight: 160,
        chartData: chartData,
        chartQualifier: chartQualifier,
        chartChartTitle: chartChartTitle,
        chartInitialSort: chartInitialSort,
        chartStatType: chartStatType,
        comparisonThisName: comparisonThisName,
        comparisonProvinceName: comparisonProvinceName
    });
});

var flaggedMOE = $('.stat-row sup'),
    daggerNote = '<p><sup>&dagger;</sup> Margin of error is at least 10 percent of the total value. Take care with this statistic.</p>';

flaggedMOE.closest('.stat-row').find('aside').html(daggerNote);

</script>
{% endblock %}
