{% extends 'profile/_base_profile.html' %}{% load humanize lookup staticfiles %}

{% block head_title %}{{ geography.this.short_name }} - {{ block.super }}{% endblock %}

{% block head_facebook_tags %}
    <meta property="og:title" content="Wazi profile: {% firstof geography.this.full_name geography.this.short_name %}" />
    <meta property="og:site_name" content="Wazi" />
    <meta property="og:url" content="http://wazimap.co.za/profiles/{{ geography.this.full_geoid }}/" />
    <meta property="og:description" content="Population data and election figures from {{ geography.this.short_name}}, broken down by category: Demographics, Service delivery, Economics and Education." />
    <meta property="og:type" content="article" />
    {#}<meta property="og:image" content="" />{#}
{% endblock %}

{% block head_css_extra %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->
<link href='{{STATIC_URL}}css/vendor/leaflet.label.css' rel='stylesheet' />
{% endblock %}
{% block body_id %}profile{% endblock %}

{% block header_content %}
<div id="cover-map" class="clearfix">
    <div id="cover-profile" class="wrapper">
        <article class="clearfix column-half">
            <header id="header-box" class="column-full">
                <h1 class="title">{{ geography.this.short_name }}</h1>
                <p class="caption">
                  {{ geography.this.geo_level|capfirst }}
                  {% if geography.this.geo_level != 'country' %}
                      in
                      {% for level in geography.parents.ordering %}
                        {% with g=geography.parents|get:level %}
                          <a href="/profiles/{{ g.full_geoid }}/">{{ g.short_name }}</a>{% if not forloop.last %},{%endif%}
                        {% endwith %}
                      {% endfor %}
                  {% endif %}
                </p>
            </header>
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">{{ demographics.total_population.values.this|floatformat:"0"|intcomma }}</span>
                        <span class="name">Population</span>
                    </span>
                </div>
            </div>
            {% if geo_metadata.square_miles or geo_metadata.population_density %}
            <div class="column-half">
                <div class="stat">
                    <span class="secondary">
                        <span class="value">{% if geo_metadata.square_miles < .1 %}{{ geo_metadata.square_miles|floatformat:"3" }}{% else %}{{ geo_metadata.square_miles|floatformat|intcomma }}{% endif %}</span>
                        <span class="name"> square miles</span>
                    </span>
                    <span class="secondary">
                        <span class="value">{{ geo_metadata.population_density|floatformat|intcomma }}</span>
                        <span class="name"> people per square mile</span>
                    </span>
                </div>
            </div>
            {% endif %}
            
            {% if geography.this.show_extra_links %}
                {% include "profile/_blocks/_header_extra_links.html" %}
            {% endif %}
            
            {% comment %}
            <div class="column-full">
                <p class="caption"><strong>Census data:</strong> 2011 unless noted</p>
            </div>
            {% endcomment %}
        </article>
    </div>

    <div id="slippy-map"></div>
</div>
{% endblock %}

{% block content %}
{% comment %}
<section class="clearfix" id="query-topic-picker">
    <h2>Find data for this place</h2>
    <div class="typeahead-container">
        <input name="topic_select" id="topic-select" type="text" placeholder="Search by table or column name..." autocomplete="off">
    </div>
</section>
{% endcomment %}

<div id="share-this-page" style="text-align: right;">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style " style="margin:2px 0 10px 5px;float:right;width:175px;">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_gmail"></a>
        <a class="addthis_counter addthis_bubble_style" style="margin-left: 5px;"></a>
    </div>
    <!-- AddThis Button END -->
    Share this page:
</div>

<p class="explain">Interact with charts and statistics for additional information.</p>

<article id="elections" class="clearfix">
    <header class="section-contents">
        <h1>Elections</h1>
    </header>
    <div class="section-container">

        {% for key, election_data in elections.items %}
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#{{ election_data.name }}" id="{{ election_data.name }}">{{ election_data.name.capitalize }} <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=election_data.registered_voters stat_type='number' %}
            </div>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=election_data.average_turnout stat_type='percentage' %}
            </div>
            <div class="column-half" id="chart-histogram-elections-{{ key }}-party_distribution" data-stat-type="scaled-percentage" data-chart-title="Voters by party" data-qualifier="Universe: {{ election_data.party_distribution.metadata.universe }}"></div>
        </section>
        {% endfor %}

    </div>
</article>

<article id="demographics" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#age" id="age">Age <i class="fa fa-link"></i></a></h2>
            <aside></aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.median_age stat_type='number' %}
            </div>
            <div class="column-half" id="chart-histogram-demographics-age_group_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by age range"></div>
            <div class="column-quarter" id="chart-pie-demographics-age_category_distribution" data-stat-type="percentage" data-chart-title="Population by age category"></div>
        </section>
        <section class="clearfix stat-row">
            <aside></aside>
            <div class="column-quarter">
                <h2 class="header-for-columns"><a class="permalink" href="#pop_count" id="pop_count">Population <i class="fa fa-link"></i></a></h2>
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
            </div>
            <div class="column-half">
                <div id="chart-column-demographics-population_group_distribution" data-stat-type="scaled-percentage" data-chart-title="Population group"></div>
            </div>
            <div class="column-quarter">
                <div id="chart-pie-demographics-sex_ratio" data-stat-type="percentage" data-chart-title="Sex"></div>
            </div>
        </section>

    </div>
</article>

<article id="service_delivery" class="clearfix">
    <header class="section-contents">
        <h1>Service delivery</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#water" id="water">Water <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_water_from_service_provider stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-water_source_distribution" data-stat-type="percentage" data-chart-title="Population by water source"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#refuse" id="refuse">Refuse disposal <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_ref_disp_from_service_provider stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-refuse_disposal_distribution" data-chart-title="Population by refuse disposal" data-stat-type="percentage"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#electricity" id="electricity">Electricity <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_electricity_access stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-electricity_access_distribution" data-stat-type="percentage" data-chart-title="Population by electricity usage"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#toilets" id="toilets">Toilet facilities <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_flush_toilet_access stat_type='percentage' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_no_toilet_access stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-toilet_facilities_distribution" data-stat-type="percentage" data-chart-title="Population by toilet facilities"></div>
        </section>

    </div>
</article>

<article id="economics" class="clearfix">
    <header class="section-contents">
        <h1>Economics</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#employment" id="employment">Employment <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.employment_status.Employed stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-economics-employment_status" data-chart-title="Population by employment status" data-stat-type="percentage" data-qualifier="Universe: {{ economics.employment_status.metadata.universe }}"></div>
            <div class="column-third" id="chart-pie-economics-sector_type_distribution" data-chart-title="Sector of employment" data-stat-type="percentage"></div>
        </section>
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#income" id="income">Income <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-full" id="chart-histogram-economics-individual_income_distribution" data-chart-title="Employees by monthly income" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ economics.individual_income_distribution.metadata.universe }}"></div>
        </section>
    </div>
</article>

<article id="education" class="clearfix">
    <header class="section-contents">
        <h1>Education</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#highest-educational-level" id="highest-educational-level">Educational level <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=education.educational_attainment.percent_get_or_higher stat_type='percentage' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=education.educational_attainment.percent_fet_or_higher stat_type='percentage' %}
            </div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-full" id="chart-histogram-education-educational_attainment_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by highest educational level" data-qualifier="Universe: {{ education.educational_attainment_distribution.metadata.universe }}"></div>
        </section>

    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53744e46066d519d"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/vendor/topojson.v1.min.js"></script>
<script src="{% static 'js/vendor/leaflet.label.js' %}"></script>
<script src="{% static 'js/charts.js' %}"></script>
<script type="text/javascript">

var drawMaps = function() {
    var geo = profileData.geography;
    var geo_level = geo.this.geo_level;
    var geo_code = geo.this.geo_code;

    // draw a map
    var allowMapDrag = (browserWidth > 480) ? true : false;
    var map = L.map('slippy-map', {
        scrollWheelZoom: false,
        zoomControl: false,
        doubleClickZoom: false,
        boxZoom: false,
        keyboard: false,
        dragging: allowMapDrag,
        touchZoom: allowMapDrag
    });

    if (allowMapDrag) {
        map.addControl(new L.Control.Zoom({
            position: 'topright'
        }));
    }

    // add imagery
    L.tileLayer('http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
      attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      subdomains: 'abcd',
      maxZoom: 17
    }).addTo(map);

    // add demarcation boundaries
    if (geo_level == 'country') {
        map.setView({lat: -28.4796, lng: 10.698445}, 5);
    } else {
        d3.json("http://maps.code4sa.org/political/" + geo_level + "?quantization=5000&filter[" + geo_level + "]=" + geo_code, function(error, topo) {
          if (error) return console.warn(error);

          var featureLayer = L.geoJson(topojson.feature(topo, topo.objects.demarcation), {
              style: {
                  "fillColor": "#66c2a5",
                  "color": "#777",
                  "weight": 2,
                  "opacity": 0.3,
                  "fillOpacity": 0.4,
                  "clickable": false
              }
          });
          map.addLayer(featureLayer);
          var objBounds = featureLayer.getBounds();

          if (browserWidth > 768) {
              var z;
              for(z = 16; z > 2; z--) {
                  var swPix = map.project(objBounds.getSouthWest(), z),
                      nePix = map.project(objBounds.getNorthEast(), z),
                      pixWidth = Math.abs(nePix.x - swPix.x),
                      pixHeight = Math.abs(nePix.y - swPix.y);
                  if (pixWidth <  500 && pixHeight < 400) {
                      break;
                  }
              }

              map.setView(featureLayer.getBounds().getCenter(), z);
              map.panBy([-270, 0], {animate: false});
          } else {
              map.fitBounds(featureLayer.getBounds());
          }
        });
    }

    // load surrounding map shapes

    // [level, code] pairs
    var levels = _.map(geo.parents.ordering, function(level) {
        return [level, geo.parents[level].geo_code];
    });
    levels.unshift([geo_level, geo_code]);
    if (geo.this.child_level) {
        levels.unshift([geo.this.child_level, '']);
    }

    for (var i = 0; i < levels.length; i++) {
        var level = levels[i][0],
            code  = levels[i][1];

        // For each level, add map shapes for that level, limited to within the
        // parent level (eg. wards within a municipality).

        (function(level, code) {
            if (level == 'country') {
                return;
            } else if (level == 'province') {
                var url = "province?";
            } else {
                var url = level + "?filter[" + levels[i+1][0] + "]=" + levels[i+1][1];
            }

            d3.json("http://maps.code4sa.org/political/2011/" + url + '&quantization=5000', function(error, topo) {
                if (error) return console.warn(error);

                var featureLayer = L.geoJson(topojson.feature(topo, topo.objects.demarcation), {
                    style: {
                        "clickable": true,
                        "color": "#00d",
                        "fillColor": "#ccc",
                        "weight": 1.0,
                        "opacity": 0.3,
                        "fillOpacity": 0.3,
                    },
                    filter: function(feature, layer) {
                        // don't include this smaller geo, we already have a shape for that
                        return feature.id != code;
                    },
                    onEachFeature: function(feature, layer) {
                        var name = feature.properties[level + '_name'] || (level + ' ' + feature.properties[level]);
                        layer.bindLabel(name, {direction: 'auto'});

                        layer.on('mouseover', function() {
                            layer.setStyle({
                                "fillOpacity": 0.5,
                            });
                        });
                        layer.on('mouseout', function() {
                            layer.setStyle({
                                "fillOpacity": 0.3,
                            });
                        });
                        layer.on('click', function() {
                            window.location = '/profiles/' + level + '-' + feature.properties[level] + '/';
                        });
                    },
                });
                map.addLayer(featureLayer);
            });
        })(level, code);
    }
};

// Create all the charts
var Charts = {},
    chartContainers = $('[id^=chart-]'),
    defaultDataRelease = '{{ geography.census_release }}',
    profileData = {{ profile_data_json }};

var gracefulType = function(chartType) {
    // convert certain chart types to more readable versions at narrow widths
    if (browserWidth <= 640) {
        if (chartType == 'column' || chartType == 'histogram') {
            return 'bar'
        } else if (chartType == 'grouped_column') {
            return 'grouped_bar'
        }
    }
    return chartType
}

var makeCharts = function() {
    $.each(chartContainers, function(i, obj) {
        $(obj).empty();
        var chartID = $(this).prop('id'),
            chartDataKey = chartID.replace('chart-','').replace('alt-',''),
            chartDataID = chartDataKey.split('-'),
            chartType = gracefulType(chartDataID[0]),
            chartData = profileData[chartDataID[1]],
            chartChartTitle = $(this).data('chart-title'),
            chartChartShowYAxis = $(this).data('chart-show-y-axis'),
            chartInitialSort = $(this).data('initial-sort'),
            chartStatType = $(this).data('stat-type'),
            chartQualifier = $(this).data('qualifier') || null,
            geographyData = profileData['geography'];

        // allow arbitrary nesting in API data structure
        var drilldown = chartDataID.length - 1;
        if (drilldown >= 2) {
            for (var i = 2; i <= drilldown; i++) {
                chartData = chartData[chartDataID[i]]
            }
        }

        // determine whether data point is from anything other
        // than the primary ACS release for this page
        for (var key in chartData) if (chartData.hasOwnProperty(key)) break;
        var thisRelease = chartData[key]['acs_release'],
            noteRelease = (thisRelease != defaultDataRelease) ? thisRelease + ' data' : null;

        /*chartQualifier = (chartQualifier && noteRelease) ? Array(chartQualifier, noteRelease)
            .filter(function(n) { return n }).join('; ') : null;*/

        Charts[i] = Chart({
            chartContainer: chartID,
            chartDataKey: chartDataKey,
            chartType: chartType,
            chartHeight: 160,
            chartData: chartData,
            chartQualifier: chartQualifier,
            chartChartTitle: chartChartTitle,
            chartInitialSort: chartInitialSort,
            chartStatType: chartStatType,
            geographyData: geographyData
        });
    });
}
makeCharts();
drawMaps();

// listen for resize, redraw charts to new dimensions
var lazyRedrawCharts = _.debounce(function() {
    window.browserWidth = document.documentElement.clientWidth;
    window.browserHeight = document.documentElement.clientHeight;
    makeCharts();
}, 50);
$(window).resize(lazyRedrawCharts);

// for touch devices, still allow context toggle
$('.stat-row').on('click', '.stat', function() {
    $(this).find('.context').toggle();
});

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Base64/0.2.0/base64.min.js"></script>
{% endblock %}
