{% extends 'profile/_base_profile.html' %}{% load humanize madlibs %}

{% block head_title %}{% firstof geography.this.full_name geography.this.short_name %} - {{ block.super }}{% endblock %}
{% block head_meta_description %}Census data for {{ geography.this.full_name }} (pop. {{ geography.this.total_population|intcomma }}), including age, race, sex, income, poverty, marital status, education and more.{% endblock %}

{% block head_facebook_tags %}
        <meta property="og:title" content="Census profile: {% firstof geography.this.full_name geography.this.short_name %}" />
        <meta property="og:site_name" content="Census Reporter" />
        <meta property="og:url" content="http://censusreporter.org/profiles/{{ geography.this.full_geoid }}-{{ geography.this.full_name|slugify }}" />
        <meta property="og:description" content="Census data for {{ geography.this.full_name }} (pop. {{ geography.this.total_population|intcomma }}), including age, race, sex, income, poverty, marital status, education and more." />
        <meta property="og:type" content="article" />
        {#}<meta property="og:image" content="" />{#}
{% endblock %}

{% block head_twitter_tags %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@CensusReporter">
        <meta name="twitter:creator" content="@CensusReporter">
        <meta name="twitter:title" content="Census profile: {% firstof geography.this.full_name geography.this.short_name %}">
        <meta name="twitter:description" content="Census data for {{ geography.this.full_name }} (pop. {{ geography.this.total_population|intcomma }}), including age, race, sex, income, poverty, marital status, education and more.">
        {#}<meta name="twitter:image" content="">{#}
{% endblock %}

{% block head_css_extra %}
<link href='http://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
<link href='{{STATIC_URL}}css/vendor/leaflet.label.css' rel='stylesheet' />
{% endblock %}

{% block head_javascript_extra %}
<script src='http://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
{% endblock %}

{% block body_id %}profile{% endblock %}

{% block header_content %}
<div id="cover-map" class="clearfix">
    <div id="slippy-map"></div>
    <div id="cover-profile" class="wrapper">
        <article class="clearfix column-half">
            <header id="header-box" class="column-full">
                <h1 class="title">{% firstof geography.this.full_name geography.this.short_name %}</h1>
                {% if geography.this.sumlevel != '010' %}
                <p class="caption"></p>
                {% endif %}
            </header>
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">{{ geography.this.total_population|intcomma }}</span>
                        <span class="name">Population</span>
                    </span>
                </div>
            </div>
            {% if geo_metadata.square_miles or geo_metadata.population_density %}
            <div class="column-half">
                <div class="stat">
                    <span class="secondary">
                        <span class="value">{% if geo_metadata.square_miles < .1 %}{{ geo_metadata.square_miles|floatformat:"3" }}{% else %}{{ geo_metadata.square_miles|floatformat|intcomma }}{% endif %}</span>
                        <span class="name"> square miles</span>
                    </span>
                    <span class="secondary">
                        <span class="value">{{ geo_metadata.population_density|floatformat|intcomma }}</span>
                        <span class="name"> people per square mile</span>
                    </span>
                </div>
            </div>
            {% endif %}

            {% if geography.this.show_extra_links %}
                {% include "profile/_blocks/_header_extra_links.html" %}
            {% endif %}

            <div class="column-full">
                <p class="caption"><strong>Census data:</strong> {{ geography.census_release }} unless noted</p>
            </div>
        </article>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="clearfix" id="query-topic-picker">
    <h2>Find data for this place</h2>
    <div class="typeahead-container">
        <input name="topic_select" id="topic-select" type="text" placeholder="Search by table or column name..." autocomplete="off">
    </div>
</section>

<p class="explain">Interact with charts and statistics for <span class="glossary-term" data-keyword="margin-of-error">margins of error</span> and additional information.</p>

<article id="demographics" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#age" id="age">Age <i class="fa fa-link"></i></a></h2>
            <aside></aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.age.median_age.total stat_type='number' %}
            </div>
            <div class="column-half" id="chart-histogram-demographics-age-distribution_by_decade-total" data-stat-type="scaled-percentage" data-chart-title="Population by age range"></div>
            <div class="column-quarter" id="chart-pie-demographics-age-distribution_by_category" data-stat-type="percentage" data-chart-title="Population by age category" data-initial-sort="-value"></div>
        </section>

        <section class="clearfix stat-row">
            <aside></aside>
            <div class="column-third">
                <h2 class="header-for-columns"><a class="permalink" href="#sex" id="sex">Sex <i class="fa fa-link"></i></a></h2>
                <div id="chart-pie-demographics-sex" data-stat-type="percentage" data-initial-sort="-value"></div>
            </div>
            <div class="column-two-thirds">
                <h2 class="header-for-columns"><a class="permalink" href="#race" id="race">Race &amp; Ethnicity <i class="fa fa-link"></i></a></h2>
                <div id="chart-column-demographics-race" data-stat-type="scaled-percentage" data-qualifier="Hispanic includes respondents of any race. Other categories are non-Hispanic."></div>
            </div>
        </section>

    </div>
</article>


<article id="economics" class="clearfix">
    <header class="section-contents">
        <h1>Economics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#income" id="income">Income <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.income.per_capita_income_in_the_last_12_months stat_type='dollar' %}
            </div>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.income.median_household_income stat_type='dollar' %}
            </div>
            <div class="column-half" id="chart-histogram-economics-income-household_distribution" data-chart-title="Household income" data-stat-type="scaled-percentage"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#poverty" id="poverty">Poverty <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.poverty.percent_below_poverty_line stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-economics-poverty-children" data-chart-title="Children (Under 18)" data-stat-type="percentage"></div>
            <div class="column-third" id="chart-pie-economics-poverty-seniors" data-chart-title="Seniors (65 and over)" data-stat-type="percentage"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#commute" id="commute">Transportation to work <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=economics.employment.mean_travel_time stat_type='time' stat_suffix='minutes' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-economics-employment-transportation_distribution" data-chart-title="Means of transportation to work" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ economics.employment.transportation_distribution.metadata.universe }}"></div>
        </section>

    </div>
</article>


<article id="families" class="clearfix">
    <header class="section-contents">
        <h1>Families</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#households" id="households">Households <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=families.households.number_of_households stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=families.households.persons_per_household stat_type='number' %}
            </div>
            <div class="column-third" id="chart-pie-families-households-distribution" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Population by household type"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#marital-status" id="marital-status">Marital status <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third" id="chart-pie-families-marital_status" data-stat-type="percentage" data-qualifier="Universe: {{ families.marital_status.metadata.universe }}"></div>
            <div class="column-two-thirds" id="chart-grouped_column-families-marital_status_grouped" data-stat-type="scaled-percentage" data-chart-title="Marital status, by sex"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#fertility" id="fertility">Fertility <i class="fa fa-link"></i></a></h2>
            <aside></aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=families.fertility.total stat_type='percentage' %}
            </div>
            <div class="column-two-thirds">
                <div id="chart-column-families-fertility-by_age" data-stat-type="scaled-percentage" data-chart-title="Women who gave birth during past year, by age group" data-qualifier="Universe: {{ families.fertility.by_age.metadata.universe }}"></div>
            </div>
        </section>

    </div>
</article>


<article id="housing" class="clearfix">
    <header class="section-contents">
        <h1>Housing</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#housing-occupancy" id="housing-occupancy">Units &amp; Occupancy <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=housing.units.number stat_type='count' %}
            </div>
            <div class="column-third" id="chart-pie-housing-units-occupancy_distribution" data-stat-type="percentage" data-chart-title="Occupied vs. Vacant" data-initial-sort="-value"></div>
            <div class="column-third" id="chart-pie-housing-ownership-distribution" data-stat-type="percentage" data-chart-title="Ownership of occupied units" data-initial-sort="-value"></div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third" id="chart-pie-housing-units-structure_distribution" data-stat-type="percentage" data-chart-title="Types of structure" data-initial-sort="-value"></div>
            <div class="column-two-thirds" id="chart-histogram-housing-length_of_tenure" data-stat-type="scaled-percentage" data-chart-title="Year moved in, by percentage of population"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#housing-value" id="housing-value">Value <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=housing.ownership.median_value stat_type='dollar' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-housing-ownership-value_distribution" data-chart-title="Value of owner-occupied housing units" data-stat-type="scaled-percentage"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#geographical-mobility" id="geographical-mobility">Geographical mobility <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=housing.migration.moved_since_previous_year stat_type='percentage' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-housing-migration_distribution" data-stat-type="scaled-percentage" data-chart-title="Population migration since previous year"></div>
        </section>

    </div>
</article>


<article id="social" class="clearfix">
    <header class="section-contents">
        <h1>Social</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#educational-attainment" id="educational-attainment">Educational attainment <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-half">
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.educational_attainment.percent_high_school_grad_or_higher stat_type='percentage' %}
                </div>
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.educational_attainment.percent_bachelor_degree_or_higher stat_type='percentage' %}
                </div>
            </div>
            <div class="column-half" id="chart-histogram-social-educational_attainment_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by minimum level of education" data-qualifier="Universe: {{ social.educational_attainment_distribution.metadata.universe }}"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#language" id="language">Language <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.language.percent_non_english_at_home stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-social-language-children" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Language at home, children 5-17"></div>
            <div class="column-third" id="chart-pie-social-language-adults" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Language at home, adults 18+"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#place-of-birth" id="place-of-birth">Place of birth <i class="fa fa-link"></i></a></h2>
            <aside></aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.place_of_birth.percent_foreign_born stat_type='percentage' %}
            </div>
            <div class="column-three-quarters" id="chart-column-social-place_of_birth-distribution" data-chart-title="Place of birth for foreign-born population" data-stat-type="scaled-percentage"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#veteran-status" id="veteran-status">Veteran status <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=social.veterans.percentage stat_type='percentage' %}
            </div>
            <div class="column-half" id="chart-column-social-veterans-wartime_service" data-stat-type="number" data-chart-title="Veterans by wartime service" data-qualifier="Civilian veterans who served during wartime only"></div>
            <div class="column-quarter">
                <a class="stat number">
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.veterans.number stat_type='number' stat_class='secondary' stat_wrapper="false" %}
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.veterans.sex.male stat_type='number' stat_class='secondary' stat_wrapper="false" %}
                    {% include 'profile/_blocks/_stat_list.html' with stat=social.veterans.sex.female stat_type='number' stat_class='secondary' stat_wrapper="false" %}
                </a>
            </div>
        </section>

    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script src="{{ STATIC_URL }}js/charts.js"></script>
<!--[if gt IE 9]><!-->
<script src="{{ STATIC_URL }}js/TileLayer.GeoJSON.js"></script>
<!--<![endif]-->
<script src="{{ STATIC_URL }}js/vendor/leaflet.label.js"></script>
<script type="text/javascript">
// Make the header map
d3.json("http://api.censusreporter.org/1.0/geo/tiger2013/{{ geography.this.full_geoid }}?geom=true", function(error, json) {
    if (error) return console.warn(error);
    var allowMapDrag = (browserWidth > 480) ? true : false;

    // draw a geom
    var map = L.mapbox.map('slippy-map', 'censusreporter.map-j9q076fv', {
        scrollWheelZoom: false,
        zoomControl: false,
        doubleClickZoom: false,
        boxZoom: false,
        keyboard: false,
        dragging: allowMapDrag,
        touchZoom: allowMapDrag
    });

    if (allowMapDrag) {
        map.addControl(new L.Control.Zoom({
            position: 'topright'
        }));
    }

    if (L.TileLayer.GeoJSON && thisSumlev !== "010") {
        var defaultStyle = {
                "clickable": true,
                "color": "#00d",
                "fillColor": "#ccc",
                "weight": 1.0,
                "opacity": 0.3,
                "fillOpacity": 0.3,
            },
        geojsonTileLayer = new L.TileLayer.GeoJSON(tilesGeoAPI, {
            clipTiles: true,
            unique: function(feature) {
                return feature.properties.geoid;
            }
        }, {
            style: defaultStyle,
            onEachFeature: function(feature, layer) {
                if (feature.properties.geoid == thisGeoID)
                    return;

                layer.bindLabel(feature.properties.name, {direction: 'auto'});
                layer.on('mouseover', function() {
                    layer.setStyle({
                        "fillOpacity": 0.5,
                    });
                });
                layer.on('mouseout', function() {
                    layer.setStyle(defaultStyle);
                });
                layer.on('click', function() {
                    window.location.href = '/profiles/' + feature.properties.geoid + '-' + slugify(feature.properties.name);
                });
            }
        });
        map.addLayer(geojsonTileLayer);
    }

    var featureLayer = L.geoJson(json, {
        style: {
            "fillColor": "#66c2a5",
            "color": "#777",
            "weight": 2,
            "clickable": false
        }
    });
    map.addLayer(featureLayer);
    var objBounds = featureLayer.getBounds();

    if (thisSumlev === "010") {
        objBounds = L.latLngBounds(L.latLng(24.396, -124.849), L.latLng(49.384, -66.885));
    }

    if (browserWidth > 768) {
        var z;
        for(z = 16; z > 2; z--) {
            var swPix = map.project(objBounds.getSouthWest(), z),
                nePix = map.project(objBounds.getNorthEast(), z),
                pixWidth = Math.abs(nePix.x - swPix.x),
                pixHeight = Math.abs(nePix.y - swPix.y);
            if (pixWidth <  500 && pixHeight < 400) {
                break;
            }
        }

        map.setView(objBounds.getCenter(), z);
        map.panBy([-270, 0], {animate: false});
    } else {
        map.fitBounds(objBounds);
    }
})

// Create all the charts
var Charts = {},
    chartContainers = $('[id^=chart-]'),
    defaultDataRelease = '{{ geography.census_release }}',
    profileData = {{ profile_data_json }};

var gracefulType = function(chartType) {
    // convert certain chart types to more readable versions at narrow widths
    if (browserWidth <= 640) {
        if (chartType == 'column' || chartType == 'histogram') {
            return 'bar'
        } else if (chartType == 'grouped_column') {
            return 'grouped_bar'
        }
    }
    return chartType
}

var makeCharts = function() {
    $.each(chartContainers, function(i, obj) {
        $(obj).empty();
        var chartID = $(this).prop('id'),
            chartDataKey = chartID.replace('chart-','').replace('alt-',''),
            chartDataID = chartDataKey.split('-'),
            chartType = gracefulType(chartDataID[0]),
            chartData = profileData[chartDataID[1]],
            chartChartTitle = $(this).data('chart-title'),
            chartChartShowYAxis = $(this).data('chart-show-y-axis'),
            chartInitialSort = $(this).data('initial-sort'),
            chartStatType = $(this).data('stat-type'),
            chartQualifier = $(this).data('qualifier') || null,
            geographyData = profileData['geography'];

        // allow arbitrary nesting in API data structure
        var drilldown = chartDataID.length - 1;
        if (drilldown >= 2) {
            for (var n = 2; n <= drilldown; n++) {
                chartData = chartData[chartDataID[n]]
            }
        }

        // determine whether data point is from anything other
        // than the primary ACS release for this page
        for (var key in chartData) if (chartData.hasOwnProperty(key)) break;
        var thisRelease = chartData[key]['acs_release'],
            noteRelease = (thisRelease != defaultDataRelease) ? thisRelease + ' data' : null;

        chartQualifier = Array(chartQualifier, noteRelease)
                .filter(function(n) { return n }).join('; ');

        var chartstuff = {
            chartContainer: chartID,
            chartDataKey: chartDataKey,
            chartType: chartType,
            chartHeight: 160,
            chartData: chartData,
            chartQualifier: chartQualifier,
            chartChartTitle: chartChartTitle,
            chartInitialSort: chartInitialSort,
            chartStatType: chartStatType,
            geographyData: geographyData
        }
        try {
            Charts[i] = Chart(chartstuff);
        } catch(e) {
            console.log("Error making chart " + chartID)
            console.log(chartstuff);
        }
    });
}
makeCharts();

// listen for resize, redraw charts to new dimensions
var lazyRedrawCharts = _.debounce(function() {
    window.browserWidth = document.documentElement.clientWidth;
    window.browserHeight = document.documentElement.clientHeight;
    makeCharts();
}, 50);
$(window).resize(lazyRedrawCharts);

// Add note to rows with flagged MOE
var flaggedMOE = $('.stat-row sup'),
    daggerNote = '<p><sup>&dagger;</sup> Margin of error is at least 10 percent of the total value. Take care with this statistic.</p>';

flaggedMOE.closest('.stat-row').find('aside').html(daggerNote);

// Enable the single-table topic picker
var thisSumlev = '{{ geography.this.sumlevel }}',
    thisGeoShortName = '{{ geography.this.short_name }}',
    thisGeoID = '{{ geography.this.full_geoid }}',
    placeGeoID = '{{ geography.parents.place.full_geoid }}',
    CBSAGeoID = '{{ geography.parents.CBSA.full_geoid }}',
    countyGeoID = '{{ geography.parents.county.full_geoid }}',
    stateGeoID = '{{ geography.parents.state.full_geoid }}',
    nationGeoID = '{{ geography.parents.nation.full_geoid }}';

// Update the header's list of parent geographies
var parentLinkContainer = $('#header-box .caption'),
    parentLinksPrefix = '<span class="glossary-term">{{ geography.this.sumlevel_name|capfirst }}</span> in: ',
    parentGeoAPI = 'http://api.censusreporter.org/1.0/geo/tiger2013/' + thisGeoID + '/parents',
    tilesGeoAPI = 'http://embed.censusreporter.org/1.0/geo/tiger2013/tiles/' + thisSumlev + '/{z}/{x}/{y}.geojson';

// for touch devices, still allow context toggle
$('.stat-row').on('click', '.stat', function() {
    $(this).find('.context').toggle();
})

if (!!parentLinkContainer) {
    // set up the listener for trigger to reveal hidden groups
    $('#header-box').on('click', '.link-reveal', function() {
        $(this).hide().next('.hidden').show();
        return false;
    });

    // hit the /parents API endpoint
    $.getJSON(parentGeoAPI)
        .done(function(results) {
            // filter out 'this' from the parents
            var parents = _.reject(results['parents'], function(p) {
                return p.relation === 'this';
            });
            // list of unique parent sumlev types, maintaining order
            var parentRelations = _.uniq(_.pluck(parents, 'sumlevel'));
            // collect parents into individual sumlev groups
            var parentGroups = _.groupBy(parents, function(d) {
                return d.sumlevel;
            });
            // for each parent sumlev type ...
            var parentLinkSets = _.map(parentRelations, function(r) {
                // ... compile a set of links to individual profile pages
                var parentLinkSet = _.map(parentGroups[r], function(v, k) {
                    return '<a href="/profiles/' + v.geoid + '-' + slugify(v.display_name) + '/">' + v.display_name + '</a>';
                });
                var numParents = parentLinkSet.length;
                // if more than one of a sumlev type, group behind reveal link
                if (numParents > 1) {
                    return '<a href="#" class="link-reveal">'+numParents+' '+ sumlevMap[r]['plural'] +'</a><span class="hidden">'+parentLinkSet.join(', ')+'</span>';
                } else {
                    // just one of this sumlev type, so add it to list
                    return parentLinkSet;
                }
            })
            // push the whole thing into the header box ... thingy
            parentLinkContainer.html(parentLinksPrefix + parentLinkSets.join(', '));
            $('body').trigger('glossaryUpdate', parentLinkContainer);
        });
}

Glossary.init("{% url 'glossary' %}",".glossary-term");
</script>
<script src="{{ STATIC_URL }}js/profile.topic.picker.js"></script>
{% endblock %}
