{% extends 'profile/_base_profile.html' %}{% load humanize %}

{% comment %}
{% block head_title %}{% firstof geography.this.full_name geography.this.short_name %} - {{ block.super }}{% endblock %}
{% endcomment %}}
{% block head_title %}{{ geography.name }} - {{ block.super }}{% endblock %}

{% block head_css_extra %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->
<link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
{% endblock %}

{% block head_javascript_extra %}
{#}<script src="http://d3js.org/d3.v3.min.js"></script>{#}
<script src="{{ STATIC_URL }}js/vendor/d3.v3.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
{% endblock %}

{% block body_id %}profile{% endblock %}

{% block header_content %}
{% comment %}
<div id="cover-map" class="clearfix">
    <div id="cover-profile" class="wrapper">
        <article class="clearfix column-half">
            <header class="column-full">
                <h1 class="title">{% firstof geography.this.full_name geography.this.short_name %}</h1>
                <p class="caption">Data: {{ geography.census_release }} unless noted</p>
            </header>
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">{{ geography.this.total_population|intcomma }}</span>
                        <span class="name">Population</span>
                    </span>
                </div>
            </div>
            {% if geo_metadata.square_miles %}
            <div class="column-half">
                <div class="stat">
                    <span class="secondary">
                        <span class="value">{{ geo_metadata.square_miles|floatformat|intcomma }}</span>
                        <span class="name"> square miles</span>
                    </span>
                    <span class="secondary">
                        <span class="value">{{ geo_metadata.population_density|floatformat|intcomma }}</span>
                        <span class="name"> people per square mile</span>
                    </span>
                </div>
            </div>
            {% endif %}
            <div class="column-full">
                <p>This is some short, generated text that uses the facts and figures below to provide some narrative about the place being profiled.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis vehicula euismod. In erat quam, dictum eu leo non, euismod pretium diam. Maecenas rutrum dolor at diam placerat aliquam. Aenean rhoncus sapien ac venenatis euismod. Nam id ligula facilisis, placerat erat at, congue diam.</p>
            </div>
        </article>
    </div>

    <div id="slippy-map"></div>
</div>
{% endcomment %}
{% endblock %}

{% block content %}

<h1>
    {{ geography.name }}
    {% for g in geography.parents %}
        , {{ g.name }}
    {% endfor %}
</h1>

{#}<p class="explain">Indexes show data as a percentage of state and national values, highlighting values that diverge by at least 20%.</p>{#}

{% comment %}
<article id="test" class="clearfix">
    <header class="section-contents">
        <h1>Table B02001</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <aside></aside>
            <div class="column-golden-wide">
                <h2>Race</h2>
                <table id="data-table" class="full-width">
                    <thead>
                        <tr>
                            <th class="name">Column</th>
                            <th class="value">Percentage</th>
                            <th class="value">Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td class="name indent-0">Total:</td>
                            <td class="value">
                                <span class="percentage">100%</span>
                            </td>
                            <td class="value">
                                <span class="raw-number">313,914,040</span>
                            </td>
                        </tr>

                        <tr class="even">
                            <td class="name indent-1">White alone</td>
                            <td class="value">
                                <span class="percentage">73.9%</span>
                            </td>
                            <td class="value">
                                <span class="raw-number">231,992,377</span>
                            </td>
                        </tr>

                        <tr class="odd">
                            <td class="name indent-1">Black or African American alone</td>
                            <td class="value">
                                <span class="percentage">12.6%</span>
                            </td>
                            <td class="value">
                                <span class="raw-number">39,623,138</span>
                            </td>
                        </tr>

                        <tr class="even">
                            <td class="name indent-1">American Indian and Alaska Native alone</td>

                            <td class="value">
                                <span class="percentage">0.8%</span>
                            </td>
                            <td class="value">
                                <span class="raw-number">2,563,505</span>
                            </td>
                        </tr>

                        <tr class="odd">
                            <td class="name indent-1">Asian alone</td>
                            <td class="value">
                                <span class="percentage">5%</span>
                            </td>
                            <td class="value">
                                <span class="raw-number">15,555,530</span>
                            </td>
                        </tr>

                        <tr class="even">
                            <td class="name indent-1">Native Hawaiian and Other Pacific Islander alone</td>
                            <td class="value">
                                <span class="percentage">0.2%</span>
                            </td>
                            <td class="value">
                                <span class="raw-number">543,198</span>
                            </td>
                        </tr>

                        <tr class="odd">
                            <td class="name indent-1">Some other race alone</td>
                            <td class="value">
                                <span class="percentage">4.6%</span>
                            </td>
                            <td class="value">
                                <span class="raw-number">14,562,678</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-golden-narrow">
                <h2>Create a comparison with this table</h2>

                <div class="option-group">
                    <h2 class="option-header">Compare Spokane against&hellip;</h3>
                    <ul class="option-list">
                        <li><a href="">Other cities in Washington</a></li>
                        <li><a href="">Choose your own list of places to compare</a></li>
                    </ul>
                </div>

                <div class="option-group">
                    <h2 class="option-header">Divide Spokane by&hellip;</h2>
                    <ul class="option-list">
                        <li><a href="">Census Tracts</a></li>
                        <li><a href="">Block Groups</a></li>
                        <li><a href="">ZIP Codes</a></li>
                    </ul>
                </div>
            </div>
            {#}<div class="column-half" id="chart-column-testdata-marital_status_grouped-widowed" data-stat-type="scaled-percentage" data-chart-title="Marital status"></div>{#}
        </section>

    </div>
</article>
{% endcomment %}

<p class="explain">Hover over charts and statistics for margins of error and additional information.</p>
<article id="demographics" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2 class="column-header"><a class="permalink" href="#age" id="age">Age <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.median_age stat_type='number' %}
            </div>
            <div class="column-half" id="chart-histogram-demographics-age_group_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by age range"></div>
            <div class="column-quarter" id="chart-pie-demographics-age_category_distribution" data-stat-type="percentage" data-chart-title="Population by age category"></div>
        </section>
        <section class="clearfix stat-row">
            <aside></aside>
            <div class="column-two-thirds">
                <h2 class="column-header"><a class="permalink" href="#pop_group" id="pop_group">Population group<i class="fa fa-link"></i></a></h2>
                <div id="chart-column-demographics-population_group_distribution" data-stat-type="scaled-percentage"></div>
            </div>
        </section>
    </div>
</article>

<article id="service_delivery" class="clearfix">
    <header class="section-contents">
        <h1>Service delivery</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#water" id="water">Water <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_water_from_service_provider stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-water_source_distribution" data-stat-type="percentage" data-chart-title="Population by water source"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#refuse" id="refuse">Refuse disposal <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_ref_disp_from_service_provider stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-refuse_disposal_distribution" data-chart-title="Population by refuse disposal" data-stat-type="percentage"></div>
        </section>

        {% comment %}
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#geographical-mobility" id="geographical-mobility">Geographical mobility <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=housing.migration.moved_since_previous_year stat_type='percentage' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-housing-migration_distribution" data-stat-type="scaled-percentage" data-chart-title="Population migration since previous year"></div>
        </section>
        {% endcomment %}

    </div>
</article>

<article id="economics" class="clearfix">
    <header class="section-contents">
        <h1>Economics</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#income" id="income">Income <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third" id="chart-pie-economics-employment_status" data-chart-title="Population by employment status" data-stat-type="percentage" data-qualifier="Universe: {{ economics.employment_status.metadata.universe }}"></div>
            <div class="column-two-thirds" id="chart-histogram-economics-individual_income_distribution" data-chart-title="Employees by monthly income" data-stat-type="scaled-percentage" data-qualifier="Universe: {{ economics.individual_income_distribution.metadata.universe }}"></div>
        </section>
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#sector" id="sector">Sector<i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third" id="chart-pie-economics-sector_type_distribution" data-chart-title="Population by type of sector" data-stat-type="percentage"></div>
        </section>
    </div>
</article>

<article id="education" class="clearfix">
    <header class="section-contents">
        <h1>Education</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#highest-educational-level" id="highest-educational-level">Educational level <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-half">
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=education.educational_attainment.percent_get_or_higher stat_type='percentage' %}
                </div>
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=education.educational_attainment.percent_fet_or_higher stat_type='percentage' %}
                </div>
            </div>
            <div class="column-half" id="chart-histogram-education-educational_attainment_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by highest educational level" data-qualifier="Universe: {{ education.educational_attainment_distribution.metadata.universe }}"></div>
        </section>

    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}
<script src="{{ STATIC_URL }}js/charts.js"></script>
<script type="text/javascript">

/*d3.json("http://api.censusreporter.org/1.0/geo/tiger2012/{{ geoid }}?geom=true", function(error, json) {
    if (error) return console.warn(error);
    var allowMapDrag = (browserWidth > 480) ? true : false;

    // draw a geom
    var map = L.mapbox.map('slippy-map', 'censusreporter.map-j9q076fv', {
        scrollWheelZoom: false,
        zoomControl: false,
        doubleClickZoom: false,
        boxZoom: false,
        keyboard: false,
        dragging: allowMapDrag,
        touchZoom: allowMapDrag
    });

    if (allowMapDrag) {
        map.addControl(new L.Control.Zoom({
            position: 'topright'
        }));
    }

    var featureLayer = L.geoJson(json, {
        style: {
            "fillColor": "#66c2a5",
            "color": "#777",
            "weight": 2,
            "clickable": false
        }
    });
    map.addLayer(featureLayer);
    var objBounds = featureLayer.getBounds();

    if (browserWidth > 768) {
        var z;
        for(z = 16; z > 2; z--) {
            var swPix = map.project(objBounds.getSouthWest(), z),
                nePix = map.project(objBounds.getNorthEast(), z),
                pixWidth = Math.abs(nePix.x - swPix.x),
                pixHeight = Math.abs(nePix.y - swPix.y);
            if (pixWidth <  500 && pixHeight < 400) {
                break;
            }
        }

        map.setView(featureLayer.getBounds().getCenter(), z);
        map.panBy([-270, 0], {animate: false});
    } else {
        map.fitBounds(featureLayer.getBounds());
    }
})*/

var Charts = {},
    chartContainers = $('[id^=chart-]'),
    defaultDataRelease = '{{ geography.census_release }}',
    profileData = {{ profile_data_json }};

var gracefulType = function(chartType) {
    // convert certain chart types to more readable versions at narrow widths
    if (browserWidth <= 640) {
        if (chartType == 'column' || chartType == 'histogram') {
            return 'bar'
        } else if (chartType == 'grouped_column') {
            return 'grouped_bar'
        }
    }
    return chartType
}

$.each(chartContainers, function(i) {
    var chartID = $(this).prop('id'),
        chartDataID = chartID.replace('chart-','').replace('alt-','').split('-'),
        chartType = gracefulType(chartDataID[0]),
        chartData = profileData[chartDataID[1]],
        chartChartTitle = $(this).data('chart-title'),
        chartChartShowYAxis = $(this).data('chart-show-y-axis'),
        chartInitialSort = $(this).data('initial-sort'),
        chartStatType = $(this).data('stat-type'),
        chartQualifier = $(this).data('qualifier') || null,
        comparisonThisName = '{{ geography.this.short_name }}',
        comparisonCountyName = '{{ geography.county.short_name }}',
        comparisonStateName = '{{ geography.state.short_name }}';

    // allow arbitrary nesting in API data structure
    var drilldown = chartDataID.length - 1;
    if (drilldown >= 2) {
        for (var i = 2; i <= drilldown; i++) {
            chartData = chartData[chartDataID[i]]
        }
    }

    // determine whether data point is from anything other
    // than the primary ACS release for this page
    for (var key in chartData) if (chartData.hasOwnProperty(key)) break;
    var thisRelease = null,
        noteRelease = (thisRelease != defaultDataRelease) ? thisRelease + ' data' : null;

    /*chartQualifier = (chartQualifier && noteRelease) ? Array(chartQualifier, noteRelease)
            .filter(function(n) { return n }).join('; ') : null;*/

    Charts[i] = Chart({
        chartContainer: chartID,
        chartType: chartType,
        chartHeight: 160,
        chartData: chartData,
        chartQualifier: chartQualifier,
        chartChartTitle: chartChartTitle,
        chartInitialSort: chartInitialSort,
        chartStatType: chartStatType,
        comparisonThisName: comparisonThisName,
        comparisonCountyName: comparisonCountyName,
        comparisonStateName: comparisonStateName
    });
});

var flaggedMOE = $('.stat-row sup'),
    daggerNote = '<p><sup>&dagger;</sup> Margin of error is at least 10 percent of the total value. Take care with this statistic.</p>';

flaggedMOE.closest('.stat-row').find('aside').html(daggerNote);

</script>
{% endblock %}
