{% extends '_base.html' %}

{% comment %}
This page provides a base for all table view templates to inherit from,
for applying things across that entire family of pages.
{% endcomment %}

{% block head_title %}Table {% if table %}{{ table }}{% endif %} {% if release %}({{ release.name }}){% endif %} - {{ block.super }}{% endblock %}

{% block header_content %}
<div id="header-container" class="wrapper clearfix header-container">
    <div class="tool-set header-tool-set">
        <div class="tool-group">
            <ul class="toggle-set">
                <li><a class="{% if data_format == 'table' %}active{% endif %}" href="{% url 'data_detail' 'table' %}?{{ request.GET.urlencode }}">Table</a></li>
                <li><a class="{% if data_format == 'distribution' %}active{% endif %}" href="{% url 'data_detail' 'distribution' %}?{{ request.GET.urlencode }}">Distribution</a></li>
            </ul>
        </div>
        <div class="tool-group toggle-sub-group">
            <a href="#">
                Download the data
            </a>
            <ul class="sub-group">
                <li><a target="_new" href="{{ download_link_prefix }}&format=csv">CSV</a></li>
                <li><a target="_new" href="{{ download_link_prefix }}&format=xlsx">Excel</a></li>
                <li><a target="_new" href="{{ download_link_prefix }}&format=geojson">GeoJSON</a></li>
                <li><a target="_new" href="{{ download_link_prefix }}&format=kml">KML</a></li>
                <li><a target="_new" href="{{ download_link_prefix }}&format=shp">Shapefile</a></li>
            </ul>
        </div>
    </div>
    <h1>Table {{ table }}</h1>
</div>
{% endblock %}

{% block body_javascript_extra %}
<script src="{{ STATIC_URL }}js/vendor/underscore-1.5.2.min.js"></script>
<script>
var primaryGeoID = '{{ primary_geo_id }}',
    geoIDs = '{{ geo_ids }}'.split(','),
    tableID = '{{ table }}',
    dataFormat = '{{ data_format }}';

// toggle links
$('.toggle-set a').hover(function() {
    $('.toggle-set a').not(this).toggleClass('unhovered');
    $(this).toggleClass('hovered');
});

// download submenu
$('.toggle-sub-group').hover(function() {
    $(this).find('.sub-group').toggle();
});
</script>
{% endblock %}