{% extends 'data/_base_data.html' %}{% load humanize %}

{% block head_title %}Map View: {{ block.super }}{% endblock %}

{% block body_class %}{{ block.super }} full-screen{% endblock %}

{% block body %}
{% load static %}
<div id="map-controls" class="clearfix">
    <header class="box-header">
        <a class="title" href="{% url 'homepage' %}">
            <img src="{% static 'img/logo.png' %}" width="44" height="21" alt="Census Reporter Logo"> Census Reporter
        </a>
    </header>
    <div class="box-content">
        <section class="clearfix">
            {% include 'data/_blocks/_toggle_menu.html' %}
            {% include 'data/_blocks/_topic_select_input.html' %}
        </section>

        <section id="data-display" class="clearfix">
            <div id="header-container"></div>
        </section>
        <aside></aside>
    </div>
</div>

<div id="slippy-map">
    <!-- Add mapbox watermark -->
    <a href="http://mapbox.com/about/maps" class='mapbox-maplogo' target="_blank">MapBox</a>
</div>
{% endblock %}
