<section id="explore-topic-picker" class="column-full clearfix homepage-action">
    <h1 class="article-header">Explore data</h1>
    <div id="topic-select-wrapper" class="input-wrapper">
        <input name="topic_select" id="topic-select" type="text" placeholder="Search by table or column name..." autocomplete="off">
    </div>
</section>
<section id="explore-topic-place-picker" class="column-full clearfix homepage-action">
    <h1 class="article-header">Show data for</h1>
    <div id="topic-place-select-wrapper" class="input-wrapper">
        <input name="topic_place_select" id="topic-place-select" type="text" placeholder="Start typing to pick a place..." autocomplete="off">
        <p class="help-text">Select a place to start, then divide into smaller components or add geographies to compare.</p>
    </div>
</section>