{% extends "_base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-iabdemolitionsindexpage{% endblock %}
{% block sub_head%}
    {% block sub_head_content %}
      <div id="sub-header">
        <div id="inner" class="wrapper">
          <h1>Info Action Brief</h1>

          <div class="intro">{{ page.get_parent.intro|richtext }}Replace this text with the parent text from Info Action Briefs main page so that it stays the same across all of the IAB subpages. Et magnia con natem fugitio repuditiunt omnitatem estem fuga. Itatium ea sequossunt vendem aut mint. Cus numqui berferc hicaecest, toribusam dolor sit a qui reperibus poreiur mi.</div>
        </div>
      </div>
    {% endblock %}
{% endblock %}
{% block content %}

      <div class="content-container wrapper clearfix">
      <h1>{{ page.title }}</h1>

      <div class="intro">{{ page.body|richtext }}</div>
        <ul id="inner">
        {% for post in page.get_children %}
          <li class="iab-intro">
            <a href="{% pageurl post %}">
              <h2>{{ post.title }}</h2>
              <p>{{ post.specific.intro }}...</p>
            </a>
          </li>
        {% endfor %}
        </ul>

        <div class="iab-links">
          <h2>Tax Foreclosures and Evictions in the News</h2>
          <ul>
            <li><a href="https://www.michiganradio.org/post/owe-taxes-s-ok-wayne-county-will-still-sell-you-foreclosed-homes">https://www.michiganradio.org/post/owe-taxes-s-ok-wayne-county-will-still-sell-you-foreclosed-homes</a></li>
            <li><a href="https://www.detroitnews.com/story/news/local/detroit-city/2015/10/07/mass-evictions-loom-homes-sold/73558768/">https://www.detroitnews.com/story/news/local/detroit-city/2015/10/07/mass-evictions-loom-homes-sold/73558768/</a></li>
            <li><a href="https://www.freep.com/in-depth/news/investigations/2019/03/14/wayne-county-land-bank-action-before-auction/2975525002/">https://www.freep.com/in-depth/news/investigations/2019/03/14/wayne-county-land-bank-action-before-auction/2975525002/</a></li>
            <li><a href="https://www.vice.com/en_us/article/kznzky/detroits-housing-crisis-is-the-work-of-its-own-government">https://www.vice.com/en_us/article/kznzky/detroits-housing-crisis-is-the-work-of-its-own-government</a></li>
            <li><a href="https://www.detroitnews.com/story/news/local/detroit-city/housing/2020/01/09/detroit-homeowners-overtaxed-600-million/2698518001/">https://www.detroitnews.com/story/news/local/detroit-city/housing/2020/01/09/detroit-homeowners-overtaxed-600-million/2698518001/</a></li>
          </ul>

          <h2>Foreclosure and Eviction Related Tools</h2>
          <ul>
            <li><a href="https://evictionlab.org/">https://evictionlab.org/</a></li>
          </ul>

          <h2>Contacts and Resources</h2>
          <ul>
            <li><a href="https://www.uchcdetroit.org/">https://www.uchcdetroit.org/</a></li>
            <li><a href="https://lakeshorelegalaid.org/">https://lakeshorelegalaid.org/</a></li>
            <li><a href="https://detroitmi.gov/sites/detroitmi.localhost/files/2018-05/5107stcaffidavit_441749_7.pdf">https://detroitmi.gov/sites/detroitmi.localhost/files/2018-05/5107stcaffidavit_441749_7.pdf</a></li>
            <li><a href="https://detroitmi.gov/government/boards/property-assessment-board-review/homeowners-property-tax-assistance-program-hptap">https://detroitmi.gov/government/boards/property-assessment-board-review/homeowners-property-tax-assistance-program-hptap</a></li>
          </ul>
        </div>
        <a id="return" href="{{ page.get_parent.url }}"><i class="fas fa-arrow-left"></i> Return to Action Briefs</a>
      </div>
{% endblock %}
