{% extends "_base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-iabdemolitionsindexpage{% endblock %}

{% block content %}
      <div id="sub-header">
        <div id="inner" class="wrapper">
        <h1>Info Action Brief</h1>

        <div class="intro">{{ page.get_parent.intro|richtext }}Replace this text with the parent text from Info Action Briefs main page so that it stays the same across all of the IAB subpages. Et magnia con natem fugitio repuditiunt omnitatem estem fuga. Itatium ea sequossunt vendem aut mint. Cus numqui berferc hicaecest, toribusam dolor sit a qui reperibus poreiur mi.</div>

        </div>
      </div>

      <div class="content-container wrapper clearfix">
      <h1>{{ page.title }}</h1>

      <div class="intro">{{ page.intro|richtext }}</div>
        <ul id="inner">
        {% for post in page.get_children %}
          <li class="iab-intro">
            <a href="{% pageurl post %}"><h2>{{ post.title }}</h2></a>
            <p>{{ post.specific.intro }}...</p>
          </li>
        {% endfor %}
        </ul>

        <div class="iab-links">
          <h2>Perspectives of Detroit’s Housing History in the News</h2>
          <ul>
            <li><a href="https://www.bridgemi.com/detroit-journalism-cooperative/real-estate-hot-detroit-its-top-owner-city-isnt-selling">https://www.bridgemi.com/detroit-journalism-cooperative/real-estate-hot-detroit-its-top-owner-city-isnt-selling</a></li>
            <li><a href="https://www.bridgemi.com/detroit-journalism-cooperative/how-cash-crappy-home-step-one-find-sucker-sign-land-contract">https://www.bridgemi.com/detroit-journalism-cooperative/how-cash-crappy-home-step-one-find-sucker-sign-land-contract</a></li>
            <li><a href="https://www.crainsdetroit.com/real-estate/market-rate-housing-affordability-solution">https://www.crainsdetroit.com/real-estate/market-rate-housing-affordability-solution</a></li>
            <li><a href="https://www.freep.com/story/opinion/contributors/2019/01/22/detroit-affordable-housing/2484311002/">https://www.freep.com/story/opinion/contributors/2019/01/22/detroit-affordable-housing/2484311002/</a></li>
            <li><a href="https://www.nytimes.com/2017/11/04/business/detroit-housing.html">https://www.nytimes.com/2017/11/04/business/detroit-housing.html</a></li>
            <li><a href="https://www.lisc.org/detroit/our-initiatives/quality-affordable-housing/ahlf/">https://www.lisc.org/detroit/our-initiatives/quality-affordable-housing/ahlf/</a></li>
            <li><a href="https://www.urban.org/features/tackling-southeast-michigans-biggest-housing-challenges">https://www.urban.org/features/tackling-southeast-michigans-biggest-housing-challenges</a></li>
          </ul>

          <h2>Affordability Related Tools</h2>
          <ul>
            <li><a href="http://apps.urban.org/features/cost-of-affordable-housing/">http://apps.urban.org/features/cost-of-affordable-housing/</a></li>
            <li><a href="http://apps.urban.org/features/rental-housing-crisis-map/">http://apps.urban.org/features/rental-housing-crisis-map/</a></li>
          </ul>

          <h2>Contacts and Resources</h2>
          <ul>
            <li><a href="https://detroitmi.gov/departments/housing-and-revitalization-department/residents">https://detroitmi.gov/departments/housing-and-revitalization-department/residents</a></li>
          </ul>
        </div>
        <a id="return" href="{{ page.get_parent.url }}"><i class="fas fa-arrow-left"></i> Return to Action Briefs</a>
      </div>
{% endblock %}
