{% extends "_base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-iabindexpage{% endblock %}
{% block sub_head%}
    {% block sub_head_content %}
          <div id="sub-header">
            <div id="inner" class="wrapper">
              <h1>{{ page.title }}</h1>
              <div class="intro">{{ page.intro|richtext }}</div>
            </div>
          </div>
    {% endblock %}
{% endblock %}

{% block content %}

      <div class="content-container wrapper clearfix">
        <ul id="inner">
        {% for post in page.get_children %}
          <li class="iab-intro">
            <a href="{% pageurl post %}">
              <h2>{{ post.title }}</h2>
              <p>{{ post.specific.intro }}...</p>
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
{% endblock %}
