{% extends "_base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-iabdemolitionsindexpage{% endblock %}
{% block sub_head%}
    {% block sub_head_content %}
      <div id="sub-header">
        <div id="inner" class="wrapper">
          <h1>Info Action Brief</h1>

          <div class="intro">{{ page.get_parent.specific.intro|richtext }}</div>
        </div>
      </div>
    {% endblock %}
{% endblock %}
{% block content %}

      <div class="content-container wrapper clearfix">
      <h1>{{ page.title }}</h1>

      <div class="intro">{{ page.body|richtext }}</div>
        <ul id="inner">
        {% for post in page.get_children %}
          <li class="iab-intro">
            <a href="{% pageurl post %}">
              <h2>{{ post.title }}</h2>
              <p>{{ post.specific.intro }}...</p>
            </a>
          </li>
        {% endfor %}
        </ul>

        <div class="iab-links">
          <h2>Perspectives of Detroit’s Housing History in the News</h2>
          <ul>
            <li><a href="https://www.detroitnews.com/story/news/local/detroit-city/2019/01/14/detroit-push-rental-inspections-fails-increase-compliance/2473755002/">https://www.detroitnews.com/story/news/local/detroit-city/2019/01/14/detroit-push-rental-inspections-fails-increase-compliance/2473755002/</a></li>
            <li><a href="https://www.modeldmedia.com/features/detroit-housing-pt1-111715.aspx">https://www.modeldmedia.com/features/detroit-housing-pt1-111715.aspx</a></li>
            <li><a href="https://www.freep.com/story/money/business/john-gallagher/2019/03/21/black-mortgages-detroit-real-estate-michigan/3165381002/">https://www.freep.com/story/money/business/john-gallagher/2019/03/21/black-mortgages-detroit-real-estate-michigan/3165381002/</a></li>
            <li><a href="https://www.detroitnews.com/story/news/michigan/2018/07/10/black-home-ownership-drop-largest-michigan/767804002/">https://www.detroitnews.com/story/news/michigan/2018/07/10/black-home-ownership-drop-largest-michigan/767804002/</a></li>
          </ul>
        </div>

        <a id="return" href="{{ page.get_parent.url }}"><i class="fas fa-arrow-left"></i> Return to Action Briefs</a>

      </div>
{% endblock %}
