{% extends "_base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-information-for-action-page{% endblock %}
{% block sub_head%}
    {% block sub_head_content %}
      <div id="sub-header">
        <div id="inner" class="wrapper">
          <h1>Info Action Brief</h1>

          <div class="intro">{{ page.get_parent.specific.intro|richtext }}</div>
        </div>
      </div>
    {% endblock %}
{% endblock %}
{% block content %}

      <div class="content-container wrapper clearfix iab iab-post">

    {% with categories=page.categories.all %}
      {% if categories %}
        <h3>
          {% for category in categories %}
            {{ category.name }}
          {% endfor %}
        </h3>
      {% endif %}
    {% endwith %}

    <h1>{{ page.title }}</h1>
    <div class="intro"><p>{{ page.author }}</p></div>
    <!--<p class="meta">{{ page.date }}</p>-->
    <div class="post-body">
      {{ page.body|richtext }}
      <h4 id="pdf-download"><a href="{{ page.pdf_file.url }}"><i class="fas fa-file-alt"></i> Download PDF</a></h4>
    </div>


    {% if page.tags.all.count %}

    <div class="tags">
      <ul id="tags"><h3>Tags:</h3>
      {% for tag in page.tags.all %}
        <li>
          <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <a id="return" href="{{ page.get_parent.url }}"><i class="fas fa-arrow-left"></i> Return to previous section</a>
  </div>

{% endblock %}
