<script>
// namespacing
var {{ table }} = {
    'data': [],
    'categories': [],
    'chartContainer': d3.select("{{ container_id }}"),
    'width': chartContainer[0][0].offsetWidth,
    'height': 180,
    'radius': Math.min(width, height) / 3
};
// build the data list
{% for category, values in data %}
{{ table }}['data'].push({'name': '{{ values.name }}', 'value': '{{ values.values.this }}'})
{{ table }}['categories'].push('{{ values.name }}')
{% endfor %}

function pctFmt(value) {
    if ('{{ stat_type }}' == 'percentage') { value += '%' }
    return value;
}

{{ table }}.color = d3.scale.ordinal()
    .domain({{ table }}['categories'])
    .range(colorbrewer.RdBu[9]);

{{ table }}.arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(radius / 2);

{{ table }}.pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d['value']; });

{{ table }}.pieData = {{ table }}.pie({{ table }}['data']);

{{ table }}.svg = {{ table }}.chartContainer.append("svg")
    .attr("width", width)
    .attr("height", height);

// arcs
{{ table }}.arcGroup = {{ table }}.svg.append("g")
    .attr("class", "arc-group")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
    
// center text
{{ table }}.centerGroup = {{ table }}.svg.append("g")
    .attr("class", "center-group")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

// center label
{{ table }}.centerLabel = {{ table }}.centerGroup.append("text")
  .attr("class", "label-name")
  .attr("dy", -10)
  .attr("text-anchor", "middle") // text-align: right
  .text({{ table }}.pieData[0]['data']['name']);

// center value
{{ table }}.centerValue = {{ table }}.centerGroup.append("text")
  .attr("class", "label-value")
  .attr("dy", 12)
  .attr("text-anchor", "middle") // text-align: right
  .text(function() {
      return pctFmt({{ table }}.pieData[0]['data']['value']);
  });

function showLabel(d) {
    {{ table }}.centerLabel.text(d['data']['name']);
    {{ table }}.centerValue.text(function() {
        return pctFmt(d['data']['value']);
    });
}
function resetLabel() {
    showLabel({{ table }}.pieData[0]);
}

//turn values into ints
{{ table }}['data'].forEach(function(d) {
    d['value'] = +d['value'];
});

// add arc paths
{{ table }}.arcs = {{ table }}.arcGroup.selectAll(".arc")
        .data(pieData)
    .enter().append("path")
        .attr("d", {{ table }}.arc)
        .style("fill", function(d) { return color(d.data['name']); });

{{ table }}.arcs.on("mouseover", showLabel)
    .on("mouseout", resetLabel);
</script>