<script>
// namespacing
var {{ table }} = {
    'data': [],
    'categories': []
};
// build the data list
{% for category, values in data %}
{{ table }}['data'].push({'name': '{{ values.name }}', 'value': '{{ values.values.this }}'})
{{ table }}['categories'].push('{{ values.name }}')
{% endfor %}

function pctFmt(value) {
    if ('{{ stat_type }}' == 'percentage') { value += '%' }
    return value;
}

var chartContainer = d3.select("{{ container_id }}");
var width = chartContainer[0][0].offsetWidth,
    height = 180,
    radius = Math.min(width, height) / 2,
    textOffset = -15;

var color = d3.scale.ordinal()
    .domain({{ table }}['categories'])
    .range(colorbrewer.RdBu[9]);

var arc = d3.svg.arc()
    .outerRadius(radius - 30)
    .innerRadius(radius / 3);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d['value']; }),
    pieData = pie({{ table }}['data']);

var svg = chartContainer.append("svg")
    .attr("width", width)
    .attr("height", height);

// arcs
var arcGroup = svg.append("g")
    .attr("class", "arc-group")
    .attr("transform", "translate(" + ((width / 2) - 50) + "," + height / 2 + ")");

//turn values into ints
{{ table }}['data'].forEach(function(d) {
    d['value'] = +d['value'];
});

// add arc paths
var arcs = arcGroup.selectAll(".arc")
        .data(pieData)
    .enter().append("path")
        .attr("d", arc)
        .style("fill", function(d) { return color(d.data['name']); });

// add legend
var legend = svg.append("g")
    .attr("class", "legend");

legend.selectAll('g').data(pieData)
    .enter()
    .append('g')
    .each(function(d, i) {
        var g = d3.select(this);
            g.append("rect")
                .attr("x", width - 100)
                .attr("y", i*18 + 30)
                .attr("width", 10)
                .attr("height", 10)
                .style("fill", function(d) { return color(d.data['name']); });

            g.append("text")
              .attr("x", width - 85)
              .attr("y", i*18 + 39)
              .attr("height",30)
              .attr("width",100)
              .text(d.data['name']);
    });
</script>