<dl class="dl-horizontal">
    <dt>
    GCT0101 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0101.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0101.csv"
      >5yr</a
    >]
  </dt>
    <dd>Median Age Of The Total Population</dd>
    <dt>
    GCT0102 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0102.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0102.csv"
      >5yr</a
    >]
  </dt>
    <dd>Sex Ratio Of The Total Population</dd>
    <dt>
    GCT0103 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0103.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0103.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of The Total Population Who Are 65 Years And Over</dd>
    <dt>
    GCT0104 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0104.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0104.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of The Total Population Who Are 85 Years And Over</dd>
    <dt>
    GCT0105 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0105.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0105.csv"
      >5yr</a
    >]
  </dt>
    <dd>Age Dependency Ratio Of The Total Population</dd>
    <dt>
    GCT0106 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0106.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0106.csv"
      >5yr</a
    >]
  </dt>
    <dd>Child Dependency Ratio Of The Total Population</dd>
    <dt>
    GCT0107 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0107.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0107.csv"
      >5yr</a
    >]
  </dt>
    <dd>Old-Age Dependency Ratio Of The Total Population</dd>
    <dt>
    GCT0201 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0201.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0201.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of The Total Population Who Are White Alone</dd>
    <dt>
    GCT0202 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0202.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0202.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of The Total Population Who Are Black Or African American Alone
    </dd>
    <dt>
    GCT0203 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0203.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0203.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of The Total Population Who Are American Indian And Alaska Native Alone
    </dd>
    <dt>
    GCT0204 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0204.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0204.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of The Total Population Who Are Asian Alone</dd>
    <dt>
    GCT0205 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0205.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0205.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of The Total Population Who Are Native Hawaiian And Other Pacific Islander Alone
    </dd>
    <dt>
    GCT0206 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0206.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0206.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of The Total Population Who Are Some Other Race Alone</dd>
    <dt>
    GCT0207 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0207.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0207.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of The Total Population Who Are Two Or More Races</dd>
    <dt>
    GCT0208 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0208.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0208.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of The Total Population Who Are Two Or More Races Excluding Some Other Race
    </dd>
    <dt>
    GCT0209 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0209.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0209.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of The Total Population Who Are White Alone, Not Hispanic Or Latino
    </dd>
    <dt>
    GCT0501 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0501.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0501.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of People Who Are Foreign Born</dd>
    <dt>
    GCT0502 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0502.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0502.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Foreign-Born People Born In Europe</dd>
    <dt>
    GCT0503 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0503.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0503.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Foreign-Born People Born In Asia</dd>
    <dt>
    GCT0504 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0504.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0504.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Foreign-Born People Born In Latin America</dd>
    <dt>
    GCT0505 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0505.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0505.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Foreign-Born People Born In Mexico</dd>
    <dt>
    GCT0601 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0601.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0601.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of The Native Population Born In Their State Of Residence (Including Puerto Rico)
    </dd>
    <dt>
    GCT0701 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0701.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0701.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People 1 Year And Over Who Lived In A Different House In Either The U.S. Or Puerto Rico 1 Year Ago
    </dd>
    <dt>
    GCT0702 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0702.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0702.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People 1 Year And Over Who Lived In A Different House Within The Same State (Including Puerto Rico) 1 Year Ago
    </dd>
    <dt>
    GCT0703 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0703.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0703.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People 1 Year And Over Who Lived In A Different State (Including Puerto Rico) 1 Year Ago
    </dd>
    <dt>
    GCT0801 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0801.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0801.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Mean Travel Time To Work Of Workers 16 Years And Over Who Did Not Work At Home (Minutes)
    </dd>
    <dt>
    GCT0802 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0802.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0802.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Workers 16 Years And Over Who Traveled To Work By Car, Truck, Or Van--Drove Alone
    </dd>
    <dt>
    GCT0803 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0803.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0803.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Workers 16 Years And Over Who Traveled To Work By Car, Truck, Or Van--Carpooled
    </dd>
    <dt>
    GCT0804 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0804.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0804.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Workers 16 Years And Over Who Traveled To Work By Public Transportation (Excluding Taxicab)
    </dd>
    <dt>
    GCT0805 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT0805.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct0805.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Workers 16 Years And Over Who Worked Outside County Of Residence
    </dd>
    <dt>
    GCT1001 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1001.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1001.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Grandparents Responsible For Their Grandchildren Among All Grandparents Living With Their Grandchildren Under 18
    </dd>
    <dt>
    GCT1101 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1101.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1101.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Households That Are Married-Couple Families</dd>
    <dt>
    GCT1102 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1102.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1102.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Households That Are Married-Couple Families With Own Children Under 18 Years
    </dd>
    <dt>
    GCT1103 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1103.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1103.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Households With One Or More People Under 18 Years</dd>
    <dt>
    GCT1104 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1104.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1104.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Households With One Or More People 65 Years And Over</dd>
    <dt>
    GCT1105 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1105.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1105.csv"
      >5yr</a
    >]
  </dt>
    <dd>Average Household Size</dd>
    <dt>
    GCT1106 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1106.csv"
      >1yr</a
    >]
  </dt>
    <dd>Percent Of Households That Are Multigenerational</dd>
    <dt>
    GCT1201 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1201.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1201.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Men 15 Years And Over Who Were Never Married</dd>
    <dt>
    GCT1202 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1202.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1202.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Women 15 Years And Over Who Were Never Married</dd>
    <dt>
    GCT1203 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1203.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1203.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Ratio Of Unmarried Men 15 To 44 Years Per 100 Unmarried Women 15 To 44 Years
    </dd>
    <dt>
    GCT1204 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1204.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1204.csv"
      >5yr</a
    >]
  </dt>
    <dd>Median Age At First Marriage For Men</dd>
    <dt>
    GCT1205 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1205.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1205.csv"
      >5yr</a
    >]
  </dt>
    <dd>Median Age At First Marriage For Women</dd>
    <dt>
    GCT1251 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1251.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1251.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Marriage Rate Per 1,000 Women 15 Years And Over (Marriages In The Last Year Per 1,000 Women)
    </dd>
    <dt>
    GCT1252 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1252.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1252.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Marriage Rate Per 1,000 Men 15 Years And Over (Marriages In The Last Year Per 1,000 Men)
    </dd>
    <dt>
    GCT1253 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1253.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1253.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Divorce Rate Per 1,000 Women 15 Years And Over (Divorces In The Last Year Per 1,000 Women)
    </dd>
    <dt>
    GCT1254 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1254.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1254.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Divorce Rate Per 1,000 Men 15 Years And Over (Divorces In The Last Year Per 1,000 Men)
    </dd>
    <dt>
    GCT1303 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1303.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1303.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Women 15 To 50 Years Old Who Had A Birth In The Past 12 Months (Per 1,000 Women)
    </dd>
    <dt>
    GCT1501 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1501.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1501.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People 25 Years And Over Who Have Completed High School (Includes Equivalency)
    </dd>
    <dt>
    GCT1502 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1502.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1502.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People 25 Years And Over Who Have Completed A Bachelor'S Degree
    </dd>
    <dt>
    GCT1503 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1503.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1503.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People 25 Years And Over Who Have Completed An Advanced Degree
    </dd>
    <dt>
    GCT1601 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1601.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1601.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People 5 Years And Over Who Speak A Language Other Than English At Home
    </dd>
    <dt>
    GCT1602 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1602.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1602.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of People 5 Years And Over Who Speak Spanish At Home</dd>
    <dt>
    GCT1603 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1603.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1603.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People 5 Years And Over Who Speak English Less Than "Very Well"
    </dd>
    <dt>
    GCT1701 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1701.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1701.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People Below Poverty Level In The Past 12 Months (For Whom Poverty Status Is Determined)
    </dd>
    <dt>
    GCT1702 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1702.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1702.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Related Children Under 18 Years Below Poverty Level In The Past 12 Months
    </dd>
    <dt>
    GCT1703 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1703.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1703.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People 65 Years And Over Below Poverty Level In The Past 12 Months
    </dd>
    <dt>
    GCT1704 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1704.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1704.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Children Under 18 Years Below Poverty Level In The Past 12 Months (For Whom Poverty Status Is Determined)
    </dd>
    <dt>
    GCT1705 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1705.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1705.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People Below Poverty Level In The Past 12 Months (For People In Housing Units For Whom Poverty Status Is Determined)
    </dd>
    <dt>
    GCT1810 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1810.csv"
      >1yr</a
    >]
  </dt>
    <dd>Percent Of People With A Disability</dd>
    <dt>
    GCT1811 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1811.csv"
      >1yr</a
    >]
  </dt>
    <dd>Employment To Population Ratio For People With A Disability</dd>
    <dt>
    GCT1901 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1901.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1901.csv"
      >5yr</a
    >]
  </dt>
    <dd>Median Household Income (In 2018 Inflation-Adjusted Dollars)</dd>
    <dt>
    GCT1902 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1902.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1902.csv"
      >5yr</a
    >]
  </dt>
    <dd>Median Family Income (In 2018 Inflation-Adjusted Dollars)</dd>
    <dt>
    GCT1903 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1903.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1903.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Households With Retirement Income</dd>
    <dt>
    GCT1904 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT1904.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct1904.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Households With Cash Public Assistance Income</dd>
    <dt>
    GCT2001 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2001.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2001.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Median Earnings For Male Full-Time, Year-Round Workers (In 2018 Inflation-Adjusted Dollars)
    </dd>
    <dt>
    GCT2002 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2002.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2002.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Median Earnings For Female Full-Time, Year-Round Workers (In 2018 Inflation-Adjusted Dollars)
    </dd>
    <dt>
    GCT2101 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2101.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2101.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of The Civilian Population 18 Years And Over Who Are Veterans</dd>
    <dt>
    GCT2201 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2201.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2201.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Households That Receive Food Stamps/Snap</dd>
    <dt>
    GCT2301 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2301.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2301.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of People 16 To 64 Years Who Are In The Labor Force (Including Armed Forces)
    </dd>
    <dt>
    GCT2302 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2302.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2302.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Children Under 6 Years Old With All Parents In The Labor Force
    </dd>
    <dt>
    GCT2303 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2303.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2303.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Employment/Population Ratio For The Civilian Population 16 To 64 Years Old
    </dd>
    <dt>
    GCT2304 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2304.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2304.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Married-Couple Families With Both Husband And Wife In The Labor Force
    </dd>
    <dt>
    GCT2401 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2401.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2401.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Civilian Employed Population 16 Years And Over In Management, Business, And Financial Occupations
    </dd>
    <dt>
    GCT2403 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2403.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2403.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Civilian Employed Population 16 Years And Over In Service Occupations
    </dd>
    <dt>
    GCT2404 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2404.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2404.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Civilian Employed Population 16 Years And Over In The Manufacturing Industry
    </dd>
    <dt>
    GCT2405 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2405.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2405.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Civilian Employed Population 16 Years And Over In The Information Industry
    </dd>
    <dt>
    GCT2406 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2406.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2406.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Civilian Employed Population 16 Years And Over Who Were Private Wage And Salary Workers
    </dd>
    <dt>
    GCT2407 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2407.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2407.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Civilian Employed Population 16 Years And Over In Computer, Engineering, And Science Occupations
    </dd>
    <dt>
    GCT2408 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2408.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2408.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Civilian Employed Population 16 Years And Over In Healthcare Practitioners And Technical Occupations
    </dd>
    <dt>
    GCT2501 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2501.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2501.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Housing Units That Are Mobile Homes</dd>
    <dt>
    GCT2502 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2502.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2502.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Housing Units That Were Built In 2014 Or Later</dd>
    <dt>
    GCT2503 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2503.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2503.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Housing Units That Were Built In 1939 Or Earlier</dd>
    <dt>
    GCT2504 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2504.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2504.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Occupied Housing Units That Were Moved Into In 2017 Or Later
    </dd>
    <dt>
    GCT2505 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2505.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2505.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Occupied Housing Units With Gas As Principal Heating Fuel</dd>
    <dt>
    GCT2506 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2506.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2506.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Occupied Housing Units With Electricity As Principal Heating Fuel
    </dd>
    <dt>
    GCT2507 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2507.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2507.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Occupied Housing Units With Fuel Oil, Kerosene, Etc. As Principal Heating Fuel
    </dd>
    <dt>
    GCT2509 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2509.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2509.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Occupied Housing Units With 1.01 Or More Occupants Per Room
    </dd>
    <dt>
    GCT2510 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2510.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2510.csv"
      >5yr</a
    >]
  </dt>
    <dd>Median Housing Value Of Owner-Occupied Housing Units (Dollars)</dd>
    <dt>
    GCT2511 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2511.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2511.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Median Monthly Housing Costs For Owner-Occupied Housing Units With A Mortgage (Dollars)
    </dd>
    <dt>
    GCT2512 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2512.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2512.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Occupied Housing Units That Are Owner-Occupied</dd>
    <dt>
    GCT2513 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2513.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2513.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Mortgaged Owners Spending 30 Percent Or More Of Household Income On Selected Monthly Owner Costs
    </dd>
    <dt>
    GCT2514 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2514.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2514.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Median Monthly Housing Costs For Renter-Occupied Housing Units (Dollars)
    </dd>
    <dt>
    GCT2515 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2515.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2515.csv"
      >5yr</a
    >]
  </dt>
    <dd>
        Percent Of Renter-Occupied Units Spending 30 Percent Or More Of Household Income On Rent And Utilities
    </dd>
    <dt>
    GCT2701 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2701.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2701.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Without Health Insurance Coverage</dd>
    <dt>
    GCT2702 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2702.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2702.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Children Without Health Insurance Coverage</dd>
    <dt>
    GCT2801 [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/1_year_geographic_comparison_tables/GCT2801.csv"
      >1yr</a
    >] [<a
      href="https://www2.census.gov/programs-surveys/acs/summary_file/2018/data/5_year_geographic_comparison_tables/gct2801.csv"
      >5yr</a
    >]
  </dt>
    <dd>Percent Of Households With A Broadband Internet Subscription</dd>
</dl>