<dl class="dl-horizontal">
    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0101&hidePreview=true">S0101</a></dt>
    <dd>Age and Sex</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0102&hidePreview=true">S0102</a></dt>
    <dd>Population 60 Years and Over in the United States</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0102PR&hidePreview=true">S0102PR</a></dt>
    <dd>Population 60 Years and Over in Puerto Rico</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0103&hidePreview=true">S0103</a></dt>
    <dd>Population 65 Years and Over in the United States</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0103PR&hidePreview=true">S0103PR</a></dt>
    <dd>Population 65 Years and Over in Puerto Rico</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0501&hidePreview=true">S0501</a></dt>
    <dd>Selected Characteristics of the Native and Foreign-Born Populations</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0502&hidePreview=true">S0502</a></dt>
    <dd>Selected Characteristics of the Foreign-Born Population by Period of Entry Into the United States</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0502PR&hidePreview=true">S0502PR</a></dt>
    <dd>Selected Characteristics of the Foreign-Born Population by Period of Entry Into Puerto Rico</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0503&hidePreview=true">S0503</a></dt>
    <dd>Selected Characteristics of the Foreign-Born Population by Region of Birth: Europe</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0504&hidePreview=true">S0504</a></dt>
    <dd>Selected Characteristics of the Foreign-Born Population by Region of Birth: Africa, Northern America, and Oceania</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0505&hidePreview=true">S0505</a></dt>
    <dd>Selected Characteristics of the Foreign-Born Population by Region of Birth: Asia</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0506&hidePreview=true">S0506</a></dt>
    <dd>Selected Characteristics of the Foreign-Born Population by Region of Birth: Latin America</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0601&hidePreview=true">S0601</a></dt>
    <dd>Selected Characteristics of the Total and Native Populations in the United States</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0601PR&hidePreview=true">S0601PR</a></dt>
    <dd>Selected Characteristics of the Total and Native Populations in Puerto Rico</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0701&hidePreview=true">S0701</a></dt>
    <dd>Geographic Mobility by Selected Characteristics in the United States</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0701PR&hidePreview=true">S0701PR</a></dt>
    <dd>Geographic Mobility by Selected Characteristics in Puerto Rico</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0702&hidePreview=true">S0702</a></dt>
    <dd>Movers Between Regions</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0801&hidePreview=true">S0801</a></dt>
    <dd>Commuting Characteristics by Sex</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0802&hidePreview=true">S0802</a></dt>
    <dd>Means of Transportation to Work by Selected Characteristics</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0804&hidePreview=true">S0804</a></dt>
    <dd>Means of Transportation to Work by Selected Characteristics for Workplace Geography</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0901&hidePreview=true">S0901</a></dt>
    <dd>Children Characteristics</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S0902&hidePreview=true">S0902</a></dt>
    <dd>Characteristics of Teenagers 15 to 19 Years Old</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1001&hidePreview=true">S1001</a></dt>
    <dd>Grandchildren Characteristics</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1002&hidePreview=true">S1002</a></dt>
    <dd>Grandparents</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1101&hidePreview=true">S1101</a></dt>
    <dd>Households and Families</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1201&hidePreview=true">S1201</a></dt>
    <dd>Marital Status</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1251&hidePreview=true">S1251</a></dt>
    <dd>Characteristics of People With a Marital Event in the Last 12 Months</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1301&hidePreview=true">S1301</a></dt>
    <dd>Fertility</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1401&hidePreview=true">S1401</a></dt>
    <dd>School Enrollment</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1501&hidePreview=true">S1501</a></dt>
    <dd>Educational Attainment</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1502&hidePreview=true">S1502</a></dt>
    <dd>Field of Bachelor's Degree for First Major</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1601&hidePreview=true">S1601</a></dt>
    <dd>Language Spoken at Home</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1602&hidePreview=true">S1602</a></dt>
    <dd>Limited English Speaking Households</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1603&hidePreview=true">S1603</a></dt>
    <dd>Characteristics of People by Language Spoken at Home</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1701&hidePreview=true">S1701</a></dt>
    <dd>Poverty Status in the Past 12 Months</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1702&hidePreview=true">S1702</a></dt>
    <dd>Poverty Status in the Past 12 Months of Families</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1703&hidePreview=true">S1703</a></dt>
    <dd>Selected Characteristics of People at Specified Levels of Poverty in the Past 12 Months</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1810&hidePreview=true">S1810</a></dt>
    <dd>Disability Characteristics</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1811&hidePreview=true">S1811</a></dt>
    <dd>Selected Economic Characteristics for the Civilian Noninstitutionalized Population by Disability Status</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1901&hidePreview=true">S1901</a></dt>
    <dd>Income in the Past 12 Months (In 2020 Inflation-Adjusted Dollars)</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1902&hidePreview=true">S1902</a></dt>
    <dd>Mean Income in the Past 12 Months (In 2020 Inflation-Adjusted Dollars)</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S1903&hidePreview=true">S1903</a></dt>
    <dd>Median Income in the Past 12 Months (In 2020 Inflation-Adjusted Dollars)</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2001&hidePreview=true">S2001</a></dt>
    <dd>Earnings in the Past 12 Months (In 2020 Inflation-Adjusted Dollars)</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2002&hidePreview=true">S2002</a></dt>
    <dd>Median Earnings in the Past 12 Months (In 2020 Inflation-Adjusted Dollars) of Workers by Sex and Women's Earnings as a Percentage of Men's Earnings by Selected Characteristics</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2101&hidePreview=true">S2101</a></dt>
    <dd>Veteran Status</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2201&hidePreview=true">S2201</a></dt>
    <dd>Food Stamps/Supplemental Nutrition Assistance Program (Snap)</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2301&hidePreview=true">S2301</a></dt>
    <dd>Employment Status</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2302&hidePreview=true">S2302</a></dt>
    <dd>Employment Characteristics of Families</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2303&hidePreview=true">S2303</a></dt>
    <dd>Work Status in the Past 12 Months</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2401&hidePreview=true">S2401</a></dt>
    <dd>Occupation by Sex for the Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2402&hidePreview=true">S2402</a></dt>
    <dd>Occupation by Sex for the Full-Time, Year-Round Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2403&hidePreview=true">S2403</a></dt>
    <dd>Industry by Sex for the Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2404&hidePreview=true">S2404</a></dt>
    <dd>Industry by Sex for the Full-Time, Year-Round Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2405&hidePreview=true">S2405</a></dt>
    <dd>Industry by Occupation for the Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2406&hidePreview=true">S2406</a></dt>
    <dd>Occupation by Class of Worker for the Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2407&hidePreview=true">S2407</a></dt>
    <dd>Industry by Class of Worker for the Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2408&hidePreview=true">S2408</a></dt>
    <dd>Class of Worker by Sex for the Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2409&hidePreview=true">S2409</a></dt>
    <dd>Class of Worker by Sex for the Full-Time, Year-Round Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2411&hidePreview=true">S2411</a></dt>
    <dd>Occupation by Sex and Median Earnings in the Past 12 Months (In 2020 Inflation-Adjusted Dollars) for the Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2412&hidePreview=true">S2412</a></dt>
    <dd>Occupation by Sex and Median Earnings in the Past 12 Months (In 2020 Inflation-Adjusted Dollars) for the Full-Time, Year-Round Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2413&hidePreview=true">S2413</a></dt>
    <dd>Industry by Sex and Median Earnings in the Past 12 Months (In 2020 Inflation-Adjusted Dollars) for the Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2414&hidePreview=true">S2414</a></dt>
    <dd>Industry by Sex and Median Earnings in the Past 12 Months (In 2020 Inflation-Adjusted Dollars) for the Full-Time, Year-Round Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2418&hidePreview=true">S2418</a></dt>
    <dd>Class of Worker by Sex and Median Earnings in the Past 12 Months (In 2020 Inflation-Adjusted Dollars) for the Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2419&hidePreview=true">S2419</a></dt>
    <dd>Class of Worker by Sex and Median Earnings in the Past 12 Months (In 2020 Inflation-Adjusted Dollars) for the Full-Time, Year-Round Civilian Employed Population 16 Years and Over</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2501&hidePreview=true">S2501</a></dt>
    <dd>Occupancy Characteristics</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2502&hidePreview=true">S2502</a></dt>
    <dd>Demographic Characteristics for Occupied Housing Units</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2503&hidePreview=true">S2503</a></dt>
    <dd>Financial Characteristics</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2504&hidePreview=true">S2504</a></dt>
    <dd>Physical Housing Characteristics for Occupied Housing Units</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2506&hidePreview=true">S2506</a></dt>
    <dd>Financial Characteristics for Housing Units With a Mortgage</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2507&hidePreview=true">S2507</a></dt>
    <dd>Financial Characteristics for Housing Units Without a Mortgage</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2601A&hidePreview=true">S2601A</a></dt>
    <dd>Characteristics of the Group Quarters Population in the United States</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2601APR&hidePreview=true">S2601APR</a></dt>
    <dd>Characteristics of the Group Quarters Population in Puerto Rico</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2602&hidePreview=true">S2602</a></dt>
    <dd>Characteristics of the Group Quarters Population by Group Quarters Type (3 Types)</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2602PR&hidePreview=true">S2602PR</a></dt>
    <dd>Characteristics of the Group Quarters Population by Group Quarters Type (3 Types)</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2603&hidePreview=true">S2603</a></dt>
    <dd>Characteristics of the Group Quarters Population by Group Quarters Type (5 Types)</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2701&hidePreview=true">S2701</a></dt>
    <dd>Selected Characteristics of Health Insurance Coverage in the United States</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2702&hidePreview=true">S2702</a></dt>
    <dd>Selected Characteristics of the Uninsured in the United States</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2702PR&hidePreview=true">S2702PR</a></dt>
    <dd>Selected Characteristics of the Uninsured in Puerto Rico</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2703&hidePreview=true">S2703</a></dt>
    <dd>Private Health Insurance Coverage by Type and Selected Characteristics</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2704&hidePreview=true">S2704</a></dt>
    <dd>Public Health Insurance Coverage by Type and Selected Characteristics</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2801&hidePreview=true">S2801</a></dt>
    <dd>Types of Computers and Internet Subscriptions</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2802&hidePreview=true">S2802</a></dt>
    <dd>Types of Internet Subscriptions by Selected Characteristics</dd>

    <dt><a href="https://data.census.gov/cedsci/table?tid=ACSST5Y2021.S2902&hidePreview=true">S2902</a></dt>
    <dd>Citizen, Voting-Age Population by Selected Characteristics</dd>

</dl>
