{% extends '_base.html' %}
{% block head_css_extra %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet">

<style>
    #status-spinner {
        margin-left: 2em;
    }

    #map {
        float: left;
        width: 100%;
        height: 40vh;
        margin-bottom: 20px;
    }

    #map-source-link {
        margin-left: 1em;
        font-size: smaller;
    }

    .explainer {
        font-size: smaller;
    }

    #download-links h2 {
        font-size: larger;
    }

    #download-links ul {
        list-style: none;
    }

    #download-links li {
        line-height: 2em;
    }

    #breadcrumb {
        font-size: smaller;
        margin-bottom: 1.25em;
    }
</style>
{% endblock head_css_extra %}
{% block head_javascript_extra %}
{% load static %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
<script src="{% static 'js/aggregate.js' %}"></script>

{{ geojson|cr_json_script:"initial-geojson" }}
<script>
    function makeEvent(status) { // centralize boilerplate
        return new CustomEvent('status_update', {
            detail: {
                status: status
            }
        })
    }

    function addGeoJSONToMap(geojson) {
        for (let popup of document.getElementsByClassName('mapboxgl-popup')) {
            popup.remove()
        }
        map.getSource('user-geo').setData(geojson)
        let bb = bboxWithFallback(geojson)
        if (bb && bb.length && bb.length > 0 && isFinite(bb[0])) {
            // if we add empty geojson the bbox is infinite
            map.fitBounds(bb, {
                duration: 0
            })
        }
    }

    document.addEventListener('status_update', e => {
        let status = e.detail.status;
        document.getElementById('status_message').innerText = status;
        if (status == 'READY') {
            spinner.stop()
            document.getElementById('download-links').classList.remove('hidden')
            document.getElementById('status-wrapper').classList.add('hidden')
        } else {
            spinner.spin(document.getElementById('status-spinner'))
            setTimeout((evt) => {
                fetch('{{ status_endpoint }}').then(response => response.json()).then(data => {
                    document.dispatchEvent(makeEvent(data.status))
                })
            }, 10000)
        }
    })
    document.addEventListener('DOMContentLoaded', e => {
        let evt = makeEvent('{{status}}')
        document.dispatchEvent(evt)
    })
</script>

{% endblock head_javascript_extra %}

{% block content %}
<div id="content">
    <div id="breadcrumb">
        <a href="{% url '2020' %}">&lt; 2020 Neighborhood Data</a>
    </div>
    {% if message != 'OK' %}
    <h1>Error</h1>
    <p>{{ message }}</p>
    {% else %}

    <h1>{{ user_geo_name }}</h1>
    <p><em>Uploaded on {{ created_at|date:"D, N j Y" }}</em> {% if datasource_url %} <span id='map-source-link'>(<a href="{{ datasource_url }}">map source</a>)</span>{% endif %}</p>
    {% if not public %}
    <p><em>⚠️ This map is not public. Only people with the URL will see it. You must save the URL to return to it later.</em></p>
    {% endif %} {% if existing_message %}
    <p><strong><em>This map has already been imported. Previous import metadata has not been changed.</em></strong></p>{% endif %}
    <div id="map-container" class="column-third">
        <div id="map"></div>
        {% if notes_html %}
        <div id="notes">
        <h3>Notes</h3>
        {{ notes_html|safe }}
        </div>
        {% endif %}
    </div>
</div>
<div class="column-two-thirds">
    <p id="status-wrapper">Status: <em id="status_message">{{ status }}</em><span id="status-spinner"></span></p>
    <div id="download-links" class='hidden'>
        <h2>How to use these Neighborhood Data Files</h2>
<p>This map shows areas that aren't represented in the Census Bureau's standard geographies. Data is computed for these areas by assigning Census blocks to the areas where the center point (“internal point”) of the blocks fall, and then totalling the block-level data as reported by Census.</p>
<p>While this is a standard method which generally works well, this process can be imprecise, missing blocks that a local person would recognize as part of a neighborhood, or including blocks which are outside of the mapped area, such as in a neighboring city.</p>
<p>Without local knowledge, we can't make accurate adjustments to this automated process. You should treat this data as approximate—suitable for making general observations but not for precise comparisons.</p>
<p>Do you have a suggestion to improve the block assignment for this map? <a data-uv-trigger>Tell us!</a>
</p>

        <h2>
            2020 Decennial Census Redistricting data release
        </h2>
        <p id="download-explainer" class="explainer">Each link will download a ZIP file containing the data for the given table in both <abbr title="Comma-separated Values">CSV</abbr> and GeoJSON format. Except where noted, data includes counts for 2020 and 2010, as well as precomputed percent-change.
            Consult the <code>metadata.json</code> file in the ZIP file for a mapping from column codenames to their meanings.</p>

        <ul>
            <li><a href="{{ download_aggregate_url_base }}/dec_pl94_compare_2020_2010/P1">P1: Race</a></li>
            <li><a href="{{ download_aggregate_url_base }}/dec_pl94_compare_2020_2010/P2">P2: Hispanic or Latino, and not Hispanic or Latino by Race</a></li>
            <li><a href="{{ download_aggregate_url_base }}/dec_pl94_compare_2020_2010/P3">P3: Race for the Population 18 Years and Over</a></li>
            <li><a href="{{ download_aggregate_url_base }}/dec_pl94_compare_2020_2010/P4">P4: Hispanic or Latino, and not Hispanic or Latino by Race for the Population 18 Years and Over</a>
            </li>
            <li><a href="{{ download_aggregate_url_base }}/dec2020_pl94/P5">P5: Group Quarters Population by Major Group Quarters Type (2020 only)</a></li>
            <li><a href="{{ download_aggregate_url_base }}/dec_pl94_compare_2020_2010/H1">H1: Occupancy Status</a></li>
        </ul>
        <h2>
            Census Reporter Block Assignment Files
        </h2>
        <p id="download-explainer" class="explainer">Each link will download a ZIP file containing the Census blocks for the given year in both <abbr title="Comma-separated Values">CSV</abbr> and GeoJSON format, as they are associated with the various geographies in this map. The Block Assignment
            Files also include the total population and housing unit count for each block, as well as the Census state/place FIPS codes, which can be useful for auditing the automated block assignment process.</p>
        <ul>
            <li><a href="{{ download_user_geo_url_base }}/blocks/2020">2020 Census Blocks</a></li>
            <li><a href="{{ download_user_geo_url_base }}/blocks/2010">2010 Census Blocks</a></li>
        </ul>


    </div>
</div>

{% endif %}
<!--

{{ geojson }}

-->
</div>
{% endblock content %}
