{% extends '_base.html' %} {% block head_css_extra %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet">
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #content {
        display: grid;
        height: 100vh;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr;
    }

    #page-header {
        grid-column: span 2;
    }

    #map {
        /* grid-column: span *; */
    }

    #intro-explainer {
        transition: all .75s ease-out;
    }

    button.action-button {
        margin: 10px auto;
        width: 75%;
        padding: 0 9px;
        line-height: 1.9em;
    }

    .hidden {
        display: none;
    }

    #file-upload-message {
        color: red;
    }

    #user-input {
        margin: 10px 5px 2px 10px;
        grid-column: 1;
    }

    #upload {
        margin-left: 10px;
    }

    #details {
        margin: 25px 0 0 10px;
    }

    #details input,
    #details select {
        width: 100%;
    }

    input#share_map {
        width: 1.5em;
        display: inline;
    }

    input:invalid,
    select:invalid {
        border-color: #900;
        background-color: #FDD;
    }

    input#file-picker {
        margin-top: 10px;
    }

    #details .input label {
        display: block;
        margin-top: 10px;
        text-align: left;
    }

    #details .input label.inline {
        display: inline;
    }

    #details .input {
        margin: 2px 0;
    }

    #details p.form-help {
        font-size: smaller;
        font-style: italic;
        margin-top: 3px;
    }
</style>
{% endblock head_css_extra %}

{% block head_javascript_extra %}
{% load static %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
<script src="{% static 'js/aggregate.js' %}"></script>
{% endblock head_javascript_extra %}
{% block content %}

<div id="content">
    <div id="user-input">
        <h1>Upload a map</h1>
        <p id="intro-explainer">Upload a map of neighborhoods or other shapes, and we'll roll up 2020 Decennial Census redistricting data to give you statistics on those places. <a href="{% url '2020' %}"><em>Learn more</em></a></p>
        <div id="upload">
            <label for="file-picker">Upload a GeoJSON file, or a ZIPfile containing a single set of ESRI Shapefile files</label>
            <input type="file" name="file-picker" id="file-picker">
            <div id='file-upload-message' class='hidden'></div>
        </div>
        <div id="details" class="hidden">
            <h3>Tell us more</h3>
            <div class='input'><label for="dataset_name">Name</label><input type="text" name="dataset_name" id="dataset_name" required>
                <p class='form-help'>required: a simple description of what this map shows. Remember to make this clear, especially if you're making your map public!</p>
            </div>
            <div class='input'><label for="source_url">Source URL</label><input type="url" name="source_url" id="source_url">
                <p class='form-help'>optional: a page on the web where someone could download the same file you are uploading</p>
            </div>
            <div class='input'><label for="name_field">Name field</label><select name="name_field" id="name_field"></select>
                <p class='form-help'>which field in the data attached to the map has the name for a given shape? Leave blank if there isn't one. Click on the map to see sample values for fields.</p>

            </div>
            <div class='input'><label for="id_field">ID Field</label><select name="id_field" id="id_field"></select>
                <p class='form-help'>which field in the data attached to the map has the unique ID for a given shape? Leave blank if there isn't one. Click on the map to see sample values for fields. </p>
            </div>

            <div class='input'><input type="checkbox" name="share_map" id="share_map" checked><label class="inline" for="share-map">Share map</label>
                <p class='form-help'>If this box is checked, we will let other people see this map and download the associated data.</p>
            </div>

            <button class="action-button import-geojson-button">Import</button>
        </div>
    </div>
    <div id="map">
    </div>
</div>
{% endblock content %}
