{% extends '_base.html' %} {% block head_title %} 2020 Census Data for Your Neighborhood - {{ block.super }}{% endblock %} {% block head_css_extra %}
<style>
    .action-button {
        width: 33%;
        margin: 10px auto;
    }
    
    dl {
        margin-left: 2em;
    }
</style>

{% endblock %} {% block content %}
<article id="2020-decennial-census">
    <header>
        <h1>2020 Census Data for Your Neighborhood</h1>
    </header>

    <section>
        <div class="column-two-thirds">
            <h2>This tool is temporarily out of service.</h2>
            <p>
                Regretfully, we have decided to take the custom geography tool offline at this time. When the 2020 Redistricting data was finally released, we found significant issues with the way 2020 data was tabulated. Specifically, for a map of Chicago Community
                areas, our tool produced a total population of 2,641,774, which is about 100,000 fewer than the official total for Chicago. We had a couple of other reports like this, and decided that until we can work out the underlying issue, the only
                thing we can do is disable the tool.
            </p>
            <p>
                We will be exploring the root issues, and if we can find a way to restore this tool with more accurate results, we will do so. We continue to be enthusiastic about the promise of making it easy for people to summarize Census data, but of course, accuracy
                is the most important thing.
            </p>
            <p>
                We apologize for any inconvenience this has caused users of the tool.
            </p>


        </div>

        <div class="column-third">
            <h2>More help with 2020 Decennial Data</h2>
            <p>This tool is part of the <strong>2020 Census Data Co-op</strong>. Our partners at <strong>the Associated Press</strong> (AP) are creating easy to use datafiles out of the unwieldy format provided by the Census Bureau, and adding in comparisons
                to 2010 data, making sure those comparisons correctly account for decennial adjustments to map boundaries. Those files are served by <strong><a href="https://biglocalnews.org/">Big Local News at Stanford University</a></strong>, and are
                available to anyone—AP membership is not required.</p>
        </div>
    </section>
</article>
{% endblock %} {% block body_javascript_extra %}
<script>
    Glossary.init("{% url 'glossary' %}", ".glossary-term");
</script>
{% endblock %}