<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block head_title %}Census Reporter{% endblock %}</title>
        <meta name="description" content="{% block head_meta_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_css %}
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/normalize.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css">
        {% block head_css_extra %}{% endblock %}{% endblock head_css %}
        <script type="application/ld+json">
        [
          {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Census Reporter",
            "url": "https://censusreporter.org"
          },
          {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Census Reporter",
            "url": "https://censusreporter.org",
            "logo": "https://censusreporter.org/static/img/logo.png",
            "sameAs": [
              "http://twitter.com/censusreporter",
              "http://censusreporter.tumblr.com"
            ]
          }

        ]
        </script>
        {% block head_javascript %}
        <script src="//cdn.jsdelivr.net/g/modernizr@2.7,respond@1.4"></script>
        {% block head_javascript_extra %}{% endblock %}{% endblock %}
        <!-- Begin Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-43018828-1', 'censusreporter.org');
          ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/icons/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/icons/touch-icon-144x144.png" sizes="144x144" />
        {% block head_facebook_tags %}{% endblock %}
        {% block head_twitter_tags %}{% endblock %}
        <!-- Page generated: {% now "Y-m-d H:i:s.u" %} -->
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        {% block body %}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {% block header %}
        <header id="page-header">
            <div id="page-header-title" class="wrapper clearfix">
                {% if not hide_nav_tools %}
                <i id="menu-toggle" class="fa fa-bars"></i>
                {% endif %}
                <a class="title" href="{% url 'homepage' %}">
                    <img src="{{ STATIC_URL }}img/logo.png"> Census Reporter
                </a>
                {% if not hide_nav_tools %}
                <div id="menu" class="tool-set clearfix">
                    <div class="tool-group">
                        <input name="geography_select" id="geography-select" type="text" placeholder="Start typing to profile a place..." autocomplete="off">
                    </div>
                    {% if not hide_nav_compare %}
                    <span class="separator">or</span>
                    <div class="tool-group">
                        <a class="button" href="{% url 'table_search' %}">
                            <i class="fa fa-chevron-circle-right"></i>
                            Search for data
                        </a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </header>
        {% block header_content %}{% endblock header_content %}
        {% endblock %}

        {% block content_container %}
        <div class="content-container wrapper clearfix">
            {% block content %}{% endblock %}
        </div>
        {% endblock %}

        <footer id="page-footer">
            <section class="wrapper footer-container clearfix">
                {% block footer_content %}
                <ul class="ul-icon-list column-third">
                    <li>
                        <i class="fa fa-th-list"></i> <a href="{% url 'glossary' %}">Census terms &amp; definitions</a>
                    </li>
                    <li>
                        <i class="fa fa-github"></i> <a href="https://github.com/censusreporter/">Census Reporter on GitHub</a>
                    </li>
                </ul>
                <ul class="ul-icon-list column-third">
                    <li>
                        <i class="fa fa-comments"></i> <a href="https://censusreporter.uservoice.com/">Help &amp; feedback</a>
                    </li>
                    <li>
                        <i class="fa fa-twitter"></i> <a href="http://twitter.com/CensusReporter">@CensusReporter</a>
                    </li>
                </ul>
                <ul class="ul-icon-list column-third">
                    <li>
                        <i class="fa fa-envelope"></i> <a href="mailto:irecensusreporter@gmail.com">Email us</a>
                    </li>
                    <li>
                        <i class="fa fa-tumblr"></i> <a href="http://censusreporter.tumblr.com">Census Reporter blog</a>
                    </li>
                </ul>
                {% endblock footer_content %}
            </section>
        </footer>
        {% endblock body %}

        {% block body_javascript %}
        <!--[if gte IE 9]><!-->
        <script src="//cdn.jsdelivr.net/g/jquery@2.1,d3js@3.4,typeahead.js@0.10.2(typeahead.bundle.min.js),underscorejs@1.6,spinjs@1.3,handlebarsjs@1.3(handlebars.min.js)"></script>
        <!--<![endif]-->

        <!-- local patched version of r2d3 handles percentage widths, HTML overlays -->
        <!--[if lte IE 8]>
        <script src="{{ STATIC_URL }}js/vendor/r2d3.js" charset="utf-8"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/aight/1.2.2/aight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/aight/1.2.2/aight.d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/g/typeahead.js@0.10.2(typeahead.bundle.min.js),underscorejs@1.6,spinjs@1.3,handlebarsjs@1.3(handlebars.min.js)"></script>
        <![endif]-->

        <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
        <![endif]-->
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
                integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
                crossorigin="anonymous"></script>
        <script type="text/javascript">CR_API_URL = '{{ API_URL }}';</script>
        <script src="{{ STATIC_URL }}js/app.js"></script>
        <script src="{{ STATIC_URL }}js/glossary.js"></script>
        <script src="{{ STATIC_URL }}js/widget.geo.select.js"></script>
        {% block body_javascript_extra %}{% endblock %}{% endblock body_javascript %}
        <script src="{{ STATIC_URL }}js/widget.uservoice.js"></script>
    </body>
</html>
