{% extends '_base.html' %}

{% block head_title %}{% firstof comparison_metadata.descendant_type.plural|capfirst comparison_metadata.descendant_type.name %} in {{ comparison_metadata.parent_geography.full_name }} - Comparison - {{ block.super }}{% endblock %}

{% block header_content %}
<div class="tool-set">
    <div class="tool-group">
        <ul class="toggle-set">
            <li><a class="{% if comparison_type == 'table' %}active{% endif %}" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'table' %}?{{ request.GET.urlencode }}">Table</a></li>
            <li><a class="{% if comparison_type == 'map' %}active{% endif %}" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'map' %}?{{ request.GET.urlencode }}">Map</a></li>
            <li><a class="{% if comparison_type == 'distribution' %}active{% endif %}" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'distribution' %}?{{ request.GET.urlencode }}">Distribution</a></li>
        </ul>
    </div>
</div>
<h1>Compare {% firstof comparison_metadata.descendant_type.plural comparison_metadata.descendant_type.name %} in {{ comparison_metadata.parent_geography.full_name }}</h1>
<p>Age groups by percentage of total population ({{ table.census_release }})</p>
{% endblock %}

