{% extends '_base.html' %}

{% block head_title %}{% firstof comparison_metadata.descendant_type.plural|capfirst comparison_metadata.descendant_type.name %} in {{ comparison_metadata.parent_geography.geography.name }} - Comparison - {{ block.super }}{% endblock %}

{% block header_content %}
<section id="query-builder-bar" class="clearfix">
    <div id="query-topic" class="query-chosen">
        <div class="hover-hide">
            <h3 class="leader">Topic</h3>
            Table {{ table.table_id }}
        </div>
        <div class="hover-only">
            <h3 class="leader">Change Table</h3>
        </div>
    </div>
    <section class="clearfix" id="query-topic-picker">
        <div class="column-quarter filter-groups">
            <h2>Filter by topic</h2>
            {% include "_compare/_compare_builder_topic_filter_list.html" with filter_list=topic_demographic_filters filter_list_name="Demographics" %}
            {% include "_compare/_compare_builder_topic_filter_list.html" with filter_list=topic_economic_filters filter_list_name="Economic" %}
            {% include "_compare/_compare_builder_topic_filter_list.html" with filter_list=topic_family_filters filter_list_name="Families" %}
            {% include "_compare/_compare_builder_topic_filter_list.html" with filter_list=topic_housing_filters filter_list_name="Housing" %}
            {% include "_compare/_compare_builder_topic_filter_list.html" with filter_list=topic_social_filters filter_list_name="Social" %}
        </div>

        <div class="column-three-quarters autocomplete-widget">
            <h2 id="topic-result-number">Search data tables</h2>
            <input name="topic_select" id="topic-select" type="text" placeholder="Search for data..." autocomplete="off">
        </div>
    </section>
    
    <div id="query-geographies" class="query-chosen">
        <div class="hover-hide">
            <h3 class="leader">Geographies</h3>
            All {{ comparison_metadata.child_geography_name_plural }} in {{ comparison_metadata.parent_name }}
        </div>
        <div class="hover-only">
            <h3 class="leader">Change Geographies</h3>
        </div>
    </div>
    <section class="clearfix" id="query-geography-picker">
        <div class="column-quarter filter-groups">
            <h2>Compare geographies</h2>
            <div class="select-wrapper">
                <i class="icon-chevron-sign-down"></i>
                <select id="sumlev-select-options" class="wide-picker" name="sumlev_select">
                    <option value="">Choose a comparison level...</option>
                    {% for group, values in sumlev_choices.items %}
                    <optgroup label="{{ group }}">
                        {% for sumlev in values %}
                        <option id="sumlev-select-{{ sumlev.summary_level }}" value="{{ sumlev.summary_level }}" data-plural-name="{{ sumlev.plural_name }}" data-ancestor-list="{{ sumlev.ancestor_sumlev_list }}" data-ancestor-names="{{ sumlev.ancestor_options }}">{{ sumlev.plural_name|capfirst }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="column-three-quarters autocomplete-widget">
            <h2>Within a place</h2>
            <input name="parent_select" id="parent-select" type="text" placeholder="... then search for a place" autocomplete="off">
        </div>
    </section>
    
    <div id="query-release" class="query-chosen">
        <div class="hover-hide">
            <h3 class="leader">Release</h3>
            {{ table.census_release }}
        </div>
        <div class="hover-only">
            <h3 class="leader">Change Release</h3>
        </div>
    </div>
    <section id="query-release-picker" class="clearfix">
        <div class="release-option column-third">
            <h3>ACS 2011 1-year</h3>
            <p>
                Data for areas with populations of 65,000+<br>
                Most current, but smallest sample size
            </p>
            <a data-release-slug="acs2011_1yr" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev format %}?release=acs2011_1yr&table={{ table.table_id }}">Show results</a>
        </div>
        <div class="release-option column-third">
            <h3>ACS 2011 3-year</h3>
            <p>
                Data for areas with populations of 20,000+<br>
                Larger sample than 1-year, smaller than 5-year
            </p>
            <a data-release-slug="acs2011_3yr" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev format %}?release=acs2011_3yr&table={{ table.table_id }}">Show results</a>
        </div>
        <div class="release-option column-third">
            <h3>ACS 2011 5-year</h3>
            <p>
                Data for all areas<br>
                Least current, but most reliable
            </p>
            <a data-release-slug="acs2011_5yr" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev format %}?release=acs2011_5yr&table={{ table.table_id }}">Show results</a>
        </div>
    </section>
</section>

<div class="tool-set">
    <div class="tool-group">
        <ul class="toggle-set">
            <li><a class="{% if format == 'table' %}active{% endif %}" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'table' %}?{{ request.GET.urlencode }}">Table</a></li>
            <li><a class="{% if format == 'map' %}active{% endif %}" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'map' %}?{{ request.GET.urlencode }}">Map</a></li>
            <li><a class="{% if format == 'distribution' %}active{% endif %}" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'distribution' %}?{{ request.GET.urlencode }}">Distribution</a></li>
            <li class="toggle-sub-group">
                <a href="#">
                    Download
                </a>
                <ul class="sub-group">
                    <li><a href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'json' %}?{{ request.GET.urlencode }}">JSON</a></li>
                    <li><a href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'csv' %}?{{ request.GET.urlencode }}">CSV</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<h1>Compare {% firstof comparison_metadata.descendant_type.plural comparison_metadata.descendant_type.name %} in {{ comparison_metadata.parent_geography.geography.name }}</h1>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script src="{{ STATIC_URL }}js/vendor/typeahead.js"></script>
<script src="{{ STATIC_URL }}js/vendor/hogan-2.0.0.js"></script>
<script src="{{ STATIC_URL }}js/vendor/spin.min.js"></script>
<script>
var chosenParentGeoID = '{{ parent_id }}',
    chosenSumlev = '{{ descendant_sumlev }}',
    chosenRelease = '{{ release }}',
    chosenTableID = '{{ table.table_id }}',
    chosenFormat = '{{ format }}',
    currentYear = '2011',
    countsAPI;

var getCountsAPI = function(chosenTableID, currentYear, chosenSumlev, chosenParentGeoID) {
    var url = 'http://api.censusreporter.org/1.0/table/compare/rowcounts/' + chosenTableID +
                '?year=' + currentYear  + '&sumlevel=' + chosenSumlev + '&within=' + chosenParentGeoID;

    return url
}

function getReleaseCounts() {
    countsAPI = getCountsAPI(chosenTableID, currentYear, chosenSumlev, chosenParentGeoID);
    $.getJSON(countsAPI)
        .done(function(data) {
            $.each(data, function() {
                if (!!this['results'] && this['results'] > 0) {
                    $("a[data-release-slug='" + this['release_slug'] +"']")
                        .text("Show " + this['results'] + " results");
                } else {
                    $("a[data-release-slug='" + this['release_slug'] +"']")
                        .text("No matching results")
                        .removeAttr("href").addClass("disabled");
                }
            });
            return data
        });
}

var tableSearchAPI = 'http://api.censusreporter.org/1.0/table/search',
    parentGeoSearchAPI = 'http://api.censusreporter.org/1.0/geo/search';

var topicSelect = $('#topic-select'),
    topicChosen = $('#query-topic'),
    topicFilters = $('#query-topic-picker .filter-list input:checkbox'),
    topicResultNumber = $('#topic-result-number'),
    sumlevSelect = $('#sumlev-select-options'),
    parentSelect = $('#parent-select'),
    geographiesChosen = $('#query-geographies');

var selectedTopicFilterValues = function () {
    return topicFilters.filter(':checked').map(function () {
        return this.value;
    }).get();
}
var selectedSumlev = function () {
    return sumlevSelect.find('option:selected');
}
var selectedSumlevAncestorValues = function () {
    return selectedSumlev().data('ancestor-list');
}

var triggerAutocompleteWildCardFallback = function(element) {
    if (!!element.val() && element.val() != '*') {
        element.typeahead('setQuery', element.val());
    } else {
        element.typeahead('setQuery', '*').val('');
    }
}

function makeTopicSelectWidget(element) {
    element.typeahead('destroy');
    element.typeahead({
        name: 'topics',
        valueKey: 'unique_key',
        remote: {
            url: tableSearchAPI,
            replace: function (url, uriEncodedQuery) {
                url += '?';
                if (uriEncodedQuery) {
                    url += 'q=' + uriEncodedQuery;
                }
                var selectedTopics = selectedTopicFilterValues();
                if (selectedTopics.length > 0) {
                    url += '&topics=' + selectedTopics.join(',');
                }
                return url;
            },
            filter: function(response) {
                var resultNumber = response.length;
                topicResultNumber.text(resultNumber + ' matches');
                if (resultNumber == 0) {
                    response.push({
                        table_name: 'Sorry, no matches found. Try removing filters or changing your keyword search.'
                    })
                }
                response.map(function(item) {
                    if (!!item['topics']) {
                        item['topic_string'] = item['topics'].join(', ');
                    }
                });
                return response
            }
        },
        limit: 1500,
        template: [
            {% verbatim %}'{{#table_id}}<h5 class="result-type">{{#column_name}}Column in {{/column_name}}Table {{table_id}}</h5>{{/table_id}}',
            '<p class="result-name">{{simple_table_name}}</p>',
            '{{#column_name}}<p class="caption"><strong>Column name:</strong> {{column_name}}</p>{{/column_name}}',
            '{{#topic_string}}<p class="caption"><strong>Table topics:</strong> {{topic_string}}</p>{{/topic_string}}'{% endverbatim %}
        ].join(''),
        engine: Hogan
    });

    // TODO: only trigger this first time the menu is opened
    //element.on('typeahead:initialized', function() {
    //    triggerAutocompleteWildCardFallback(element);
    //});

    element.on('typeahead:selected', function(obj, datum) {
        if (datum['table_id']) {
            chosenTableID = datum['table_id'];
            updateChosenItem(
                topicChosen,
                'Topic',
                'Table ' + chosenTableID
            );
            changeComparison();
        }
    });

    topicFilters.on('change', function(e) {
        triggerAutocompleteWildCardFallback(element);
        element.focus();
    });
}

function makeParentSelectWidget(element) {
    element.typeahead('destroy');
    element.prop('disabled', 'disabled');
    element.typeahead({
        name: 'geographies',
        valueKey: 'full_name',
        remote: {
            url: parentGeoSearchAPI,
            replace: function (url, uriEncodedQuery) {
                return url += '?q=' + uriEncodedQuery + '&sumlevs=' + selectedSumlevAncestorValues()
            },
            filter: function(response) {
                response.map(function(item) {
                    item['sumlev_name'] = sumlevMap[item['sumlevel']]
                });
                return response
            }
        },
        limit: 20,
        template: {% verbatim %}'<p class="result-name"><span class="result-type">{{sumlev_name}}</span>{{full_name}}</p>'{% endverbatim %},
        engine: Hogan
    });

    element.on('typeahead:selected', function(obj, datum) {
        chosenParentGeoID = datum['full_geoid'];
        updateChosenItem(
            geographiesChosen,
            'Geographies',
            'All ' + selectedSumlev().data('plural-name') + ' within ' + datum['full_name']
        );
        changeComparison();
    });

    // when user chooses a sumlev to compare, limit possible
    // autocomplete options for parent/containing geography
    sumlevSelect.on('change', function(e) {
        var selected = selectedSumlev();
        var selectedVal = selected.val();
        sumlevSelect.blur();

        if (selectedVal != '') {
            // store the selected sumlev for future api requests
            chosenSumlev = selectedVal;

            // allow selection in parent geography picker
            element.removeProp('disabled');
            var helpText = selected.text() + ' can be compared within a ' + selected.data('ancestor-names') + '.';
            insertHelpText(selected.closest('.filter-groups'), helpText);
            
            // auto-fill 'United States' if that's only possible choice
            if (selectedVal == '040') {
                element.typeahead('setQuery', 'United States');
            } else {
                element.typeahead('setQuery', element.val());
            }
        } else {
            element.prop('disabled', 'disabled');
        }
    });
}

function insertHelpText(element, message) {
    element.find('.help-text').remove();
    element.append('<span class="help-text">' + message + '</span>');
}

function updateChosenItem(element, itemTitle, itemText) {
    var html = '<h3 class="leader">' + itemTitle + '</h3>' + itemText;
    
    //element.siblings('.explainer').hide();
    element.html(html).addClass('chosen').fadeIn('fast', function() {
        element.parent().next('section').fadeOut(50);
    });
}

// prepare ajax spinners
$('body').append('<div id="body-spinner"></div>');
var spinnerTarget = document.getElementById('body-spinner');
    spinner = new Spinner();

$(document).ajaxSend(function(event, request, settings) {
    spinner.spin(spinnerTarget)
});
$(document).ajaxComplete(function(event, request, settings) {
    spinner.stop()
});

function changeComparison() {
    spinner.spin(spinnerTarget)
    
    var targetURL = '/compare/' + chosenParentGeoID + '/' + chosenSumlev + '/' + chosenFormat + '/'
                    + '?release=' + chosenRelease + '&table=' + chosenTableID;
    window.location.href = targetURL;
}

jQuery(document).ready(function(){
    getReleaseCounts();

    // initial setup for select widgets
    makeTopicSelectWidget(topicSelect);
    makeParentSelectWidget(parentSelect);

    var choosers = $('.query-chosen'),
        pickers = $('section[id$="-picker"]');
        
    choosers.hover(
        function() {
            $(this).addClass('hovered');
        },
        function() {
            $(this).removeClass('hovered');
        }
    );

    // query builder bar for adjusting table/geographies/release
    $('#query-builder-bar').on('click', '.query-chosen', function() {
        var chosen = $(this);
        chosen.toggleClass('open').siblings('.query-chosen').removeClass('open');
        pickers.hide();

        if (chosen.hasClass('open')) {
            choosers.addClass('tabbed');
            chosen.next('section').show();
        } else {
            choosers.removeClass('tabbed');
        }
    })

    //
    $('.filter-groups').on('click', '.filter-group-title', function(e) {
        e.preventDefault();
        var chosenGroup = $(this).parent();
        chosenGroup.toggleClass('open');
        chosenGroup.find('i[class^="icon-"]').toggleClass('icon-chevron-sign-down icon-chevron-sign-up');
    });
    
    // download submenu
    $('.toggle-sub-group').hover(function() {
        $(this).find('.sub-group').toggle();
        $(this).find('a').toggleClass('hovered');
    });
})
</script>
{% endblock %}