{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block head_title %}Census Reporter{% endblock %}</title>
    <meta name="description" content="{% block head_meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% block head_css %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/vendor/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}"> {% block head_css_extra %}{% endblock %}{% endblock head_css %}
    <script type="application/ld+json">
        [{
                "@context": "http://schema.org",
                "@type": "WebSite",
                "name": "Census Reporter",
                "url": "https://censusreporter.org"
            }, {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "Census Reporter",
                "url": "https://censusreporter.org",
                "logo": "{% static 'img/logo.png' %}",
                "sameAs": [
                    "http://twitter.com/censusreporter",
                    "http://censusreporter.tumblr.com"
                ]
            }

        ]
    </script>
    {% block head_javascript_extra %}
    {% endblock %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J4KYS0SFEW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J4KYS0SFEW');
    </script>
    <link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/icons/touch-icon-144x144.png' %}" sizes="144x144" /> {% block head_facebook_tags %}{% endblock %} {% block head_twitter_tags %}{% endblock %}
    <link href="{% static 'css/vendor/fontawesome/font-awesome-4.7.0.css' %}" rel="preload" as="style">
    <link href="{% static 'css/vendor/fontawesome/font-awesome-4.7.0.css' %}" rel="stylesheet">
    <script> // needed for full-text search among other things so just define it once and for all
        const MAPBOX_ACCESS_TOKEN = 'pk.eyJ1IjoiY2Vuc3VzcmVwb3J0ZXIiLCJhIjoiQV9hS01rQSJ9.wtsn0FwmAdRV7cckopFKkA';
    </script>

    <!-- Page generated: {% now "Y-m-d H:i:s.u" %} -->
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    {% block body %}
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    {% block header %}
    <header id="page-header">
        <div id="page-header-title" class="wrapper clearfix">
            {% if not hide_nav_tools %}
            <i id="menu-toggle" class="fa fa-bars"></i> {% endif %}
            <a class="title" href="{% url 'homepage' %}">
                <img src="{% static 'img/logo.png' %}" width="44" height="21" alt="Census Reporter Logo"> Census Reporter
            </a>
            {% if not hide_nav_tools %}
            <div id="menu" class="tool-set clearfix">
                <form action="/search">
                    <div class="tool-group">
                        <input name="q" id="search-header" type="text" placeholder="Search for places, tables, topics, or glossaries" autocomplete="off">
                    </div>
                    <span class="separator"></span>
                    <div class="tool-group">
                        <a class="button" onClick="javascript:this.parentNode.parentNode.submit();">
                            <i class="fa fa-chevron-circle-right"></i> Search
                        </a>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </header>
    {% block header_content %}{% endblock header_content %} {% endblock %} {% block content_container %}
    <div class="content-container wrapper clearfix">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}

    <footer id="page-footer">
        <section class="wrapper footer-container clearfix">
            {% block footer_content %}
            <ul class="ul-icon-list column-third">
                <li>
                    <i class="fa fa-book"></i> <a href="{% url 'topic_list' %}">Learn about the Census</a>
                </li>
                <li>
                    <i class="fa fa-info"></i> <a href="{% url 'about' %}">About Census Reporter</a>
                </li>
            </ul>
            <ul class="ul-icon-list column-third">
                <li>
                    <i class="fa fa-th-list"></i> <a href="{% url 'glossary' %}">Census terms &amp; definitions</a>
                </li>
                <li>
                    <i class="fa fa-twitter"></i> <a href="http://twitter.com/CensusReporter">@CensusReporter</a>
                </li>
            </ul>
            <ul class="ul-icon-list column-third">
                <li>
                    <i class="fa fa-comments"></i> <a href="https://censusreporter.uservoice.com/">Help &amp; feedback</a>
                </li>
                <li>
                    <i class="fa fa-github"></i> <a href="https://github.com/censusreporter/">Census Reporter on GitHub</a>
                </li>
            </ul>
            {% endblock footer_content %}
        </section>
        <section class="wrapper footer-container clearfix">
            <p class="trailer">Census Reporter is a free, open-source project. <a href="https://opencollective.com/censusreporter">Your donations</a> help us add new data to the site and keep it running.</p>
        </section>
    </footer>
    {% endblock body %} {% block body_javascript %}
    <script src="//cdn.jsdelivr.net/g/jquery@2.1,d3js@3.4,typeahead.js@0.10.2(typeahead.bundle.min.js),underscorejs@1.6,spinjs@1.3,handlebarsjs@1.3(handlebars.min.js)"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        CR_API_URL = '{{ API_URL }}';
    </script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/glossary.js' %}"></script>
    <script src="{% static 'js/widget.geo.select.js' %}"></script>
    {% block body_javascript_extra %}{% endblock %}{% endblock body_javascript %}
    <script src="{% static 'js/widget.uservoice.js' %}"></script>
    <script src="{% static 'js/full-text-results.js' %}"></script>
</body>

</html>
