{% extends '_base.html' %}{% load humanize %}

{% block head_title %}Comparison Query Builder - {{ block.super }}{% endblock %}

{% block head_extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/select2/select2.textinput.css">
{% endblock %}

{% block content %}
<article class="clearfix">
    <section id="query-builder" class="clearfix">
        <form action="" method="GET" onsubmit="return false">
            <section class="clearfix" id="topic-picker">
                <div class="column-golden-wide">
                    <h2>Filter your data search by topic</h2>
                    <h5>Demographics</h5>
                    <ul class="filter-list clearfix">
                        {% for topic in topic_demographic_filters.topics %}
                        <li class="column-quarter"><input type="checkbox" id="topic-select-{{ topic|slugify }}" value="{{ topic }}"> <label for="topic-select-{{ topic|slugify }}">{{ topic }}</label></li>
                        {% endfor %}
                    </ul>

                    <h5>Economic</h5>
                    <ul class="filter-list clearfix">
                        {% for topic in topic_economic_filters.topics %}
                        <li class="column-quarter"><input type="checkbox" id="topic-select-{{ topic|slugify }}" value="{{ topic }}"> <label for="topic-select-{{ topic|slugify }}">{{ topic }}</label></li>
                        {% endfor %}
                    </ul>

                    <h5>Housing</h5>
                    <ul class="filter-list clearfix">
                        {% for topic in topic_housing_filters.topics %}
                        <li class="column-quarter"><input type="checkbox" id="topic-select-{{ topic|slugify }}" value="{{ topic }}"> <label for="topic-select-{{ topic|slugify }}">{{ topic }}</label></li>
                        {% endfor %}
                    </ul>

                    <h5>Social</h5>
                    <ul class="filter-list clearfix">
                        {% for topic in topic_social_filters.topics %}
                        <li class="column-quarter"><input type="checkbox" id="topic-select-{{ topic|slugify }}" value="{{ topic }}"> <label for="topic-select-{{ topic|slugify }}">{{ topic }}</label></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column-golden-narrow autocomplete-widget">
                    <h2>Search <span id="table-number"></span> data tables</h2>
                    <input name="topic_select" id="topic-select" type="text" placeholder="Search for data..." autocomplete="off">
                </div>
            </section>

            <section class="clearfix" id="geography-picker">
                <h2>Compare geographies</h2>
                <div class="column-golden-wide" id="sumlev-select-options">
                    <h5>Standard</h5>
                    <ul class="filter-list clearfix">
                        {% for summary_level in sumlev_standard_choices %}
                        <li class="column-quarter"><input type="radio" name="sumlev_select" id="sumlev-select-{{ summary_level.summary_level }}" value="{{ summary_level.summary_level }}" data-ancestor-list="{{ summary_level.ancestor_sumlev_list }}" data-ancestor-names="{{ summary_level.ancestor_options }}"> <label for="sumlev-select-{{ summary_level.summary_level }}">{{ summary_level.plural_name|capfirst }}</label></li>
                        {% endfor %}
                    </ul>

                    <h5>Legislative</h5>
                    <ul class="filter-list clearfix">
                        {% for summary_level in sumlev_legislative_choices %}
                        <li class="column-third"><input type="radio" name="sumlev_select" id="sumlev-select-{{ summary_level.summary_level }}" value="{{ summary_level.summary_level }}" data-ancestor-list="{{ summary_level.ancestor_sumlev_list }}" data-ancestor-names="{{ summary_level.ancestor_options }}"> <label for="sumlev-select-{{ summary_level.summary_level }}">{{ summary_level.plural_name|capfirst }}</label></li>
                        {% endfor %}
                    </ul>

                    <h5>Schools</h5>
                    <ul class="filter-list clearfix">
                        {% for summary_level in sumlev_school_choices %}
                        <li class="column-third"><input type="radio" name="sumlev_select" id="sumlev-select-{{ summary_level.summary_level }}" value="{{ summary_level.summary_level }}" data-ancestor-list="{{ summary_level.ancestor_sumlev_list }}" data-ancestor-names="{{ summary_level.ancestor_options }}"> <label for="sumlev-select-{{ summary_level.summary_level }}">{{ summary_level.plural_name|capfirst }}</label></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column-golden-narrow">
                    <input class="wide-picker" name="parent_select" id="parent-select" type="hidden" style="width: 100%;">
                </div>
            </section>
        </form>
    </section>
    
    <section id="results-container" class="clearfix">
        <textarea id="results"></textarea>
    </section>
</article>
{% endblock %}

{% block body_javascript_extra %}
<script src="{{ STATIC_URL }}js/vendor/typeahead.js"></script>
<script src="{{ STATIC_URL }}js/vendor/hogan-2.0.0.js"></script>
<script src="{{ STATIC_URL }}js/vendor/spin.min.js"></script>
<script type="text/javascript">
var tableSearchAPI = '/table-search/json/',
    parentGeoSearchAPI = '/place-search/?autocomplete';

var topicSelect = $('#topic-select'),
    topicFilters = $('#topic-picker .filter-list input:checkbox'),
    sumlevSelect = $('#sumlev-select-options input'),
    parentSelect = $('#parent-select');

var parentDisabled = true;

var selectedTopicFilterValues = function (){
    var values = topicFilters.filter(':checked').map(function () {
        return this.value;
    }).get();
    return values
}

function makeTopicSelectWidget(element, helpText) {
    element.typeahead('destroy')
    element.typeahead({
        name: 'topics',
        remote: {
            url: tableSearchAPI,
            replace: function (url, uriEncodedQuery) {
                url += '?q=' + uriEncodedQuery + '&topics=' + selectedTopicFilterValues().join(',');
                return url
            }
            //beforeSend: function (xhr, settings) {
            //    settings.url += '&topics=' + selectedTopicFilterValues().join(',');
            //}
        },
        limit: 20,
        template: [
            {% verbatim %}'<h5 class="result-type">Table {{table_id}}</h5>',
            '<p class="result-name">{{value}}</p>',
            '<p class="caption"><strong>Topics:</strong> {{topics}}</p>'{% endverbatim %}
        ].join(''),
        engine: Hogan
    });
     
    element.on('typeahead:selected', function(obj, datum) {
        element.data('table-id-value', datum['table_id']);
    });

    topicFilters.on('change', function(e) {
        getTableNumber();
        element.typeahead('setQuery',element.val());
    });

    if (!!helpText) {
        insertHelpText(element.parent(), helpText);
    }
}

function makeParentSelectWidget(element, ajaxURL, disabled, helpText) {
    if (disabled === true) {
        element.prop('disabled', true);
    } else {
        element.removeProp('disabled');
    }

    element.siblings('.help-text').remove();
    element.val('').select2({
        placeholder: 'Within a place ...',
        dropdownCssClass: 'wide-picker',
        minimumInputLength: 3,
        ajax: {
            url: ajaxURL,
            dataType: 'json',
            quietMillis: 200,
            data: function(term) {
                return { q: term };
            },
            results: function(data) {
                var results = [];
                $.each(data, function(index, item){
                    results.push({
                        id: item.full_geoid,
                        text: item.full_name
                    });
                });
                return {
                    results: results
                };
            }
        },
        formatNoMatches: function formatNoMatches(term) {
            return "No matches found for '" + term + ".' " + helpText;
        }
    });
    
    if (!!helpText) {
        insertHelpText(element.parent(), helpText);
    }
}

function insertHelpText(element, message) {
    var helpText = $('<span class="help-text">' + message + '</span>').css('width', element.width());
    element.append(helpText);
}

function fetchAPIData(requestURL) {
    var target = document.getElementById('results-container');
    var spinner = new Spinner().spin(target);
    
    $.ajax({
        type: 'GET',
        url: requestURL,
        dataType: 'json',
        success: function(data) {
            var strData = (JSON.stringify(data, null, 4));
            $('#results').text(strData).fadeIn('fast');
            spinner.stop();
        },
        error: function(response) {
            alert('Uh-oh, something went wrong.');
        }
    });
}

function getTableNumber(requestURL) {
    var target = document.getElementById('table-number');
    
    $.ajax({
        type: 'GET',
        url: tableSearchAPI,
        data: {
            topics: selectedTopicFilterValues().join(','),
            count: 'tables'
        },
        dataType: 'json',
        success: function(data) {
            $(target).text(data['count']);
        }
    });
}

jQuery(document).ready(function(){
    // initial setup for select widgets
    getTableNumber();
    makeTopicSelectWidget(topicSelect);
    //makeParentSelectWidget(parentSelect, parentAjaxURL, parentDisabled);
    
    // when user chooses a geography to compare, limit possible
    // autocomplete options for parent/containing geography
    sumlevSelect.on('change', function(e) {
        parentDisabled = false;
        if (this.checked) {
            var selected = $(this);
            var ancestorSumlevList = selected.data('ancestor-list'),
                ancestorNameList = selected.data('ancestor-names');
            var filteredAjaxURL = parentGeoSearchAPI + '&sumlev_filter=' + ancestorSumlevList,
                helpText = selected.next('label').text() + ' can be compared within a ' + ancestorNameList + '.';
            makeParentSelectWidget(parentSelect, filteredAjaxURL, parentDisabled, helpText);
        }
    });

    // start listening for clicks
    topicSelect.on('change', function(e) {
        makeAPIRequest();
    });
    parentSelect.on('change', function(e) {
        makeAPIRequest();
    });
    
    $('#results').hide().focus(function () {
        $(this).select().one('mouseup', function (e) {
            $(this).unbind('keyup');
            e.preventDefault();
        }).one('keyup', function () {
            $(this).select().unbind('mouseup');
        });
    });

    function makeAPIRequest() {
        var topic = topicSelect.val(),
            parentGeoID = parentSelect.val(),
            sumlev = sumlevSelect.val();
            
        if (!!topic &&  !!parentGeoID && !!sumlev) {
            // get the whole table even if they've chosen a column
            // TODO: decide whether this is better (provides context),
            // or whether we should just get the table
            tableID = topic.split('|')[0];
            var requestURL = 'http://api.censusreporter.org/1.0/data/compare/' +
                              release + '/' + tableID + '?sumlevel=' + sumlev +
                              '&within=' + parentGeoID + '&geom=true';
            fetchAPIData(requestURL);
        }
    }

    // on page load, reset selects because if browser happens
    // to hold onto value it won't trigger the sumlev filter
    parentSelect.val('');
    sumlevSelect.val('');
})
</script>
{% endblock %}