{% extends '_base_compare.html' %}{% load humanize %}

{% block head_extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/tablesorter/tablesorter.css">
{% endblock %}

{% block content %}
<article id="comparison-distribution" class="clearfix">
    <header class="section-contents">
        <h1>Data table</h1>
    </header>
    <div class="section-container">
        <section class="clearfix">
            {# TABLE NAME #}
            <h2>{{ table.table_name }}</h2>

            {# VISUALIZATION EXPLAINER #}
            <aside>
                <p>This grid shows raw data from the table. You can also explore with maps and distribution charts, or download the data for further analysis.</p>
            </aside>

            {# NUMBER DISPLAY TOGGLE #}
            <div class="tool-set">
                <div class="tool-group">
                    Click on a row to lock/unlock highlight
                </div>
                <div class="tool-group">
                    Show
                    <ul class="toggle-controls">
                        <li><a id="show-percentage">Percentages</a></li>
                        <li><a id="show-raw-number">Raw numbers</a></li>
                    </ul>
                </div>
            </div>

            {# RELEASE AND UNIVERSE #}
            <p class="caption">
                <span class="caption-group">{{ table.census_release }}</span>
                <span class="caption-group"><strong>Table universe:</strong> {{ table.table_universe }}</span>
            </p>

            {# TABLE DATA #}
            <section class="wide-content">
                <table id="data-table" class="full-width">
                    <thead>
                        <tr>
                            <th class="name">Column</th>
                            {% for geo in geo_names %}
                            <th class="value" title="{{ geo }}">{{ geo }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in values_by_field %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td class="name indent-{{ field.indent }}">{{ field.name }}</td>
                            {% for geo, values in field.values.items %}
                            <td class="value toggle-target">
                                <span class="percentage">{{ values.total_pct|floatformat }}%</span>
                                <span class="raw-number alt-number">{{ values.total|floatformat|intcomma }}</span>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                {% comment %}
                <table id="data-table" class="tablesorter full-width">
                    <thead>
                        <tr>
                            <th class="name">Name</th>
                            {% for column in column_names %}
                            <th class="value" title="{{ column|cut:":" }}">{{ column|cut:":"|truncatechars:15 }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for geo in values_by_geo %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td class="name"><a href="{% url 'geography_detail' geo.geoID %}">{{ geo.name }}</a></td>
                            <td class="value">{{ geo.total_population|floatformat|intcomma }}</td>
                            {% for group, values in geo.values.items %}
                            <td class="value toggle-target">
                                <span class="percentage">{{ values.total_pct|floatformat }}%</span>
                                <span class="raw-number">{{ values.total|floatformat|intcomma }}</span>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endcomment %}
            </section>

        </section>
    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script>
jQuery(document).ready(function(){
    $('#show-raw-number').css('text-decoration', 'none');
    var toggleControls = $('.toggle-controls a');
    toggleControls.on('click', function() {
        var clicked = $(this);
        toggleControls.css('text-decoration', 'none');
        clicked.css('text-decoration', 'underline');
        var targetClass = clicked.attr('id').replace('show-','');
        $('.toggle-target span').css('display', 'none');
        $('.'+targetClass).css('display', 'block');
    })
    
    $('table').on('click', 'tr', function(){
        $(this).toggleClass('highlight');
    })
})
</script>
{% endblock %}
