{% extends '_base.html' %}{% load humanize %}

{% block head_title %}Comparison Query Builder - {{ block.super }}{% endblock %}

{% block head_extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/select2/select2.textinput.css">
{% endblock %}

{% block content %}
<article class="clearfix">
    <section id="query-builder" class="clearfix">
        <form action="" method="GET" onsubmit="return false">
            <section class="clearfix" id="topic-picker">
                <h2>Choose your topic</h2>
                <div class="column-golden-narrow">
                    <select name="release_select" id="release-select" style="width: 100%;">
                        <option></option>
                        {% for release in acs_releases %}
                        <option value="{{ release.slug }}">{{ release.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <ul class="filter-checkbox-list" style="display: none;">
                        {% for topic in topics %}
                        <li><input type="checkbox" value="{{ topic }}"> {{ topic }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column-golden-wide">
                    <input class="wide-picker" name="topic_select" id="topic-select" type="hidden" style="width: 100%;">
                </div>
            </section>

            <section class="clearfix" id="geography-picker">
                <h2>Compare geographies</h2>
                <div class="column-golden-narrow">
                    <select name="sumlev_select" id="sumlev-select" style="width: 100%;">
                        <option></option>
                        {% for summary_level in summary_level_options %}
                        <option value="{{ summary_level.summary_level }}" data-ancestor-list="{{ summary_level.pretty_ancestor_sumlev_list }}" data-ancestor-names="{{ summary_level.pretty_ancestor_options }}">{{ summary_level.plural_name|capfirst }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="column-golden-wide">
                    <input class="wide-picker" name="parent_select" id="parent-select" type="hidden" style="width: 100%;">
                </div>
            </section>
        </form>
    </section>
    
    <section id="results-container" class="clearfix">
        <textarea id="results"></textarea>
    </section>
</article>
{% endblock %}

{% block body_javascript_extra %}
<script src="{{ STATIC_URL }}js/vendor/select2.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/spin.min.js"></script>
<script type="text/javascript">

function topicFormatResult(topic) {
    var markup = '<div class="topic-result">';
    if (!!topic['column_name']) {
        markup += '<span class="topic-type">'+topic['type']+' in Table ID: '+topic['table_id']+'</span>'
        markup += '<span class="topic-name">\''+topic['column_name']+'\' in '+topic['table_name']+'</span>'
    } else if (!!topic['table_name']) {
        markup += '<span class="topic-type">'+topic['type']+' ID: '+topic['table_id']+'</span>'
        markup += '<span class="topic-name">'+topic['table_name']+'</span>'
    }
    markup += "</div>"
    return markup;
}

function makeReleaseSelectWidget(element) {
    element.select2({
        placeholder: 'Choose data release ...',
        width: 'resolve',
        dropdownCssClass: 'wide-picker'
    });
}

function makeTopicSelectWidget(element, ajaxURL, disabled, helpText) {
    if (disabled === true) {
        element.prop('disabled', true);
    } else {
        element.removeProp('disabled');
    }

    element.val('').select2({
        placeholder: 'Find a data table ...',
        dropdownCssClass: 'wide-picker',
        minimumInputLength: 3,
        ajax: {
            url: ajaxURL,
            dataType: 'json',
            quietMillis: 200,
            data: function (term) {
                var selectedFilters = $('#topic-picker .filter-checkbox-list input:checkbox:checked').map(function () {
                    return this.value;
                }).get();
                return {
                    q: term,
                    topics: selectedFilters.join(',')
                };
            },
            results: function (data) {
                // API response includes `id` and `text` attrs
                return { results: data };
            }
        },
        formatResult: topicFormatResult
    });

    if (!!helpText) {
        insertHelpText(element.parent(), helpText);
    }
}

function makeSumlevSelectWidget(element) {
    element.select2({
        placeholder: 'Choose geographies ...',
        width: 'resolve',
        dropdownCssClass: 'wide-picker'
    });
}

function makeParentSelectWidget(element, ajaxURL, disabled, helpText) {
    if (disabled === true) {
        element.prop('disabled', true);
    } else {
        element.removeProp('disabled');
    }

    element.siblings('.help-text').remove();
    element.val('').select2({
        placeholder: 'Within a place ...',
        dropdownCssClass: 'wide-picker',
        minimumInputLength: 3,
        ajax: {
            url: ajaxURL,
            dataType: 'json',
            quietMillis: 200,
            data: function(term) {
                return { q: term };
            },
            results: function(data) {
                var results = [];
                $.each(data, function(index, item){
                    results.push({
                        id: item.full_geoid,
                        text: item.full_name
                    });
                });
                return {
                    results: results
                };
            }
        },
        formatNoMatches: function formatNoMatches(term) {
            return "No matches found for '" + term + ".' " + helpText;
        }
    });
    
    if (!!helpText) {
        insertHelpText(element.parent(), helpText);
    }
}

function insertHelpText(element, message) {
    var helpText = $('<span class="help-text">' + message + '</span>').css('width', element.width());
    element.append(helpText);
}

function fetchAPIData(requestURL) {
    var target = document.getElementById('results-container');
    var spinner = new Spinner().spin(target);
    
    $.ajax({
        type: 'GET',
        url: requestURL,
        dataType: 'json',
        success: function(data) {
            var strData = (JSON.stringify(data, null, 4));
            $('#results').text(strData).fadeIn('fast');
            spinner.stop();
        },
        error: function(response) {
            alert('Uh-oh, something went wrong.');
        }
    });
}

jQuery(document).ready(function(){
    var releaseSelect = $('#release-select'),
        topicSelect = $('#topic-select'),
        sumlevSelect = $('#sumlev-select'),
        parentSelect = $('#parent-select');
    var topicAjaxURL = '/table-search/json/',
        parentAjaxURL = '/place-search/?autocomplete';
    var topicDisabled = true,
        parentDisabled = true;
    
    // initial setup for select widgets
    makeReleaseSelectWidget(releaseSelect);
    makeTopicSelectWidget(topicSelect, topicAjaxURL, topicDisabled);
    makeSumlevSelectWidget(sumlevSelect);
    makeParentSelectWidget(parentSelect, parentAjaxURL, parentDisabled);
    
    // choose a release affects the lookup query for data tables
    releaseSelect.on('change', function(e) {
        topicDisabled = false;
        var selected = $(this).find('option:selected');
        var filteredTopicAjaxURL = topicAjaxURL + '?release=' + selected.text(),
            helpText = 'Text search will scan table and column names. You can narrow your search with the topic filters at left.';
        makeTopicSelectWidget(topicSelect, filteredTopicAjaxURL, topicDisabled, helpText);
        
        // show the filter checkboxes
        $('#topic-picker .filter-checkbox-list').show();
    })
    
    // when user chooses a geography to compare, limit possible
    // autocomplete options for parent/containing geography
    sumlevSelect.on('change', function(e) {
        parentDisabled = false;
        var selected = $(this).find('option:selected');
        var ancestorSumlevList = selected.data('ancestor-list'),
            ancestorNameList = selected.data('ancestor-names');
        var filteredAjaxURL = parentAjaxURL + '&sumlev_filter=' + ancestorSumlevList,
            helpText = selected.text() + ' can be compared within a ' + ancestorNameList + '.';
        makeParentSelectWidget(parentSelect, filteredAjaxURL, parentDisabled, helpText);
    });

    topicSelect.on('change', function(e) {
        makeAPIRequest();
    });
    parentSelect.on('change', function(e) {
        makeAPIRequest();
    });
    
    $('#results').hide().focus(function () {
        $(this).select().one('mouseup', function (e) {
            $(this).unbind('keyup');
            e.preventDefault();
        }).one('keyup', function () {
            $(this).select().unbind('mouseup');
        });
    });

    function makeAPIRequest() {
        var release = releaseSelect.val(),
            topic = topicSelect.val(),
            parentGeoID = parentSelect.val(),
            sumlev = sumlevSelect.val();
            
        if (!!release && !!topic &&  !!parentGeoID && !!sumlev) {
            // get the whole table even if they've chosen a column
            // TODO: decide whether this is better (provides context),
            // or whether we should just get the table
            tableID = topic.split('|')[0];
            var requestURL = 'http://api.censusreporter.org/1.0/compare/' +
                              release + '/' + tableID + '?sumlevel=' + sumlev +
                              '&within=' + parentGeoID + '&geom=true';
            fetchAPIData(requestURL);
        }
    }

    // on page load, reset selects because if browser happens
    // to hold onto value it won't trigger the sumlev filter
    parentSelect.val('');
    sumlevSelect.val('');
})
</script>
{% endblock %}