{% extends '_base_compare.html' %}{% load humanize %}

{% block content %}

<article id="comparison-distribution" class="clearfix">
    <header class="section-contents">
        <h1>Table {{ table.table_id }}</h1>
    </header>
    <div class="section-container">
        <section class="clearfix">
            {# TABLE NAME #}
            <h2>{{ table.table_name }}</h2>

            {# VISUALIZATION EXPLAINER #}
            <aside>
                <p class="display-type"><strong>{{ table.census_release }}</strong></p>
                <p>A choropleth shows how data varies across geographies. The {% firstof comparison_metadata.descendant_type.plural comparison_metadata.descendant_type.name %} in this map are divided into quintiles. Use the selector to view any column in the table.</p>
                {% include '_compare/_explainer_why_are_places_missing.html' %}
            </aside>

            {# RELEASE AND UNIVERSE #}
            <p class="caption">
                <span class="caption-group"><strong>Table universe:</strong> {{ table.table_universe }}</span>
            </p>

            {# MAP LEGEND #}
            <div class="tool-group" id="map-legend">
                <ul class="quantile-legend">
                        <span class="quantile-label min-value"></span>
                    <li class="q0">
                        <span class="quantile-label"></span>
                    </li><li class="q1">
                        <span class="quantile-label"></span>
                    </li><li class="q2">
                        <span class="quantile-label"></span>
                    </li><li class="q3">
                        <span class="quantile-label"></span>
                    </li><li class="q4">
                        <span class="quantile-label"></span>
                    </li>
                </ul>
            </div>
            
            {# SELECTOR FOR DATA FIELD #}
            <div class="tool-group data-selector" id="map-select">
                <div class="item-chosen" id="column-picker">
                    <h3 class="item-chosen-title">
                        <i class="icon-chevron-sign-down"></i>
                        <span id="column-title-chosen"></span>
                    </h3>
                    <div class="item-choices">
                        <ul class="filter-list clearfix" id="column-picker-choices">
                            {% for column_id, column_data in table.columns.items %}
                            <li class="indent-{{ column_data.indent }}">
                                <a href="#" id="column-select-{{ column_id }}" data-value="{{ column_id }}" data-full-name="{{ column_data.full_name }}">{{ column_data.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {# D3 CHOROPLETH #}
            <section id="data-map"></section>

        </section>
    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var geodata = {{ map_data }},
    tabledata = {{ table_data }},
    percentify = '{{ percentify }}',
    parent_fips_code = '{{ parent_fips_code }}';

var parent = {{ parent_shape }},
    children = {{ child_shapes }};
</script>
<script src="{{ STATIC_URL }}js/maps.comparison.js"></script>
{% endblock %}
