{% extends '_base_compare.html' %}{% load humanize %}

{% block content %}

<article id="comparison-distribution" class="clearfix">
    <header class="section-contents">
        <h1>Table {{ table.table_id }}</h1>
    </header>
    <div class="section-container">
        <section class="clearfix">
            {# TABLE NAME #}
            <h2>{{ table.table_name }}</h2>

            {# VISUALIZATION EXPLAINER #}
            <aside>
                <p class="display-type"><strong>{{ table.census_release }}</strong></p>
                <p>A choropleth shows how data varies across geographies. The {% firstof comparison_metadata.descendant_type.plural comparison_metadata.descendant_type.name %} in this map are divided into quintiles. Use the selector to view any column in your table.</p>
            </aside>

            {# RELEASE AND UNIVERSE #}
            <p class="caption">
                <span class="caption-group"><strong>Table universe:</strong> {{ table.table_universe }}</span>
            </p>

            {# MAP LEGEND #}
            <div class="tool-group" id="map-legend">
                <ul class="quantile-legend">
                        <span class="quantile-label min-value"></span>
                    <li class="q0">
                        <span class="quantile-label"></span>
                    </li>
                    <li class="q1">
                        <span class="quantile-label"></span>
                    </li>
                    <li class="q2">
                        <span class="quantile-label"></span>
                    </li>
                    <li class="q3">
                        <span class="quantile-label"></span>
                    </li>
                    <li class="q4">
                        <span class="quantile-label"></span>
                    </li>
                </ul>
            </div>
            
            {# SELECTOR FOR DATA FIELD #}
            <div class="tool-group data-selector" id="map-select"></div>

            {# D3 CHOROPLETH #}
            <section id="data-map"></section>

        </section>
    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script>
var mapDiv = d3.select("#data-map").append("div")
    .attr("class", "svg-map")

var width = mapDiv[0][0].offsetWidth;
var height = width*.67;

var svgMap = mapDiv.append("svg")
    .attr("width", width)
    .attr("height", height)
    .style("position", "relative");

var label = mapDiv.append("div")
    .attr("class", "label")
    .style("opacity", 1e-6);

var labelTitle = "";

queue()
    .await(ready);

function ready(error) {
    var geodata = {{ map_data }},
        tabledata = {{ table_data }};
    var columns = d3.entries(tabledata['columns']);

    // add dropdown
    d3.select("#map-select").append("select")
        .attr("id", "map-select-select")
        .on("change", changeMap)
    .selectAll("option").data(columns).enter().append("option")
        .attr("value", function(d){ return d['key']; })
        .attr("disabled", function(d){ return (d['key'].indexOf('.') >= 0) ? true : null; })
        .text(function(d){
                var indents = new Array(d['value']['indent']);
                return indents.join("\xA0\xA0") + d['value']['name'];
            })
    
    makeMap(geodata[columns[0]['key']]);
    window.labelTitle = columns[0]['value']['name'];

    function changeMap() {
        var dataIndex = this.options[this.selectedIndex].value;
        window.labelTitle = tabledata['columns'][dataIndex]['name'];
        makeMap(geodata[dataIndex]);
    }
}

function makeMap(geodata) {
    var percentify = '{{ percentify }}';

    if (percentify == 'True') {
        var values = d3.values(geodata).map(function(d) {return d['percentage'];});
    } else {
        var values = d3.values(geodata).map(function(d) {return d['number'];});
    }
    var quantize = d3.scale.quantile()
        .domain([d3.min(values), d3.max(values)])
        .range(d3.range(5).map(function(i) { return "q" + i; }));

    var labelData = quantize.quantiles().slice(0);
    labelData.unshift(d3.min(values));
    labelData.push(d3.max(values));
    var legendLabels = d3.select("#map-legend")
        .selectAll("span")
        .data(labelData)
        .text(function(d){
            if (d) {
                if (percentify == 'True') {
                    return d.toFixed(1) + '%'
                } else {
                    return numberWithCommas(d)
                }
            }
        });
        
    var parent = {{ parent_shape }},
        children = {{ child_shapes }};

    // zoom to the parent
    var projection = d3.geo.albersUsa().precision(.3);
    {% if parent_fips_code %}
    var parent_fips_code = '{{ parent_fips_code }}';
    if (parent_fips_code != '02' && parent_fips_code != '15') {
        projection = d3.geo.mercator().precision(1000);
    }
    {% endif %}
    var path = d3.geo.path()
        .projection(projection);

    if (!!parent) {
        // zoom to bounding box of parent
        projection
            .scale(1)
            .translate([0, 0]);

        var b = path.bounds(parent),
            s = .95 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height),
            t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];

        projection
            .scale(s)
            .translate(t);
    } else {
        // standard projection to show whole U.S.
        projection
            .scale(1000)
            .translate([width / 2, height / 2]);
    }

    // outline the parent geography
    svgMap.append("path")
        .datum(parent)
        .attr("d", path)
        .attr("class", "outline");

    // add the quantiled child geographies
    svgMap.append("g")
            .attr("class", "geographies")
        .selectAll("path")
            .data(children)
        .enter().append("path")
            .attr("d", path)
            .attr("id", function(d) { return "poly-" + d['id']; })
            .attr("class", function(d) {
                if (!!geodata[d['id']]) {
                    if (percentify == 'True') {
                        return quantize(geodata[d['id']]['percentage']);
                    } else {
                        return quantize(geodata[d['id']]['number']);
                    }
                }
            })
            .on("mouseover", function(d) { return mouseover(d) })
            .on("mousemove", mousemove)
            .on("mouseout", mouseout);

    function mouseover(d) {
        if (!!geodata[d['id']]) {
            var centroid = path.centroid(d),
                x = centroid[0],
                y = centroid[1];

            label
                .html(makeLabel(d))
                .transition()
                .duration(200)
                .style("width", "200px")
                .style("opacity", 1);
                //.style("left", x + "px")
                //.style("top", y + "px");
        }
    }

    function mousemove() {
        label
            .style("left", (d3.mouse(this)[0] - 100) + "px")
            .style("bottom", height-(d3.mouse(this)[1] - 12) + "px");
    }

    function mouseout() {
        label.transition()
            .duration(200)
            .style("opacity", 1e-6);
    }

    function makeLabel(d) {
        if (!!geodata[d['id']]) {
            var label = "<span class='label-title'>" + labelTitle + "</span>";
            label += "<span class='name'>" + geodata[d['id']]['name'] + "</span>";
            if (!!geodata[d['id']]['percentage']) {
                label += "<span class='value'>" + geodata[d['id']]['percentage'] + "%";
                if (!!geodata[d['id']]['number']) {
                    label += " (" + numberWithCommas(geodata[d['id']]['number']) + ")";
                }
                label += "</span>";
            }
            else if (!!geodata[d['id']]['number']) {
                label += "<span class='value'>" + geodata[d['id']]['number'] + "</span>";
            }
        }
        return label
    }

    function numberWithCommas(n) {
        var parts=n.toString().split(".");
        return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
    }
    //svg.selectAll(".label")
        //    .data(geographies.features)
        //.enter().append("text")
        //    .attr("id", function(d) { return "label-" + d['id']; })
        //    .attr("class", "label")
        //    .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
        //    .text(function(d) { return d['properties']['name'] + geodata[d['id']]; });
}

</script>
{% endblock %}
