{% extends '_base.html' %}
{% load humanize %}

{% block content %}
<article class="clearfix">
    <section>
        <h2>Visualizations</h2>
        <ul>
            <li><a href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'table' %}">Table</a></li>
            <li><a href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'map' %}">Map</a></li>
            <li><a href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'distribution' %}">Distributions</a></li>
        </ul>
    </section>
    <section>
        <h2>{% firstof comparison_metadata.descendant_type.plural|capfirst comparison_metadata.descendant_type.name|capfirst %}</h2>
        <ul>
            {% for geoID, name in descendant_list %}
            <li><a href="{% url 'geography_detail' geoID %}">{{ name }}</a></li>
            {% endfor %}
        </ul>
    </section>
</article>
{% endblock %}
