{% extends '_base_compare.html' %}{% load humanize %}

{% block content %}

<article id="comparison-distribution" class="clearfix">
    <header class="section-contents">
        <h1>Choropleth</h1>
    </header>
    <div class="section-container">
        <section class="clearfix">
            <div class="tool-set">
                <div class="tool-group" id="map-select">
                    Show
                </div>
            </div>

            <h2>Age groups</h2>
            <aside>
                <p>This is some explanatory text describing the stat grouping to the right.</p>
            </aside>

            <section id="data-map"></section>

        </section>
    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}
<style>
#data-map {
    position: relative;
}
.geographies {
    fill: #e5e5e5;
    stroke: #fff;
    stroke-linejoin: round;
}
.label {
    position: absolute;
    text-align: center;
    padding: .33em .67em;
    font-size: .8em;
    background: #fff;
    border: solid 1px #777;
    border-radius: 4px;
    pointer-events: none;
}
.label .name {
    display: block;
    font-weight: bold;
}

.q0 { fill:#d9ddca; }
.q1 { fill:#bbc2a1; }
.q2 { fill:#9ea877 }
.q3 { fill:#7b8656 }
.q4 { fill:#555c3b }

</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script>
var mapDiv = document.getElementById('data-map');
var width = mapDiv.offsetWidth,
    height = 500;

var projection = d3.geo.mercator();

var path = d3.geo.path()
    .projection(projection);

var svg = d3.select("#data-map").append("svg")
    .attr("width", width)
    .attr("height", height)
    .style("position", "relative");

var label = d3.select("#data-map").append("div")
    .attr("class", "label")
    .style("opacity", 1e-6);
    
queue()
    .defer(d3.json, "{{ STATIC_URL }}data/wa-counties.json")
    .defer(d3.json, "/compare/{{ parent_type }}/{{ geography_id }}/{{ descendant_type }}/json/")
    .await(ready);

function ready(error, geographies, geodata) {
    var categories = d3.keys(geodata);
    // add dropdown
    d3.select("#map-select").append("select")
        .on("change", changeMap)
    .selectAll("option").data(categories).enter().append("option")
        .attr("value", function(d){ return d; })
        .text(function(d){ return d; })

    makeMap(geographies, geodata[categories[0]]);

    function changeMap() {
        var dataIndex = this.options[this.selectedIndex].__data__;
        makeMap(geographies, geodata[dataIndex]);
    }
}

function makeMap(geographies, geodata) {
    var values = d3.values(geodata).map(function(d) {return d['value'];});
    var quantize = d3.scale.quantize()
        .domain([d3.min(values), d3.max(values)])
        .range(d3.range(5).map(function(i) { return "q" + i; }));

    // zoom to bounding box
    projection
        .scale(1)
        .translate([0, 0]);
    var b = path.bounds(geographies),
        s = .95 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height),
        t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];
    projection
        .scale(s)
        .translate(t);

    // put the map in place
    svg.append("g")
            .attr("class", "geographies")
        .selectAll("path")
            .data(geographies.features)
        .enter().append("path")
            .attr("id", function(d) { return "poly-" + d['id']; })
            .attr("class", function(d) { 
                if (!!geodata[d['id']]) {
                    return quantize(geodata[d['id']]['value']); 
                }
            })
            .attr("d", path)
            .on("mouseover", function(d) { return mouseover(d) })
            .on("mousemove", mousemove)
            .on("mouseout", mouseout);

    function mouseover(d) {
        var centroid = path.centroid(d),
            x = centroid[0],
            y = centroid[1];

        label
            .html(makeLabel(d))
            .transition()
            .duration(200)
            .style("opacity", 1);
            //.style("left", x + "px")
            //.style("top", y + "px");
    }

    function mousemove() {
        label
            .style("left", (d3.mouse(this)[0] - 24) + "px")
            .style("bottom", height-(d3.mouse(this)[1] - 12) + "px");
    }

    function mouseout() {
        label.transition()
            .duration(200)
            .style("opacity", 1e-6);
    }
    
    function makeLabel(d) {
        var label = "<span class='name'>" + d['properties']['name'] + "</span>";
        if (!!geodata[d['id']]) {
            label += "<span class='value'>" + geodata[d['id']]['value'] + "</span>";
        }
        return label
    }
    
    //svg.selectAll(".label")
        //    .data(geographies.features)
        //.enter().append("text")
        //    .attr("id", function(d) { return "label-" + d['id']; })
        //    .attr("class", "label")
        //    .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
        //    .text(function(d) { return d['properties']['name'] + geodata[d['id']]; });
}

</script>
{% endblock %}
