{% extends '_base.html' %}{% load humanize partition %}

{% block content_container %}

    <form>
        <input id="query" type="text" name="query">
        <input id="search" type="submit" value="Search">
    </form>

    <div id="data"></div>

{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script>
// show 'use my current location' button
if (Modernizr.geolocation) {
    $('.geolocate-only').show();
}
// geoSelect already defined by widget.geo.select.js
geoSelect.focus()
</script>

<script>

$("form").submit(function() {
    $.get("https://api.censusreporter.org/1.0/table/search?q=" + $("#query").val(), function(data) {
        console.log(data);
        //$("#div").html(data);
    });
    return false; // Prevent page refresh
});

</script>

<!--<script src="{{ STATIC_URL }}js/data.query.builder.js"></script>-->
{% endblock %}