{% extends '_base.html' %}{% load humanize partition %}

{% block content_container %}
<div class="content-container clearfix">
    <article id="full-text" class="clearfix wrapper">
        <section class="column-full clearfix big-action">

            <h1 class="article-header">Full-Text Search Testing</h1>
            <div class="input-wrapper">

                <form>
                    <input id="query" type="text" name="query" autocomplete="off">
                </form>

            </div>

        </section>

        <div id="data"></div>
    </article>
</div>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
        integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
        crossorigin="anonymous"></script>
<script>
// show 'use my current location' button
if (Modernizr.geolocation) {
    $('.geolocate-only').show();
}
// geoSelect already defined by widget.geo.select.js
geoSelect.focus()
</script>

<script>
$(function() {
    // Initialize autocomplete
    $("#query").autocomplete({
        // Grab source from ajax call
        source: function (request, response) {
            $.ajax({
                // request.term is the current text in the search box.
                url: "http://0.0.0.0:5000/2.1/full-text/search?q=" + request.term,
                dataType: "json",
                // Use success handler to process data before passing it to response
                // function.
                success: function(data) {
                    // Format of data is {results: [ list of objects ]}
                    var result = [];
                    // For each returned page, prepare data for display. label and
                    // value are defaults preferred by jQuery UI autocomplete.
                    for (var i = 0; i < data.results.length; i++) {
                        if (data.results[i].type == "profile") {
                            result.push({
                                label: data.results[i].full_name,
                                value: data.results[i].full_name,
                                subline: "<i>" + data.results[i].sumlevel_name + "<i>",
                                url: data.results[i].url
                            });
                        } else if (data.results[i].type == "table") {
                            result.push({
                                label: data.results[i].table_name,
                                value: data.results[i].table_name,
                                subline: "<b>Table topics: </b>" + data.results[i].topics,
                                url: data.results[i].url
                            });
                        }
                    }
                    response(result);
                }
            });
        },
        select: function(event, ui) {
            //TODO Use this functionality instead of <a> tag?
        },
        minLength: 2
    }).autocomplete("instance")._renderItem = function(ul, item) {
        // Format autocomplete dropdown.
        return $("<li class='autocomplete-li'>")
                .append("<a href='" + item.url + "'>" +
                        "<div class='autocomplete-label'>" + item.label +
                        "</div><div class='autocomplete-subline'>" + item.subline +
                        "</div></a>").appendTo(ul);
    };

    // Constrain autocomplete box width
    // http://stackoverflow.com/questions/5643767/jquery-ui-autocomplete-width-not-set-correctly
    jQuery.ui.autocomplete.prototype._resizeMenu = function () {
        var ul = this.menu.element;
        ul.outerWidth(this.element.outerWidth());
    }
});
</script>

<!--<script src="{{ STATIC_URL }}js/data.query.builder.js"></script>-->
{% endblock %}