{% extends '_base.html' %}
{% comment %}
    <dt id="term-keyword">Keyword</dt>
    <dd><p>
      definition
    </p></dd>
{% endcomment %}

{% block head_title %}Glossary - {{ block.super }}{% endblock %}

{% block content %}
<article id="glossary">
    <header>
        <h1>Glossary</h1>
        <p>Brief definitions of key Census terms in plain language. Do you think we&rsquo;re missing something? <a href="http://censusreporter.uservoice.com/" data-uv-trigger>Let us know</a>. You can also consult the Census Bureau's complete <a href="http://www.census.gov/glossary/">glossary</a>.</p>
    </header>

    <section id="glossary-contents">
        <aside>
            <p>Here are a few key official Census sources where you can find more technical definitions.</p>
            <ul>
                <li><a href="http://www.census.gov/acs/www/data_documentation/documentation_main/">ACS Documentation Home Page</a></li>
                <li><a href="http://www.census.gov/acs/www/guidance_for_data_users/geography/">Geography and the American Community Survey</a></li>
                <li><a href="http://www.census.gov/population/metro/">Metropolitan and Micropolitan Statistical Areas Main</a></li>
            </ul>
        </aside>


        <dl class="glossary">
            <dt id="term-csa" data-alt-keywords="combined-statistical-area">Combined Statistical Area (CSA)</dt>
            <dd>
                <p>Officially specified by the Office of Management and Budget, a CSA combines adjacent <a href="{% url 'glossary' %}#term-cbsa">CBSAs</a> which have a moderate degree of social and economic ties. Ties between the component CBSAs in a CSA are not as strong as ties between the counties in any of the individual CBSAs.</p>
            </dd>

            <dt id="term-cbsa" data-alt-keywords="core-based-statistical-area">Core-Based Statistical Area (CBSA)</dt>
            <dd>
                <p>Officially specified by the Office of Management and Budget, the CBSA is the Census <a href="{% url 'glossary' %}#term-summary-level">summary level</a> representing a &ldquo;metropolitan area.&rdquo; Technically, CBSAs are either <a href="{% url 'glossary' %}#term-micropolitan-statistical-area">metropolitan</a> or <a href="{% url 'glossary' %}#term-micropolitan-statistical-area">micropolitan statistical areas</a>—both describe a specific group of counties (or sometimes just one county) around an urban core.</p>
                <p>While metro areas vary greatly in size, for some kinds of analysis they are better units of comparison than the single Census <a href="{% url 'glossary' %}#term-place">place</a> at the core.</p>
            </dd>

            <dt id="term-county-subdivision">County Subdivision</dt>
            <dd>
                <p>Because each state organizes its governments differently, there are some states where the "county subdivision" <a href="{% url 'glossary' %}#term-summary-level">summary level</a> is important, and others where it is unlikely be be used for analysis. In 12 states, most or all county subdivisions serve as local governments much like cities and towns. Specifically, those states are Connecticut, Maine, Massachusetts, Michigan, Minnesota, New Hampshire, New Jersey, New York, Pennsylvania, Rhode Island, Vermont, and Wisconsin. In these and 17 more states, most or all county subdivisions are legal entities, known to the Census Bureau as <em>minor civil divisions</em> (or MCDs). In the rest of the states, county subdivisions exist for statistical purposes, but are less likely to be important for journalists.</p>
                <p>For complete details on county subdivisions, see the <a href="http://www.census.gov/geo/reference/gtc/gtc_cousub.html">Census documentation</a>.</p>
            </dd>

            <dt id="term-householder">Householder</dt>
            <dd>
                <p>The person, or one of the people, in whose name the home is owned, being bought, or rented. Two types of householders are distinguished: a family householder and a nonfamily householder. A family householder is a householder living with one or more people related to him or her by birth, marriage, or adoption. A nonfamily householder is a householder living alone or with nonrelatives only.</p>
            </dd>

            <dt id="term-margin-of-error">Margin of Error</dt>
            <dd>
                <p>A number describing the statistical confidence in an estimate. When the margin of error is more than 10% of the estimate, Census Reporter recommends using caution when presenting the estimate. Know your wiggle-words.</p>
            </dd>

            <dt id="term-metropolitan-statistical-area">Metropolitan Statistical Area (MSA)</dt>
            <dd>
                <p>A county or counties around an urban core of population greater than 50,000. See <a href="{% url 'glossary' %}#term-cbsa">Core Based Statistical Area (CBSA)</a> for more.</p>
            </dd>

            <dt id="term-micropolitan-statistical-area">Micropolitan Statistical Area (μSA)</dt>
            <dd>
                <p>A county or counties around an urban core of population between 10,000 and 50,000. See <a href="{% url 'glossary' %}#term-cbsa">Core Based Statistical Area (CBSA)</a> for more.</p>
            </dd>

            <dt id="term-place">Place</dt>
            <dd>
                <p>A Census <a href="{% url 'glossary' %}#term-summary-level">summary level</a> representing officially incorporated governments such as cities, towns, villages, and boroughs. Census &ldquo;places&rdquo; also include unincorporated areas which are identifiable by name: the Census Bureau calls these CDPs, or &ldquo;Census Designated Places.&rdquo;</p>
                <p>In some parts of the country (especially New England, New York, Wisconsin and Alaska), <a href="{% url 'glossary' %}#term-county-subdivision">county subdivisions</a> are a more appropriate unit of comparison than Census places.</p>
                <p>For more technical details, see the <a href="http://www.census.gov/geo/reference/gtc/gtc_place.html">Census documentation on places</a>.</p>
            </dd>

            <dt id='term-release'>Release</dt>
            <dd>
                <p>
                    The American Community Survey data is produced in multiple releases to satisfy different needs of timeliness and geographic accuracy. Releases are described by the number of years and/or the specific years they cover, such as the "2012 1-year release" or the "2008-12 5-year release." Estimates are made based on data collected over the specified years. 
                </p>
                <p>
                    Roughly, releases include geographies with a population above a given threshold: the 1-year release includes geographies with a population of 65,000 or more; the 3-year release includes geographies with a population above 20,000; and the 5-year release includes all census down to the block group level, regardless of population.
                </p>

            </dd>
            <dt id="term-summary-level">Summary Level</dt>
            <dd>
                <p>The Census Bureau tabulates data for many different geographic scales. Summary Level is the generic term for a kind of geography, such as state, county, or <a href="{% url 'glossary' %}#term-place">place</a>. There are also summary levels for somewhat esoteric tabulations, such as the parts of Census tracts which are divided between places.</p>
                <p>For more, see our guide to summary levels. (coming soon)</p>
            </dd>

            <dt id="term-tenure">Tenure</dt>
            <dd>
                <p>Tenure refers to the distinction between owner-occupied and renter-occupied housing units.</p>
            </dd>
            <dt id="term-universe">Universe</dt>
            <dd>
                <p>A universe is the focus of a given data tabulation. For many Census tables, the universe is all Americans, but it is not always. For example, the Census Bureau specifically constrains tables about educational attainment, employment, child bearing, and others based on age and other characteristics. Some tables focus specifically on the United States, excluding Puerto Rico, or vice versa. Be sure to take note of the universe when analyzing data and expressing findings about it.</p>
            </dd>
        </dl>
    </section>
</article>
{% endblock %}


