<!DOCTYPE html>
<html>
<head>
    <title>Glossary Example</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/glossary.css">
    <style type="text/css">
    .glossary-term {
          border-bottom: 1px dashed #999;
    }
    </style>
</head>
<body>
<p>This is a sentence with some glossary terms like <span class='glossary-term'>place</span> and <span class='glossary-term'>county subdivision</span>.</p>
<p>Sometimes we don't want to use the full keyword in our text, like with <span class='glossary-term' data-keyword="metropolitan-statistical-area">MSA</span></p>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/glossary.js"></script>
    <script>
    $(document).ready(
    Glossary.init("{% url 'glossary' %}",".glossary-term"))
    </script>
</body>
</html>
