{% extends '_base.html' %}{% load humanize partition %}

{% block head_title %}{{ block.super }}{% endblock %}
{% block body_id %}homepage{% endblock %}

{% block content_container %}
<div class="content-container clearfix tan-stripe">
    <article id="profile" class="clearfix wrapper">
        <section class="column-full clearfix homepage-action">
            <h1 class="article-header">Profile</h1>
            <div id="geography-select-wrapper" class="input-wrapper">
                <input name="geography_select" id="geography-select" type="text" placeholder="Start typing to pick a place..." autocomplete="off">
                {% comment %}
                <div class="geolocate-only">
                    <span class="or">or</span>
                    <a href="{% url 'locate' %}" class="action-button"><i class="fa fa-location-arrow"></i> <span class="wide-only">Find places based on</span><span class="narrow-only">Use</span> your current location</a>
                </div>
                {% endcomment %}
            </div>
        </section>
    </article>
    <article id="blurb" class="clearfix wrapper">
        <section class="column-two-thirds">
            <p class="explainer">TODO is a joint project by <a href="http://www.code4sa.org/">Code4SA</a> and <a href="http://www.mediamonitoringafrica.org/">Media Monitoring Africa</a> that provides easy access to South African census and elections data. Place profiles visualize and compare statistics for the following: <span>demographics</span>, <span>elections</span>, <span>education</span>, <span>economics</span> and <span>service delivery</span>.
            <p>TODO started out as a fork of <a href="http://censusreporter.org/">Census Reporter</a>, a tool for investigating US census data. Census Reporter and TODO are both open source. You can find them on Github <a href="https://github.com/censusreporter/censusreporter/">here</a> and <a href="https://github.com/Code4SA/censusreporter/">here</a>.</p>
        </section>
    </article>
</div>

{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script>
// show 'use my current location' button
if (Modernizr.geolocation) {
    $('.geolocate-only').show();
}
// geoSelect already defined by widget.geo.select.js
geoSelect.focus()
</script>
<script src="{{ STATIC_URL }}js/vendor/spin.min.js"></script>
<script src="{{ STATIC_URL }}js/comparison.builder.js"></script>
{% endblock %}