{% extends '_base.html' %}{% load humanize %}

{% block head_title %}{{ block.super }}{% endblock %}

{% block head_extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/select2/select2.textinput.css">
{% endblock %}

{% block content %}
<article id="search" class="clearfix">
    <section class="column-two-thirds" style="float:none; margin: 3em auto 4em;">
        <h1>Find a place</h1>
        <input id="geography-picker" style="width: 100%">
    </section>
</article>

<article id="welcome">
    <header>
        <h1>About CensusReporter</h1>
    </header>
    <section class="column-two-thirds" style="width: 57%">
        <img src="{{ STATIC_URL }}img/comparison_screenshot.png" class="screenshot">
    </section>
    <section class="column-third" style="width: 37%">
        <p>CensusReporter is a <a href="http://www.knightfoundation.org/press-room/press-release/six-ventures-bring-data-public-winners-knight-news/">Knight News Challenge-funded project</a> to make it easy for journalists to write stories using U.S. Census data. Expanding upon the volunteer-built <a href="http://census.ire.org">Census.ire.org</a>, Census Reporter will simplify finding and using data from the decennial census and the American Community Survey. The goal of the new site is to include much more data, to provide a friendlier interface for navigating all of that data, and, as much as possible, to use visualizations to provide a more useful first look at the data.</p>
        <p>In the spirit of open and iterative development, we&rsquo;re making this site available to the public as early as possible. Much will change, and some things may not be working at any moment, but we want people to see what we&rsquo;re working on and offer input about what might be most useful.</p>
    </section>
</article>

{% comment %}
<div id="twitter-widget">
  <a class="twitter-timeline" href="https://twitter.com/CensusReporter" data-widget-id="344899396074369024">Tweets by @CensusReporter</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
{% endcomment %}
{% endblock %}

{% block body_javascript_extra %}
<script src="{{ STATIC_URL }}js/vendor/select2.min.js"></script>
<script type="text/javascript">
function geoFormatSelection(geo) {
    return geo.full_name;
}
jQuery(document).ready(function(){
    var geoSelect = $('#geography-picker')
    geoSelect.select2({
        placeholder: "Start typing to search ...",
        minimumInputLength: 3,
        ajax: {
            url: "/place-search/?autocomplete",
            dataType: 'json',
            quietMillis: 200,
            data: function (term) {
                return { q: term };
            },
            results: function (data) {
                var results = [];
                $.each(data, function(index, item){
                    results.push({
                        id: item.full_geoid,
                        text: item.full_name
                    });
                });
                return {
                    results: results
                };
            }
        }
    });
    geoSelect.on('change', function(e) {
        window.location = '/profiles/' + $(this).val();
    })
    
})
</script>
{% endblock %}