{% extends '_base.html' %}{% load humanize staticfiles %}

{% block head_title %}{{ block.super }}{% endblock %}
{% block body_id %}homepage{% endblock %}

{% block content_container %}
<div class="content-container clearfix tan-stripe">
    <article id="profile" class="clearfix wrapper">
        <section class="column-full clearfix">
            {% comment %}<p class="explain">
                This feature is under active development, so may occasionally appear broken.
            </p>
            We&rsquo;ll be at the <a href="http://journalists.org/conference/ona13/">Online News Association conference, Oct. 17-19,</a> to introduce it. Come by &ldquo;the midway&rdquo; and tell us what you think!{% endcomment %}
            
            <h1 class="article-header">Profile a place</h1>
            <div id="geography-select-wrapper">
                <input name="geography_select" id="geography-select" type="text" placeholder="Start typing to pick a place..." autocomplete="off">
                <div class="geolocate-only">
                    <span class="or">or</span>
                    <a href="{% url 'locate' %}" class="action-button"><i class="fa fa-location-arrow"></i> <span class="wide-only">Find places based on</span><span class="narrow-only">Use</span> your current location</a>
                </div>
            </div>
        </section>
        <section>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-book"></i>
                    Find facts
                </h3>
                <p>Populations and dollar figures that help you understand a place, broken down by category: Demographics, Economics, Families, Housing and Social.</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-bar-chart-o"></i>
                    Visualize
                </h3>
                <p>We&rsquo;re continuing to build a library of charts to give you insight into data from the places you research. Look for them on profile pages.</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-refresh"></i>
                    Get context
                </h3>
                <p>We&rsquo;re working on pre-computed statistics to add context to each data point, so you can see how each place fits into its province and country.</p>
            </div>
        </section>
    </article>
</div>

<div class="content-container clearfix tan-stripe">
    <article id="examples" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">Using this site</h1>
            <p class="explainer">Census Reporter is a <a href="http://www.knightfoundation.org/press-room/press-release/six-ventures-bring-data-public-winners-knight-news/">Knight News Challenge-funded project</a> to make it easier for journalists to write stories using information from the U.S. Census bureau. Place profiles and comparison pages provide a friendly interface for navigating data, including visualizations for a more useful first look.</p>
        </header>
        <section class="card-container clearfix">
            <h2 class="column-full subhead">Examples</h2>
            <a class="column-third card" href="/compare/01000US/040/map/?release=acs2012_1yr&table=B06011">
                <img src="{% static 'img/examples/us_median_income_map.png' %}">
                <span class="caption">How does median income compare from state to state? <span class="more">More &rarr;</span></span>
            </a>
            <a class="column-third card" href="/profiles/16000US0644000/">
                <img src="{% static 'img/examples/language_los_angeles.png' %}">
                <span class="caption">What languages do people speak at home in Los Angeles? <span class="more">More &rarr;</span></span>
            </a>
            <a class="column-third card" href="/compare/01000US/040/distribution/?release=acs2012_1yr&table=B07009">
                <img src="{% static 'img/examples/us_geographic_mobility_distribution.png' %}">
                <span class="caption">Where are people most mobile, and what skills do they have? <span class="more">More &rarr;</span></span>
            </a>
            <a class="column-third card" href="/profiles/16000US5367000/">
                <img src="{% static 'img/examples/poverty_spokane.png' %}">
                <span class="caption">How many children live in poverty in Spokane, Wash.? <span class="more">More &rarr;</span></span>
            </a>
            <a class="column-third card" href="/compare/01000US/040/table/?release=acs2012_1yr&table=B02001">
                <img src="{% static 'img/examples/us_race_table.png' %}">
                <span class="caption">What is the racial makeup of the U.S., and how do states compare? <span class="more">More &rarr;</span></span>
            </a>
            <a class="column-third card" href="/profiles/16000US3916000/">
                <img src="{% static 'img/examples/education_cleveland.png' %}">
                <span class="caption">How many people have college degrees in Cleveland? <span class="more">More &rarr;</span></span>
            </a>
        </section>
    </article>
</div>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script>
// show 'use my current location' button
if (Modernizr.geolocation) {
    $('.geolocate-only').show();
}
// geoSelect already defined by widget.geo.select.js
geoSelect.focus()
</script>
<script src="{% static 'js/vendor/spin.min.js' %}"></script>
<script src="{% static 'js/comparison.builder.js' %}"></script>
{% endblock %}