{% extends '_base_profile.html' %}{% load humanize %}

{% block head_title %}{% firstof geography.pretty_name geography.name %} - {{ block.super }}{% endblock %}

{% block header_content %}
<article id="profile">
    <h1 class="title">{% firstof geography.pretty_name geography.name %}</h1>
    <p>Data from {{ geography.census_release }} release</p>

    <section class="clearfix">
        <div class="column-half">
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">{{ geography.total_population|intcomma }}</span>
                        <span class="name">Population</span>
                    </span>
                </div>
            </div>
            {% if geography.land_area %}
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">{{ geography.land_area|intcomma }}</span>
                        <span class="name">Square miles</span>
                    </span>
                </div>
            </div>
            {% endif %}
            <div class="full-width">
                <p>This is some short, generated text that uses the facts and figures below to provide some narrative about the place being profiled.</p>
            </div>
        </div>
        <div class="column-half" id="geography-map"></div>
    </section>
</article>
{% endblock %}

{% block content %}
<p class="explain">Indexes show data as a percentage of state and national values, highlighting values that diverge by at least 20%.</p>

<article id="demographics" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_demographics_age.html" %}
        {% include "_profile/section_demographics_gender.html" %}
        {% include "_profile/section_demographics_race.html" %}
        {% include "_profile/section_demographics_ethnicity.html" %}
    </div>
</article>

<article id="economics" class="clearfix">
    <header class="section-contents">
        <h1>Economics</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_economics_income.html" %}
        {% include "_profile/section_economics_poverty.html" %}
    </div>
</article>

<article id="education" class="clearfix">
    <header class="section-contents">
        <h1>Education</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_education_attainment.html" %}
    </div>
</article>

<article id="employment" class="clearfix">
    <header class="section-contents">
        <h1>Employment</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_employment_travel.html" %}
    </div>
</article>

<article id="families" class="clearfix">
    <header class="section-contents">
        <h1>Families</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_families_households.html" %}
    </div>
</article>

<article id="housing" class="clearfix">
    <header class="section-contents">
        <h1>Housing</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_housing_housing_units.html" %}
        {% include "_profile/section_housing_tenure_mobility.html" %}
        {% include "_profile/section_housing_value.html" %}
    </div>
</article>

<article id="sociocultural" class="clearfix">
    <header class="section-contents">
        <h1>Socio-cultural</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_sociocultural_place_of_birth.html" %}
        {% include "_profile/section_sociocultural_language.html" %}
    </div>
</article>

<article id="veterans" class="clearfix">
    <header class="section-contents">
        <h1>Veterans</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_veterans_veteran_status.html" %}
    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/d3.chart.min.js"></script>
<script src="{{ STATIC_URL }}js/charts/d3.chart.columnChart.js"></script>
<script type="text/javascript">

var mapDiv = d3.select("#geography-map").append("div")
    .attr("class", "svg-map")

var width = mapDiv[0][0].offsetWidth,
    height = width*.67;

var svgMap = mapDiv.append("svg")
    .attr("width", width)
    .attr("height", height);

var projection = d3.geo.mercator();

var path = d3.geo.path()
    .projection(projection);
    
queue()
    .defer(d3.json, "{{ STATIC_URL }}json/us.json")
    .await(ready);

function ready(error, us) {
    var states = topojson.feature(us, us.objects.states),
        state = states.features.filter(function(d) { return d.id === {{ state_fips_code }}; })[0];

    // zoom to the state
    projection
        .scale(1)
        .translate([0, 0]);

    var b = path.bounds(state),
        s = .95 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height),
        t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];

    projection
        .scale(s)
        .translate(t);
        
    // draw the state
    svgMap.append("path")
        .datum(state)
        .attr("class", "outline{% if sumlev == '040' %} feature{% endif %}")
        .attr("d", path);

    // draw a county
    {% if county_fips_code %}
    var counties = topojson.feature(us, us.objects.counties),
        county = counties.features.filter(function(d) { return d.id === {{ county_fips_code }}; })[0];
        
    svgMap.append("path")
        .datum(county)
        .attr("class", "outline{% if sumlev == '050' %} feature{% endif %}")
        .attr("d", path);
    {% endif %}
    
    // draw a point
    {% if point_lon_lat %}
    var pointLonLat = projection([ {{ point_lon_lat.0 }}, {{ point_lon_lat.1 }} ]);
    
    svgMap.append("circle")
      .attr("cx", function(d) { return pointLonLat[0]; })
      .attr("cy", function(d) { return pointLonLat[1]; })
      .attr("r", 5)
      .attr("class", "point");
    {% endif %}
}

var raceColumnChartData = [
    { "name": "White", "value": {{ demographics.race.percent_white.values.this|default:"0" }} },
    { "name": "Black", "value": {{ demographics.race.percent_black.values.this|default:"0" }} },
    { "name": "Native", "value": {{ demographics.race.percent_native_american.values.this|default:"0" }} },
    { "name": "Asian", "value": {{ demographics.race.percent_asian.values.this|default:"0" }} },
    { "name": "Islander", "value": {{ demographics.race.percent_native_islander.values.this|default:"0" }} },
    { "name": "Other", "value": {{ demographics.race.percent_other.values.this|default:"0" }} },
    { "name": "Two+", "value": {{ demographics.race.percent_two_or_more.values.this|default:"0" }} }
];
var raceColumnChart = d3.select("#race-column-chart")
  .chart("ColumnChart");

raceColumnChart.draw(raceColumnChartData);


</script>
{% endblock %}