{% extends '_base_profile.html' %}{% load humanize %}

{% block header_content %}
<article id="profile">
    <h1 class="title">{{ geography.pretty_name }}</h1>
    <p>Data from {{ geography.census_release }} release</p>

    <section class="clearfix">
        <div class="column-half">
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">{{ geography.total_population|intcomma }}</span>
                        <span class="name">Population</span>
                    </span>
                </div>
            </div>
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">{{ geography.land_area|intcomma }}</span>
                        <span class="name">Square miles</span>
                    </span>
                </div>
            </div>
            <div class="full-width">
                <p>This is some short, generated text that uses the facts and figures below to provide some narrative about the place being profiled.</p>
            </div>
        </div>
        <div class="column-half">
            <div class="placeholder">map</div>
        </div>
    </section>
</article>
{% endblock %}

{% block content %}
<p class="explain">Indexes show data as a percentage of state and national values, highlighting values that diverge by at least 20%.</p>

<article id="demographics" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_demographics_age.html" %}
        {% include "_profile/section_demographics_gender.html" %}
        {% include "_profile/section_demographics_race.html" %}
        {% include "_profile/section_demographics_ethnicity.html" %}
    </div>
</article>

<article id="economics" class="clearfix">
    <header class="section-contents">
        <h1>Economics</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_economics_income.html" %}
        {% include "_profile/section_economics_poverty.html" %}
    </div>
</article>

<article id="education" class="clearfix">
    <header class="section-contents">
        <h1>Education</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_education_attainment.html" %}
    </div>
</article>

<article id="employment" class="clearfix">
    <header class="section-contents">
        <h1>Employment</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_employment_travel.html" %}
    </div>
</article>

<article id="families" class="clearfix">
    <header class="section-contents">
        <h1>Families</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_families_households.html" %}
    </div>
</article>

<article id="housing" class="clearfix">
    <header class="section-contents">
        <h1>Housing</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_housing_housing_units.html" %}
        {% include "_profile/section_housing_tenure_mobility.html" %}
        {% include "_profile/section_housing_value.html" %}
    </div>
</article>

<article id="sociocultural" class="clearfix">
    <header class="section-contents">
        <h1>Socio-cultural</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_sociocultural_place_of_birth.html" %}
        {% include "_profile/section_sociocultural_language.html" %}
    </div>
</article>

<article id="veterans" class="clearfix">
    <header class="section-contents">
        <h1>Veterans</h1>
    </header>
    <div class="section-container">
        {% include "_profile/section_veterans_veteran_status.html" %}
    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript">
var data = [
    { "race": "White", "percentage": {{ demographics.race.percent_white.values.geography }} },
    { "race": "Black", "percentage": {{ demographics.race.percent_black.values.geography }} },
    { "race": "Native", "percentage": {{ demographics.race.percent_american_indian.values.geography }} },
    { "race": "Asian", "percentage": {{ demographics.race.percent_asian.values.geography }} },
    { "race": "Islander", "percentage": {{ demographics.race.percent_islander.values.geography }} },
    { "race": "Other", "percentage": {{ demographics.race.percent_other.values.geography }} },
    { "race": "Two+", "percentage": {{ demographics.race.percent_two_or_more.values.geography }} }
];

var margin = {top: 10, right: 20, bottom: 30, left: 40},
    width = 500 - margin.left - margin.right,
    height = 135 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickSize(-width)
    .tickPadding(5)
    .tickValues(d3.range(0, 101, 25));

var svg = d3.select("#race-column-chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


  data.forEach(function(d) {
    d.percentage = +d.percentage;
  });

  x.domain(data.map(function(d) { return d.race; }));
  y.domain([0, 100]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  svg.selectAll(".column-chart-column")
      .data(data)
    .enter().append("rect")
      .attr("class", "column-chart-column")
      .attr("x", function(d) { return x(d.race); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.percentage); })
      .attr("height", function(d) { return height - y(d.percentage); });

  svg.append("g").selectAll("text")
       .data(data)
     .enter().append("text")
       .text(function(d) { return d.percentage; })
       .attr("text-anchor", "middle")
       .attr("x", function(d) { return x(d.race) + (x.rangeBand() / 2); })
       .attr("y", function(d) { return y(d.percentage) - 8; });


</script>
{% endblock %}