{% extends '_base.html' %}

{% comment %}
This page provides a base for all comparison display templates to inherit from,
for applying things across that entire family of pages.
{% endcomment %}

{% block head_title %}{% firstof comparison_metadata.descendant_type.plural|capfirst comparison_metadata.descendant_type.name %} in {{ comparison_metadata.parent_geography.geography.name }} comparison - Table {{ table.table_id }} ({{ table.census_release }}) - {{ block.super }}{% endblock %}

{% block header_content %}
<div class="wrapper clearfix">
    <div class="content-container clearfix">
        {% include "compare/_blocks/_comparison_builder_bar.html" %}
    </div>

    <div class="tool-set header-tool-set">
        <div class="tool-group">
            <ul class="toggle-set">
                <li><a class="{% if format == 'table' %}active{% endif %}" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'table' %}?{{ request.GET.urlencode }}">Table</a></li>
                <li><a class="{% if format == 'map' %}active{% endif %}" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'map' %}?{{ request.GET.urlencode }}">Map</a></li>
                <li><a class="{% if format == 'distribution' %}active{% endif %}" href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'distribution' %}?{{ request.GET.urlencode }}">Distribution</a></li>
            </ul>
        </div>
        <div class="tool-group toggle-sub-group">
            <a href="#">
                Download the data
            </a>
            <ul class="sub-group">
                <li><a href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'csv' %}?{{ request.GET.urlencode }}">CSV</a></li>
                <li><a href="{% url 'geography_comparison_detail' parent_id descendant_sumlev 'json' %}?{{ request.GET.urlencode }}">JSON</a></li>
            </ul>
        </div>
    </div>
    <h1>Compare {% firstof comparison_metadata.descendant_type.plural comparison_metadata.descendant_type.name %} in {{ comparison_metadata.parent_geography.geography.name }}</h1>
</div>
{% endblock %}

{% block body_javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}js/vendor/spin.min.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
<script src="{{ STATIC_URL }}js/glossary.js"></script>
<script src="{{ STATIC_URL }}js/vendor/typeahead.bundle.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/handlebars-v1.3.0.js"></script>

<script src="{{ STATIC_URL }}js/vendor/hogan-2.0.0.js"></script>
<script src="{{ STATIC_URL }}js/widget.geo.select.js"></script>

<script src="{{ STATIC_URL }}js/vendor/typeahead.min.js"></script>
<script type="text/javascript">
var chosenParentGeoID = '{{ parent_id }}',
    chosenParentName = '{{ comparison_metadata.parent_name }}'
    chosenSumlev = '{{ descendant_sumlev }}',
    chosenSumlevName = '{{ comparison_metadata.child_geography_name_plural|capfirst }}',
    chosenRelease = '{{ release }}',
    chosenTableID = '{{ table.table_id }}',
    chosenFormat = '{{ format }}';
    
// download submenu
$('.toggle-sub-group').hover(function() {
    $(this).find('.sub-group').toggle();
    $(this).find('a').toggleClass('hovered');
});
</script>
<script src="{{ STATIC_URL }}js/comparison.picker.js"></script>

{% endblock body_javascript %}
