<header class="column-full">
    <h1 class="article-header">Compare places</h1>
    <p class="explainer">Choose a data table and a set of places to compare, and we&rsquo;ll help you explore and download the data you&rsquo;re looking for.</p>
</header>

<section id="query-builder" class="comparison-builder clearfix">
    <form action="" method="GET" onsubmit="return false">
        <section class="step-explainer column-full clearfix">
            <span class="step-number">1</span>
            <p class="explainer">
                Narrow your search with <strong>topic filters</strong>. Type keywords to search <strong>table names</strong> and <strong>column names</strong>.
                <a class="change-button choices-open">Pick a topic</a>
            </p>
            <p id="topic-chosen"></p>
        </section>
        <section class="clearfix" id="topic-picker">
            <div class="column-quarter filter-groups">
                <h2>Filter by topic</h2>
                {% include "compare/_compare_builder_topic_filter_list.html" with filter_list=topic_demographic_filters filter_list_name="Demographics" %}
                {% include "compare/_compare_builder_topic_filter_list.html" with filter_list=topic_economic_filters filter_list_name="Economic" %}
                {% include "compare/_compare_builder_topic_filter_list.html" with filter_list=topic_family_filters filter_list_name="Families" %}
                {% include "compare/_compare_builder_topic_filter_list.html" with filter_list=topic_housing_filters filter_list_name="Housing" %}
                {% include "compare/_compare_builder_topic_filter_list.html" with filter_list=topic_social_filters filter_list_name="Social" %}
            </div>

            <div class="column-three-quarters autocomplete-widget">
                <h2 id="topic-result-number">Search data tables</h2>
                <input name="topic_select" id="topic-select" type="text" placeholder="Use keywords to search table and column names..." autocomplete="off">
            </div>
        </section>

        <section class="step-explainer column-full clearfix">
            <span class="step-number">2</span>
            <p class="explainer">
                Select a set of places to compare. For example, all <strong>census tracts</strong> in <strong>Chicago</strong>, or all <strong>counties</strong> in <strong>Washington</strong>.
                <a class="change-button choices-open">Pick places</a>
            </p>
            <p id="geographies-chosen"></p>
        </section>
        <section class="clearfix" id="geography-picker">
            <div class="column-quarter filter-groups">
                <h2>Compare geographies</h2>
                <ul class="filter-list" id="sumlev-select-options">
                {% for group, values in sumlev_choices.items %}
                    <li class="label" id="sumlevs-{{ group|lower }}">
                        {{ group }}
                        <ul>
                            {% for sumlev in values %}
                            <li><a href="#" id="sumlev-select-{{ sumlev.summary_level }}" data-value="{{ sumlev.summary_level }}" data-plural-name="{{ sumlev.plural_name }}" data-ancestor-list="{{ sumlev.ancestor_sumlev_list }}" data-ancestor-names="{{ sumlev.ancestor_options }}">{{ sumlev.plural_name|capfirst }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="column-three-quarters autocomplete-widget">
                <h2 id="place-autocomplete-header">Within a place</h2>
                <input name="parent_select" id="parent-select" type="text" placeholder="... then search for a place" autocomplete="off">
            </div>
        </section>

        <section class="step-explainer column-full clearfix" id="build-comparison">
            <span class="step-number">3</span>
            <p class="boxed">
                Once you&rsquo;ve chosen your topic and places&hellip;
                <a class="change-button go-button disabled">Build comparison</a>
            </p>
        </section>
        {% comment %}
        <section>
            <div class="step-explainer column-full clearfix">
                <span class="step-number">3</span>
                <div class="go-button disabled">Build comparison</div>
            </div>
        </section>
        {% endcomment %}
    </form>
</section>
