{% extends 'compare/_base_compare.html' %}{% load humanize %}

{% block content %}

<article id="comparison-distribution" class="clearfix">
    <header class="section-contents">
        <h1>Table {{ table.table_id }}</h1>
    </header>
    <div class="section-container">
        <section class="clearfix">
            {# TABLE NAME #}
            <h2>{{ table.table_name }}</h2>

            {# VISUALIZATION EXPLAINER #}
            <aside>
                <p class="display-type strong">{{ table.census_release }}</p>
                <p>A choropleth shows how data varies across geographies. The {% firstof comparison_metadata.descendant_type.plural comparison_metadata.descendant_type.name %} in this map are divided into quintiles. Use the selector to view any column in the table.</p>
                {% include 'compare/_blocks/_explainer_why_are_places_missing.html' %}
            </aside>

            {# RELEASE AND UNIVERSE #}
            <p class="caption">
                <span class="caption-group"><strong>Table universe:</strong> {{ table.table_universe }}</span>
            </p>

            {# MAP PACKAGE #}
            {% include 'compare/_blocks/_map_package.html' %}

        </section>
    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var geodata = {{ map_data }},
    tabledata = {{ table_data }},
    percentify = '{{ percentify }}',
    parent_fips_code = '{{ parent_fips_code }}';

var parent = {{ parent_shape }},
    children = {{ child_shapes }};
</script>
<script src="{{ STATIC_URL }}js/comparison.maps.js"></script>
{% endblock %}
