{% extends '_base.html' %}{% load humanize %}

{% block head_title %}Comparison Query Builder - {{ block.super }}{% endblock %}

{% block body_id %}comparison-builder{% endblock %}

{% block content %}
<article class="clearfix">
    {% include "compare/_blocks/_comparison_builder_steps.html" %}
</article>
{% endblock %}

{% block body_javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}js/vendor/spin.min.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
<script src="{{ STATIC_URL }}js/glossary.js"></script>
<script src="{{ STATIC_URL }}js/vendor/typeahead.bundle.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/handlebars-v1.3.0.js"></script>

<script src="{{ STATIC_URL }}js/vendor/hogan-2.0.0.js"></script>
<script src="{{ STATIC_URL }}js/widget.geo.select.js"></script>

<script src="{{ STATIC_URL }}js/vendor/typeahead.min.js"></script>
<script type="text/javascript">
var chosenParentGeoID = '{{ parent_id }}',
    chosenParentName = '{{ comparison_metadata.parent_name }}'
    chosenSumlev = '{{ descendant_sumlev }}',
    chosenSumlevName = '{{ comparison_metadata.child_geography_name_plural|capfirst }}',
    chosenRelease = '{{ release }}',
    chosenTableID = '{{ table.table_id }}',
    chosenFormat = '{{ format }}';
    
// download submenu
$('.toggle-sub-group').hover(function() {
    $(this).find('.sub-group').toggle();
    $(this).find('a').toggleClass('hovered');
});
</script>
<script src="{{ STATIC_URL }}js/comparison.builder.js"></script>
{% endblock %}
