{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
{% include "topics/_question_aside.html" %}    
<h2>Overview</h2>
<p>The ACS tables about Children and Relationships.</p>

<table>
<thead><tr>
<th>code</th>
<th>Title</th>
</tr></thead>
<tbody>
<tr>
<td><strong>B09001</strong></td>
<td>Population Under 18 Years by Age</td>
</tr>
<tr>
<td><strong>B09002</strong></td>
<td>Own Children Under 18 Years by Family Type and Age</td>
</tr>
<tr>
<td><strong>B09005</strong></td>
<td>Household Type for Children Under 18 Years in Households (Excluding Householders, Spouses, and Unmarried Partners)</td>
</tr>
<tr>
<td><strong>B09006</strong></td>
<td>Relationship to Householder for Children Under 18 Years in Households</td>
</tr>
<tr>
<td><strong>B09008<sup>‡</sup></strong></td>
<td>Presence of Unmarried Partner of Householder by Household Type for Children Under 18 Years in Households</td>
</tr>
<tr>
<td><strong>B09010</strong></td>
<td>Receipt of Supplemental Security Income (SSI), Cash Public Assistance Income, or Food Stamps/SNAP in the Past 12 Months by Household Type for Children Under 18 Years in Households</td>
</tr>
<tr>
<td><strong>B09016<sup>‡</sup></strong></td>
<td>Household Type (Including Living Alone) by Relationship</td>
</tr>
<tr>
<td><strong>B09017</strong></td>
<td>Relationship by Household Type (Including Living Alone) for the Population 65 Years and Over</td>
</tr>
<tr>
<td><strong>B09018</strong></td>
<td>Relationship to Householder for Children Under 18 Years in Households</td>
</tr>
<tr>
<td><strong>B09019<sup>‡</sup></strong></td>
<td>Household Type (Including Living Alone) by Relationship</td>
</tr>
<tr>
<td><strong>B09020</strong></td>
<td>Relationship by Household Type (Including Living Alone) for the Population 65 Years and Over</td>
</tr>
</tbody>
<tfoot>
        <tr class="help-text">
            <td colspan="2">
                <sup>‡</sup>Table also available in "collapsed" version: change "B" to "C" for table code.<br>
            </td>
        </tr>
    </tfoot>
</table>


<h2>Other ACS Tables That Include Children</h2>

<table>
<thead><tr>
<th>code</th>
<th>Title</th>
</tr></thead>
<tbody>
<tr>
<td><strong>B05009<sup>‡</sup></strong></td>
<td>Age and Nativity of Own Children Under 18 Years in Families and Subfamilies by Number and Nativity of Parents</td>
</tr>
<tr>
<td><strong>B05010<sup>‡</sup></strong></td>
<td>Ratio of Income to Poverty Level in the Past 12 Months by Nativity of Children Under 18 Years in Families and Subfamilies by Living Arrangements and Nativity of Parents</td>
</tr>
<tr>
<td><strong>B10001</strong></td>
<td>Grandchildren Under 18 Years Living With a Grandparent Householder by Age of Grandchild</td>
</tr>
<tr>
<td><strong>B10002</strong></td>
<td>Grandchildren Under 18 Years Living With a Grandparent Householder by Grandparent Responsibility and Presence of Parent</td>
</tr>
<tr>
<td><strong>B10010</strong></td>
<td>Median Family Income for Families With Grandparent Householders And/or Spouses Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Presence of Parent of Grandchild</td>
</tr>
<tr>
<td><strong>B10050</strong></td>
<td>Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren by Length of Time Responsible for Own Grandchildren for the Population 30 Years and Over</td>
</tr>
<tr>
<td><strong>B10051<sup>†</sup></strong></td>
<td>Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren by Presence of Parent of Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10052</strong></td>
<td>Disability Status of Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10053</strong></td>
<td>Nativity by Grandparents Responsible for Own Grandchildren Under 18 Years by Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10054</strong></td>
<td>Language and Ability to Speak English of Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10055</strong></td>
<td>Disability Status of Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10056</strong></td>
<td>Sex of Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10057</strong></td>
<td>Marital Status by Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10058</strong></td>
<td>Employment Status of Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10059</strong></td>
<td>Poverty Status in the Past 12 Months of Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10060</strong></td>
<td>Units in Structure of Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10061</strong></td>
<td>Tenure of Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B10063</strong></td>
<td>Households With Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Presence of Parent of Grandchildren</td>
</tr>
<tr>
<td><strong>B11003</strong></td>
<td>Family Type by Presence and Age of Own Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B11004</strong></td>
<td>Family Type by Presence and Age of Related Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B11005<sup>‡</sup></strong></td>
<td>Households by Presence of People Under 18 Years by Household Type</td>
</tr>
<tr>
<td><strong>B11013</strong></td>
<td>Subfamily Type by Presence of Own Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B17006<sup>‡</sup></strong></td>
<td>Poverty Status in the Past 12 Months of Related Children Under 18 Years by Family Type by Age of Related Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B17010<sup>†‡</sup></strong></td>
<td>Poverty Status in the Past 12 Months of Families by Family Type by Presence of Related Children Under 18 Years by Age of Related Children</td>
</tr>
<tr>
<td><strong>B17012<sup>‡</sup></strong></td>
<td>Poverty Status in the Past 12 Months of Families by Household Type by Number of Related Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B17022</strong></td>
<td>Ratio of Income to Poverty Level in the Past 12 Months of Families by Family Type by Presence of Related Children Under 18 Years by Age of Related Children</td>
</tr>
<tr>
<td><strong>B17023<sup>‡</sup></strong></td>
<td>Poverty Status in the Past 12 Months of Families by Household Type by Number of Own Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B19125</strong></td>
<td>Median Family Income in the Past 12 Months (In 2012 Inflation-adjusted Dollars) by Presence of Own Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B19126</strong></td>
<td>Median Family Income in the Past 12 Months (In 2012 Inflation-adjusted Dollars) by Family Type by Presence of Own Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B19128</strong></td>
<td>Aggregate Family Income in the Past 12 Months (In 2012 Inflation-adjusted Dollars) by Family Type by Presence of Own Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B19131<sup>‡</sup></strong></td>
<td>Family Type by Presence of Own Children Under 18 Years by Family Income in the Past 12 Months (In 2012 Inflation-adjusted Dollars)</td>
</tr>
<tr>
<td><strong>B22002<sup>‡</sup></strong></td>
<td>Receipt of Food Stamps/SNAP in the Past 12 Months by Presence of Children Under 18 Years by Household Type for Households</td>
</tr>
<tr>
<td><strong>B23003</strong></td>
<td>Presence of Own Children Under 18 Years by Age of Own Children Under 18 Years by Employment Status for Females 20 to 64 Years</td>
</tr>
<tr>
<td><strong>B23007<sup>‡</sup></strong></td>
<td>Presence of Own Children Under 18 Years by Family Type by Employment Status</td>
</tr>
<tr>
<td><strong>B23008<sup>‡</sup></strong></td>
<td>Age of Own Children Under 18 Years in Families and Subfamilies by Living Arrangements by Employment Status of Parents</td>
</tr>
<tr>
<td><strong>B23009</strong></td>
<td>Presence of Own Children Under 18 Years by Family Type by Number of Workers in Family in the Past 12 Months</td>
</tr>
<tr>
<td><strong>B23010</strong></td>
<td>Presence of Own Children Under 18 Years in Married-couple Families by Work Experience of Householder and Spouse</td>
</tr>
<tr>
<td><strong>B25012</strong></td>
<td>Tenure by Families and Presence of Own Children</td>
</tr>
<tr>
<td><strong>B25115</strong></td>
<td>Tenure by Household Type and Presence and Age of Own Children</td>
</tr>
<tr>
<td><strong>B99102</strong></td>
<td>Imputation of Grandparents Living With Grandchildren Under 18 Years</td>
</tr>
<tr>
<td><strong>B99103</strong></td>
<td>Imputation of Grandparents Responsible for Grandchildren Under 18 Years</td>
</tr>
<tr>
<td><strong>B99104</strong></td>
<td>Imputation of Length of Time Grandparent Responsible for Own Grandchildren Under 18 Years for the Population 30 Years and Over</td>
</tr>
</tbody>
<tfoot>
        <tr class="help-text">
            <tr class="help-text">
            <td colspan="2">
                <sup>‡</sup>Table also available in "collapsed" version: change "B" to "C" for table code.<br>
            </td>
        </tr>
            <tr class="help-text">
            <td colspan="2">
                <sup>†</sup>Also available in <a href="{% url 'topic_detail' 'race-latino' %}#topic-elsewhere">racial iterations</a>.<br>
            </td>
        </tr>
    </tfoot>
</table>


</section>
{% endblock %}


