{% extends 'topics/_base_topics.html' %} {% load list_tables %} {% block content %}
<section id="topic-overview">

    <h2>Overview</h2>
    <p>
        Citizenship and the Census has been a very heated topic over the last few years. That discussion has been focused around whether or not to add a question about respondents' citizenship status to the Decennial Census. Leaving aside the issues in that debate,
        the American Community Survey has asked a question about citizenship since it was created in 2005. Beginning with the 2018 and 2014-2018 ACS releases, a small number of new tables organizing information about the citizen voting-age population
        (CVAP) have been created based upon questions which were already in the survey.
    </p>
</section>

<section>

    <h3>Who is a citizen?</h3>
    <p>
        While it might be taken for granted that a person who is born in the U.S. is "native," note that people born in Puerto Rico, American Samoa, Guam, the Commonwealth of the Northern Mariana Islands, or the US Virgin Islands also qualifies as "native," as
        well as those born in a foreign country who have at least one parent who is a U.S. citizen. Thus, by definition, anyone who is "native" is a citizen. People who are not "native" are classified as "foreign born," and may be either a "naturalized
        citizen" or not a citizen.
    </p>
    <p>
        Separately from asking about citizenship, the ACS asks about each person the location of their birth, be it a state in the U.S. or another country, and, if not born in the United States, the year that the person came to live in the United States.
    </p>
    <p>
        One interesting table, <a href="{% url 'table_detail' 'B05011' %}">Period of Naturalization (B05011)</a>, counts the number naturalized citizens over 5 year periods, allowing you to track naturalization rates over time.
    </p>

    <h4>Citizenship tables</h4>
    <p>The Census Bureau classifies <a href="{% url 'topic_detail' 'table-codes' %}">table codes</a> beginning with <strong>05</strong> as about citizenship.</p>
    {% list_tables prefix='05' %}

    <h4>Place of Birth tables</h4>
    <p>The Census Bureau classifies table codes beginning with <strong>06</strong> as about place of birth.</p>
    {% list_tables prefix='06' %}


    <h4>Citizen, Voting-age population (CVAP) tables</h4>
    <p>The Census Bureau classifies table codes beginning with <strong>29</strong> as about the citizen voting-age population.</p>
    {% list_tables prefix='29' %}

    <h4>Related tables about citizenship and place of birth</h4>
    {# we need to list out the tabulation codes because we can't do one template tag which does topic "citizenship OR place of birth" #} {% list_tables codes='07007,07407,08111,08511,10053,13008,16005,16008,17025,26110,26210,27020' %}
</section>

{% endblock %}