{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
{% include "topics/_question_aside.html" %}    
<h2>Overview</h2>
<p>The ACS asks questions about where Americans work, how they get to work, and how long their commute takes.</p>
<h2>Travel Time to Work</h2>    

<table>
<thead><tr>
<th>code</th>
<th>Title</th>
</tr></thead>
<tbody>
<tr>
<td>
<strong>B08136</strong><sup>‡</sup>
</td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Means of Transportation to Work</td>
</tr>
<tr>
<td>
<strong>B08536</strong><sup>‡</sup>
</td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Means of Transportation to Work for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08131</strong></td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Place of Work-- State and County Level</td>
</tr>
<tr>
<td><strong>B08013</strong></td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Sex</td>
</tr>
<tr>
<td><strong>B08135</strong></td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Travel Time to Work</td>
</tr>
<tr>
<td>
<strong>B08532</strong><sup>‡</sup>
</td>
<td>Means of Transportation to Work by Time Arriving at Work From Home for Workplace Geography</td>
</tr>
<tr>
<td>
<strong>B08132</strong><sup>‡</sup>
</td>
<td>Means of Transportation to Work by Time Leaving Home to Go to Work</td>
</tr>
<tr>
<td>
<strong>B08134</strong><sup>‡</sup>
</td>
<td>Means of Transportation to Work by Travel Time to Work</td>
</tr>
<tr>
<td>
<strong>B08534</strong><sup>‡</sup>
</td>
<td>Means of Transportation to Work by Travel Time to Work for Workplace Geography</td>
</tr>
<tr>
<td>
<strong>B08011</strong><sup>‡</sup>
</td>
<td>Sex of Workers by Time Leaving Home to Go to Work</td>
</tr>
<tr>
<td>
<strong>B08012</strong><sup>‡</sup>
</td>
<td>Sex of Workers by Travel Time to Work</td>
</tr>
<tr>
<td>
<strong>B08412</strong><sup>‡</sup>
</td>
<td>Sex of Workers by Travel Time to Work for Workplace Geography</td>
</tr>
<tr>
<td>
<strong>B08602</strong><sup>‡</sup>
</td>
<td>Time Arriving at Work From Home for Workplace Geography</td>
</tr>
<tr>
<td>
<strong>B08302</strong><sup>‡</sup>
</td>
<td>Time Leaving Home to Go to Work</td>
</tr>
<tr>
<td>
<strong>B08303</strong><sup>‡</sup>
</td>
<td>Travel Time to Work</td>
</tr>
<tr>
<td>
<strong>B08603</strong><sup>‡</sup>
</td>
<td>Travel Time to Work for Workplace Geography</td>
</tr>
</tbody>
</table>

<p><sup>‡</sup>Table also available in "collapsed" version: change "B" to "C" for table code.</p>

<h2>Place of Work</h2>

<p>Tables about place of work can be used to determine to some extent how far people travel for their jobs. Columns do not refer to time or distance, but rather to whether or not people work in the same geography that they live in.</p>

<table>
<thead><tr>
<th>code</th>
<th>title</th>
</tr></thead>
<tbody>
<tr>
<td><strong>B08007<sup>‡</sup></strong></td>
<td>Sex of Workers by Place of Work--State and County Level</td>
</tr>
<tr>
<td><strong>B08008</strong></td>
<td>Sex of Workers by Place of Work--Place Level</td>
</tr>
<tr>
<td><strong>B08009</strong></td>
<td>Sex of Workers by Place of Work--Minor Civil Division Level for 12 Selected States (CT, ME, MA, MI, MN, NH, NJ, NY, PA, RI, VT, WI)</td>
</tr>
<tr>
<td><strong>B08016<sup>‡</sup></strong></td>
<td>Place of Work for Workers 16 Years and Over--Metropolitan Statistical Area Level</td>
</tr>
<tr>
<td><strong>B08017<sup>‡</sup></strong></td>
<td>Place of Work for Workers 16 Years and Over--Micropolitan Statistical Area Level</td>
</tr>
<tr>
<td><strong>B08018<sup>‡</sup></strong></td>
<td>Place of Work for Workers 16 Years and Over--not Metropolitan or Micropolitan Statistical Area Level</td>
</tr>
</tbody>
</table>
<p><sup>‡</sup>Table also available in "collapsed" version: change "B" to "C" for table code.</p>

<h2>Means of transportation to work</h2>
<p>At first glance, there appear to be a surprising number of tables about how Americans get to work. Note that this is partially because for most cross-tabulations, there are two versions of the table: one where the numbers represent people living in the selected geography, and another which represents people working in the selected geography.</p>
<p>Here are the basic answers available about means of transportation to work. In some tables, some of these answers are collapsed into fewer rows.</p>


</section>
{% endblock %}


