{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
{% include "topics/_question_aside.html" %}    
<h2>Overview</h2>
<p>The ACS asks questions about where Americans work, how they get to work, and how long their commute takes.</p>
<h2>Travel Time to Work</h2>    

<table>
<thead><tr>
<th>Code</th>
<th>Title</th>
</tr></thead>
<tbody>
<tr>
<td>
<strong>B08136</strong><sup>‡</sup>
</td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Means of Transportation to Work</td>
</tr>
<tr>
<td>
<strong>B08536</strong><sup>‡</sup>
</td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Means of Transportation to Work for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08131</strong></td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Place of Work-- State and County Level</td>
</tr>
<tr>
<td><strong>B08013</strong></td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Sex</td>
</tr>
<tr>
<td><strong>B08135</strong></td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Travel Time to Work</td>
</tr>
<tr>
<td>
<strong>B08532</strong><sup>‡</sup>
</td>
<td>Means of Transportation to Work by Time Arriving at Work From Home for Workplace Geography</td>
</tr>
<tr>
<td>
<strong>B08132</strong><sup>‡</sup>
</td>
<td>Means of Transportation to Work by Time Leaving Home to Go to Work</td>
</tr>
<tr>
<td>
<strong>B08134</strong><sup>‡</sup>
</td>
<td>Means of Transportation to Work by Travel Time to Work</td>
</tr>
<tr>
<td>
<strong>B08534</strong><sup>‡</sup>
</td>
<td>Means of Transportation to Work by Travel Time to Work for Workplace Geography</td>
</tr>
<tr>
<td>
<strong>B08011</strong><sup>‡</sup>
</td>
<td>Sex of Workers by Time Leaving Home to Go to Work</td>
</tr>
<tr>
<td>
<strong>B08012</strong><sup>‡</sup>
</td>
<td>Sex of Workers by Travel Time to Work</td>
</tr>
<tr>
<td>
<strong>B08412</strong><sup>‡</sup>
</td>
<td>Sex of Workers by Travel Time to Work for Workplace Geography</td>
</tr>
<tr>
<td>
<strong>B08602</strong><sup>‡</sup>
</td>
<td>Time Arriving at Work From Home for Workplace Geography</td>
</tr>
<tr>
<td>
<strong>B08302</strong><sup>‡</sup>
</td>
<td>Time Leaving Home to Go to Work</td>
</tr>
<tr>
<td>
<strong>B08303</strong><sup>‡</sup>
</td>
<td>Travel Time to Work</td>
</tr>
<tr>
<td>
<strong>B08603</strong><sup>‡</sup>
</td>
<td>Travel Time to Work for Workplace Geography</td>
</tr>
</tbody>
<tfoot>
         <tr class="help-text">
            <td colspan="2">
                <sup>‡</sup>Table also available in "collapsed" version: change "B" to "C" for table code.<br>
            </td>
        </tr>
    </tfoot>
</table>

<h2>Place of Work</h2>

<p>Tables about place of work can be used to determine to some extent how far people travel for their jobs. Columns do not refer to time or distance, but rather to whether or not people work in the same geography that they live in.</p>

<table>
<thead><tr>
<th>Code</th>
<th>title</th>
</tr></thead>
<tbody>
<tr>
<td><strong>B08007<sup>‡</sup></strong></td>
<td>Sex of Workers by Place of Work--State and County Level</td>
</tr>
<tr>
<td><strong>B08008</strong></td>
<td>Sex of Workers by Place of Work--Place Level</td>
</tr>
<tr>
<td><strong>B08009</strong></td>
<td>Sex of Workers by Place of Work--Minor Civil Division Level for 12 Selected States (CT, ME, MA, MI, MN, NH, NJ, NY, PA, RI, VT, WI)</td>
</tr>
<tr>
<td><strong>B08016<sup>‡</sup></strong></td>
<td>Place of Work for Workers 16 Years and Over--Metropolitan Statistical Area Level</td>
</tr>
<tr>
<td><strong>B08017<sup>‡</sup></strong></td>
<td>Place of Work for Workers 16 Years and Over--Micropolitan Statistical Area Level</td>
</tr>
<tr>
<td><strong>B08018<sup>‡</sup></strong></td>
<td>Place of Work for Workers 16 Years and Over--not Metropolitan or Micropolitan Statistical Area Level</td>
</tr>
</tbody>
<tfoot>
         <tr class="help-text">
            <td colspan="2">
                <sup>‡</sup>Table also available in "collapsed" version: change "B" to "C" for table code.<br>
            </td>
        </tr>
    </tfoot>
</table>

<h2>Means of transportation to work</h2>
<p>At first glance, there appear to be a surprising number of tables about how Americans get to work. Note that this is partially because for most cross-tabulations, there are two versions of the table: one where the numbers represent people living in the selected geography, and another which represents people working in the selected geography.</p>
<p>Here are the basic answers available about means of transportation to work. In some tables, some of these answers are collapsed into fewer rows:</p>
<ul>
<li>Car, truck, or van:
    <ul>
<li>Drove alone</li>
     <li>Carpooled
     <ul>
<li>In 2-person carpool</li>
       <li>In 3-person carpool</li>
       <li>In 4-or-more-person carpool</li>
     </ul>
</li>
    </ul>
</li>
    <li>
   Public transportation (excluding taxicab):
   <ul>
<li>Bus or trolley bus</li>
    <li>Streetcar or trolley car (carro publico in Puerto Rico)</li>
    <li>Subway or elevated</li>
    <li>Railroad</li>
    <li>Ferryboat</li>
   </ul>
</li>
   <li>Bicycle</li>
   <li>Walked</li>
   <li>Taxicab, motorcycle, or other means</li>
   <li>Worked at home</li>
</ul><table>
<thead><tr>
<th>Code</th>
<th>Title</th>
</tr></thead>
<tbody>
<tr>
<td><strong>B08006<sup>‡</sup></strong></td>
<td>Sex of Workers by Means of Transportation to Work</td>
</tr>
<tr>
<td><strong>B08101<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Age</td>
</tr>
<tr>
<td><strong>B08103</strong></td>
<td>Median Age by Means of Transportation to Work</td>
</tr>
<tr>
<td><strong>B08105<sup>†‡</sup></strong></td>
<td>Means of Transportation to Work (only in racial iterations, no combined table)</td>
</tr>
<tr>
<td><strong>B08111<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Citizenship Status</td>
</tr>
<tr>
<td><strong>B08113<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Language Spoken at Home and Ability to Speak English</td>
</tr>
<tr>
<td><strong>B08119<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Workers' Earnings</td>
</tr>
<tr>
<td><strong>B08121</strong></td>
<td>Median Earnings by Means of Transportation to Work</td>
</tr>
<tr>
<td><strong>B08122<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Poverty Status in the Past 12 Months</td>
</tr>
<tr>
<td><strong>B08124<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Occupation</td>
</tr>
<tr>
<td><strong>B08126<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Industry</td>
</tr>
<tr>
<td><strong>B08128<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Class of Worker</td>
</tr>
<tr>
<td><strong>B08130<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Place of Work--State and County Level</td>
</tr>
<tr>
<td><strong>B08132<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Time Leaving Home to Go to Work</td>
</tr>
<tr>
<td><strong>B08134<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Travel Time to Work</td>
</tr>
<tr>
<td><strong>B08136<sup>‡</sup></strong></td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Means of Transportation to Work</td>
</tr>
<tr>
<td><strong>B08137<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Tenure</td>
</tr>
<tr>
<td><strong>B08141<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Vehicles Available</td>
</tr>
<tr>
<td><strong>B08301<sup>‡</sup></strong></td>
<td>Means of Transportation to Work</td>
</tr>
<tr>
<td><strong>B08406<sup>‡</sup></strong></td>
<td>Sex of Workers by Means of Transportation to Work for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08501<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Age for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08503</strong></td>
<td>Median Age by Means of Transportation to Work for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08505<sup>†‡</sup></strong></td>
<td>Means of Transportation to Work for Workplace Geography (only in racial iterations, no combined table)</td>
</tr>
<tr>
<td><strong>B08511<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Citizenship Status for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08513<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Language Spoken at Home and Ability to Speak English for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08519<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Workers' Earnings for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08521</strong></td>
<td>Median Earnings by Means of Transportation to Work for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08522<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Poverty Status in the Past 12 Months for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08524<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Occupation for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08526<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Industry for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08528<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Class of Worker for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08532<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Time Arriving at Work From Home for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08534<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Travel Time to Work for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08536<sup>‡</sup></strong></td>
<td>Aggregate Travel Time to Work (In Minutes) of Workers by Means of Transportation to Work for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08537<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Tenure for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08541<sup>‡</sup></strong></td>
<td>Means of Transportation to Work by Vehicles Available for Workplace Geography</td>
</tr>
<tr>
<td><strong>B08601<sup>‡</sup></strong></td>
<td>Means of Transportation to Work for Workplace Geography</td>
</tr>
</tbody>
<tfoot>
        <tr class="help-text">
            <td colspan="2">
                <sup>†</sup>Also available in <a href="{% url 'topic_detail' 'race-latino' %}#topic-elsewhere">racial iterations</a>.<br>
            </td>
        </tr>
         <tr class="help-text">
            <td colspan="2">
                <sup>‡</sup>Table also available in "collapsed" version: change "B" to "C" for table code.<br>
            </td>
        </tr>
    </tfoot>
</table>

</section>
{% endblock %}


