{% extends 'topics/_base_topics.html' %} {% load list_tables %} {% block top_aside %}
<aside>
    <h3>Should I use American Community Survey data for this?</h3>
    <p>The ACS is only one Census product offering employment data, and may not always be the best for your purposes. Another source of data about the labor force is the <a href="http://www.bls.gov/cps/">Current Population Survey, or CPS</a>. The CPS is
        the official source of employment statistics that make for monthly news pegs (the "jobs numbers"). Simplistically, the CPS is better for timely data (it's reported monthly), is better for change over time (data has been collected for much longer
        than the ACS) and is a survey directly targeted at information about employment; meanwhile, the ACS data can be found for smaller geographies, and is more readily comparable to non-employment statistics. </p>
    <p>The Census Bureau also partners with the U.S. states to produce the <a href="http://www.census.gov/ces/dataproducts/lehddata.html">Longitudinal Employer–Household Dynamics (LEHD)</a> data. Compared to the ACS, this data provides more direct information
        on changes in the workforce (hiring, quits and layoffs), and can also give insight into commuting flows.</p>
    <ul>
        <li>For a detailed explanation of the differences between the ACS and CPS, see this <a href="https://www.census.gov/library/working-papers/2011/demo/SEHSD-WP2011-31.html">Census Bureau report</a>.</li>
    </ul>
</aside>
{% endblock %} {% block content %}
<section id="topic-overview">
    <h2>Overview</h2>

    <p>The Census Bureau asks a number of questions about whether individuals are employed, and if they are not unemployed or retired, about their occupation and industry. Census Reporter collects these together under the tag 'employment'. There are also
        questions about where geographically people are employed, how they get to work, how long it takes to get to work, and similar questions, which Census Reporter collects under the tag <a href="{% url 'topic_detail' 'commute'  %}">'commute'</a>.</p>
    <h2 id="employment-status">Employment Status</h2>
    <p>When talking about employment status, the Census Bureau divides the population 16 years and older into two categories: <em>in the labor force</em> or <em>not in the labor force</em>. People who have never worked or who are retired are not in the labor
        force. People who are not currently working but have recently and would like to work are considered in the labor force, but unemployed. People who are actively working are described as either in the civilian labor force or in the armed forces.
        This is probably easier understood when shown as a set of nested lists:</p>
    <ul class="compact">
        <li>Total:
            <ul>
                <li>In labor force:
                    <ul>
                        <li>Civilian labor force:
                            <ul>
                                <li>Employed</li>
                                <li>Unemployed</li>
                            </ul>
                        </li>
                        <li>Armed Forces</li>
                    </ul>
                </li>

                <li>Not in labor force</li>
            </ul>
        </li>
    </ul>

    <p>The simplest presentation of this data is in table <strong><a href="{% url 'table_detail' 'B23025' %}">B23025</a></strong> which has simply those columns. For finer detail, table <strong><a href="{% url 'table_detail' 'B23001' %}">B23001</a></strong>        breaks down those respondents into male and female and then within the sexes, into age brackets of varying sizes. In the ACS 1-year <span class='glossary-term'>release</span>, a collapsed version of this table, <strong><a href="{% url 'table_detail' 'C23001' %}">C23001</a></strong>        has the same basic structure but fewer distinct age brackets.</p>
    <p>Employment status is reported by sex, age and race in the <strong><a href="{% url 'table_detail' 'B23002' %}">B23002</a></strong> and <strong><a href="{% url 'table_detail' 'C23002' %}">C23002</a></strong> series of tables. Neither of these tables
        appear in a non-racial tabulation, but each is tabulated in the standard nine subsets for race and hispanic origin. The <strong><a href="{% url 'table_detail' 'C23002' %}">C23002</a></strong> tables have only two age brackets: 16-64 and 65 and
        older. The <strong><a href="{% url 'table_detail' 'C23002' %}">C23002</a></strong> tables are available for all releases, but the <strong><a href="{% url 'table_detail' 'B23002' %}">B23002</a></strong> tables is only offered in the ACS 1-year
        release.
    </p>
    <p>There are dozens more tables which crosstabulate employment status with other characteristics, such as education, poverty status, disability status, veteran status and more. </p>

    <p>
        In the table below, some table names have been simplified. Employment status is always only for the population 16 years and over. Questions about work status and hours worked are for the last 12 months. References to the respondent's "own children" are
        for children under 18 years.
    </p>
    {% list_tables prefix='23' %}

    <h2 id="industry-occupation-class-of-worker">Industry / Occupation / Class of Worker</h2>
    <p>The ACS provides some pretty detailed information about the specific kinds of work Americans do. These tables are gathered together in a series whose <a href="{% url 'topic_detail' 'table-codes' %}">table codes</a> begin with <strong>B24</strong>        and <strong>C24</strong>.</p>
    <h3 id="occupation">Occupation</h3>
    <p>The "detailed occupation" tables include over 500 occupations, but are only available summarized at the national level. Below the national level, begin with tables <strong><a href="{% url 'table_detail' 'B24010' %}">B24010</a></strong> and <strong><a href="{% url 'table_detail' 'B24020' %}">B24020</a></strong>        to analyze the work people do in a place. In these and the other occupation tables, occupations are organized into five high level groups:</p>
    <ul>
        <li>Management, business, science, and arts occupations</li>
        <li>Natural resources, construction, and maintenance occupations</li>
        <li>Production, transportation, and material moving occupations</li>
        <li>Sales and office occupations</li>
        <li>Service occupations</li>
    </ul>
    <p>In different tables, these groups are subdivided to varying depths. For <strong><a href="{% url 'table_detail' 'B24010' %}">B24010</a>/<a href="{% url 'table_detail' 'B24020' %}">B24020</a></strong>, there are a total of 150 columns for each of male
        and female workers. These columns are nested so that some values represent the total of columns below them. If you do your own summing, Be careful not to double-count by mixing columns of different depths.</p>
    <p><strong>Important:</strong> the ACS 5-year release does not include the <strong><a href="{% url 'table_detail' 'B24010' %}">B24010</a>/<a href="{% url 'table_detail' 'B24020' %}">B24020</a></strong> tables. To analyze occupation data for smaller geographies,
        you must use the <strong><a href="{% url 'table_detail' 'C24010' %}">C24010</a>/<a href="{% url 'table_detail' 'C24020' %}">C24020</a></strong> tables. These have the same five high level groups, but are broken down into only 35 columns for each
        of male and female workers.</p>
    <h3 id="industry">Industry</h3>
    <p>In addition to the work Americans do, the ACS counts the industries in which they do that work. In these tables, there are 13 top level categories for industries. As with occupations, be careful not to double-count if you are doing your own summing.</p>
    <p>These are the 13 top-level industries:</p>
    <ul>
        <li>Agriculture, forestry, fishing and hunting, and mining</li>
        <li>Arts, entertainment, and recreation, and accommodation and food services</li>
        <li>Construction</li>
        <li>Educational services, and health care and social assistance</li>
        <li>Finance and insurance, and real estate and rental and leasing</li>
        <li>Information</li>
        <li>Manufacturing</li>
        <li>Other services, except public administration</li>
        <li>Professional, scientific, and management, and administrative and waste management services</li>
        <li>Public administration</li>
        <li>Retail trade</li>
        <li>Transportation and warehousing, and utilities</li>
        <li>Wholesale trade</li>
    </ul>
    <h3 id="class-of-worker">Class of Worker</h3>
    <p>These are the tabulation options for "class of worker."</p>
    <ul class="compact">
        <li>Private for-profit wage and salary workers:
            <ul>
                <li>Employee of private company workers</li>
                <li>Self-employed in own incorporated business workers</li>
            </ul>
        </li>
        <li>Private not-for-profit wage and salary workers</li>
        <li>Local government workers</li>
        <li>State government workers</li>
        <li>Federal government workers</li>
        <li>Self-employed in own not incorporated business workers</li>
        <li>Unpaid family workers</li>
    </ul>

    <p>In some cross-tabulations, the three classes of government work are collapsed into one. Also, in some cross-tabulations, "Self-employed in own not incorporated business workers" and "unpaid family workers" are combined.</p>

    <h2 id="industry-occupation-class-of-worker-table-details">Industry / Occupation / Class of Worker table details</h2>

    <p>Below is a summary of tables that the Census Bureau includes in the "Industry / Occupation / Class of Worker" series. For the following tables, all references to employment are for the civilian population 16 years and older. Median earnings are for
        the last 12 months in dollars adjusted to the year of the ACS release.</p>

    {% list_tables prefix='240' %}


    <h2 id="detailed-occupation">Detailed Occupation data</h2>

    <p><a href="#industry-occupation-class-of-worker">As mentioned above</a>, a few tables offer a very detailed breakdown of occupations&mdash;over 500 columns. However, data for these tables is only available for the United States as a whole, and not for
        any smaller geography.</p>

    {% list_tables prefix='241' %}

</section>

{% endblock %}
