{% extends 'topics/_base_topics.html' %} {% load list_tables %} {% block content %}
<section id="topic-overview">

    <h2>Overview</h2>
    <p>Families are a major frame through which Census data is tabulated. Many social and economic questions make more sense when framed by the family unit rather than by individuals.</p>

    <p>The census concept of "family" is closely related to "household," so it's worth understanding the distinction. Specifically, a family is a household where two or more people are related by birth, marriage, or adoption. Except when precision dictates
        otherwise, Census Reporter uses "families" to refer to all kinds of households. There are also households of one person living alone, as well as households where none of the people are related to each other. The Census Bureau generally uses the
        term "nonfamily household" to distinguish these. Census Reporter tags them with the topic "roommates". A limited number of tables specifically organize data about nonfamily households.</p>

    <p>The ACS table numbers beginning with <strong>11</strong> are the primary tables about Families and Households. There are 16 tabulations in this group, along with various collapsed versions and racial iterations. </p>

    <p>If your research involves family, you may also be interested in a number of tables specifically about <a href="{% url 'topic_detail' 'children' %}">Children</a>. There are also several tabulations which include Family Type as a factor. For detailed
        information about how the Census Bureau tabulates family data, for the ACS and other products, see the <a href="http://www.census.gov/hhes/families/">Families and Living Arrangements</a> page.</p>

    <p>These are the primary family/household tabulations:</p>


    {% list_tables prefix='11' %}

    <h2>Householder</h2>


    <p>
        From the <a href="https://www.census.gov/glossary/#term_Householder">Census online glossary</a>, a definition of <em>householder</em>:
        <blockquote>
            <p>
                The person, or one of the people, in whose name the home is owned, being bought, or rented.
            </p>

            <p>
                If there is no such person present, any household member 15 years old and over can serve as the householder.
            </p>

            <p>
                Two types of householders are distinguished: a family householder and a nonfamily householder. A family householder is a householder living with one or more people related to him or her by birth, marriage, or adoption. The householder and all people in
                the household related to him are family members.
            </p>

            <p>
                A nonfamily householder is a householder living alone or with nonrelatives only.
            </p>
        </blockquote>
    </p>


    <h2>Family type</h2>

    <p>
        The tables below include "family type" as one of the factors for reporting data. Family types include "married-couple", "female householder, no husband present", and "male householder, no wife present."

    </p>

    <p>Since the 2013 ACS, "married-couple" families includes both opposite-sex and same-sex married couples. See <a href="{% url 'topic_detail' 'same-sex' %}">Same-Sex Couples</a> for some more information and links.
    </p>

    {% list_tables query='family type' %}


</section>
{% endblock %}