{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
<h2>What's in the Census?</h2>
<p>The Census isn't one thing. The U.S. Census Bureau has a number of data collection programs and even more data products based on them. Census Reporter focuses on just one of them, the American Community Survey, or ACS. Our <a href="{% url 'topic_detail' 'about-census' %}">About the Census</a> page gets into the basics you should know about the other Census products.</p>
<h2>OK, then, what's in the ACS?</h2>
<p>The ACS covers a good variety of general-interest topics about the US: not only basic demographics like age, sex, and race, but also a number of economic and social questions, and details about the actual homes where people live, like how many rooms are in a housing unit and how many units are in the building. Our <a href="{% url 'topic_detail' 'table-codes' %}">guide to the structure of table codes</a> includes <a href="{% url 'topic_detail' 'table-codes' %}#table-subjects">a list of the main subject areas.</a></p>
<h2>When is the ACS updated?</h2>
<p>
    Every fall the Census Bureau releases new ACS estimates in three forms. The different releases are based on data collected over different periods of time. Collecting data over longer periods of time helps to reduce the <span class="glossary-term">margin of error</span> for places with a smaller population.
</p>
<p>
    The releases are staggered, with the 1-year release delivered first, usually in September, followed by the 3-year release, and finally, the 5-year release is usually delivered in early December.  
</p>
<p>
    Census Reporter always shows you the data for the release appropriate to the places you're looking at, so you generally don't have to worry about it too much. However, technically you shouldn't directly compare data from different releases, so be careful if you are gathering estimates from different profile pages.
</p>
<table>
    <thead>
        <tr>
            <th>Collection Period</th>
            <th>Geographies covered</th>
            <th>Month released</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 year</td>
            <td>Population &gt; 65,000</td>
            <td>September</td>
        </tr>
        <tr>
            <td>3 years</td>
            <td>Population &gt; 20,000</td>
            <td>October</td>
        </tr>
        <tr>
            <td>5 years</td>
            <td>All major geographies down to <span class="glossary-term">block group</span></td>
            <td>December</td>
        </tr>
    </tbody>
</table>
</section>
{% endblock %}


