{% extends 'topics/_base_topics.html' %} {% load list_tables %} {% block top_aside %}
<aside>
    <h3>Should I use American Community Survey data for this?</h3>
    <p>
        The annual ACS 1-year <span class='glossary-term'>release</span> only includes places with a population of 65,000 or more. That means that almost 75% of US counties are not included in the 1-year release. (<a href="https://www2.census.gov/programs-surveys/sahie/reference-maps/2018/REF2_MP_2018.pdf">See a map of counties published in ACS 1-year estimates</a>.)
        To analyze all counties requires using data collected over 5-years, which may obscure important patterns or changes.
    </p>
    <p>
        To address this, the Census Bureau conducts the <a href="https://www.census.gov/programs-surveys/sahie.html">Small Areas Health Insurance Estimates (SAHIE) program</a>. SAHIE is the only source for single-year estimates of health insurance coverage
        for all US counties. If you are working with county-level analysis, it is probably a better source than the ACS.
    </p>
</aside>
{% endblock %}{% block content %}
<section id="topic-overview">

    <h2>Overview</h2>
    <p>The American Community Survey added questions about health insurance in 2008. Edits were made to the health care questions in 2009 that make direct comparison with the first year responses impossible without adjustments. In 2012, tables were added
        to count health insurance coverage for people aged 19 to 25.</p>

    <p>The simplest source for data about coverage is table <strong><a href="{% url 'table_detail' 'C27001' %}">C27001</a></strong>. This table divides males and females into three age brackets: children (under 18), senior citizens (65 and older), and adults
        (18-64). For each combination of sex and age, there are simply two columns: covered, or not covered. The <strong><a href="{% url 'table_detail' 'B27001' %}">B27001</a></strong> table provides finer grained detail, with nine age brackets. These
        tables are also provided in the nine standard racial iterations.</p>

    <p>Tables <strong><a href="{% url 'table_detail' 'B27002' %}">B27002</a>/<a href="{% url 'table_detail' 'C27002' %}">C27002</a></strong> through <strong><a href="{% url 'table_detail' 'B27009' %}">B27009</a>/<a href="{% url 'table_detail' 'C27009' %}">C27009</a></strong>        are structured indentically, but only count specific types of coverage. There are no racial iterations for these tables.</p>

    {% list_tables prefix='27' %}

</section>
{% endblock %}