{% extends 'topics/_base_topics.html' %} {% load list_tables %} {% block top_aside %}
<aside>
    <h3>Should I use American Community Survey data for this?</h3>
    <p>
        The annual ACS 1-year <span class='glossary-term'>release</span> only includes places with a population of 65,000 or more. That means that almost 75% of US counties are not included in the 1-year release. (<a href="https://www2.census.gov/programs-surveys/sahie/reference-maps/2018/REF2_MP_2018.pdf">See a map of counties published in ACS 1-year estimates</a>.)
        To analyze all counties requires using data collected over 5-years, which may obscure important patterns or changes.
    </p>
    <p>
        To address this, the Census Bureau conducts the <a href="https://www.census.gov/programs-surveys/saipe.html">Small Area Income and Poverty Estimates (SAIPE) program</a>. While predominantly focused on poverty measures, SAIPE includes median household
        income for all US states and counties.
    </p>
</aside>
{% endblock %}{% block content %}
<section id="topic-overview">

    <h2>Overview</h2>
    <p>There are many American Community Survey tables which provide information on the income of people living in the United States. Even for releases of data collected over three or five years, income data is reported in inflation-adjusted dollars for
        the release year.</p>

    <p>Most income data is reported at the household level, but there are tables which are focused on family households, as well as some which report on individual income. There are also some tables which are particularly applicable to understanding income
        inequality, including one, <strong><a href="{% url 'table_detail' 'B19083' %}">B19083</a></strong> which provides the <a href="https://en.wikipedia.org/wiki/Gini_coefficient" target="_blank" rel="noreferrer">Gini index</a> for a place as its only
        column.
    </p>

    <p>Income is reported in a number of ways: as a median value, or as a series of medians for groups within a total population; as a number of people or households earning in a certain bracket; as well as a few other structures.</p>


    <h2>Income brackets</h2>
    <p>
        A few tables provide counts of the number of households (or in one case, individuals) in each of a series of income brackets.
    </p>

    {% list_tables codes="19001,19101,19201,19037,19131,19325" %}

    <h2>Median Income</h2>
    <p>Median incomes are reported by household, with subsets for only family households and also for nonfamily households. One table, <a href="{% url 'table_detail' 'B19326' %}">B19326</a> reports median income for individuals by sex.</p>

    <p>For all of these tables, income refers to income for "the last 12 months" prior to the survey response.</p>

    {% list_tables prefix="19" query="median" %}

    <h2>Aggregate income</h2>

    <p>The various aggregate income tables provide the total amount of income, as well as broken down by income type, for the summary geography.</p>

    <p>Table <strong><a href="{% url 'table_detail' 'B19313' %}">B19313</a></strong> aggregates all income in the geography, which will produce a number somewhat higher than <strong><a href="{% url 'table_detail' 'B19025' %}">B19025</a></strong> because
        it includes people who live in "group quarters."</p>

    <p>Table <strong><a href="{% url 'table_detail' 'B19301' %}">B19301</a></strong>, "Per Capita income", is simply the value for <strong><a href="{% url 'table_detail' 'B19313' %}">B19313</a></strong> "Aggregate Income" divided by the total population
        estimate for the summary geography. This statistic is more or less the 'average' income. Note the potential for misunderstanding: A) the aggregate income is divided among all people, not only those who actually had income, and B) as with any average,
        outliers (very big earners) can have a disproportionate effect on resulting figure.</p>

    <p>For all of these tables, income refers to income for "the last 12 months" prior to the survey response.</p>

    {% list_tables prefix="19" query="aggregate" %}

    <h2>Types of income</h2>

    <p>
        While people often think of income as salary, or wages, the Census Bureau includes several components of income, as can be seen in the sample questions on this page. Specifically, total income is the sum of income from these sources:
        <ul>
            <li>Earnings, which includes:
                <ul>
                    <li>Wage or Salary Income</li>
                    <li>Self-employment Income</li>
                </ul>
            </li>
            <li>Interest, Dividends, or Net Rental Income</li>
            <li>Social Security Income</li>
            <li>Supplemental Security Income (SSI)</li>
            <li>Public Assistance Income</li>
            <li>Retirement Income</li>
            <li>Other Types of Income</li>
        </ul>
    </p>

    <p>For these eight types of income, as well as "Earnings" (the combination of wages and self-employment income), the ACS includes tables which report the estimated number of households who had any of that type of income, as well as tables which report
        the aggregate dollar amount of that kind of income for a geography.
    </p>

    {% list_tables prefix="19" query="for households" %}

    <h2>Income distribution and Inequality</h2>
    <p>
        A few tables in the American Community Survey can be used to understand how income is distributed in given geographies. Two of these tables divide the population of an area into five "quintiles," each with approximately the same number of households in
        it. For households in those quintiles, you can find the highest income for each quintile, the mean (average) income for each quintile, and the share (percentage) of total income taken in by each quintile.
    </p>
    <p>
        There is also a table reporting the Gini index for each geography, which summarizes the income distribution in that place. The Gini index is a number between 0 and 1, where lower numbers reflect more equality, and higher numbers indicate greater inequality.
        You can learn more about the Gini index <a href="https://www.census.gov/topics/income-poverty/income-inequality/about/metrics/gini-index.html">on this page from the Census Bureau</a>
    </p>

    {% list_tables prefix="1908" %}

    <h2>Family income</h2>
    <p>A number of tables provide insight into family income, and some related tables account for nonfamily households. Some, but not all, of the tables in the list below also appear in lists above.</p>

    {% list_tables prefix="19" query="family" %}

</section>
{% endblock %}