{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
{% include "topics/_question_aside.html" %}    
<h2>Overview</h2>
<p>These tables address the topic of poverty.
Some table names have been simplified. References to poverty status/level or receipt of food stamps/SNAP are always for the last 12 months.
</p>
<table>
<thead><tr>
<th>Code</th>
<th>Title</th>
</tr></thead>
<tbody>
<tr>
<td><strong>B17001<sup>†‡</sup></strong></td>
<td>Poverty Status by Sex by Age</td>
</tr>
<tr>
<td><strong>B17002<sup>‡</sup></strong></td>
<td>Ratio of Income to Poverty Level</td>
</tr>
<tr>
<td><strong>B17003<sup>‡</sup></strong></td>
<td>Poverty Status of Individuals by Sex by Educational Attainment</td>
</tr>
<tr>
<td><strong>B17004<sup>‡</sup></strong></td>
<td>Poverty Status of Individuals by Sex by Work Experience</td>
</tr>
<tr>
<td><strong>B17005</strong></td>
<td>Poverty Status of Individuals by Sex by Employment Status</td>
</tr>
<tr>
<td><strong>B17006<sup>‡</sup></strong></td>
<td>Poverty Status of Related Children Under 18 Years by Family Type by Age of Related Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B17007<sup>‡</sup></strong></td>
<td>Poverty Status of Unrelated Individuals 15 Years and Over by Sex by Age</td>
</tr>
<tr>
<td><strong>B17008</strong></td>
<td>Aggregate Income Deficit (Dollars) of Unrelated Individuals by Sex</td>
</tr>
<tr>
<td><strong>B17009<sup>‡</sup></strong></td>
<td>Poverty Status by Work Experience of Unrelated Individuals by Householder Status</td>
</tr>
<tr>
<td><strong>B17010<sup>†‡</sup></strong></td>
<td>Poverty Status of Families by Family Type by Presence of Related Children Under 18 Years by Age of Related Children</td>
</tr>
<tr>
<td><strong>B17011</strong></td>
<td>Aggregate Income Deficit (Dollars) for Families by Family Type</td>
</tr>
<tr>
<td><strong>B17012<sup>‡</sup></strong></td>
<td>Poverty Status of Families by Household Type by Number of Related Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B17013<sup>‡</sup></strong></td>
<td>Poverty Status of Families by Household Type by Number of Persons in Family</td>
</tr>
<tr>
<td><strong>B17014<sup>‡</sup></strong></td>
<td>Poverty Status of Families by Household Type by Number of Workers in Family</td>
</tr>
<tr>
<td><strong>B17015<sup>‡</sup></strong></td>
<td>Poverty Status of Families by Family Type by Social Security Income by Supplemental Security Income (SSI) and Cash Public Assistance Income</td>
</tr>
<tr>
<td><strong>B17016<sup>‡</sup></strong></td>
<td>Poverty Status of Families by Family Type by Work Experience of Householder and Spouse</td>
</tr>
<tr>
<td><strong>B17017<sup>‡</sup></strong></td>
<td>Poverty Status by Household Type by Age of Householder</td>
</tr>
<tr>
<td><strong>B17018<sup>‡</sup></strong></td>
<td>Poverty Status of Families by Household Type by Educational Attainment of Householder</td>
</tr>
<tr>
<td><strong>B17019<sup>‡</sup></strong></td>
<td>Poverty Status of Families by Household Type by Tenure</td>
</tr>
<tr>
<td><strong>B17020<sup>ª</sup></strong></td>
<td>Poverty Status by Age (racial iterations)</td>
</tr>
<tr>
<td><strong>B17021<sup>‡</sup></strong></td>
<td>Poverty Status of Individuals by Living Arrangement</td>
</tr>
<tr>
<td><strong>B17022<sup>‡</sup></strong></td>
<td>Ratio of Income to Poverty Level of Families by Family Type by Presence of Related Children Under 18 Years by Age of Related Children</td>
</tr>
<tr>
<td><strong>B17023<sup>‡</sup></strong></td>
<td>Poverty Status of Families by Household Type by Number of Own Children Under 18 Years</td>
</tr>
<tr>
<td><strong>B17024<sup>‡</sup></strong></td>
<td>Age by Ratio of Income to Poverty Level</td>
</tr>
<tr>
<td><strong>B17025<sup>‡</sup></strong></td>
<td>Poverty Status by Nativity</td>
</tr>
<tr>
<td><strong>B17026<sup>‡</sup></strong></td>
<td>Ratio of Income to Poverty Level of Families</td>
</tr>
</tbody>
<tfoot>
        <tr class="help-text">
            <td colspan="2">
                <sup>‡</sup>Table also available in "collapsed" version: change "B" to "C" for table code.<br>
                <sup>†</sup>Also available in <a href="{% url 'topic_detail' 'race-latino' %}#topic-elsewhere">racial iterations</a>.<br>
                <sup>ª</sup>No basic table is offered–only <a href="{% url 'topic_detail' 'race-latino' %}#topic-elsewhere">racial iteration</a> tables.<br>
            </td>
        </tr>
    </tfoot>
</table>
<h2>Other ACS Tables Referencing Poverty</h2>
<p>Some table names below have been simplified. References to poverty status/level or receipt of food stamps/SNAP are always for the last 12 months.</p>
<table>
<thead><tr>
<th>Code</th>
<th>Title</th>
</tr></thead>
<tbody>
<tr>
<td><strong>B05010<sup>†</sup></strong></td>
<td>Ratio of Income to Poverty Level by Nativity of Children Under 18 Years in Families and Subfamilies by Living Arrangements and Nativity of Parents</td>
</tr>
<tr>
<td><strong>B06012</strong></td>
<td>Place of Birth by Poverty Status in the United States</td>
</tr>
<tr>
<td><strong>B07012</strong></td>
<td>Geographical Mobility in the Past Year by Poverty Status for Current Residence in the United States</td>
</tr>
<tr>
<td><strong>B07412</strong></td>
<td>Geographical Mobility in the Past Year by Poverty Status for Residence 1 Year Ago in the United States</td>
</tr>
<tr>
<td><strong>B08122<sup>†</sup></strong></td>
<td>Means of Transportation to Work by Poverty Status</td>
</tr>
<tr>
<td><strong>B08522<sup>†</sup></strong></td>
<td>Means of Transportation to Work by Poverty Status for Workplace Geography</td>
</tr>
<tr>
<td><strong>B10059</strong></td>
<td>Poverty Status of Grandparents Living With Own Grandchildren Under 18 Years by Responsibility for Own Grandchildren and Age of Grandparent</td>
</tr>
<tr>
<td><strong>B13010</strong></td>
<td>Women 15 to 50 Years Who Had a Birth in the Past 12 Months by Marital Status and Poverty Status</td>
</tr>
<tr>
<td><strong>B14006<sup>†</sup></strong></td>
<td>Poverty Status by School Enrollment by Level of School for the Population 3 Years and Over</td>
</tr>
<tr>
<td><strong>B15004</strong></td>
<td>Poverty Status by Sex by Educational Attainment for the Population 25 Years and Over</td>
</tr>
<tr>
<td><strong>B16009<sup>†</sup></strong></td>
<td>Poverty Status by Age by Language Spoken at Home for the Population 5 Years and Over</td>
</tr>
<tr>
<td><strong>B18030<sup>†</sup></strong></td>
<td>Disability Status by Sex by Age by Poverty Status for the Civilian Noninstitutionalized Population 5 Years and Over</td>
</tr>
<tr>
<td><strong>B18031<sup>†</sup></strong></td>
<td>Sensory Disability by Sex by Age by Poverty Status for the Civilian Noninstitutionalized Population 5 Years and Over</td>
</tr>
<tr>
<td><strong>B18032<sup>†</sup></strong></td>
<td>Physical Disability by Sex by Age by Poverty Status for the Civilian Noninstitutionalized Population 5 Years and Over</td>
</tr>
<tr>
<td><strong>B18033<sup>†</sup></strong></td>
<td>Mental Disability by Sex by Age by Poverty Status for the Civilian Noninstitutionalized Population 5 Years and Over</td>
</tr>
<tr>
<td><strong>B18034<sup>†</sup></strong></td>
<td>Self-care Disability by Sex by Age by Poverty Status for the Civilian Noninstitutionalized Population 5 Years and Over</td>
</tr>
<tr>
<td><strong>B18035<sup>†</sup></strong></td>
<td>Go-outside-home Disability by Sex by Age by Poverty Status for the Civilian Noninstitutionalized Population 16 Years and Over</td>
</tr>
<tr>
<td><strong>B18036<sup>†</sup></strong></td>
<td>Employment Disability by Sex by Age by Poverty Status for the Civilian Noninstitutionalized Population 16 to 64 Years</td>
</tr>
<tr>
<td><strong>B18130<sup>†</sup></strong></td>
<td>Age by Disability Status by Poverty Status</td>
</tr>
<tr>
<td><strong>B18131<sup>†</sup></strong></td>
<td>Age by Ratio of Income to Poverty Level by Disability Status and Type</td>
</tr>
<tr>
<td><strong>B21006<sup>†</sup></strong></td>
<td>Age by Veteran Status by Poverty Status by Disability Status for the Civilian Population 18 Years and Over</td>
</tr>
<tr>
<td><strong>B21007<sup>†</sup></strong></td>
<td>Age by Veteran Status by Poverty Status by Disability Status for the Civilian Population 18 Years and Over</td>
</tr>
<tr>
<td><strong>B22003</strong></td>
<td>Receipt of Food Stamps/SNAP by Poverty Status for Households</td>
</tr>
<tr>
<td><strong>B22005<sup>ª</sup></strong></td>
<td>Receipt of Food Stamps/SNAP by Race of Householder</td>
</tr>
<tr>
<td><strong>B23005</strong></td>
<td>Poverty Status by Disability Status by Employment Status for the Population 20 to 64 Years</td>
</tr>
<tr>
<td><strong>B23024</strong></td>
<td>Poverty Status by Disability Status by Employment Status for the Population 20 to 64 Years</td>
</tr>
<tr>
<td><strong>B27016<sup>†</sup></strong></td>
<td>Health Insurance Coverage Status and Type by Ratio of Income to Poverty Level by Age</td>
</tr>
<tr>
<td><strong>B27017<sup>†</sup></strong></td>
<td>Private Health Insurance by Ratio of Income to Poverty Level by Age</td>
</tr>
<tr>
<td><strong>B27018<sup>†</sup></strong></td>
<td>Public Health Insurance by Ratio of Income to Poverty Level by Age</td>
</tr>
</tbody>
<tfoot>
        <tr class="help-text">
            <td colspan="2">
                <sup>†</sup>Also available in <a href="{% url 'topic_detail' 'race-latino' %}#topic-elsewhere">racial iterations</a>.<br>
                <sup>ª</sup>No basic table is offered–only <a href="{% url 'topic_detail' 'race-latino' %}#topic-elsewhere">racial iteration</a> tables.<br>
            </td>
        </tr>
    </tfoot>
</table>
</section>
{% endblock %}


