{% extends 'topics/_base_topics.html' %} {% load list_tables %} {% block content %}
<section id="topic-overview">

    <h2>Overview</h2>
    <p>These tables address the topic of poverty. Some table names have been simplified. References to poverty status/level or receipt of food stamps/SNAP are always for the last 12 months.
    </p>

    {% list_tables prefix='17' %}

    <h2>Other ACS Tables Referencing Poverty</h2>
    <p>Some table names below have been simplified. References to poverty status/level or receipt of food stamps/SNAP are always for the last 12 months.</p>
    {% list_tables topics='poverty' exclude_prefix='17' %}

</section>
{% endblock %}