{% extends 'topics/_base_topics.html' %} {% load list_tables %} {% block top_aside %}
<aside>
    <h3>Should I use American Community Survey data for this?</h3>
    <p>
        The annual ACS 1-year <span class='glossary-term'>releases</span> only includes places with a population of 65,000 or more. That means that almost 75% of US counties are not included in the 1-year release. (<a href="https://www2.census.gov/programs-surveys/sahie/reference-maps/2018/REF2_MP_2018.pdf">See a map of counties published in ACS 1-year estimates</a>.)
        To analyze all counties requires using data collected over 5-years, which may obscure important patterns or changes.
    </p>
    <p>
        To address this, the Census Bureau conducts the <a href="https://www.census.gov/programs-surveys/saipe.html">Small Area Income and Poverty Estimates (SAIPE) program</a>. SAIPE produces annual estimates of children in poverty for all states, counties,
        and school districts, as well as median household income for states and counties.
    </p>
</aside>
{% endblock %}{% block content %}
<section id="topic-overview">

    <h2>Overview</h2>
    <p>These tables address the topic of poverty. Note that, while conversationally, people refer to <em>the</em> poverty level, there is no single number. The Census Bureau computes 48 different poverty income levels, based mostly on family size, and, for 1-2 person households, separate numbers for senior citizens. For more details, including links to the specific poverty levels, see <a href="https://www.census.gov/topics/income-poverty/poverty/guidance/poverty-measures.html">How the Census Bureau Measures Poverty</a>.</p> 
 
    <p>Some people call out the official poverty income levels as being very low, pointing out that many people who are not officially living in poverty still have a hard time making ends meet. Tables referring to "ratio of income to poverty level" can help to get a broader count of people experiencing economic hardship. (See also <a href="{% url 'topic_detail' 'housing' %}">housing tables</a> presenting housing costs as a percentage of household income.)</p>


    <p>Some table names have been simplified. References to poverty status/level or receipt of food stamps/SNAP are always for the last 12 months.
    </p>

    {% list_tables prefix='17' %}

    <h2>Other ACS Tables Referencing Poverty</h2>
    <p>Some table names below have been simplified. References to poverty status/level or receipt of food stamps/SNAP are always for the last 12 months.</p>
    {% list_tables topics='poverty' exclude_prefix='17' %}

</section>
{% endblock %}
