{% extends 'topics/_base_topics.html' %} {% load list_tables %} {% block content %}
<section id="topic-overview">

    <h2>Overview</h2>
    <p>These tables address the topic of public assistance.</p>

    <p>The ACS tables beginning with <strong>22</strong> are about public assistance. In the listing below, table names have been simplified in some cases. References to children and grandchildren almost always mean under 18 years old. Income is for the
        last 12 months, adjusted for inflation to the value of dollars in the last year of the survey period. References to poverty status/level, receipt of food stamps/SNAP, and work status are all for the last 12 months.</p>
    <p>
        See also the <a href="{% url 'topic_detail' 'health-insurance' %}">Health Insurance</a> topic page, which includes information about public as well as private insurance.
    </p>

    {% list_tables prefix='22' %}


    <h2>
        Other ACS tables that relate to public assistance</h2>

    {% list_tables topics='public assistance' exclude_prefix='22' %}


</section>
{% endblock %}