{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
{% include "topics/_question_aside.html" %}    
<h2>Overview</h2>
<p>The Census Bureau does not ask questions about sexual orientation. However, responses to some questions provide data about same-sex couples. This data should not be used to draw general conclusions about gay/lesbian/bisexual Americans, but when handled with appropriate care, may still be useful for reporting.</p>
<ul>
<li><a href="http://www.census.gov/hhes/samesex/">Census Bureau main page for same sex couples</a></li>
<li><a href="http://www.census.gov/hhes/samesex/data/acs.html">American Community Survey Data on Same Sex Couples</a></li>
<li>
<a href="http://www.census.gov/prod/2011pubs/acsbr10-03.pdf">ACS Brief: Same-Sex Couple Households</a> (September, 2011)</li>
<li>
<a href="http://www.census.gov/hhes/samesex/files/Krivickas-Lofquist%20PAA%202011.pdf">Demographics of Same-Sex Couple Households with Children</a> (March, 2011)</li>
</ul>

</section>
{% endblock %}


