{% extends 'topics/_base_topics.html' %} {% block content %}
<section id="topic-overview">

    <h2>Overview</h2>
    <p>
        As laws about same-sex marriage have changed in the United States, the Census Bureau has been adapting. From the beginning of the American Community Survey, table <strong><a href="{% url 'table_detail' 'B11009' %}">B11009</a></strong> has been
        the only table which provided information about people who have told the Census Bureau that they live with a partner of the same sex. This table was originally called <em>Unmarried-Partner Households by Sex of Partner</em>, and provided counts
        of same-sex and opposite-sex unmarried couples, including estimates of male/male and female/female same-sex couples. <strong>Note that table B11009 only provides data down to the state level.</strong></p>
    <p>
        Beginning with the 2019 American Community Survey, the Census Bureau directly included same-sex married and unmarried relationships as part of the queston about how people in the household are related to the householder. With the release of that data,
        table <strong><a href="{% url 'table_detail' 'B11009' %}">B11009</a></strong> was renamed to <em>Coupled Households By Type</em>, and the table structure was changed to report married and unmarried couples in each combination of sex.
    </p>
    <p>
        As explained in the Census Bureau's <a href="https://www2.census.gov/topics/families/same-sex-couples/faq/sscplfactsheet-final.pdf">Frequently Asked Questions About Same-Sex Couple Households</a> document (2013), since the 2000 Decennial Census,
        responses reporting a spouse of the same sex as the householder were changed to indicate an unmarried partner, regardless of state laws permitting same-sex marriage. In the 1990 Decennial Census, when response indicated a same-sex married couple,
        the relationship (spouse) was preserved, but the sex of the partner was changed.
    </p>

    <p>
        <a href="https://www.census.gov/programs-surveys/acs/technical-documentation/user-notes/2013-10.html">Beginning with the 2013 American Community Survey data,</a>, tables with a line for "married couples" include both opposite-sex and same-sex
        marriages in one number. No tables were added or changed to directly provide data about the respective numbers of opposite-sex and same-sex marriages, although
        <a href="https://www.census.gov/topics/families/same-sex-couples/data.html">some supplemental data releases are available</a>. In the ACS, columns which use the words "husband" and "wife" continue to reflect heteronormative assumptions, although
        many of those are "no husband/wife present."
    </p>
</section>
{% endblock %}
