{% extends 'topics/_base_topics.html' %} {% block content %}
<section id="topic-overview">
    <h3>Detailed Tables</h3>
    <p>The bulk of the American Community Survey is the over 1400 detailed data tables. These tables have reference codes, and knowing how the codes are structured can be helpful in knowing which table to use. The Census Bureau produces a variety of types
        of tables for the American Community Survey, but Census Reporter only serves the "detailed tables."</p>
    <p>Codes start with either the letter <strong>B</strong> or <strong>C</strong>, followed by two digits for the table subject, then 3 digits that uniquely identify the table. (For a small number of technical tables the unique identifier is 4 digits.)
        In some cases additional letters for racial iterations and Puerto Rico-specific tables.</p>

    <h4>Full and Collapsed Tables</h4>
    <p>Tables beginning with <strong>B</strong> have the most detailed column breakdown, while a <strong>C</strong> table for the same numbers will have fewer columns. For example, the <strong><a href="{% url 'table_detail' 'B02003' %}">B02003</a></strong>        table ("Detailed Race") has 71 columns, while the "collapsed version," <strong><a href="{% url 'table_detail' 'C02003' %}">C02003</a></strong> has only 19 columns. While your instinct may be to want as much data as possible, sometimes choosing
        the <strong>C</strong> table can simplify your analysis.</p>

    <h4 id="table-subjects">Table subjects</h4>
    <p>The first two digits after <strong>B/C</strong> indicate the broad subject of a table. Note that many tables have more than one subject, but this reflects the main subject.</p>
    <p>Links in the table below are to Census Reporter's help pages relevant to each subject.</p>
    <dl class="dl-horizontal">
        <dt>01</dt>
        <dd><a href="{% url 'topic_detail' 'age-sex' %}">Age and Sex</a></dd>
        <dt>02</dt>
        <dd><a href="{% url 'topic_detail' 'race-latino' %}">Race</a></dd>
        <dt>03</dt>
        <dd><a href="{% url 'topic_detail' 'race-latino' %}">Hispanic Origin</a></dd>
        <dt>04</dt>
        <dd><a href="{% url 'topic_detail' 'ancestry' %}">Ancestry</a></dd>
        <dt>05</dt>
        <dd><a href="{% url 'topic_detail' 'citizenship' %}">Foreign Born; Citizenship; Year or Entry; Nativity</a></dd>
        <dt>06</dt>
        <dd><a href="{% url 'topic_detail' 'citizenship' %}#place-of-birth">Place of Birth</a></dd>
        <dt>07</dt>
        <dd><a href="{% url 'topic_detail' 'migration' %}">Residence 1 Year Ago; Migration</a></dd>
        <dt>08</dt>
        <dd><a href="{% url 'topic_detail' 'commute' %}">Journey to Work; Workers' Characteristics; Commuting</a></dd>
        <dt>09</dt>
        <dd><a href="{% url 'topic_detail' 'children' %}">Children; Household Relationship</a></dd>
        <dt>10</dt>
        <dd><a href="{% url 'topic_detail' 'seniors' %}#grandparents">Grandparents; Grandchildren</a></dd>
        <dt>11</dt>
        <dd><a href="{% url 'topic_detail' 'families' %}">Household Type; Family Type; Subfamilies</a></dd>
        <dt>12</dt>
        <dd><a href="{% url 'topic_detail' 'marital-status' %}">Marital Status and History</a></dd>
        <dt>13</dt>
        <dd><a href="{% url 'topic_detail' 'children' %}#fertility">Fertility</a></dd>
        <dt>14</dt>
        <dd><a href="{% url 'topic_detail' 'education' %}">School Enrollment</a></dd>
        <dt>15</dt>
        <dd><a href="{% url 'topic_detail' 'education' %}">Educational Attainment</a></dd>
        <dt>16</dt>
        <dd><a href="{% url 'topic_detail' 'language' %}">Language Spoken at Home and Ability to Speak English</a></dd>
        <dt>17</dt>
        <dd><a href="{% url 'topic_detail' 'poverty' %}">Poverty</a></dd>
        <dt>18</dt>
        <dd><a href="{% url 'topic_detail' 'disability' %}">Disability</a></dd>
        <dt>19</dt>
        <dd><a href="{% url 'topic_detail' 'income' %}">Income (Households and Families)</a></dd>
        <dt>20</dt>
        <dd><a href="{% url 'topic_detail' 'income' %}">Earnings (Individuals)</a></dd>
        <dt>21</dt>
        <dd><a href="{% url 'topic_detail' 'veterans' %}">Veteran Status</a></dd>
        <dt>22</dt>
        <dd><a href="{% url 'topic_detail' 'public-assistance' %}">Transfer Programs</a> (Public Assistance)</dd>
        <dt>23</dt>
        <dd><a href="{% url 'topic_detail' 'employment' %}">Employment Status; Work Experience; Labor Force</a></dd>
        <dt>24</dt>
        <dd><a href="{% url 'topic_detail' 'employment' %}#industry-occupation-class-of-worker">Industry; Occupation; Class of Worker</a></dd>
        <dt>25</dt>
        <dd><a href="{% url 'topic_detail' 'housing' %}">Housing Characteristics</a></dd>
        <dt>26</dt>
        <dd><a href="{% url 'topic_detail' 'group-quarters' %}">Group Quarters</a></dd>
        <dt>27</dt>
        <dd><a href="{% url 'topic_detail' 'health-insurance' %}">Health Insurance</a></dd>
        <dt>28</dt>
        <dd><a href="{% url 'topic_detail' 'computer-internet' %}">Computer and Internet Use</a></dd>
        <dt>29</dt>
        <dd><a href="{% url 'topic_detail' 'citizenship' %}#cvap">Citizen Voting-age Population</a></dd>
    </dl>

    <p>Three groups of tables reflect technical details about how the Census is administered. In general, you probably don't need to look at these too closely, but if you need to check for possible weaknesses in your data analysis, they may come into play.</p>
    <dl class="dl-horizontal">
        <dt>00</dt>
        <dd>Unweighted Count</dd>
        <dt>98</dt>
        <dd>Quality Measures</dd>
        <dt>99</dt>
        <dd>Imputations</dd>
    </dl>

    <h4>Race and Latino Origin</h4>
    <p>Many tables are provided in multiple racial tabulations. If a table code ends in a letter from <strong>A-I</strong>, that code indicates that the table universe is restricted to a subset based on responses to the race or Hispanic/Latino-origin questions.
        Here is a guide to those codes:</p>
    <dl class="dl-horizontal">
        <dt>A</dt>
        <dd>White alone</dd>
        <dt>B</dt>
        <dd>Black or African American Alone</dd>
        <dt>C</dt>
        <dd>American Indian and Alaska Native Alone</dd>
        <dt>D</dt>
        <dd>Asian Alone</dd>
        <dt>E</dt>
        <dd>Native Hawaiian and Other Pacific Islander Alone</dd>
        <dt>F</dt>
        <dd>Some Other Race Alone</dd>
        <dt>G</dt>
        <dd>Two or More Races</dd>
        <dt>H</dt>
        <dd>White Alone, Not Hispanic or Latino</dd>
        <dt>I</dt>
        <dd>Hispanic or Latino</dd>
    </dl>
</section>

<section id="topic-elsewhere">
    <h3 id="other-products">Other products</h3>
    <p>There are a number of other ACS data products which the Census Bureau offers on <a href="https://data.census.gov/">data.census.gov</a>, but which are not available for bulk download. Because we can't get the bulk data, these tables are not directly
        included in Census Reporter, but you might want to know about them.</p>

    <h4>DP: Data Profiles</h4>
    <p>The data profile (DP) tables provide a lot of popular statistics across subjects in a single table. The Census Reporter "profile" pages are modeled off of the DP tables, although we've added charts and made some alternate choices. The ACS produces
        four kinds of DP tables, with one variant for Puerto Rico. The links below go to the given data profile for the entire United States (or Puerto Rico, for <strong>DP02PR</strong>), but data profiles are also available for all states (including
        DC and Puerto Rico), all metropolitan areas, all congressional districts, all counties, all places and all tracts. (Note that Data Profiles are released as part of the 1-year and 5-year ACS, so for tracts, counties, and places with population
        less than 65,000 you'll need to look for the ACS 5-year Data Profiles.)</p>
    <dl class="dl-horizontal">
        <dt><a href="https://data.census.gov/cedsci/table?tid=ACSDP5Y2021.DP02&hidePreview=true">DP02</a></dt>
        <dd>Selected Social Characteristics in the US</dd>
        <dt><a href="https://data.census.gov/cedsci/table?tid=ACSDP5Y2021.DP02PR&hidePreview=true">DP02PR</a></dt>
        <dd>Selected Social Characteristics in Puerto Rico</dd>
        <dt><a href="https://data.census.gov/cedsci/table?tid=ACSDP5Y2021.DP03&hidePreview=true">DP03</a></dt>
        <dd>Selected Economic Characteristics</dd>
        <dt><a href="https://data.census.gov/cedsci/table?tid=ACSDP5Y2021.DP04&hidePreview=true">DP04</a></dt>
        <dd>Selected Housing Characteristics</dd>
        <dt><a href="https://data.census.gov/cedsci/table?tid=ACSDP5Y2021.DP05&hidePreview=true">DP05</a></dt>
        <dd>ACS Demographic and Housing Characteristics</dd>
    </dl>

    <h4>CP: Comparison Profiles</h4>
    <p>The comparison profile (CP) tables provide a lot of popular statistics across subjects in a single table. Additionally, they provide data for those statistics across several years. Values are provided only as percentages, and the tables include flags
        which indicate whether the change for any value between years is statistically significant.</p>

    <p>The links below go to the given comparison profile for the entire United States (or Puerto Rico, for <strong>CP02PR</strong>), but comparison profiles are also available for all states (including DC and Puerto Rico), all metropolitan areas, all congressional
        districts, and counties and places with a minimum population of 65,000 for the 1-year ACS and of 5,000 for the 5-year ACS.</p>
    <dl class="dl-horizontal">
        <dt><a href="https://data.census.gov/cedsci/table?hidePreview=true&tid=ACSCP5Y2021.CP02">CP02</a></dt>
        <dd>Comparative Social Characteristics in the US</dd>
        <dt><a href="https://data.census.gov/cedsci/table?tid=ACSCP5Y2021.CP02PR&hidePreview=true">CP02PR</a></dt>
        <dd>Comparative Social Characteristics in Puerto Rico</dd>
        <dt><a href="https://data.census.gov/cedsci/table?tid=ACSCP5Y2021.CP03&hidePreview=true">CP03</a></dt>
        <dd>Comparative Economic Characteristics</dd>
        <dt><a href="https://data.census.gov/cedsci/table?tid=ACSCP5Y2021.CP04&hidePreview=true">CP04</a></dt>
        <dd>Comparative Housing Characteristics</dd>
        <dt><a href="https://data.census.gov/cedsci/table?tid=ACSCP5Y2021.CP05&hidePreview=true">CP05</a></dt>
        <dd>Comparative Demographic Characteristics</dd>
    </dl>

    <h4>NP: Narrative Profiles</h4>
    <p>
        Narrative profiles are not tables, but instead, documents with text and charts describing selected geographies. Narrative profiles based on the most recent 5-year ACS release are available for the Nation, states, counties, places, census tracts, ZIP Code
        Tabulation Areas, Metropolitan/Micropolitan statistical areas, and American Indian Areas/Alaska Native Areas/Hawaiian Home Lands.
    </p>
    <p>
        The Census Bureau provides <a href="https://www.census.gov/acs/www/data/data-tables-and-tools/narrative-profiles/">an interactive tool</a> for selecting the geography for a narrative profile. <a href="https://www.census.gov/acs/www/data/data-tables-and-tools/narrative-profiles/2021/report.php?geotype=nation&usVal=us">See this example of the narrative profile for the United States.</a>
    </p>

    <h4>S: Subject tables</h4>
    <p>The subject tables are another collection of similar top-level statistics which may be more easily digested than the full detailed tables. As with data profiles, you must use <a href="https://data.census.gov/">data.census.gov</a> to get these tables.
        The links below go to the given subject table for the entire United States (or for Puerto Rico, for table codes ending in <strong>PR</strong>), but subject tables are also available for all states (including DC and Puerto Rico), all metropolitan
        areas, all congressional districts, all counties, all places and all tracts. (Note that Subject Tables are released as part of the 1-year and 5-year ACS, so tracts, counties, and places with population less than 65,000 you'll need to look for
        the ACS 5-year Subject tables.)</p>

    {% include "topics/_blocks/_subject-table-codes.html" %}


    <h4>GCT: Geographic Comparison and R: Ranking</h4>
    <p>The Geographic Comparison/Ranking tables take a single statistic and list its value for a number of geographies.</p>
    <p>The GCT files include the US, states (including DC and Puerto Rico), metropolitan areas, metropolitan divisions, combined statistical areas (CSAs), urban areas, school districts, counties, places and PUMAs. GCT files are in CSV format and are created
        for only the 1-year ACS, with the same limitations that only places with population > 65,000 are included in the 1-year files. (Prior to the 2019 ACS release, many GCT files were also available for the 5-year ACS data.)</p>
    <p>
        The R files are much like the GCT files, except they are in Microsoft Excel format, and only include the US and states (including DC and Puerto Rico). In the Excel file, data users can select a state from a menu, and the file will compute whether each
        of the other rows in the file is statistically significantly different from the selected geography.
    </p>
    <p>These files are not offered in data.census.gov, but can be downloaded directly from the Census Bureau's file server.</p>

    {% include "topics/_blocks/_gct-table-codes.html" %}

</section>
{% endblock %}
