{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
<h3>Detailed Tables</h3>
<p>
    The bulk of the American Community Survey is the over 1400 detailed data tables. These tables have reference codes, and knowing how the codes are structured can be helpful in knowing which table to use. 
</p>
<p>
    Codes start with either the letter <strong>B</strong> or <strong>C</strong>, followed by two digits for the table subject, then 3 digits that uniquely identify the table. (For a small number of technical tables the unique identifier is 4 digits.) In some cases additional letters for racial iterations and Puerto Rico-specific tables. 
</p>
<h3>Full and Collapsed Tables</h3>    
<p>Tables beginning with <strong>B</strong> have the most detailed column breakdown, while a <strong>C</strong> table for the same numbers will have fewer columns. For example, the <strong>B02003</strong> table ("Detailed Race") has 71 columns, while the "collapsed version," <strong>C02003</strong> has only 19 columns. While your instinct may be to want as much data as possible, sometimes choosing the <strong>C</strong> table can simplify your analysis.
</p>
<h3>Table subjects</h3>
<p>
    The first two digits after <strong>B/C</strong> indicate the broad subject of a table. Note that many tables have more than one subject, but this reflects the main subject.
    <dl class="dl-horizontal">
        <dt>01</dt><dd><a href="{% url 'topic_detail' 'age-sex' %}">Age and Sex</a></dd>
        <dt>02</dt><dd><a href="{% url 'topic_detail' 'race-latino' %}">Race</a></dd>
        <dt>03</dt><dd><a href="{% url 'topic_detail' 'race-latino' %}">Hispanic Origin</a></dd>
        <dt>04</dt><dd>Ancestry</dd>
        <dt>05</dt><dd>Foreign Born; Citizenship; Year or Entry; Nativity</dd>
        <dt>06</dt><dd>Place of Birth</dd>
        <dt>07</dt><dd><a href="{% url 'topic_detail' 'migration' %}">Residence 1 Year Ago; Migration</a></dd>
        <dt>08</dt><dd><a href="{% url 'topic_detail' 'commute' %}">Journey to Work; Workers' Characteristics; Commuting</a></dd>
        <dt>09</dt><dd><a href="{% url 'topic_detail' 'children' %}">Children; Household Relationship</a></dd>
        <dt>10</dt><dd><a href="{% url 'topic_detail' 'seniors' %}#grandparents">Grandparents; Grandchildren</a></dd>
        <dt>11</dt><dd><a href="{% url 'topic_detail' 'families' %}">Household Type; Family Type; Subfamilies</a></dd>
        <dt>12</dt><dd>Marital Status and History</dd>
        <dt>13</dt><dd>Fertility</dd>
        <dt>14</dt><dd>School Enrollment</dd>
        <dt>15</dt><dd>Educational Attainment</dd>
        <dt>16</dt><dd>Language Spoken at Home and Ability to Speak English</dd>
        <dt>17</dt><dd><a href="{% url 'topic_detail' 'poverty' %}">Poverty</a></dd>
        <dt>18</dt><dd>Disability</dd>
        <dt>19</dt><dd>Income (Households and Families)</dd>
        <dt>20</dt><dd>Earnings (Individuals)</dd>
        <dt>21</dt><dd>Veteran Status</dd>
        <dt>22</dt><dd><a href="{% url 'topic_detail' 'public-assistance' %}">Transfer Programs</a> (Public Assistance)</dd>
        <dt>23</dt><dd><a href="{% url 'topic_detail' 'employment' %}">Employment Status; Work Experience; Labor Force</a></dd>
        <dt>24</dt><dd>Industry; Occupation; Class of Worker</dd>
        <dt>25</dt><dd>Housing Characteristics</dd>
        <dt>26</dt><dd>Group Quarters</dd>
        <dt>27</dt><dd><a href="{% url 'topic_detail' 'health-insurance' %}">Health Insurance</a></dd>
    </dl>
</p>
<p>
    Three groups of tables reflect technical details about how the Census is administered. In general, you probably don't need to look at these too closely, but if you need to check for possible weaknesses in your data analysis, they may come into play.
    <dl class="dl-horizontal">
        <dt>00</dt><dd>Unweighted Count</dd>
        <dt>98</dt><dd>Quality Measures</dd>
        <dt>99</dt><dd>Imputations</dd>
    </dl>
</p>
<h3>Race and Latino Origin</h3>
<p>Many tables are provided in multiple racial tabulations. If a table code ends in a letter from <strong>A-I</strong>, that code indicates that the table universe is restricted to a subset based on responses to the race or Hispanic/Latino-origin questions. Here is a guide to those codes:
<dl id="racial-iteration" class="dl-horizontal">
    <dt>A</dt><dd>White alone</dd>
    <dt>B</dt><dd>Black or African American Alone</dd>
    <dt>C</dt><dd>American Indian and Alaska Native Alone</dd>
    <dt>D</dt><dd>Asian Alone</dd>
    <dt>E</dt><dd>Native Hawaiian and Other Pacific Islander Alone</dd>
    <dt>F</dt><dd>Some Other Race Alone</dd>
    <dt>G</dt><dd>Two or More Races</dd>
    <dt>H</dt><dd>White Alone, Not Hispanic or Latino</dd>
    <dt>I</dt><dd>Hispanic or Latino</dd>
</dl>
</p>
</section>
{% endblock %}


