{% extends 'topics/_base_topics.html' %} {% load list_tables %} {% block content %}
<section id="topic-overview">

    <h2>Overview</h2>
    <p>
        The Census Bureau asks three questions specific to service in the armed forces. The tables summarizing responses to those questions are listed below.
    </p>
    {% list_tables prefix="21" %}
</section>
<section id="topic-elsewhere">
    <p>In addition to the Veteran-specific tables, there are a few other pertinent tables to know about.</p>
    <h3>Employment</h3>
    <p>
        In general, the Census tables about <a href="{% url 'topic_detail' 'employment' %}">employment</a> include "Armed Forces" as a component of the labor force. So, you can use tables like <a href="{% url 'table_detail' 'B23001' %}">B23001</a> to
        know how many people are in active service for a given geography. (See the <a href="{% url 'table_detail' 'B23002' %}">B23002</a> series for the same data broken down in <a href="{% url 'topic_detail' 'race-hispanic' %}#topic-elsewhere">racial iterations</a>.)
        Table <a href="{% url 'table_detail' 'B23025' %}">B23025</a> presents employment status by industry, including active service armed forces.
    </p>
    <h3>Social and Family Characteristics</h3>
    <p>
        These tables have "armed forces" broken out as a separate column:
        <ul>
            <li><a href="{% url 'table_detail' 'B12006' %}">B12006</a>: Marital Status by Sex by Labor Force Participation</li>
            <li><a href="{% url 'table_detail' 'B23003' %}">B23003</a>: Presence of Own Children by Age of Children</li>
            <li><a href="{% url 'table_detail' 'B23006' %}">B23006</a>: Educational Attainment by Employment Status</li>
            <li><a href="{% url 'table_detail' 'B23007' %}">B23007</a>: Presence of Own Children by Family Type by Employment</li>
            <li><a href="{% url 'table_detail' 'B23024' %}">B23024</a>: Poverty Status by Disability Status by Employment Status</li>
        </ul>
    </p>
</section>



{% endblock %}