.light-blue {
    color: #76AFF2;
}

.light-green {
    color: #A8D94E;
}

.body-text {
    font-family: "Poppins";
    font-size: 24px;
    color: #2f2f2f;
    line-height: 32px;
}

.body-text-bold {
    font-family: "Poppins";
}

.body-text-ligher {
    font-family: "Poppins";
}

.body-text-32 {
    font-family: 'Poppins';
    font-size: 32px;
}

.rounded-button-body-text {
    font-family: Poppins;
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 2.7px;
}

.body-text-large {
    font-weight: normal;
    font-size: 24px;
    color: #979797;
    line-height: 32px;
    text-align: center;
}

.body-text-UC {
    font-weight: bold;
    font-size: 26px;
    color: #ffffff;
    line-height: 32px;
    text-align: center;
    margin: 0 100px 50px;
}

.hyperlink-regular {
    font-weight: bold;
    font-size: 24px;
    color: #979797;
    letter-spacing: 0;
}

.hyperlink-bold-small {
    font-family: "Poppins";
    font-size: 24px;
    color: #979797;
}

body {
    overflow-x: hidden;
}

nav {
    display: none;
    background: #F8E71C;
    text-transform: uppercase;
    padding: 60px 0;
}

nav a {
    font-family: 'Poppins';
    font-size: 29px;
    color: #979797;
    letter-spacing: 6.69px;
    padding: 30px 40px 30px 40px;
    display: block;
}

nav li {
    border-bottom: 1px solid #979797;
}

nav li:nth-child(4) {
    border-bottom: none;
}

nav li:hover {
    background: #A975D7;
}

nav li:hover a {
    color: #fff;
}

nav .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-container {
    position: relative;
    width: auto;
}

.c-intro-panel-color {
    padding-top: 10px;
    width: 100%;
    height: 280px;
    background: url("../img/home-header-bg.png") #ecba66 no-repeat bottom;
}

.c-intro-panel {
  background-color: #ecba66;
}

.c-intro-panel header {
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
}

.c-intro-panel header h1 span {
    font-weight: 500;
    text-transform: uppercase;
    font-size: .6em;
}

.c-intro-panel header h1 {
    text-transform:uppercase;
  	font-family: "Playfair Display", "Georgia", serif;
    color: #2f2f2f;
    font-size: 4.25em;
    text-align: center;
}

.c-intro-panel main {
    padding: 25px 0;
    color: #2f2f2f;
    width: 85%;
    margin: 0 auto;
  	background-color: #ecba66;
}

.c-intro-panel main p {
  font-size: 1.6em;
}

.c-intro-panel .beta-button {
    margin-right: 90px;
    width: 120px;
    z-index: 2;
}

.c-intro-panel .state-of-detroit-child {
    margin-left: -20%;
    width: 35%;
    z-index: 2;
}

/* .c-intro-panel .body-text-large:first-of-type {
    margin-bottom: 70px;
} */

.c-intro-panel .navigation-icon-holder .navigation-icon {
    position: fixed;
    cursor: pointer;
    margin-left: -30px;
    z-index: 2;
}

.c-intro-panel .navigation-icon {
    width: 70px;
}

/**** Tab CSS with jquery-ui overrides ****/
.ui-tabs {
    padding: 0;
}

.ui-tabs .ui-tabs-nav {
    padding-bottom: 50px;
    justify-content: space-around;
}

.ui-tabs .ui-tabs-nav li {
    flex-grow: 0;
}

.ui-widget-header {
    border-bottom-width: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: #A975D7;
    color: #fff;
    outline-offset: -1px;
    outline: 3px solid black;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0px;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    font-size: 24px;
    text-transform: uppercase;
}

/* .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
} */

/*.c-our-goal-panel {
    background-image: url("../assets/our-goal-bg.png");
    background: #fff;
    padding: 110px 0;
}
*/

.section {
    padding: 80px 0;
    width: 85%;
    margin: 0 auto;
}

.c-map-panel .options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.c-map-panel .options div {
  max-width: 500px;
}


.c-map-panel img {
  border: 1px solid #2f2f2f;
  opacity: 0.5;
  margin-bottom: 1em;
}

.c-map-panel a:hover img {
  opacity: 0.3;
}

.c-map-panel a {
  position: relative;
}

.c-map-panel a h3 {
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
    color: #20698a;
}

.c-map-panel a:hover h3 {
  color: #6596cf;
}

.c-IAB-panel {
    background: #d1d2d4;
}


.c-IAB-panel ul, .c-additional-resources-panel ul {
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.c-IAB-panel ul li, .c-additional-resources-panel ul li {
    flex: 0 1 25%;
    margin-bottom: 40px;
}

.c-IAB-panel ul a, .c-additional-resources-panel ul a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-IAB-panel ul h3, .c-additional-resources-panel ul h3 {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    width: 90%;
    margin: 32px 0;
}

.c-IAB-panel ul .image-holder, .c-additional-resources-panel ul .image-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.c-IAB-panel ul .image-holder img, .c-additional-resources-panel ul .image-holder img {
    width: 207px;
}

.c-IAB-panel a:hover {
  color: #fff;
}

.c-IAB-panel p {
    margin: 0 0 40px;
    line-height: 32px;
}

.c-studies-panel {
    background: #2f2f2f;
    color: #FFFFFF;
}

.c-studies-panel .body-text-large {
    font-size: 24px;
    line-height: 32px;
}

.c-studies-panel .body-text {
  color: #fff;
}

.c-studies-panel h2 {
    text-transform: uppercase;
    font-size: 2.5em;
}

.c-studies-panel ul {
    padding: 60px 0;
    margin: 0 auto;
    line-height: 48px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.c-studies-panel li {
    align-items: center;
    flex: 0 1 30.33%;
    margin: 0 0.5em 40px;
}

.c-studies-panel li img {
}

.c-studies-panel li p {
    color: #fff;
    flex-shrink: 100;
    margin: 15px 0 15px 0;
}

.c-studies-panel button {
    margin-bottom: 120px;
}

.c-studies-panel a:link, a:visited {
  color: #6596cf;
  text-decoration:underline;
  text-transform: uppercase;
  font-size: 24px;
}

.c-studies-panel a:hover {
  color:#fff;
}

.c-critical-questions-panel {
    background: #fff;
}

.c-critical-questions-panel .section-main-image {
    padding: 110px 0;
}

.c-critical-questions-panel p {
    width: 75%;
    text-align: center;
    line-height: 32px;
    margin-bottom: 50px;
}

.c-critical-questions-panel ul {
    padding-bottom: 50px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.c-critical-questions-panel ul li {
    flex: 0 1 33.33%;
    margin-bottom: 40px;
}

.c-critical-questions-panel ul a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-critical-questions-panel ul p {
    font-family: 'Poppins';
    font-size: 24px;
    color: #979797;
    line-height: 32px;
    text-align: center;
    width: 90%;
    margin: 32px 0;
}

.c-critical-questions-panel ul .image-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.c-critical-questions-panel ul .image-holder img {
    width: 290px;
}

/* .c-explore-panel {
    background: #A975D7;
} */

.c-explore-panel .section-main-image {
    padding: 115px 0 80px 0;
}

.c-explore-panel h1 {
    margin: 0;
    width: 70%;
}

.c-explore-panel input[type='text'] {
    font-family: 'Poppins';
    margin: 60px 0;
    border-radius: 7.2px;
    border: none;
    width: 72%;
    padding: 30px 50px;
    font-size: 24px;
    color: #FFFFFF;
    background: #A8D94E;
}

.c-explore-panel input[type='text']::placeholder {
    color: #FFFFFF;
}


.c-explore-panel input[type='text']:focus {
    background: #A8D94E;
    border: 1.5px solid black;
}

.c-explore-panel button {
    font-family: 'Poppins';
    margin-bottom: 40px;
    background: #7E4BAB;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 60.8px;
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2.7px;
    padding: 25px 35px;
}

.c-explore-panel button img {
    margin-right: 20px;
}

.c-explore-panel .twitter-typeahead {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.c-explore-panel .twitter-typeahead .tt-menu{
    width: 72%;
    margin-top: -60px;
    background: #A8D94E;
    font-family: 'Poppins' !important;
    left: auto !important;
    border-radius: 7.2px;
}

.c-explore-panel .twitter-typeahead .tt-menu .tt-dataset-profile {
    border-radius: 7.2px;
}

.c-explore-panel .twitter-typeahead .tt-menu .tt-dataset-profile .tt-suggestion {
    cursor: pointer;
    border-radius: 7.2px;
}

.c-explore-panel .twitter-typeahead .tt-menu .tt-dataset-profile p {
    font-family: 'Poppins' !important;
    padding: 20px 30px;
    font-size: 29px !important;
    color: #fff;
}

.c-explore-panel .twitter-typeahead .tt-menu .tt-dataset-profile p:hover {
    background: #87AF3F;
    border: 1.5px solid black;
}

.c-topics-panel {
    background: #fff;
}

.c-topics-panel .section-main-image {
    padding: 110px 0 80px 0;
}

.c-topics-panel p {
    width: 75%;
    text-align: center;
    line-height: 32px;
    margin: 0;
}

.c-topics-panel input[type='text'] {
    /* border-radius: 7.2px;
    padding: 30px 50px;
    background: #DBDBDB;
    width: 72%; */
    font-family: 'Poppins';
    margin: 0;
    border-radius: 7.2px;
    border: none;
    width: 72%;
    padding: 30px 50px;
    font-size: 24px;
    color: #FFFFFF;
    background: #A8D94E;
}

.c-topics-panel li {
    margin-bottom: 40px;
}

.c-topics-panel .button-group {
    margin: 80px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.c-topics-panel .button-group button {
    font-family: 'Poppins';
    background: #76AFF2;
    color: #fff;
    border-radius: 90px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.05px;
    text-transform: uppercase;
    padding: 25px 35px;
}

.c-topics-panel .l-flex-space-between {
    width: 75%;
    margin: 80px auto 110px auto;
}

.c-topics-panel .l-flex-space-between ul {
    padding: 0 5% 0 0;
}

.c-topics-panel .dropdown {
    display: none;
    margin: 20px 50px;
}

.c-topics-panel #topic-select-wrapper{
    width: 100%;
}
.c-topics-panel .twitter-typeahead {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.c-topics-panel .twitter-typeahead .tt-menu{
    width: 72%;
    left:auto !important;
    background: #A8D94E;
    font-family: 'Poppins' !important;

}

.c-topics-panel .twitter-typeahead .tt-menu .tt-dataset-topics h5 {
    font-family: 'Poppins' !important;
    padding: 20px 30px;
    font-size: 29px !important;
    color: #fff;
}

.c-topics-panel .twitter-typeahead .tt-menu .tt-dataset-topics h5:hover {
    cursor: pointer;
    background: #87AF3F;;
}

.c-additional-resources-panel {
}

.c-additional-resources-panel .section-main-image {
    padding: 110px 0 70px 0;
}

.c-additional-resources-panel .body-text-bold {
    margin-bottom: 8px;
}

footer {
    background: #fff;
    padding: 85px 0 65px 0;
    width: 75%;
    margin: 0 auto;
    border-top: 1px solid #2f2f2f;
}

footer .l-flex-space-between {
    align-items: flex-start;
}

footer #footer-nav {
  width: 25%;
}

footer #footer-nav li {
  margin-bottom: 10px;
}

footer #footer-nav li a {
  text-transform: uppercase;
  color: #2f2f2f;
  text-decoration: underline;
  font-weight: 700;
}

footer .details {
  padding-right: 3em;
}

footer h2.subhead {
  font-size: 2em;
}

footer p {
    margin: 0;
    margin-bottom: 6px;
    color: #979797;
}

footer input {
    margin: 20px 0 60px 0;
    padding: 22px 25px;
    background: #DBDBDB;
    color: #fff;
}

footer .divider {
    margin: 40px 0;
    border: 1px solid #8C8C8C;
    min-height: 1px;
}

footer #footer-logos {
}

footer #footer-logos li {
  margin-bottom: 25px;
}

footer .company-logo {
    width: 125px;
}

footer .c-social-media {
    display: flex;
    justify-content: space-between;
}

footer .c-social-media li {
    margin-bottom: 30px;
}

footer .c-social-media .social-icons {
    width: 35px;
    margin-right: 20px;
}

footer .skillman p {
    font-family: 'Quicksand';
    font-size: 22px;
    margin-bottom: 0;
}

footer .skillman img {
    width: 240px;
    margin-right: 25px;
}

footer .designed-by {
    margin-top: 40px;
    font-family: 'Quicksand';
    font-size: 24px;
}

footer .designed-by span {
    color: #67C0CE;
}

.c-arrow {
    width: 108px;
    margin-bottom: -60px;
}

.c-huge-rounded-button {
    width: 35%;
    background: #4F80BA;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    padding: 25px 35px;
    border-radius: 79px;
}

.checkmark {
    width: 55px;
}

.l-flex-center {
    display: flex;
    justify-content: center;
}

.l-flex-center .section-header-img {
    width: 35%;
}

.l-flex-align-center {
    display: flex;
    align-items: center;
}

.l-flex-space-between {
    display: flex;
    justify-content: space-between;
}

.l-flex-align-flex-end {
    display: flex;
    align-items: flex-end;
}


@media (min-width: 481px) and (max-width: 768px) {
  .section {
    padding-top: 40px;
  }

  .c-studies-panel li {
    flex: 0 1 40.33%;
  }

  footer {
      width: 100%;
      padding: 60px 0 30px 0;
  }
  footer .l-flex-space-between {
      flex-direction: column;
      align-items: center;
  }
  footer .body-text {
      text-align: center;
  }
  footer h2.subhead {
    text-align: center;
  }
  footer #footer-nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3.5em;
  }
  footer #footer-nav {
    text-align: center;
  }
  footer .details {
    padding: 0;
    margin-bottom: 3.5em;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {


    .c-intro-panel header h1 {
      font-size: 3.5em;
    }
    .c-intro-panel .beta-button {
        width: 100px;
        margin-right: 75px;
    }

    .c-topics-panel .button-group {
        width: 85%;
        margin: 50px 0;
        flex-direction: column;
    }
    .c-topics-panel .button-group button {
        margin-bottom: 25px;
        width: 100%;
    }
    footer #footer-nav {
      padding-right: 3em;
    }
    footer input {
        font-size: 12px;
        padding: 15px;
        border-radius: 3.6px;
        margin: 20px 0 30px 0;
    }
    footer .company-logo {
        width: 225px;
        margin: 0 auto 20px auto;
    }
    footer .body-text-32 {
        text-align: center;
    }

    footer .body-text-32:first-of-type {
        width: 60%;
        margin: 0 auto;
    }
    footer .divider {
        margin: 20px 0;
        border: .1px solid #8C8C8C;
    }
    footer .c-social-media {
        flex-direction: column;
    }
    footer .c-social-media li {
        display: flex;
        justify-content: center;
    }
    footer .c-social-media .social-icons {
        width: 15px;
    }
    footer .skillman img {
        width: 172px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    footer .skillman p {
        font-size: 16px;
    }
    footer .skillman .l-flex-align-flex-end {
        flex-direction: column;
        align-items: center;
    }
    footer .designed-by {
        margin: 20px;
        font-size: 16px;
        text-align: center;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .body-text-large {
        font-size: 18px;
        line-height: 24px;
    }
    .body-text {
    }
    .body-text-32 {
        font-size: 16px;
        letter-spacing: 0;
    }
    .body .rounded-button-body-text {
        width: 80%;
        font-size: 13px;
        letter-spacing: 0.91px;
    }
    .hyperlink-bold-small {
        font-size: 12px;
    }
    nav {
        display: none;
        padding: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 90%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    nav a {
        font-size: 12px;
        padding: 35px 40px;
        letter-spacing: 2.77px;
        line-height: 14.5px;
    }
    nav li:nth-child(4) {
        border-bottom: 1px solid #979797;
    }
    nav .container {
        width: 100%;
        flex-direction: column;
    }
    .ui-tabs .ui-tabs-nav {
        flex-direction: column;
    }
    .ui-tabs .ui-tabs-nav li {
        flex-direction: column;
        margin: 10px 15px 0;
    }
    .section {
      padding-top: 20px;
    }

    .c-intro-panel {
        padding-top: 0;
    }
    .c-intro-panel main {
        padding: 30px 0;
    }
    .c-intro-panel .beta-button {
        width: 64px;
    }
    .c-intro-panel .navigation-icon {
        width: 38px;
    }
    /* .c-intro-panel .body-text-large:first-of-type {
        margin-bottom: 30px;
    } */
    .c-intro-panel .state-of-detroit-child {
        margin-left: -41%;
    }
    .c-intro-panel header h1 {
      font-size: 3.5em;
    }
    .c-intro-panel-color {
    }
    .c-our-goal-panel {
        padding: 40px;
    }
    .c-our-goal-panel img {
        width: 220px;
        height: 71.2px;
    }
    .c-map-panel a h3 {
      font-size: 3em;
    }
    .c-map-panel p {
    }
    .c-goal-panel p {
        padding: 40px 0;
        width: 80%;
        line-height: 21px;
    }
    .c-tools-panel {
        padding-top: 45px;
    }
    .c-tools-panel h1 {
        width: 80%;
    }
    .c-tools-panel ul {
        width: 81%;
        padding: 40px 0;
    }
    .c-tools-panel .checkmark {
        margin-right: 15px;
        width: 28px;
    }
    .c-tools-panel button {
        margin-bottom: 45px;
    }
    .c-studies-panel li {
        flex: 0 1 100%;
    }
    .c-critical-questions-panel .section-main-image {
        padding: 45px 0;
        width: 206px;
        height: 165px;
    }
    .c-critical-questions-panel ul {
        padding-bottom: 10px;
    }
    .c-critical-questions-panel ul li {
        flex: 0 1 100%;
        margin-bottom: 20px;
    }
    .c-critical-questions-panel ul p {
        font-size: 18px;
        line-height: 23px;
        width: 80%;
        margin: 20px 0;
    }
    .c-critical-questions-panel ul .image-holder img {
        width: 190px;
    }
    .c-explore-panel .section-main-image {
        padding: 45px 0;
        width: 218px;
        height: 160px;
    }
    .c-explore-panel h1 {
        width: 80%;
    }
    .c-explore-panel input[type='text'] {
        margin: 40px 0;
        opacity: 0.75;
        font-size: 12px;
        padding: 15px 13px;
        width: 90%;
    }
    .c-explore-panel button {
        margin-bottom: 50px;
        font-size: 13px;
        letter-spacing: 0.91px;
        padding: 14px 12px;
    }
    .c-explore-panel button img {
        width: 9px;
        margin-right: 5px;
    }
    .c-explore-panel .twitter-typeahead .tt-menu{
        width: 90%;
        margin-top: -40px;
        left: auto !important;
        border-radius: 7.2px;
        font-size: 12px;
    }

    .c-topics-panel .twitter-typeahead .tt-menu {
        width: 85%;
    }

    .c-explore-panel .twitter-typeahead .tt-menu .tt-dataset-profile p {
        padding: 15px 13px;
        font-size: 12px !important;
        color: #fff;
    }

    .c-topics-panel .twitter-typeahead .tt-menu .tt-dataset-topics h5 {
        padding: 15px 13px;
        font-size: 12px !important;
        color: #fff;
    }
    .c-topics-panel .section-main-image {
        width: 218px;
        padding: 45px 0;
        height: 160px;
    }
    .c-topics-panel p {
        font-size: 12px;
        line-height: 21px;
        width: 78%;
    }
    .c-topics-panel input[type='text'] {
        font-size: 12px;
        padding: 17px 13px;
        width: 85%;
        margin-top: -25px;
        border-radius: 3.6px;
    }
    .c-topics-panel .button-group {
        width: 85%;
        margin: 50px 0;
        flex-direction: column;
    }
    .c-topics-panel .button-group button {
        margin-bottom: 25px;
        font-size: 13px;
        letter-spacing: 0.91px;
        padding: 12px 10px;
        width: 100%;
    }
    .c-topics-panel .l-flex-space-between {
        display: none;
    }
    .c-topics-panel .dropdown {
        display: block;
        margin: 40px 0;
        width: 85%;
    }

    .c-topics-panel .dropdown button {
        font-family: 'Poppins';
        background: #76AFF2;
        color: #fff;
        border-radius: 0;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.91px;
        padding: 12px 10px;
        width: 100%;
        text-transform: uppercase;
    }

    .c-topics-panel .dropdown .topics-dropdown-content {
        display: none;
        position: absolute;
        background-color: #DBDBDB;
        min-width: 85%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .c-topics-panel .dropdown .topics-dropdown-content a {
        color: black;
        padding: 4px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .c-topics-panel .dropdown .topics-dropdown-content a:hover {background-color: #bdbcbc}

    .c-topics-panel .dropdown:hover .topics-dropdown-content {
        display: block;
    }

    .c-additional-resources-panel .section-main-image {
        width: 206px;
        height: 165px;
        padding: 45px 0;
    }
    .c-additional-resources-panel .l-flex-space-between {
        flex-direction: column;
        align-items: center;
    }
    .c-additional-resources-panel ul {
        margin-bottom: 30px;
    }
    .c-additional-resources-panel li img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .c-additional-resources-panel li span {
        text-align: center;
    }
    footer h2.subhead {
      text-align: center;
    }
    footer {
        width: 100%;
        padding: 60px 0 30px 0;
    }
    footer #footer-nav {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 3.5em;
    }
    footer #footer-nav {
      text-align: center;
    }
    footer .details {
      padding: 0;
      margin-bottom: 3.5em;
    }
    footer input {
        font-size: 12px;
        padding: 15px;
        border-radius: 3.6px;
        margin: 20px 0 30px 0;
    }
    footer .company-logo {
        width: 225px;
        margin: 0 auto 20px auto;
    }
    footer .body-text-32 {
        text-align: center;
    }

    footer .body-text-32:first-of-type {
        width: 60%;
        margin: 0 auto;
    }
    footer .l-flex-space-between {
        flex-direction: column;
        align-items: center;
    }
    footer .divider {
        margin: 20px 0;
        border: .1px solid #8C8C8C;
    }
    footer .c-social-media {
        flex-direction: column;
    }
    footer .c-social-media li {
        display: flex;
        justify-content: center;
    }
    footer .c-social-media .social-icons {
        width: 15px;
    }
    footer .body-text {
        text-align: center;
    }
    footer .skillman img {
        width: 172px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    footer .skillman p {
        font-size: 12px;
    }
    footer .skillman .l-flex-align-flex-end {
        flex-direction: column;
        align-items: center;
    }
    footer .designed-by {
        margin: 20px;
        font-size: 12px;
        text-align: center;
    }
    .c-huge-rounded-button {
        width: 80%;
        padding: 15px 30px;
        font-size: 13px;
        letter-spacing: 0.91px;
    }
    .c-arrow {
        width: 37px;
        height: 37px;
        margin-bottom: -15px;
    }
    .l-flex-center .section-header-img {
        width: 220px;
    }
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url("../img/fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url("../img/fonts/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url("../img/fonts/Quicksand-Bold.ttf") format("truetype");
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    border-radius: 7.2px;
    border: none;
    font-size: 32px;
}

/* .c-critical-questions-panel ul li {
    flex: 0 1 33.33%;
    display: flex;
    margin-bottom: 40px;
} */

/* .c-critical-questions-panel ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
